<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-multiSelect maxSelectedLabels="1" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>
                <!--<p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>-->
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>
      

      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Agency Fee by Office">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">RSM</th>
                    <th scope="col">DSM</th>
                    <th scope="col">Agency Name</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Policy</th>
                    <th scope="col">Fee Per Policy</th>
                    <th scope="col">Endorstment</th>
                    <th scope="col">Fee Per Endorstment</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAvgAgencyFee" [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : rowbgColor(item.zmId) }">
                    <td scope="row">
                      <span *ngIf="item.rom=='ZZ_Total'">Grand Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'"> {{item.rom}}</span>

                    </td>
                    <td>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom=='ZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom!='ZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZ_Total'">{{item.zm}}</span>
                    </td>
                    <td>
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm=='ZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm!='ZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td>{{item.transactions}}</td>
                    <td>{{item.policy}}</td>
                    <td>{{item.feePerPolicy}}</td>
                    <td>{{item.endorsment}}</td>
                    <td>{{item.feePerEndorstment}}</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>


          </mat-tab>
          <mat-tab label="Agency Fee DSM">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">RSM</th>
                    <th scope="col">DSM</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Policy</th>
                    <th scope="col">Fee Per Policy</th>
                    <th scope="col">Endorstment</th>
                    <th scope="col">Fee Per Endorstment</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAvgAgencyFeeII" [ngStyle]="{'background-color':(item.zm === 'ZZ_Total') ? '#323b4e' : rowbgColor(item.rmId) }">
                    <td scope="row">
                      <span *ngIf="item.rom=='ZZ_Total'">Grand Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'"> {{item.rom}}</span>
                    </td>
                    <td>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom=='ZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom!='ZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZ_Total'"> {{item.zm}}</span>
                    </td>
                    <td>{{item.transactions}}</td>
                    <td>{{item.policy}}</td>
                    <td>{{item.feePerPolicy}}</td>
                    <td>{{item.endorsment}}</td>
                    <td>{{item.feePerEndorstment}}</td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Agency Fee RSM">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">RSM</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Policy</th>
                    <th scope="col">Fee Per Policy</th>
                    <th scope="col">Endorstment</th>
                    <th scope="col">Fee Per Endorstment</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAvgAgencyFeeIII" [ngStyle]="{'background-color':(item.rom === 'ZZ_total') ? '#323b4e' : rowbgColor(item.rmId) }">
                    <td scope="row">
                      <span *ngIf="item.rom=='ZZ_Total'">Grand Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'">{{item.rom}}</span>
                    </td>
                    <td>{{item.transactions}}</td>
                    <td>{{item.policy}}</td>
                    <td>{{item.feePerPolicy}}</td>
                    <td>{{item.endorsment}}</td>
                    <td>{{item.feePerEndorstment}}</td>
                   
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
    </div>
</div>
