<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="marketSelectItem" [(ngModel)]="selectedMarket" (onChange)="onMarketchange(event)"></p-multiSelect>
              </li>
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Unique Created Quotes">
        <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Market</th>
                <th scope="col">Agency Name</th>
                <th scope="col">Created Quotes {{selectedyear - 1}}</th>
                <th scope="col">Created Quotes {{selectedyear}}</th>
                <th scope="col">YoY+/-%</th>

              </tr>
            </thead>
            <tbody *ngFor="let item of filteredUniqueQuotes; let currentElementIndex=index" [ngStyle]="{'background-color': rowbgColor(currentElementIndex,item)}">
              <tr>
                <td scope="row" [attr.rowspan]="colspan" ><span>{{item.market}}</span> </td>
                <td scope="row">{{item.agencyName}}</td>
                <td>{{item.createdQuotes0}}</td>
                <td>{{item.createdQuotes1}}</td>
                <td>{{item.yoY}}%</td>
              </tr>
              <tr *ngIf="isShowTotalRow" [ngStyle]="{'background-color': '#212121a3'}">
                <td>Total</td>
                <td>{{totalCreatedQuotes0}}</td>
                <td>{{totalCreatedQuotes1}}</td>
                <td>{{yoyCreatedQuotes0}}%</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>Grand Total</td>
                <td>{{gtotalCreatedQuotes0}}</td>
                <td>{{gtotalCreatedQuotes1}}</td>
                <td>{{gyoyCreatedQuotes0}}%</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>

    </div>
    </div>
</div>
