<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <!-- <li>
      <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
    </li>
  <li>
      <p-multiSelect maxSelectedLabels="0" defaultLabel="Agents" [(ngModel)]="selectedagent" [options]="agentSelectItem" (onChange)="onAgentChange()"></p-multiSelect>
    </li>
    <li>
      <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
    </li>-->
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="count-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p> {{PolicyPerAgent|  number: '2.'}}</p>
              </div >
              <div  class="title">
                <p>Policies per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p>${{AgenyFeePerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>AgencyFee Per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p>${{PremiumPerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Premium Per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block">
              <div class="count">
                <p>{{TransPerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Transaction Per Agent</p>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="epr-heading mb-4">
        <h3>DashBoard</h3>
      </div>
      
      <div class="epr-table table-wrap goal-percentage-table table-responsive">
        <table class="table sticky-header">
          <thead>
            <tr>
              <th class="sr-no"></th>
              <th class="address">Goal Percentage</th>
              <th class="name">0.0%</th>
              <th class="premium-goal"></th>
              <th class="revised-goal"></th>
              <th class="percentage"></th>
            </tr>
            <tr>
              <th class="sr-no">Sr.</th>
              <th class="address">Offices</th>
              <th class="name">Region</th>
              <th class="premium-goal">Nov 2019</th>
              <th class="revised-goal">Nov</th>
              <th class="percentage">Nov</th>
            </tr>
            <tr>
              <th class="sr-no"></th>
              <th class="address"></th>
              <th class="name">1</th>
              <th class="premium-goal">Premium Goal</th>
              <th class="revised-goal">Revised Goal</th>
              <th class="percentage">+/- %</th>
            </tr>
          </thead>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <td class="sr-no">1</td>
              <td class="address">19th Street</td>
              <td class="name">David Williams</td>
              <td class="premium-goal">$148,000</td>
              <td class="revised-goal">$125,000</td>
              <td class="percentage">-15.54%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>14nd Street</td>
              <td>David Williams</td>
              <td>$120,000</td>
              <td>$120,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>3</td>
              <td>53rd Street</td>
              <td>David Williams</td>
              <td>$108,000</td>
              <td>$120,000</td>
              <td>11.11</td>
            </tr>
            <tr>
              <td>4</td>
              <td>7th Street</td>
              <td>David Williams</td>
              <td>$76,000</td>
              <td>$76,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>5</td>
              <td>8th Street</td>
              <td>David Williams</td>
              <td>$225,000</td>
              <td>$190,000</td>
              <td>-15.56</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Alameda</td>
              <td>David Williams</td>
              <td>$30,000</td>
              <td>$30,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Amarillo Boulevard</td>
              <td>David Williams</td>
              <td>$63,250</td>
              <td>$70,000</td>
              <td>10.67</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Ayers</td>
              <td>David Williams</td>
              <td>$57,600</td>
              <td>$70,000</td>
              <td>25.00</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Bellmead</td>
              <td>David Williams</td>
              <td>$97,000</td>
              <td>$92,000</td>
              <td>-05.15</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Clark Blvd</td>
              <td>David Williams</td>
              <td>$20,000</td>
              <td>$37,000</td>
              <td>85.00</td>
            </tr>
            <tr>
              <td>11</td>
              <td>19th Street</td>
              <td>David Williams</td>
              <td>$148,000</td>
              <td>$125,000</td>
              <td>-15.54%</td>
            </tr>
            <tr>
              <td>12</td>
              <td>14nd Street</td>
              <td>David Williams</td>
              <td>$120,000</td>
              <td>$120,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>13</td>
              <td>53rd Street</td>
              <td>David Williams</td>
              <td>$108,000</td>
              <td>$120,000</td>
              <td>11.11</td>
            </tr>
            <tr>
              <td>14</td>
              <td>7th Street</td>
              <td>David Williams</td>
              <td>$76,000</td>
              <td>$76,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>15</td>
              <td>8th Street</td>
              <td>David Williams</td>
              <td>$225,000</td>
              <td>$190,000</td>
              <td>-15.56</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Alameda</td>
              <td>David Williams</td>
              <td>$30,000</td>
              <td>$30,000</td>
              <td>00.00</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Amarillo Boulevard</td>
              <td>David Williams</td>
              <td>$63,250</td>
              <td>$70,000</td>
              <td>10.67</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Ayers</td>
              <td>David Williams</td>
              <td>$57,600</td>
              <td>$70,000</td>
              <td>25.00</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Bellmead</td>
              <td>David Williams</td>
              <td>$97,000</td>
              <td>$92,000</td>
              <td>-05.15</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Clark Blvd</td>
              <td>David Williams</td>
              <td>$20,000</td>
              <td>$37,000</td>
              <td>85.00</td>
            </tr>
          </tbody>
        </table>
      </div>

      

     

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
