@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.goal-percentage-table {
  max-height: 500px;
  overflow-y: auto;

  .sticky-header {
    position: sticky;
    top: 0;
    background: #2A2131;
  }

  th, td {
    color: #fff !important;
  }

  .sr-no {
    width: 70px;
  }

  .address {
    width: 200px;
  }

  .name {
    width: 250px;
  }

  .premium-goal {
    width: 150px;
  }

  .revised-goal {
    width: 150px;
  }

  .percentage{
    width: 100px;
  }
}
@-moz-document url-prefix() {
  .sticky-header {
   
  }
}

  .main-panel {
    transition: $transition-base;

    .panel-content {
      margin: 100px 30px;
      margin-top: 120px;
    }
  }

  @include media-breakpoint-down(lg) {
    .sidebar-panel {
      width: $sidebar-width-lg;
    }

    .main-panel {
      width: calc(100% - #{$sidebar-width-lg});

      .panel-content {
        margin: $navbar-height / 2;
        margin-top: $navbar-height + 20px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .sidebar-panel {
      width: $sidebar-mini-width-md;
    }

    .main-panel {
      width: calc(100% - #{$sidebar-mini-width-md});
    }
  }

  @include media-breakpoint-down(sm) {
    .sidebar-panel {
      width: 0;
    }

    .main-panel {
      width: 100%;
    }
  }
