<nav class="navbar navigation-bar" [class.hidden]="cmnSrv.dashboardState.navbarToggle" [class.sidebar-hidden]="cmnSrv.dashboardState.sidebarToggle">
  <!--[class.hidden]="cmnSrv.dashboardState.navbarToggle" [class.sidebar-hidden]="cmnSrv.dashboardState.sidebarToggle"-->
  <div class="nav-toggle-btn" [class.open]="!cmnSrv.dashboardState.sidebarToggle" (click)="cmnSrv.sidebarToggle()">
    <!--[class.open]="!cmnSrv.dashboardState.sidebarToggle" (click)="cmnSrv.sidebarToggle()"-->
    <span *ngFor="let number of [0,1,2]"></span>
  </div>
  <div class="navbar-brand">
    <a>
      <!-- <img class="brandImg" src="http://via.placeholder.com/60x60" alt="brandImg"> -->

    </a>
  </div>

  <ul class="left-ul">
    <li>
      <button id="minimizeSidebar" class="sidebartoggle-btn" (click)="cmnSrv.sidebarMiniToggle()">
        <img src="assets/images/sidebar-toggle.png" alt="" />
      </button>
    </li>
    <li>
    </li>
  </ul>
  <ul class="right-ul">
    <li>
    </li>
    <li>
      <div class="text-white mt-3 mr-5" *ngIf="authservice.userRole != 'agent'"> Powered By Amax Information & Technology Team </div>
      <div class="text-white mt-3 mr-5" *ngIf="authservice.userRole == 'agent'">"This is an illustration".</div>
      <div class="user-name">
        <p>{{authservice.username}}</p>
      </div>
      <div class="user-dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle user-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/user-img.png" alt="" />
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!--<span class="dropdown-item">My Account</span>-->
            <span class="dropdown-item" (click)="ResetPassword()" style="cursor:pointer;">Reset Password</span>
            <span style="cursor:pointer;" class="dropdown-item" (click)="Logout()">Log Out</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="breadcrumb-div">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li *ngIf="authservice.userRole != 'agent'" class="breadcrumb-item">
          <a style="cursor:pointer;" (click)="goToHome('/Dashboard')">Home</a>
        </li>
        <li *ngIf="authservice.userRole == 'agent'" class="breadcrumb-item">
          <a  style="cursor:pointer;" (click)="goToHome('/Agent-Dashboard')">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{PageName}}</li>
      </ol>
    </nav>
  </div>
</nav>

<p-dialog header="Reset Password" [(visible)]="display" [contentStyle]="{'overflow': 'hidden'}" [style]="{width: '350px', height: '300px'}">
  <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
    <div style="margin-left:10%">
      <div class="row margin-top-20">
        <div class="col-12">
          <span class="ui-float-label">
            <input id="float-input" type="password" size="30" formControlName="password" required pInputText (blur)="ValidateCurrentPassword()">
            <label for="float-input">Password</label>
          </span>
          <p class="form-control-feedback" *ngIf="!isValidPassword">Invalid Current Password</p>
          <span class="form-control-feedback" *ngIf="ResetPasswordForm.controls.password.errors && (ResetPasswordForm.controls.password.dirty || ResetPasswordForm.controls.password.touched) ">
            <p *ngIf="ResetPasswordForm.controls.password.errors.required">Password is required</p>
          </span>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-12">
          <span class="ui-float-label">
            <input id="float-input" type="password" formControlName="newPassword" required size="30" pInputText>
            <label for="float-input">New Password</label>
          </span>
          <span class="form-control-feedback" *ngIf="ResetPasswordForm.controls.newPassword.errors && (ResetPasswordForm.controls.newPassword.dirty || ResetPasswordForm.controls.newPassword.touched) ">
            <p *ngIf="ResetPasswordForm.controls.newPassword.errors.required">Password is required</p>
            <p *ngIf="ResetPasswordForm.controls.newPassword.errors.minlength">Password must be {{ResetPasswordForm.controls.newPassword.errors.minlength.requiredLength}} characters long. </p>
          </span>
        </div>
      </div>
      <div class="row margin-top-20" style="margin-bottom:20px;">
        <div class="col-12">
          <span class="ui-float-label">
            <input id="float-input" type="password" formControlName="repeatPassword" required size="30" pInputText>
            <label for="float-input">Repeat Password</label>
          </span>
          <span class="form-control-feedback" *ngIf="ResetPasswordForm.controls.repeatPassword.errors && (ResetPasswordForm.controls.repeatPassword.dirty || ResetPasswordForm.controls.repeatPassword.touched) ">
            <p *ngIf="ResetPasswordForm.controls.repeatPassword.errors.required">Password is required</p>
          </span>
          <span class="form-control-feedback">
            <p *ngIf="ResetPasswordForm.controls.repeatPassword.value!==ResetPasswordForm.controls.newPassword.value">Password and Repeat does not match. </p>
          </span>
        </div>
      </div>
    </div>

    <p-footer>
      <button class="btn btn-primary">Update Password</button>
    </p-footer>
  </form>
</p-dialog>



