@import 'assets/style/_mixins.scss';

.nav-search-btn {
  background: none;
  border: none;
  color: #fff;
}

.navbar-search {
  background: none;
  color: #fff;
  &:focus

{
  background: none;
  box-shadow: none;
}

}

.user-dropdown-btn {
  background: none;
  border: none;
  box-shadow: none;
  &:active

{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

}

.show > .btn-secondary.dropdown-toggle {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-search::placeholder {
  color: #fff;
}

.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 1rem;
  z-index: $navbar-zindex;
  height: $navbar-height;
  // box-shadow: $box-shadow;
  background-color: $navbar-bg;
  &.hidden

{
  top: -$navbar-height - 10px;
}

.user-dropdown .dropdown-menu {
  right: 0;
  left: auto;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  li

{
  display: flex;
  padding: 0.5em;
  .user-name

{
  display: flex;
  align-items: center;
  p

{
  color: #fff;
  margin-bottom: 0;
}

}
}
}

.navbar-brand {
  display: none;
  text-align: center;
}

}

/* navbar burger button */
.sidebartoggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-toggle-btn {
  display: none;
  width: 2.2rem;
  padding: 1rem 0;
  position: absolute;
  span

{
  width: 100%;
  height: 2px;
  position: absolute;
  background: $black;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  &:nth-child(1)

{
  top: 5px;
  transform-origin: left center;
}

&:nth-child(2) {
  top: 15px;
  transform-origin: left center;
}

&:nth-child(3) {
  top: 25px;
  transform-origin: left center;
}

}
}

/* navbar burger button animation*/
.nav-toggle-btn.open {
  span

{
  &:nth-child(1)

{
  transform: rotate(45deg);
  top: 2px;
  left: 4px;
}

&:nth-child(2) {
  width: 0%;
  opacity: 0;
}

&:nth-child(3) {
  transform: rotate(-45deg);
  top: 27px;
  left: 4px;
}

}
}

/*Breadcrumb CSS*/
.breadcrumb-div {
  display: inline-block;
  width: 100%;
  .breadcrumb

{
  background: none;
  border-radius: 0;
  padding: 0px 15px;
  margin-bottom: 0;
  .breadcrumb-item

{
  a

{
  color: #70839A;
}

}
}

.breadcrumb-item.active {
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

}

@include media-breakpoint-down(lg) {
  .navigation-bar {
    left: $sidebar-width-lg;
  }
}

@include media-breakpoint-down(md) {
  #minimizeSidebar {
    display: none;
  }

  .nav-toggle-btn {
    display: inline-block;
  }

  .navigation-bar {
    left: $sidebar-mini-width-md;
    &:not(.sidebar-hidden)

{
  left: 0;
}

ul.left-ul {
  /*display: none;*/
}

.navbar-brand {
  display: block;
  width: 40%;
}

}
}

@include media-breakpoint-down(sm) {
  .navigation-bar {
    left: 0;
    ul

{
  /*display: none;*/
}

.navbar-brand {
  width: 100%;
}

}
}
