.pagination {
  display: inline-block;
}

  .pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 15px;
    cursor: pointer;
  }

    .pagination li.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }

    .pagination li:hover:not(.active) {
      background-color: #ddd;
    }

.table thead th {
  top: 0;
  position: sticky !important;
  z-index: 20;
  min-height: 30px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #352939;
  color: #fff;
  background-color: #7386D5
}

.fixed-header {
  z-index: 50 !important;
}

.col-width {
  width: 150px;
  min-width: 150px;
}
