<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>EOD</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <!--Last Refresh at : {{ refreshTime}}-->
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>

      <div class="multiselect-container mt-3">
        <div class="row">
          <!--<div class="col-sm-2">
    <p-multiSelect [maxSelectedLabels]="0" [(ngModel)]="Carriers" defaultLabel="Carrier"
                   [options]="CarriersItem" (onChange)="onSelect(event)"></p-multiSelect>
  </div>-->
          <div class="col-sm-2">
            <p-multiSelect maxSelectedLabels="0" [(ngModel)]="AgencyList" defaultLabel="Select Agency"
                           [options]="AgencyItem" (onChange)="onSelect(event)"></p-multiSelect>
          </div>
          <div class="col-md-3">
           Date Range-<p-calendar selectionMode="range" [(ngModel)]="date" (onSelect)="onDateSelect(value)"></p-calendar>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="SearchData()">Serach</button>
          </div>
        </div>
      </div>

      <!--<div class="col-md-12 mt-2 alert alert-info text-center">
        Details of the customers, who clicked on <b>Buy Now</b>
      </div>-->

      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <div class="agency-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
                <table class="table table-bordered" style="font-size: 14px; font-family: 'Font Awesome 5 Free';">
                  <thead>
                    <tr>
                      <th scope="col">Store</th>
                      <th scope="col" >Agent</th>
                      <th scope="col" >VarifiedBy</th>
                      <th scope="col">Status</th>
                      <th scope="col">VerifiedDate</th>
                      <th scope="col">VerifiedTime</th>
                      <th scope="col">TotalSales</th>
                      <th scope="col">TotalCollections</th>
                      <th scope="col">ShortOver</th>
                      <th scope="col">Date</th>
                      <th scope="col" >Notes</th>
                      <th scope="col" >sysUTCCreateDate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pagedPolicyCount">
                      <td>
                        {{item.store}}
                      </td>
                      <td>
                        {{item.agent}}
                      </td>
                      <td>
                        {{item.varifiedBy}}
                      </td>
                      <td>
                        {{item.status}}
                      </td>
                      <td>
                        {{item.verifiedDate | date:'MM/dd/yyyy'}}
                      </td>
                      <td>
                        {{item.verifiedTime}}
                      </td>
                      <td>
                        {{item.totalSales}}
                      </td>
                      <td>
                        {{item.totalCollections}}
                      </td>
                      <td>
                        {{item.shortOver}}
                      </td>
                      <td>
                        {{item.date | date:'MM/dd/yyyy'}}
                      </td>
                      <td>
                        {{item.notes}}
                      </td>
                      <td>
                        {{item.sysUTCCreatedDate | date:'MM/dd/yyyy hh:mm:ss'}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-sm-12" style="float:right;">
                <div class="right-aligned" style="width:100%;text-align:right">
                  <ul *ngIf="pagerPolicyCount.pages && pagerPolicyCount.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                      <a (click)="setPolicyCountPaging(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                      <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pagerPolicyCount.pages" [ngClass]="{active:pagerPolicyCount.currentPage === page}">
                      <a (click)="setPolicyCountPaging(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                      <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                      <a (click)="setPolicyCountPaging(pagerPolicyCount.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
