<p>test-multiselect works!</p>
<p-multiSelect class="p-col-12" maxSelectedLabels="0" inputId="multipleDates" [(ngModel)]="multiDatesSelected"
    defaultLabel="Dates" [options]="multiDatesSelectItem" [style]="{'width':'100% !important!'}"
    (onChange)="onMultiDatesSelected($event)"></p-multiSelect>

<p-multiSelect class="p-col-12" maxSelectedLabels="0" inputId="ddlPayType" defaultLabel="Pay Type"
    [options]="payTypeSelectItem" [style]="{'width':'100% !important!'}"
    (onChange)="onPayTypeChange($event)"></p-multiSelect>