<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (SdChangeEmitter)="RmChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="_year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="_selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
              <!-- <li>
    <p-multiSelect maxSelectedLabels="0" defaultLabel="Agents" [(ngModel)]="selectedagent" [options]="agentSelectItem" (onChange)="onAgentChange()"></p-multiSelect>
  </li>
  <li>
    <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
  </li>-->
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="count-blocks">
    <div class="row">
      <div class="col-md-3">
        <div class="block orange-block">
          <div class="count">
            <p> {{PolicyPerAgent|  number: '2.'}}</p>
          </div >
          <div  class="title">
            <p>Policies per Agent</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block yellow-block">
          <div class="count">
            <p>${{AgenyFeePerAgent|  number: '2.'}}</p>
          </div>
          <div class="title">
            <p>AgencyFee Per Agent</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block purple-block">
          <div class="count">
            <p>${{PremiumPerAgent|  number: '2.'}}</p>
          </div>
          <div class="title">
            <p>Premium Per Agent</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block green-block">
          <div class="count">
            <p>{{TransPerAgent|  number: '2.'}}</p>
          </div>
          <div class="title">
            <p>Transaction Per Agent</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->

      <div id="pager">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
      <div class="epr-table table-wrap goal-percentage-table table-responsive">

        <table class="table sticky-header">
          <thead>
            <!--<tr>
              <th class="address">Offices</th>
              <th class="name">Sales Number</th>
              <th class="premium-goal">Quotes</th>
              <th class="revised-goal">Epr</th>
              <th class="percentage">Calls</th>
            </tr>-->

          </thead>
        </table>
        <table class="table dashboard-all-table" *ngIf="pagedItems && pagedItems.length>0">
          <tbody>
            <tr>
              <th class="address text-center">Offices</th>
              <th class="name text-center">Sales Number</th>
              <th class="premium-goal text-center ">Quotes</th>
              <th class="revised-goal text-center">Epr</th>
              <th class="text-center">Payroll</th>
              <!-- <th class="percentage text-center ">Calls</th> -->
            </tr>
            <tr *ngFor="let item of pagedItems">
              <td class="address">{{item.agencyName}}</td>
              <td class="name"><app-DashboardSale [location]="item.agencyId" [month]="selectedmonth" [year]="year"></app-DashboardSale></td>
              <td class="premium-goal"><app-DashboardQuotes [location]="item.agencyId" [month]="selectedmonth" [year]="year"></app-DashboardQuotes></td>
              <td class="revised-goal"><app-DashboardEPR [location]="item.agencyId" [month]="selectedmonth" [year]="year"></app-DashboardEPR></td>
              <td class="Payroll"><app-DashboardPayroll [location]="item.agencyId" [month]="selectedmonth" [year]="year"></app-DashboardPayroll>
              <!-- <td class="percentage"><app-DashboardCalls [location]="item.agencyId" [month]="selectedmonth" [year]="year"></app-DashboardCalls></td> -->
            </tr>

          </tbody>
        </table>
      </div>
      <div id="pager">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
