<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [SinglelocationSelected]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)"
                                           (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)"
                                           (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"
                                           (singleLocationEmitter)="SetSingleLocation($event)" [ShowLocationDropDown]="singleLocationSelected"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
           
          </div>
        </div>
      </div>

      <div class="tabs-div mt-0">
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
        <mat-tab-group (selectedTabChange)="onTabChanged($event.index)" #tabGroup>
          <mat-tab label="Daily">
            <div class="content-div">
              <div class="row">
                <div class="col-md-12 ml-2">
                  <div class='app-calendar'>

                    <full-calendar *ngIf="dayOptions"
                                   #fullcalendarDaily
                                   [editable]="true"
                                   [timeZone]="UTC"
                                   [events]="calendarDailyEvents"
                                   [header]="dayOptions.header"
                                   [defaultView]="'dayGridDay'"
                                   [customButtons]="dayOptions.customButtons"
                                   [plugins]="dayOptions.plugins"
                                   (dateClick)="onDateClick($event)"
                                    (eventClick)="onEventClick($event)"
                                   ></full-calendar>

                    <!--<full-calendar #fullcalendarDaily
                 [plugins]="calendarDailyPlugins"
                 [editable]="true"
                 [events]="calendarDailyEvents"
                 [defaultView]="'dayGridDay'"
                 [header]="{
                              left: 'prev,next today',
                              center: 'title',
                              right: 'dayGridMonth,dayGridWeek,dayGridDay'
                              }"
                 [height]="'auto'"
                 (dateClick)="onDateClick($event)"
                 (eventClick)="onEventClick($event)"
                 (eventChange)="onEventChange($event)">
            </full-calendar>-->
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Weekly">
            <div class="content-div">
              <div class="row">
                <div class="col-md-12 ml-2">
                  <div class='app-calendar'>

                    <full-calendar *ngIf="dayOptions"
                                   #fullcalendarWeekly
                                   [editable]="true"
                                   [timeZone]="UTC"
                                   [events]="calendarWeeklyEvents"
                                   [header]="dayOptions.header"
                                   [defaultView]="'dayGridWeek'"
                                   [customButtons]="dayOptions.customButtons"
                                   [plugins]="dayOptions.plugins"
                                   (dateClick)="onDateClick($event)"
                                   (eventClick)="onEventClick($event)"></full-calendar>

                    <!--<full-calendar #fullcalendarWeekly
                 [plugins]="calendarWeeklyPlugins"
                 [editable]="true"
                 [events]="calendarWeeklyEvents"
                 [defaultView]="'dayGridWeek'"
                 [header]="{
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,dayGridWeek,dayGridDay'
                            }"
                 [height]="'auto'"
                 [dir]="'ltr'"
                 (dateClick)="onDateClick($event)"
                 (eventClick)="onEventClick($event)">
  </full-calendar>-->
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Monthly">
            <div class="content-div">
              <div class="row">
                <div class="col-md-12 ml-2">
                  <div class='app-calendar'>

                    <!--<full-calendar *ngIf="dayOptions"
                                   #calendarComponent
                                   [editable]="true"
                                   [events]="calendarEvents"
                                   [header]="dayOptions.header"
                                   [defaultView]="'dayGridMonth'"
                                   [customButtons]="dayOptions.customButtons"
                                   [plugins]="dayOptions.plugins"
                                   (dateClick)="onDateClick($event)"
                                   (eventClick)="onEventClick($event)"></full-calendar>-->

                    <!--<full-calendar *ngIf="dayOptions"
                 #fullcalendar
                 [editable]="true"
                 [events]="calendarEvents"
                 [header]="dayOptions.header"
                 [defaultView]="'dayGridMonth'"
                 [customButtons]="dayOptions.customButtons"
                 [plugins]="dayOptions.plugins"
                 (dateClick)="onDateClick($event)"
                 (eventClick)="onEventClick($event)"></full-calendar>-->

                    <full-calendar *ngIf="dayOptions"
                                   #fullcalendar
                                   [plugins]="calendarPlugins"
                                   [editable]="true"
                                   [timeZone]="UTC"
                                   [events]="calendarEvents"
                                   [defaultView]="'dayGridMonth'"
                                   [customButtons]="dayOptions.customButtons"
                                   [header]="dayOptions.header"
                                   [height]="'auto'"
                                   [dir]="'ltr'"
                                   (dateClick)="onDateClick($event)"
                                   (eventClick)="onEventClick($event)">
                    </full-calendar>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>


      <!--<full-calendar #fullcalendar
                   [plugins]="calendarPlugins"
                   [editable]="true"
                   [events]="calendarEvents"
                   [defaultView]="'dayGridWeek'"
                   [header]="{
  left: 'prev,next today',
  center: 'title',
  right: 'dayGridMonth,dayGridWeek,timeGridDay'
  }"
                   [height]="'auto'"
                   [dir]="'ltr'"
                   (dateClick)="onDateClick($event)"
                   (eventClick)="onEventClick($event)"
                   (eventRender)="onEventRender($event)">
    </full-calendar>-->


      <p-dialog header="Planner" [(visible)]="createPlan" draggable="false" blockScroll="true" position="top"
                autoZIndex="true" minimizable="true" styleClass="viewDetailPopup col-6">

        <div><b>Details</b></div>
        <table class="styled-table">
          <thead class="text-center ">
            <tr>
              <th rowspan="2">Date</th>
              <th rowspan="2">Activity</th>
              <th rowspan="2">Planned Hrs</th>
              <th rowspan="2">Details</th>
              <th rowspan="2">Actual Hrs</th>
              <th rowspan="2">Went</th>
              <th rowspan="2">Budget</th>
              <th rowspan="2">Actual</th>
              <th rowspan="2">Variance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of popupfilterDailyView">
              <td>
                {{obj.plannerDate}}
              </td>
              <td>
                {{obj.activity}}
              </td>
              <td>
                {{obj.plannedHours}}
              </td>
              <td>
                {{obj.plannedDetails}}
              </td>
              <td>
                <span *ngIf="obj.plannerActualId==0"></span>
                <span *ngIf="obj.plannerActualId>0">{{obj.actualHours}}</span>

              </td>
              <td><span *ngIf="obj.isWent">Yes</span> <span *ngIf="!obj.isWent">No</span></td>
              <td>
                $ {{obj.totalPlannedBudgetAmount| number:'0.0-0'}}
              </td>
              <td>
                <span *ngIf="obj.plannerActualId==0"></span>
                <span *ngIf="obj.plannerActualId>0">  $ {{obj.totalActualAmount| number:'0.0-0'}}</span>

              </td>
              <td>
                $
                <span *ngIf="(obj.totalPlannedBudgetAmount-obj.totalActualAmount)<0"><span style="color: #fa2a2a;font-weight: bold;">{{obj.totalPlannedBudgetAmount-obj.totalActualAmount | number:'0.0-0'}}</span></span>
                <span *ngIf="(obj.totalPlannedBudgetAmount-obj.totalActualAmount)>0">{{obj.totalPlannedBudgetAmount-obj.totalActualAmount | number:'0.0-0'}}</span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" style="text-align:right;">
                Total
              </td>
              <td>$ {{totalBudget}}</td>
              <td>
                $ {{totalActual}}
              </td>
              <td>
                $
                <span *ngIf="(totalBudget-totalActual)<0"><span style="color: #fa2a2a;font-weight: bold;">{{totalBudget-totalActual | number:'0.0-0'}}</span></span>
                <span *ngIf="(totalBudget-totalActual)>0">{{totalBudget-totalActual | number:'0.0-0'}}</span>
              </td>
            </tr>
          </tfoot>
        </table>
        <button pButton type="button" label="Close" class="ui-button-rounded" style="float:right;margin-right:20px;" (click)="CancelActual()"></button>
      </p-dialog>
    </div>
  </div>
</div>
