@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.goal-percentage-table {
  max-height: 500px;
  overflow-y: auto;
  .sticky-header

{
  position: sticky;
  top: 0;
  background: #2A2131;
}

th, td {
  color: #fff !important;
}

.sr-no {
  width: 70px;
}

.address {
  width: 200px;
}

.name {
  width: 250px;
}

.premium-goal {
  width: 150px;
}

.revised-goal {
  width: 150px;
}

.percentage {
  width: 100px;
}

}

@-moz-document url-prefix() {
  .sticky-header {
  }
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}



// 11-03-2020

::ng-deep {
  full-calendar .fc-toolbar

{
  margin-bottom: 15px !important;
  margin-top: 10px;
  .fc-right

{
  display: none;
}

.fc-left {
  order: 2;
  .fc-button-group

{
  .fc-prev-button, .fc-next-button

{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fc-prev-button {
  margin-right: 10px;
}

}

.fc-today-button {
  border-radius: 0 !important;
  margin-right: 0 !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto !important;
  &:before

{
  margin-right: 10px;
  position: static !important;
  line-height: 1;
}

}
}

.fc-center h2 {
  font-size: 20px;
}

}
}

::ng-deep {
  .viewDetailPopup

{
  top: 30px !important;
  z-index: 9999 !important;
  max-width: 1200px;
  max-height: 600px;
  overflow-y: auto;
  .ui-dialog-titlebar

{
  font-size: 16px;
  font-weight: bold !important;
}

.ui-dialog-content h2 {
  font-size: 16px;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #2a2131;
  padding-bottom: 10px;
}

}
}

.epr-table .table td {
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #352939;
  color: #fff;
}


.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}



.fc-event {
  border: 1px solid #3a87ad;
  background-color: #3a87ad;
  color: #fff;
  font-size: .85em;
  cursor: default;
  min-height: 15px; // additional styling here
}
.fc-day-grid-event .fc-content {
  white-space: inherit!important;
  overflow: hidden;
}
