<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div
  class="wrapper"
  [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle"
>
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)"
                                           (RmChangeEmitter)="RmChanged($event)"
                                           (ZmChangeEmitter)="ZmChanged($event)"
                                           (LocationChangeEmitter)="LocationChanged($event)"
                                           (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect maxSelectedLabels="1" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
        <mat-tab-group
          (selectedTabChange)="setHeader($event.index)"
          animationDuration="0ms"
        >
          <mat-tab label="Agent Performance by Office">
            <div class="epr-table table-responsive"  style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM </th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agent-name fixed-header">Agent Name</th>
                    <th scope="col">policies</th>
                    <th scope="col" style="min-width:150px;">Agency Fee</th>
                    <th scope="col">Premium</th>
                    <th scope="col" style="min-width:150px;">Transaction</th>
                    <th scope="col" style="min-width:150px;">Pol Score</th>
                    <th scope="col" style="min-width:150px;">Afee Score</th>
                    <th scope="col" style="min-width:150px;">Transaction Score</th>
                    <th scope="col" style="min-width:150px;">Total Score 100</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAgentPerformaceI"  [ngStyle]="{'background-color':(item.regionalManagers === 'Grand Total') ? '#323b4e':'' }">
                    <td scope="row" class="col-id-no">{{ item.regionalManagers }}</td>
                    <td  scope="row" class="col-first-name">{{ item.zonalManagers }}</td>
                    <td scope="row" class="col-agency-name">{{ item.agencyName }}</td>
                    <td scope="row" class="col-agent-name">{{ item.agentName }}</td>
                    <td scope="row">{{ item.policies | number: "2." }}</td>
                    <td scope="row">{{ item.agencyfee | number: "2." }}</td>
                    <td scope="row">{{ item.premium | number: "2." }}</td>
                    <td scope="row">{{ item.transaction | number: "2." }}</td>
                    <td scope="row">{{ item.polScore | number: "2." }}</td>
                    <td scope="row">{{ item.afeeScore | number: "2." }}</td>
                    <td scope="row">{{ item.transactionScore | number: "2." }}</td>
                    <td scope="row">{{ item.totalScore100 | number: "2." }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Top agents by Zone">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM </th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agent-name fixed-header">Agent Name</th>
                    <th scope="col">policies</th>
                    <th scope="col" style="min-width:150px;">Agency Fee</th>
                    <th scope="col">Premium</th>
                    <th scope="col" style="min-width:150px;">Transaction</th>
                    <th scope="col" style="min-width:150px;">Pol Score</th>
                    <th scope="col" style="min-width:150px;">Afee Score</th>
                    <th scope="col" style="min-width:150px;">Transaction Score</th>
                    <th scope="col" style="min-width:150px;">Total Score 100</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAgentPerformaceII">
                    <td scope="row" class="col-id-no">{{ item.regionalManagers }}</td>
                    <td scope="row" class="col-first-name">{{ item.zonalManagers }}</td>
                    <td scope="row" class="col-agency-name">{{ item.agencyName }}</td>
                    <td scope="row" class="col-agent-name">{{ item.agentName }}</td>
                    <td scope="row">{{ item.policies | number: "2." }}</td>
                    <td scope="row">{{ item.agencyfee | number: "2." }}</td>
                    <td scope="row">{{ item.premium | number: "2." }}</td>
                    <td scope="row">{{ item.transaction | number: "2." }}</td>
                    <td scope="row">{{ item.polScore | number: "2." }}</td>
                    <td scope="row">{{ item.afeeScore | number: "2." }}</td>
                    <td scope="row">{{ item.transactionScore | number: "2." }}</td>
                    <td scope="row">{{ item.totalScore100 | number: "2." }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
