@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.unique-width{
  display: inline-block;
  margin-right: 15px;
}

.main-panel {
  transition: $transition-base;

  .panel-content {
    margin: 100px 30px;
    margin-top: 120px;
  }

  
}
.heading{
  display: inline-block;
}
@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}
.total-tab-desc{
  display: inline-block;
}
.total-tab-selects {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;

  li {
    display: inline-block;

    &:first-child {
      margin-right: 15px;
    }
  }
}
.listing {
  float: right;
  margin-top: 10px;

  &:first-child p-multiselect {
    margin-right: 15px;
  }

}

@media only screen and (max-width: 767px) {
  .listing{
    float: left !important;
  }
}
