<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p>${{tileData.overtimeperPolicy| number:'1.1-2'}}</p>
              </div>
              <div class="title">
                <p>Overtime per Policy</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p>${{tileData.overtimehoursperpolicy| number:'1.1-2'}}</p>
              </div>
              <div class="title">
                <p>Overtime hours per policy</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p>${{tileData.payrollperPolicy| number}}</p>
              </div>
              <div class="title">
                <p>Payroll per Policy</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block">
              <div class="count">
                <p>${{tileData.payrollpertransaction| number}}</p>
              </div>
              <div class="title">
                <p>Payroll per transaction</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="OntabSelectionChange($event.index)" animationDuration="0ms">

          <mat-tab label="Total Summary">
            <div class="heading">
              <p>Payroll | {{selectedmonth}} {{year}}</p>
            </div>
            <div class="listing">
              <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
            </div>
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <div class="content-div">


                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">Summary (Payroll Amount) </div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitAmountChardata" [options]="chartOptionsWithDollar"></p-chart>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">

                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">Summary (Payroll Hours)</div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitHourChardata" [options]="ChartOptions"></p-chart>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Regular Summary">
            <div class="heading">
              <p>Payroll | {{selectedmonth}} {{year}}</p>
            </div>
            <div class="listing">
              <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
            </div>
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <div class="content-div">


                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">{{selectedmonth}} (Payroll Amount)</div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitAmountChardata" [options]="chartOptionsWithDollar"></p-chart>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">

                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">{{selectedmonth}} (Payroll Hours)</div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitHourChardata" [options]="ChartOptions"></p-chart>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Overtime Summary">
            <div class="heading">
              <p>Payroll | {{selectedmonth}} {{year}}</p>
            </div>
            <div class="listing">
              <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
            </div>
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <div class="content-div">


                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">{{selectedmonth}} (Payroll Amount)</div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitAmountChardata" [options]="chartOptionsWithDollar"></p-chart>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">

                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">{{selectedmonth}} (Payroll Hours)</div>
                    <p-chart height="chartheight" type="horizontalBar" [data]="summaryDebitHourChardata" [options]="ChartOptions"></p-chart>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Total Actual vs Budgeted">
            <div class="row ">
              <div class="col-md-12">
                <div class="heading">
                  <p class="total-tab-desc">Payroll | {{selectedmonth}} {{year}}</p>
                </div>
                <!--</div>
        <div class="col-md-6">-->
                <div class="listing">
                  <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
                  <p-multiSelect class="unique-width" defaultLabel="Category Description Actual" [(ngModel)]="selectedcategoryActual" [options]="categoryActualSelectItem" (onChange)="oncategoryActualChange()"></p-multiSelect>
                  <p-multiSelect class="unique-width" defaultLabel="Category Description Projection" [(ngModel)]="selectedcategoryProjection" [options]="categoryProjectionSelectItem" (onChange)="oncategoryProjectionChange()"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="row">



              <div class="col-md-6">

                <div class="content-div">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerAmount.pages && pagerAmount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(pagerAmount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerAmount.pages" [ngClass]="{active:pagerAmount.currentPage === page}">
                        <a (click)="setAmountPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div *ngFor="let item of pagedAmountItems">
                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Amount)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="chartOptionsWithDollar"></p-chart>

                    </div>
                  </div>

                </div>

              </div>




              <div class="col-md-6">
                <div class="content-div">

                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerHour.pages && pagerHour.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(pagerHour.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerHour.pages" [ngClass]="{active:pagerHour.currentPage === page}">
                        <a (click)="setHourPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>

                  <div *ngFor="let item of pagedHourItems">
                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Hours)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="ChartOptions"></p-chart>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Regular(Actual Vs Budgeted)">

            <div class="row ">
              <div class="col-md-12">
                <div class="heading">
                  <p class="total-tab-desc">Payroll | {{selectedmonth}} {{year}} </p>
                </div>
                <div class="listing">
                  <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="content-div">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerAmount.pages && pagerAmount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(pagerAmount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerAmount.pages" [ngClass]="{active:pagerAmount.currentPage === page}">
                        <a (click)="setAmountPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div *ngFor="let item of pagedAmountItems">

                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Amount)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="chartOptionsWithDollar"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerHour.pages && pagerHour.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(pagerHour.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerHour.pages" [ngClass]="{active:pagerHour.currentPage === page}">
                        <a (click)="setHourPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div *ngFor="let item of pagedHourItems">
                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Hours)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="ChartOptions"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Overtime(Actual Vs Budgeted)">
            <div class="row ">
              <div class="col-md-12">
                <div class="heading">
                  <p>Payroll | {{selectedmonth}} {{year}}</p>
                </div>
                <div class="listing">
                  <p-multiSelect class="unique-width" defaultLabel="Pay Period" [(ngModel)]="selectedPayPeriod" [options]="PayPeriodSelectItem" (onChange)="onPayperiodChange()"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="content-div">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerAmount.pages && pagerAmount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === 1}">
                        <a (click)="setAmountPage(pagerAmount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerAmount.pages" [ngClass]="{active:pagerAmount.currentPage === page}">
                        <a (click)="setAmountPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAmount.currentPage === pagerAmount.totalPages}">
                        <a (click)="setAmountPage(pagerAmount.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div *ngFor="let item of pagedAmountItems">

                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Amount)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="chartOptionsWithDollar"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerHour.pages && pagerHour.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === 1}">
                        <a (click)="setHourPage(pagerHour.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerHour.pages" [ngClass]="{active:pagerHour.currentPage === page}">
                        <a (click)="setHourPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerHour.currentPage === pagerHour.totalPages}">
                        <a (click)="setHourPage(pagerHour.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div *ngFor="let item of pagedHourItems">
                    <div style="margin-top:10px">
                      <div class="chart-heading text-center text-white">{{item.ChatName}} (Payroll Hours)</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="ChartOptions"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>



        </mat-tab-group>
      </div>
    </div>


    <!--<app-footer></app-footer>-->
  </div>
</div>
