<div class="loading" *ngIf="showLoader">Loading&#8230;</div>

<div class="home-page">
  <div class="alert alert-danger" *ngIf="showNotication">
    {{NotificationMessage}}
  </div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="logo-content">
          <!--<div class="logo text-center">
            <img src="assets/images/amax-logo.png" alt="logo" />
          </div>-->

          <div class="home-content" [ngStyle]="{'display':welcomescreen}">
            <div class="heading text-center">
              <h1>Welcome </h1>
            </div>
            <div class="logins">
              <div class="row">
                <div class="col-sm-5 text-center">
                  <div class="hod-login login-div" (click)="welcomeScreenfn('amax')">
                    <div class="image">
                      <img src="assets/images/hod-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>AMAX</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 text-center">
                  <div class="hod-login login-div" (click)="welcomeScreenfn('alpa')">
                    <div class="image">
                      <img src="assets/images/hod-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>ALPA</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 text-center" title="Financial Dashboard Option">
                  <div class="hod-login login-div" (click)="welcomeFinScreenfn('Fin')">
                    <div class="image">
                      <img src="assets/images/hod-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>Fin. Dashboard</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-content" [ngStyle]="{'display':homeSectionDisplay}">
            <div class="cross-btn">
              <img src="assets/images/cross-icon.png" style="float:right;" alt="" (click)="homeSectionDisplayClose()" />
            </div>
            <div class="heading text-center" *ngIf="appType =='amax'">
              <h1>Welcome AMAX</h1>
            </div>
            <div class="heading text-center" *ngIf="appType =='alpa'">
              <h1>Welcome ALPA</h1>
            </div>
            <div class="logins">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <div class="hod-login login-div" (click)="showLoginSection('headofdepratment','HeadofDepratment')">
                    <div class="image">
                      <img src="assets/images/hod-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>HOD</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <div class="sales-director-login login-div" (click)="showLoginSection('saledirector','SaleDirector')">
                    <div class="image">
                      <img src="assets/images/hod-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>Sales <br>Director</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <div class="region-manager-login login-div" (click)="showLoginSection('regionalmanager','RegionalSalesManager')">
                    <div class="image">
                      <img src="assets/images/region-manager-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>Regional <br>Manager</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center margin-top-20">
                <div class="col-sm-4 text-center">
                  <div class="zonal-manager-login login-div">
                    <div class="image">
                      <img src="assets/images/zonal-manager-icon.png" alt="" (click)="showLoginSection('zonalmanager','DistrictSalesManager')" />
                    </div>
                    <div class="title text-center">
                      <h5>District <br>Manager</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 text-center" *ngIf="appType!='alpa'">
                  <div class="alpa-workspace-login login-div">
                    <div class="image">
                      <img src="assets/images/region-manager-icon.png" alt="" (click)="showLoginSection('storemanager','StoreManager')" />
                    </div>
                    <div class="title text-center">
                      <h5>Store Manager</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 text-center" *ngIf="appType!='alpa'">
                  <div class="alpa-workspace-login login-div" (click)="showLoginSection('agent')">
                    <div class="image">
                      <img src="assets/images/region-manager-icon.png" alt="" />
                    </div>
                    <div class="title text-center">
                      <h5>Agent</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <div class="login-content" [ngStyle]="{'display':loginSectionDisplay}">

                <div class="heading text-center">
                  <h2>Welcome</h2>
                </div>
                <div class="cross-btn">
                  <img src="assets/images/cross-icon.png" alt="" (click)="showHomeSection()" />
                </div>
                <div class="login-form">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <div class="icon-block">
                        <input formControlName="username" class="form-control" type="email" pInputText placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                        <div class="icon">
                          <i class="zmdi zmdi-email"></i>
                        </div>
                      </div>
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required.</div>
                        <div *ngIf="f.username.errors.email">Invalid email address.</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="icon-block">
                        <input formControlName="password" class="form-control" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.invalid }" pInputText placeholder="Password">
                        <div class="icon">
                          <i class="zmdi zmdi-lock"></i>
                        </div>
                      </div>
                      <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required.</div>
                      </div>
                    </div>
                    <!--<div class="form-group" *ngIf="logintype=='alpa'">
                      <div class="icon-block">
                        <p-dropdown [options]="roleSelectItem" [style]="{'width': '310px'}" formControlName="roletype"></p-dropdown>
                      </div>
                      <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required.</div>
                      </div>
                    </div>-->
                    <div *ngIf="error" class="invalid-login">
                      {{error}}
                    </div>
                    <span (click)="ForgetPasswordModel=true" style="color:#ccc;margin-left: 55%;cursor:pointer;">Forgot Password</span>
                    <div class="login-button text-center">
                      <button class="login-btn">Login</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
      <div class="col-sm-12 col-md-6">
        <div class="home-bg">
          <div class="responsive-home-bg d-none">
            <img src="assets/images/home-bg.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Recover your password" [(visible)]="ForgetPasswordModel" [contentStyle]="{'overflow': 'hidden'}" [style]="{width: '330px', height: '330px'}">
  <form [formGroup]="ForgotPassword" (ngSubmit)="onFogotPasswordSubmit()">
    <div>
      <div class="row margin-top-20">
        <div class="col-12">
          <span class="ui-float-label">
            <span>Email address: </span>
            <input id="float-input" class="form-control" type="text" formControlName="Email" required>
          </span>
          <p class="form-control-feedback" *ngIf="!isValidEmail">Invalid Login Email Address</p>
          <span class="form-control-feedback" *ngIf="ForgotPassword.controls.Email.errors && (ForgotPassword.controls.Email.dirty || ForgotPassword.controls.Email.touched) ">
            <p *ngIf="ForgotPassword.controls.Email.errors.required">Email is required.</p>
            <p *ngIf="ForgotPassword.controls.Email.errors.email">Enter a valid Email Address.</p>
          </span>
        </div>
      </div>

    </div>

    <p-footer>
      <button class="btn btn-primary" style="float:right;margin-top:20px;">Submit </button>
    </p-footer>
  </form>
</p-dialog>



