﻿@model AgentRefModel
@{
    List<AmaxIns.DataContract.Referral.Language.ResourceValueModel> resources = ViewBag.Resourses as List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>;

}

<div class="container">
    <div class="form">
        <div class="row">
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="font-size: x-large;padding-left: 0;padding-bottom:0">
                        <li class="breadcrumb-item active">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Home.ToString()).FirstOrDefault().ResourceText)</li>
                        <li class="breadcrumb-item " aria-current="page"  style="color:#d0112b"><u>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Agent.ToString()).FirstOrDefault().ResourceText.ToUpper())</u></li>
                    </ol>
                </nav>
            </div>
        </div>
        @using (Html.BeginForm("SaveAgentReferral", "Agent", FormMethod.Post, new { @class = "custom-form padding-bottom-80", @id = "form" }))
        {
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <h3 class="line-height-heading">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EnterReferralsDetails.ToString()).FirstOrDefault().ResourceText)</h3>

                    @*<div class="form-group">
                        <label><b>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ChooseAgency.ToString()).FirstOrDefault().ResourceText)</b></label>
                        @Html.DropDownListFor(m => m.AgencyId, ViewBag.Agency as List<SelectListItem>, new { @class = "form-control" })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.AgencyId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label><b>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EnterYourAgentId.ToString()).FirstOrDefault().ResourceText)</b></label>
                        @Html.TextBoxFor(m => m.AgentId, new { @class = "form-control", @placeholder = "Agent Id", @maxlength = "4" })
                        <div class="error">
                            <span id="ValidEmail"></span>
                            @Html.ValidationMessageFor(m => m.AgentId)
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.LableCustomerName.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.CustomerName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.LableEmail.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.CustomerEmail, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.CustomerEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.LablePhoneNumber.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.CustomerPhone, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText, @maxlength = "10" })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.CustomerPhone)
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">
                    <h3 class="line-height-heading">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.CustomerInfo.ToString()).FirstOrDefault().ResourceText)</h3>
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.RefName, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.RefName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.RefEmail, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.RefEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText)</label>
                        @Html.TextBoxFor(m => m.RefPhone, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText, @maxlength = "10" })
                        <div class="error">
                            @Html.ValidationMessageFor(m => m.RefPhone)
                        </div>
                    </div>


                </div>
                
                
                <div class="col-12">
                    <div class="center-form">
                        <div class="form-group">
            <label><b>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ChooseAgency.ToString()).FirstOrDefault().ResourceText)</b></label>
            @Html.DropDownListFor(m => m.AgencyId, ViewBag.Agency as List<SelectListItem>, new { @class = "form-control" })
            <div class="error">
                @Html.ValidationMessageFor(m => m.AgencyId)
            </div>
        </div>
        <div class="form-group">
            <label><b>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EnterYourAgentId.ToString()).FirstOrDefault().ResourceText)</b></label>
            @Html.TextBoxFor(m => m.AgentId, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Agent.ToString()).FirstOrDefault().ResourceText+" Id", @maxlength = "4" })
            <div class="error">
                <span id="ValidEmail"></span>
                @Html.ValidationMessageFor(m => m.AgentId)
            </div>
        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    @if (this.Context.Request.Query != null && this.Context.Request.Query["message"].ToString() == "success")
                    {
                        <div class="alert alert-success" role="alert">
                            @Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralSavedSuccessfull.ToString()).FirstOrDefault().ResourceText)
                        </div>
                    }
                    else if (this.Context.Request.Query != null && this.Context.Request.Query["message"].ToString() == "error")
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.Raw(resources.Where(m => m.ResourceKey == Resource.ErrorSavingReferral.ToString()).FirstOrDefault().ResourceText)
                        </div>
                    }
                </div>

                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-danger">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Submit.ToString()).FirstOrDefault().ResourceText)</button>
                    <button type="submit" value="@Submit.AddMore" name="type" class="btn btn-danger">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.SubmitAndMore.ToString()).FirstOrDefault().ResourceText)</button>

                </div>
            </div>
        }

    </div>
</div>


<script type="text/javascript">
    $(function () {
        $.get("/Agent/GetAgents/", function (e) {
            var availableTags = e;
            $("#AgentId").autocomplete({
                source: availableTags,
                change: function (event, ui) {
                    if (!ui.item) {
                        $("#AgentId").val("");
                    }

                }
            });
        });

    });

    $(document).ready(function () {
        SetValidationMessage();
    });


    function SetValidationMessage()
    {
        $('#RefName').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralNameValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-email','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        //$('#RefEmail').attr('data-val-required', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralEmailRequiredValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-remote','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailUniqueValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefPhone').attr('data-val-remote', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneUniqueValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefPhone').attr('data-val-required', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberRequiredValidation.ToString()).FirstOrDefault().ResourceText)');

        $('#RefPhone').attr('data-val-regex', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#AgencyId').attr('data-val-range', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgencyValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#AgentId').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgentIdValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#AgentId').attr('data-val-minlength','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgentIdValidation.ToString()).FirstOrDefault().ResourceText)');
         $('#AgentId').attr('data-val-maxlength','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgentIdValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#AgentId').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgentIdValidation.ToString()).FirstOrDefault().ResourceText)');

        $('#CustomerEmail').attr('data-val-email','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerEmail').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerPhone').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerPhone').attr('data-val-minlength','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerPhone').attr('data-val-required', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberRequiredValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerName').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.AgentCustomerNameValidation.ToString()).FirstOrDefault().ResourceText)');


    }

</script>