<div class="main-wrapper">
    <header>
        <h1>Transactions Detail</h1>

        <div class="col-sm-5 action">
          <button class="btn btn-default " (click)="Navigate('dashboardone')">Home</button>
          <button class="btn btn-default" (click)="Navigate('dashboardtwo')">
            Account Detail
          </button>
          <!--<button class="btn btn-default " (click)="Navigate('dashboardtwo')">Variance Report</button>-->
        </div>
        <div style="width: 20px;float: right;margin-top: 0px;margin-right: 15px;margin-left: 10px;position: inherit;">
            <img (click)="LogOut()" title="Log Out" style="width:25px;cursor:pointer;"
                src="../../../assets/2529524.png" />
        </div>

    </header>
    <div class="budget-top-filter">
        <div class="d-flex header-filters flex-wrap ">

            <div class="d-flex align-items-center">
                <div class="text-lable">Year</div>
                <div>
                    <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" optionLabel="value"
                        (onChange)="onYearchange($event)" [filter]="true" filterBy="value" [showClear]="true"
                        placeholder="Select a Year">
                        <ng-template pTemplate="selectedItem" *ngIf="selectedyear">
                            {{selectedyear.value}}
                        </ng-template>
                        <ng-template let-year pTemplate="item">
                            {{year.value}}
                        </ng-template>
                    </p-dropdown>

                </div>
            </div>

            <div class="d-flex align-items-center">
            <div class="text-lable">Month</div>
            <div>
              <p-multiSelect [options]="monthSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedmonth"
                defaultLabel="Month" (onChange)="onMonthchange()" optionLabel="label"></p-multiSelect>
            </div>
          </div>


            <div class="d-flex align-items-center" *ngIf="isAdmin">
                <div class="text-lable">Department</div>
                <div>
                    <p-dropdown [options]="deptSelectItem" [(ngModel)]="selectedDepartment" optionLabel="value"
                        (onChange)="onDeptchange($event)" [filter]="true" filterBy="value" [showClear]="true"
                        placeholder="Select a Deparment">
                        <ng-template pTemplate="selectedItem" *ngIf="selectedDepartment">
                            {{selectedDepartment.value}}
                        </ng-template>
                        <ng-template let-deparment pTemplate="item">
                            {{deparment.value}}
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="text-lable">Location Name</div>
                <div>
                    <p-multiSelect [options]="locationSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedLocation"
                        defaultLabel="Location" (onChange)="onLocationChange($event)" optionLabel="label">
                    </p-multiSelect>

                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="text-lable">User</div>
                <div>
                    <p-multiSelect [options]="userSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedUser"
                        defaultLabel="User" (onChange)="onUserChange($event)" optionLabel="label"></p-multiSelect>

                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="text-lable">Category Name</div>
                <div>
                    <p-multiSelect [options]="catSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedCat"
                        defaultLabel="Category" (onChange)="onCatChange($event)" optionLabel="label"></p-multiSelect>

                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="text-lable">Budget Name</div>
                <div>
                    <p-multiSelect [options]="BudgetSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedBudget"
                        defaultLabel="Budget" (onChange)="onBudgetChange($event)" optionLabel="label"></p-multiSelect>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="text-lable">Budget Code</div>
                <div>
                    <p-multiSelect [options]="budgetcodeSelectItem" maxSelectedLabels="1"
                        [(ngModel)]="selectedBudgetCode" defaultLabel="BudgetCode"
                        (onChange)="onBudgetCodeChange($event)" optionLabel="label"></p-multiSelect>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="text-lable">Source</div>
                <div>
                    <p-multiSelect [options]="sourceSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedSource"
                        defaultLabel="Source" (onChange)="onSourceChange($event)" optionLabel="label"></p-multiSelect>

                </div>
            </div>

            <div class="d-flex align-items-center">
                <button class="btn btn-default " (click)="Search()" style="margin-left: 20px;">Search</button>
            </div>


        </div>

    </div>
    <div class="table-data table-responsive">
        <table class="table-grey" id="tblTrx">
            <thead>
                <tr style="cursor: pointer;">
                    <th style="width: 8%;" class="trxDate">TRX <i class="fa fa-lg fa-arrow-up"
                            (click)="sortData($event)" data-order="desc" data-name="trxDate" aria-hidden="true"></i>
                    </th>
                    <th class="category-name">Category Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="categoryDescription" aria-hidden="true"></i></th>
                    <th class="budget-code">Budget Code <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="frontBudgetCode" aria-hidden="true"></i></th>
                    <th class="description">Description <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="transactionDescription" aria-hidden="true"></i></th>
                    <th class="vendor-name">Vendor Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="vendorName" aria-hidden="true"></i></th>
                    <th class="location-name">Location Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="locationID" aria-hidden="true"></i></th>
                    <th class="source">Source <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="source" aria-hidden="true"></i></th>
                    <th class="user">User <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)" data-order="desc"
                            data-name="userName" aria-hidden="true"></i></th>
                    <th class="user-posted">User Posted</th>
                    <th class="actual">Actual <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="trxAmount" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trx of trxList">
                    <td class="trxDate">{{trx.trxDate}}</td>
                    <td class="category-name">{{trx.categoryDescription}}</td>
                    <td class="budget-code">{{trx.frontBudgetCode}}</td>
                    <td class="description">{{trx.transactionDescription}}</td>
                    <td class="vendor-name">{{trx.vendorName}}</td>
                    <td class="location-name">Nul{{trx.locationID}}l</td>
                    <td class="source">{{trx.source}}</td>
                    <td class="user">{{trx.userName}}</td>
                    <td class="user-posted">NULL</td>
                    <td class="actual">$ {{trx.trxAmount | number:'1.0-0'}}</td>

                </tr>

                <!-- <ng-container *ngFor="let obj of listOfDistinctDate">
                    <tr *ngFor="let trx of trxList | customFilter:{trxDate: obj }; index as i; odd as isodd">
                        <td [rowSpan]="(trxList | customFilter:{trxDate: obj }).length" *ngIf="i==0">
                            {{obj | date }}
                        </td>

                        <td class="category-name">{{trx.categoryDescription}}</td>
                        <td class="budget-code">{{trx.frontBudgetCode}}</td>
                        <td class="description">{{trx.transactionDescription}}</td>
                        <td class="vendor-name">{{trx.vendorName}}</td>
                        <td class="location-name">Nul{{trx.locationID}}l</td>
                        <td class="source">{{trx.source}}</td>
                        <td class="user">{{trx.userName}}</td>
                        <td class="user-posted">NULL</td>
                        <td class="actual">$ {{trx.trxAmount | number:'1.0-0'}}</td>

                    </tr>
                </ng-container> -->


            </tbody>
        </table>
        <div class="text-center mt-3">
            <span class="text-center" *ngIf="(trxList.length == 0)" style="color: #4e79a7;">No record found</span>
        </div>

    </div>
</div>
<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
