<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>ALPA Bind Online Quotes Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>

      <div class="count-blocks">
        <div class="row">

          <div class="col left-right-padding">
            <div class="block purple-block">
              <div class="count">
                <p>
                  Visited carrier website
                </p>
              </div>
              <div class="title">
                <p>{{BuyNowClick}}</p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block green-block">
              <div class="count">
                <p>
                  Online Quotes
                </p>
              </div>
              <div class="title">
                <p>{{BuyNowOption}}</p>
              </div>
            </div>
          </div>

          <div class="col left-right-padding">
            <div class="block orange-block">
              <div class="count">
                <p>
                  Total Policy Sold
                </p>
              </div>
              <div class="title">
                <p>{{PolicyCount}}</p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block closing-block">
              <div class="count">
                <p>
                  Closing ratio
                </p>
              </div>
              <div class="title">
                <p>
                  {{(PolicyCount/BuyNowClick)*100| number: '2.'}}%

                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block blue-block">
              <div class="count">
                <p>
                  TX / AZ State
                </p>
              </div>
              <div class="title">
                <p>
                  {{txState}}/ {{azState}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block premium-block">
              <div class="count">
                <p>
                  Written Premium
                </p>
              </div>
              <div class="title">
                <p>
                  ${{(totalpremium-totalAfee)| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block dark-block">
              <div class="count">
                <p>
                  Collected Premium
                </p>
              </div>
              <div class="title">
                <p>
                  ${{totalCollectedPremium| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block agencyfee-block">
              <div class="count">
                <p>
                  Agency Fee
                </p>
              </div>
              <div class="title">
                <p>
                  ${{totalAfee| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-2">
            <p-multiSelect [maxSelectedLabels]="0" [(ngModel)]="Carriers" defaultLabel="Carrier"
                           [options]="CarriersItem" (onChange)="onSelect(event)"></p-multiSelect>
          </div>
          <div class="col-sm-2">
            <p-multiSelect [maxSelectedLabels]="0" [(ngModel)]="States" defaultLabel="State"
                           [options]="StateItem" (onChange)="onStateSelect(event)"></p-multiSelect>
          </div>
          <div class="col-md-4">
            Select Date: - <p-calendar selectionMode="range" [(ngModel)]="date" (onSelect)="onDateSelect(value)"></p-calendar>
          </div>

          <div class="col-md-4" *ngIf="FilerData?.length>0">
            <button class="btn btn-primary" type="button" (click)="exportExcel()">Export</button>
          </div>

        </div>
      </div>

      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">

            <div class="agency-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Quote Url</th>
                    <th scope="col">State</th>
                    <th scope="col">Carrier Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Afee</th>
                    <th scope="col">Policy Sold</th>
                    <th scope="col">Written Premium</th>
                    <th scope="col">Collected Premium</th>

                  </tr>
                </thead>
                <tbody>
                  <!--<tr *ngFor="let item of FilerData" [ngStyle]="{'background-color':item.isdelayed? 'green' : '' }">-->
                  <tr *ngFor="let item of FilerData" [ngStyle]="{'background-color':SelectBackGround(item)}">


                    <td><span>{{item.name}} {{item.surname}}</span></td>
                    <td><span><a target="_blank" *ngIf="item.quoteUrl" href="{{item.quoteUrl}}">Quote Link</a></span></td>
                    <td><span>{{item.state}}</span></td>
                    <td><span>{{item.carrierName}}</span></td>
                    <td><span>{{item.time}}</span></td>
                    <td>
                      <span *ngIf="item.agencyFee>0">${{(item.agencyFee)| number: '2.'}}</span>
                      <span *ngIf="item.agencyFee==0"></span>
                    </td>
                    <td><span>{{item.policyNumber}}</span></td>
                    <td>
                      <span *ngIf="item.premiumAmount>0">${{(item.premiumAmount-item.agencyFee)| number: '2.'}}</span>
                      <span *ngIf="item.premiumAmount==0"></span>
                    </td>
                    <td>
                      <span *ngIf="item.collectedPremium>0">${{item.collectedPremium| number: '2.'}}</span>
                      <span *ngIf="item.collectedPremium==0"></span>
                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="FilerData && FilerData.length">
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">${{totalAfee}}</th>
                    <th scope="col"></th>
                    <th scope="col">${{(totalpremium-totalAfee)| number: '2.'}}</th>
                    <th scope="col">${{totalCollectedPremium| number: '2.'}}</th>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
