<div >
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>

  <div class="chart-title">{{_ChartName}}</div>
  <p-chart type="doughnut" [data]="Chartdata" [options]="options" [responsive]="true"></p-chart>

</div>
