/* You can add global styles to this file, and also import other style files */
body{margin: 0px;padding:0px; background: #fff;padding:10px; font-size: 16px; font-family: 'Lato', sans-serif;}
*{box-sizing: border-box;}
// header{ background:#e1e1e1; border:2px solid #000; text-align: center; position: relative;}
header {
  background: #e1e1e1;
  border: 2px solid #000;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
header h1{width:100%;text-align: left; color:#4e79a7; font-size:2.188rem;font-family: 'Lato', sans-serif; margin:0px; padding: 0px; text-transform: uppercase; font-weight: 400;position: relative;}
.department{ width:100px; position:absolute; top:0; left:0; font-size: 12px;font-family: 'Lato', sans-serif;font-weight: 400;}
.p-dropdown{padding: 0px; width:65px; border:1px solid rgba(51, 51, 51, 0.41);height: 20px;line-height: 18px; border-radius: 1px;}
.pi-chevron-down:before{    content: "" !important;border-top: .26em solid #000;border-right: .26em solid transparent;border-bottom: 0;border-left: .26em solid transparent;vertical-align: -20px;}
.p-dropdown:focus{border:0px; box-shadow: none;}
.p-dropdown .p-dropdown-trigger{ width:14px}
.p-dropdown.p-dropdown-clearable .p-dropdown-label{ padding-right: 0px; color:#000;font-family: 'Lato', sans-serif;}
.p-dropdown-clear-icon { display: none;}
.p-dropdown .p-dropdown-label.p-placeholder{ color:#6c757d !important}
.p-inputtext{ font-size: 11px !important; padding: 0 2px 2px; text-align: left;font-family: 'Lato', sans-serif;border-radius: 0px;}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item{ padding: 5px; font-size: 11px;font-weight: 400; color:#000; text-align: left;font-family: 'Lato', sans-serif;}
.p-dropdown-panel .p-dropdown-header{padding:0px;}
.p-dropdown-panel{ width:150px; border:1px solid rgba(51, 51, 51, 0.41); border-radius: 0px; box-shadow:none}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter{ padding-right: 0px; height:18px; border:0; border-radius: 0; border-bottom:1px solid rgba(51, 51, 51, 0.41)}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon{ display: none;}
.p-inputtext:enabled:focus{ box-shadow: none;}
.selected-item{ font-size:11px;font-family: 'Lato', sans-serif;font-weight: 400}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message{ padding:5px; font-size:11px;font-weight: 400;font-family: 'Lato', sans-serif;}
.text-lable{ font-size:11px;font-weight: 400;font-family: 'Lato', sans-serif; width:auto; margin-right: 5px; margin-left: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-filters > div{padding: 0 2px;}
.tablegend{ margin: 0px;padding:0px; list-style-type: none;}
.tablegend li{ width:100%; padding-bottom: 2px; font-size:11px;font-weight: 400;font-family: 'Lato', sans-serif;}
.tablegend li > div > span{ width:12px; height:12px; display: block;}
.tablegend li > div:first-child{margin-right:2px}
.tablegend li > div.legend-red > span{background:rgb(225, 87, 89)}
.tablegend li > div.legend-blue > span{background:rgb(78, 121, 167)}
.tablegend li > div.legend-grey > span{background:rgb(186, 176, 172)}
.legend-text{ width:65px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.btn-default{font-weight: 600;font-family: 'Lato', sans-serif; color:#fff; border:1px solid #c0c0c0; background:#c0c0c0; line-height: 22px; border-radius: 0px; padding:.175rem .75rem}
.btn-default:hover{color:#fff; border:1px solid #969696}
.action{ text-align: right;}
.action > .btn + .btn{ margin-left: 10px;}
table { width:100%;border-collapse: collapse; }
table > thead > tr > th, table > tbody > tr > td{font-size:12px; font-family: 'Lato', sans-serif;padding:2px 5px;border-bottom: 1px solid #e5e5e5;}
table > tbody > tr > td{color:#7d7676;}
table.stripted > tbody > tr:nth-child(even) > td{background: #f5f5f5;}
table.stripted > tbody > tr:nth-child(even) > td:nth-child(1){background: #fff;}
table.stripted > tbody > tr:nth-child(even) > td:nth-child(1){background: #fff;}
table.stripted > tbody > tr:nth-child(even) > td[rowspan] + td{background: #fff;}

table > thead > tr > th{ color:#000}

.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {display: none;}
.table-data{ height:80vh; overflow-y: scroll;}
.progress-wrap{ width:50%;}
.progress-wrap > div{display:inline-block}
.progress{ width:auto; height:12px; border-radius: 0; display: inline-block; margin-right: 4px;}
.tootip-wrap{ width:auto !important; height: auto; font-size: 12px;color:#a7a7a7;}
.tooltip{ background: #fff !important; color:#000 !important; 
  min-width: 200px;
  width:auto !important;
   height:auto !important; max-width: 300px !important;
   border-radius: 0px !important; border:1px solid #e2e2e2; padding-right: 15px;}
.tooltip-shadow{box-shadow: 1px 2px 5px 0px rgba(0,0,0,.3) !important;}
.tooltip-title{ flex:0 0 100px; color:#a7a7a7; text-align: left; font-size:12px;font-family: 'Lato', sans-serif;}
.tooltip-content{flex:1; color:#2e2d2d; text-align: left; padding-left:4px;font-size:12px;font-family: 'Lato', sans-serif;}
.tooltip-right:after, .tooltip-left:after, .tooltip-top:after, .tooltip-bottom:after{ content: none !important;}
.bar-safe{ background-color:#59a14f;}
.bar-good{ background-color:#f28e2b;}
.bar-overspending{ background-color:#e15759;}
.sum-bar{ width:1px; height:12px; background: #000; position: absolute; top:50%; z-index: 99; -webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);}
.sum-bar span{ display:block; width:2px; height: 100%; text-indent: -99999px;}
.safe{ color:#59a14f;}
.good{ color:#f28e2b;}
.overspending{ color:#e15759;}
.safe span, .good span, .overspending span{ display: block; border:1px solid transparent; text-align: right;}
.safe:hover span{ border:1px solid #59a14f;}
.good:hover span{ border:1px solid #f28e2b;}
.overspending:hover span{ border:1px solid #cc9c9d;}

.header-btn-wrap > div{ padding:0 5px !important;}

.p-calendar{width:65px}
.p-calendar .p-datepicker{ width:160px}
.p-datepicker table{ table-layout: fixed;}
.p-datepicker table td > span{ width:auto;height: auto; color: #000;}
.p-datepicker table td, .p-datepicker table th{ padding: 2px; font-size: 11px;}
.p-datepicker table th{background: #f5f5f5;}
.p-datepicker .p-datepicker-header .p-datepicker-title{font-size: 11px;}
.p-datepicker .p-datepicker-header{padding:0px}
.p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next{width:1rem;height:1rem}
.p-datepicker:not(.p-datepicker-inline) {background: #ffffff;border: 1px solid #bdbcbc; box-shadow:none; border-radius: 0px;}
.pi-chevron-left:before, .pi-chevron-right:before{font-size:11px}
.calander-wrap > p-calendar + p-calendar{ margin-left: 5px;}

.p-multiselect {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;
  padding: 0px;
  width: 65px;
  border: 1px solid rgba(51, 51, 51, 0.41);
  height: 20px;
  line-height: 18px;
  border-radius: 1px;
}

.p-multiselect .p-multiselect-trigger {
  width: 14px
}

.p-multiselect .p-multiselect-label {
  font-size: 11px;
  padding: 0px;
  padding-right: 0px;
  color: #000;
  font-family: "Lato", sans-serif;
}

.p-multiselect-item {
  padding: 5px;
  font-size: 11px;
  font-weight: 400;
  color: #000 !important;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.p-multiselect .p-multiselect-panel {
  width: 210px;
  border: 1px solid rgba(51, 51, 51, 0.41);
  border-radius: 0px;
  box-shadow: none;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  font-size: 11px;
  font-family: "Lato", sans-serif;
  color: #000
} 

// 19th Apr

.header-btn > div > .btn{ width:100%; white-space: normal;}
.header-btn {
  max-width: 100%;
  padding: 0 !important;
  width: 100% !important;
}
.header-btn > div {
  width: 49%;
  margin-left: 5px;
}

@media screen and (max-width: 40rem) {
   
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
    @media(max-width:1440px){
       
        .department{ width:135px; position: relative; margin: auto; top: inherit; left: inherit; padding: 0.2rem 0 0.5rem;}
    }
   

    @media(max-width:1199px){
        .btn-default{ font-size:0.875rem;}
    }

    @media(max-width:991px){
        header h1{ font-size:1.588rem} 
    }

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  background: #ffffff;
  width: 14px;
  height: 14px;
  color: #495057;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 10px;
}
.p-multiselect .p-multiselect-panel {
  min-width: 100%;
  width: 240px;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
  padding-right: 0px;
  height: 18px;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-radius: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.41);
}
