﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body class="main-body">
    <div id="global-loader"></div>
    <div class="page">
        <div class="main-sidebar">
            <div class="sidebar-header">
                <a href="#" class="desktop-logo">
                   @* <img src="images/amax-logo.png" class="img-fluid main-logo" alt="">*@
                </a>
            </div>
            <div class="sidebar-nav">
                <ul class="nav flex-column">

                    @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "Index")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/Index">Missing Payments</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">Missing Payments</a>
                        </li>
                    }

                    @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "ApolloPoliciesExpiring")
                    {
                        <li class="nav-item active">
                            <a class="nav-link active" href="/Home/ApolloPoliciesExpiring">Policies Expiring Soon</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ApolloPoliciesExpiring">Policies Expiring Soon</a>
                        </li>
                    }
                    @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "ApolloDatadueDate")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/ApolloDatadueDate">Due Date Approaching</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ApolloDatadueDate">Due Date Approaching</a>
                        </li>
                    }

                    @*@if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "ApolloCommissions")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/ApolloCommissions">Apollo Commissions</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ApolloCommissions">Apollo Commissions</a>
                        </li>
                    }*@



                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="container-fluid">

                @RenderBody()
            </div>

        </div>
    </div>

</body>
</html>
