﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body class="main-body">
    <div id="global-loader"></div>
    <div class="page">
        <div class="main-sidebar">
            <div class="sidebar-header">
                <a href="#" class="desktop-logo">
                   @* <img src="images/amax-logo.png" class="img-fluid main-logo" alt="">*@
                    @RenderSection("RefreshTime",false)
                </a>
            </div>
            <div class="sidebar-nav">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="/Aspen/Index">Aspen</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Apollo/Index">Apollo</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Seaharbor/Index">Sea Harbor</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="container-fluid">

                @RenderBody()
            </div>

        </div>
    </div>

</body>
</html>
