@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body,html{
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
.margin-top-20{
    margin-top: 20px;
}
.home-page .logo-content{
    background: #312939;
    /* padding: 100px 0 10px;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px;
}
.home-page .container-fluid, .home-page .container-fluid .col-sm-12, .home-page .container-fluid, .home-page .container-fluid .col-md-6{
    padding-left: 0;
    padding-right: 0;
}
.home-page .container-fluid, .home-page .container-fluid .row{
    margin-left: 0;
    margin-right: 0;
}
.home-page .logo-content .home-content{
    padding: 40px 40px 10px 40px;
}
.home-page .logo-content .home-content h1{
    font-size: 40px;
    line-height: 55px;
    color: #fff;
}
.home-page .logo-content .home-content .logins{
    padding: 40px 40px 0 40px;
}
.home-page .logo-content .home-content .logins .login-div{
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    cursor: pointer;
}
.home-page .logo-content .home-content .logins .login-div:first-child, .home-page .logo-content .home-content .logins li:last-child{
    margin-left: 0;
}
.home-page .logo-content .home-content .logins .login-div .image{
    height: 76px;
    width: 76px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 76px;
    margin: 0 auto;
}
.home-page .logo-content .home-content .logins .login-div .title h5{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-top: 15px;
}
.home-page .home-bg{
    background: url(../images/home-bg.png);
    background-size: cover;
    height: 100vh;
}
.home-page .login-content{
    padding: 40px 80px 10px 80px;
    display: none;
}
.home-page .login-content .cross-btn{
    position: absolute;
    top: 40px;
    right: 35px;
    cursor: pointer;
}
.home-page .login-content .heading h2{
    font-size: 40px;
    color: #fff;
}
.home-page .login-content .login-form{
    padding-top: 80px;
}
.home-page .login-content .login-form .icon-block{
    position: relative;
    margin-bottom: 20px;
    width: 356px;
    margin: 0 auto;
}
.home-page .login-content .login-form .icon{
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #3A7CFF;
}
.home-page .login-content .login-form .form-control{
    height: 58px;
    line-height: normal;
    border-radius: 39px;
    border: 1px solid #465560;
    background: none;
    padding-left: 60px;
    color: #fff;
}
.home-page .login-content .login-form input::placeholder{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.home-page .login-content .login-form .login-button{
    margin-top: 35px;
    padding-bottom: 70px;
}
.home-page .login-content .login-form .login-button .login-btn{
    width: 356px;
    height: 58px;
    line-height: normal;
    border-radius: 39px;
    background: rgb(58,117,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(58,117,255,1) 1%, rgba(58,78,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(58,117,255,1) 1%,rgba(58,78,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(58,117,255,1) 1%,rgba(58,78,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a75ff', endColorstr='#3a4eff',GradientType=1 ); /* IE6-9 */
        font-size: 20px;
        color: #fff;
        border: none;
        cursor: pointer;
}  


/*Media Quiries*/
@media only screen and (max-width: 991px){
    .home-page .logo-content .home-content h1{
        font-size: 34px;
        line-height: 50px;
    }
    .home-page .logo-content .home-content .logins{
        padding: 60px 0px 0 0px;
    }
    .home-page .logo-content .home-contentP{
        padding: 60px 20px 10px 20px;
    }
    .home-page .login-content{
        padding: 60px 20px 10px 20px;
    }
    .home-page .login-content .login-form .icon-block{
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .home-page .logo-content{
        padding: 40px 0 10px;
    }
    .home-page .logo-content .home-content{
        padding: 40px 40px 10px 40px;
    }
    .home-page .logo-content .home-content .logins{
        padding: 40px 0px 0 0px;
    }
    .home-page .logo-content .home-content h1{
        font-size: 27px;
        line-height: 40px;
    }
    .home-page .login-content .login-form{
        padding-top: 40px;
    }
    .home-page .logo-content .logo img{
        width: 170px;
    }
    .home-page .home-bg{
        background-image: none;
    }
    .home-page .responsive-home-bg{
        display: block !important;
    }
    .home-page .responsive-home-bg img{
        max-width: 100%;
    }
}
@media only screen and (max-width: 575px){
    .home-page .logo-content .home-content .logins .login-div{
        margin-bottom: 20px;
    }
    .home-page .login-content .login-form .login-button .login-btn{
        width: 100%;
    }
}
