<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="OndateChanged()"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
              </li>
            </ul>
           
          </div>
        </div>
      </div>

      <div class="count-blocks">
        <div class="row">
          <div class="col-md-2" *ngIf="IsShowBOLTiels==true">
            <div class="block purple-block">
              <div class="count">
                <p> {{VisitedCarrierWebsite.toLocaleString()}}</p>
              </div>
              <div class="title">
                <p>Visited carrier website</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="block orange-block">
              <div class="count">
                <p> {{NewQuoteCount.toLocaleString()}}</p>
              </div>
              <div class="title">
                <p>New Quotes Count</p>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="IsShowBOLTiels==true">
            <div class="block purple-block">
              <div class="count">
                <p>{{(NewPolicyCount>0? (NewPolicyCount/(VisitedCarrierWebsite))*100:0) |  number: '1.0-0'}}%</p>
              </div>
              <div class="title">
                <p>Closing Ratio New Quotes</p>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="IsShowBOLTiels==false"> <!--*ngIf="IsShowBOLTiels==false"-->
            <div class="block purple-block">
              <div class="count">
                <p>{{(NewPolicyCount>0? (NewPolicyCount/(NewQuoteCount))*100:0) |  number: '1.0-0'}}%</p>
              </div>
              <div class="title">
                <p>Closing Ratio New Quotes</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="block purple-block">
              <div class="count">
                <p>{{NewPolicyCount}}</p>
              </div>
              <div class="title">
                <p>Sold Policy New Quotes</p>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="IsShowBOLTiels==false">   <!--*ngIf="IsShowBOLTiels==false"-->
            <div class="block orange-block">
              <div class="count">
                <p>{{ModifiedQuoteCount.toLocaleString()}}</p>
              </div>
              <div class="title">
                <p>Modified Quote Count</p>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="IsShowBOLTiels==false">  <!--*ngIf="IsShowBOLTiels==false"-->
            <div class="block green-block">
              <div class="count">
                <p>{{(ModifiedPolicyCount>0? (ModifiedPolicyCount/(ModifiedQuoteCount))*100:0) |  number: '1.0-0'}}%</p>
              </div>
              <div class="title">
                <p>Closing Ratio Modified Quotes</p>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="IsShowBOLTiels==false"> <!--*ngIf="IsShowBOLTiels==false"-->
            <div class="block green-block">
              <div class="count">
                <p>{{ModifiedPolicyCount}}</p>
              </div>
              <div class="title">
                <p>Sold Policy Modified Quotes</p>
              </div>
            </div>
          </div>
        </div>
          <br />
          <div class="row" *ngIf="IsShowBOLTiels==false">    <!--*ngIf="IsShowBOLTiels==false"-->
            <div class="col-md-2">
              <div class="block green-block">
                <div class="count">
                  <p>{{(NewQuoteCount+ModifiedQuoteCount).toLocaleString()}}</p>
                </div>
                <div class="title">
                  <p>Total Quotes</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="epr-heading">
        <h3>New And Modified Quotes </h3>
      </div>

      

      <div class="tabs-div">
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChange($event.index)">
          <mat-tab label="New Quotes">
            <div class="heading">
              <p>New Quotes</p>
            </div>
           
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div id="pager">
                    <ul *ngIf="pagerNewQuotes.pages && pagerNewQuotes.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === 1}">
                        <a (click)="setNewQuotesPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === 1}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerNewQuotes.pages" [ngClass]="{active:pagerNewQuotes.currentPage === page}">
                        <a (click)="setNewQuotesPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === pagerNewQuotes.totalPages}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === pagerNewQuotes.totalPages}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedNewQuotesItems && pagedNewQuotesItems?.length>0">
                      <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Policy Number</th>
                          <th scope="col">Turborater Agency</th>
                          <th scope="col">Insurance Pro Agency</th>
                          <th scope="col"> Created Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedNewQuotesItems">
                          <td scope="row">{{item.firstName}}</td>
                          <td>{{item.lastname}}</td>
                          <td>{{item.phone}}</td>
                          <td>{{item.policyNumber}}</td>
                          <td>{{item.agencyName}}</td>
                          <td>{{item.iProAgency}}</td>
                          <td>{{item.tCreateDate| date: 'MM/dd/yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="pagedNewQuotesItems?.length==0">
                      <span style="color:red;">Quotes are not available for selected date or month.</span>
                    </div>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pagerNewQuotes.pages && pagerNewQuotes.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === 1}">
                        <a (click)="setNewQuotesPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === 1}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerNewQuotes.pages" [ngClass]="{active:pagerNewQuotes.currentPage === page}">
                        <a (click)="setNewQuotesPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === pagerNewQuotes.totalPages}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotes.currentPage === pagerNewQuotes.totalPages}">
                        <a (click)="setNewQuotesPaging(pagerNewQuotes.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>
          </mat-tab>
          <<mat-tab label="Modified Quotes" *ngIf="IsShowBOLTiels==false">
            <div class="heading">
              <p>Modified Quotes</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="epr-table table-responsive">
                    <div id="pager">
                      <ul *ngIf="pagerModifiedQuotes.pages && pagerModifiedQuotes.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                          <a (click)="setModifiedQuotesPaging(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pagerModifiedQuotes.pages" [ngClass]="{active:pagerModifiedQuotes.currentPage === page}">
                          <a (click)="setModifiedQuotesPaging(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.totalPages)">Last</a>
                        </li>
                      </ul>
                    </div>
                    <table class="table table-bordered" *ngIf="pagedModifiedQuotesItems && pagedModifiedQuotesItems?.length>0">
                      <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Policy Number</th>
                          <th scope="col">Turborater Agency</th>
                          <th scope="col">Insurance Pro Agency</th>
                          <th scope="col">Last Modified Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedModifiedQuotesItems">
                          <td scope="row">{{item.firstName}}</td>
                          <td>{{item.lastname}}</td>
                          <td>{{item.phone}}</td>
                          <td>{{item.policyNumber}}</td>
                          <td>{{item.agencyName}}</td>
                          <td>{{item.iProAgency}}</td>
                          <td>{{item.tModifiedDate|date: 'MM/dd/yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="pagedModifiedQuotesItems?.length==0">
                      <span style="color:red;">Quotes are not available for selected date or month.</span>
                    </div>
                    <div id="pager">
                      <ul *ngIf="pagerModifiedQuotes.pages && pagerModifiedQuotes.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                          <a (click)="setModifiedQuotesPaging(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pagerModifiedQuotes.pages" [ngClass]="{active:pagerModifiedQuotes.currentPage === page}">
                          <a (click)="setModifiedQuotesPaging(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                          <a (click)="setModifiedQuotesPaging(pagerModifiedQuotes.totalPages)">Last</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </mat-tab>


        </mat-tab-group>
      </div>


    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
