﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model List<AmaxIns.DataContract.Referral.WinbackModel>
@{
    Layout = "_LayoutSales";
}

<meta http-equiv="refresh" content="900" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

@using (Html.BeginForm("Index", "WinBack", FormMethod.Post, new { @class = "reportsearchform" }))
{

    <div class="container-fluid">
        <div class="row searchbar mt-3">
            <div class="col-lg-11 col-md-4 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-1 col-sm-12">
                        <span>Year:</span>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        @Html.DropDownList("year", ViewBag.Years as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1 col-sm-12">
                        <span>Month:</span>
                    </div>
                    <div class="col-md-2 col-sm-12">

                        @Html.ListBox("month", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "month", @multiple = "multiple", @name = "month" })
                        @*@Html.DropDownList("month", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "mySkills", @multiple = "multiple", @name = "mySkillsName" })*@
                        @*@Html.DropDownList("month", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control" })*@

                    </div>
                    <div class="col-md-1 col-sm-12">
                        <span>Search</span>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <input type="text" class="form-control" name="search" value="@ViewBag.search" />
                        <input type="hidden" name="sortkeyword" value="@ViewBag.Sortkeyword" />
                        <input type="hidden" name="direction" value="@ViewBag.direction" />
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <input type="submit" class="btn btn-primary" id="btnSearch" value="Search" />
                        @if (Convert.ToBoolean(ViewBag.IsAdmin))
                        {
                            <a href="/WinBack/ExportToCSV?monthstr=@ViewBag.monthStr&year=@ViewBag.year" class="btn btn-primary">Export to CSV</a>
                        }
                    </div>


                </div>
            </div>

            <div class="col-lg-1 col-md-3 col-sm-12">
                <a class="btn btn-Logout" value="" style="float:right;" href="/Authentication/Logout">Log out</a>
            </div>
        </div>
        <div class="row " style="color:green;">
            <div class="col-sm-12">
                <h3 class="text-center">Records in green are processed records</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="">
                    <div class="table-head-only table-sicky scrollable-area  freeze-table" style="overflow-x: scroll; height: 100%; min-height: 100%; max-height: 100%;">

                        <table class="table ref-reporttable win-back-table" id="tablewrap">
                            <thead id="myHeader">
                                <tr>
                                    <th class="th-carrer">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=cm.Carrier&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Carrier
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=cm.Carrier&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Carrier
                                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>
                                    @*<th style="width:9%;">Policy</th>*@
                                    <th class="th-policy">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=PolicyNumber&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Policy
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=PolicyNumber&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Policy
                                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>
                                    @*<th style="width:15%;"> Email  </th>*@
                                    <th class="th-email">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Email&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Email
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Email&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Email        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>
                                    @*<th> Location </th>*@
                                    <th class="th-location">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=agencyName&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Location
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=agencyName&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Location        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>
                                    @*<th> Last Transaction Date </th>*@
                                    <th class="th-ltd">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=DateofLastTransaction&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Last Transaction Date
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=DateofLastTransaction&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Last Transaction Date        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-name">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=customername&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Name
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=customername&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Name        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </div>
                                    </th>

                                    @*<th style="width:11%;">Phone</th>*@
                                    <th class="th-phone">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Phone&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Phone
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Phone&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Phone <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>
                                    @*<th style="width:6%;"> Quote</th>*@
                                    <th class="th-quote">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Quoted&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Quote
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Quoted&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Quote <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-sold">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=sold&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Sold
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=sold&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Sold <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    @*<th style="width:6%;">Active</th>*@
                                    <th class="th-active">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=CallAnswered&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Active
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=CallAnswered&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Active <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-leaveus">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=LeaveUs&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Why did you leave us?
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=LeaveUs&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Why did you leave us?
                                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-isAnswered">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=NoAnswerCallback&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    No Answer/Callback
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=NoAnswerCallback&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    No Answer/Callback <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-agent-id">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=AgentId&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Agent Id
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=AgentId&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Agent Id <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-additional-id">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=AdditionalComment&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Additional Comment
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=AdditionalComment&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Additional Comment <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-CustomerLeaveComment-id">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=CustomerLeaveComment&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Customer Comment
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=CustomerLeaveComment&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Customer Comment <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-updated">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Updatedate&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    Updated Time
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=Updatedate&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    Updated Time <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>

                                    <th class="th-action"><div>Action</div> </th>

                                    <th class="th-insurance">
                                        <div>
                                            @if (ViewBag.direction == "desc")
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=InsuranceProStatus&amp;direction=asc&amp;start=false&amp;sorting=true">
                                                    InsurancePro Status
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=InsuranceProStatus&amp;direction=desc&amp;start=false&amp;sorting=true">
                                                    InsurancePro Status <i class="fa fa-chevron-up" aria-hidden="true"></i>

                                                </a>
                                            }
                                        </div>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    string link = "";
                                    if (!string.IsNullOrEmpty(Model[i].Link))
                                    {
                                        link = Model[i].Link;
                                    }
                                    else
                                    {
                                        link = null;
                                    }

                                    <tr id="readOnlyRow-@Model[i].Id" style="@(Model[i].AgentId != null && @Model[i].AgentId != "0" ?"color:green":"")">
                                        <td class="th-carrer"><a target="_blank" href=@link> @Model[i].Carrier </a>  </td>
                                        <td class="th-policy"> @Model[i].PolicyNumber  </td>
                                        <td class="th-email"> @Model[i].Email  </td>
                                        <td class="th-location"> @Model[i].AgencyName </td>
                                        <td class="th-ltd">@Model[i].DateTransaction.ToShortDateString()   </td>
                                        <td class="th-name" id="ReadtxtName-@Model[i].Id"> @Model[i].CustomerName      </td>
                                        <td class="th-phone" id="ReadtxtPhone-@Model[i].Id"> @Model[i].Phone   </td>
                                        <td class="th-quote" id="ReadtxtQuotes-@Model[i].Id">
                                            @(
                                                Model[i].Quoted ? "Yes" : "No"
                                            )
                                        </td>
                                        <td class="th-sold" id="ReadtxtSold-@Model[i].Id">@(Model[i].Sold ? "Yes" : "No") </td>
                                        <td class="th-active" id="ReadtxtCallAns-@Model[i].Id">@(Model[i].CallAnswered ? "Yes" : "No")</td>
                                        <td class="th-leaveus" id="ReadtxtCallAns-@Model[i].Id">@(Model[i].LeaveUs != null ? Model[i].LeaveUs : "--")</td>
                                        <td class="th-isAnswered" id="ReadtxtCallAns-@Model[i].Id">@(Model[i].NoAnswerCallback ? "Yes" : "No")</td>
                                        <td class="th-agent-id" id="ReadtxtCallAns-@Model[i].Id">@(Model[i].AgentId != null && @Model[i].AgentId != "0" ? Model[i].AgentId : "--")</td>
                                        <td class="th-additional-id" id="ReadtxtCallAns-@Model[i].Id" data-toggle="tooltip" data-placement="bottom" title="@Model[i].AdditionalComment">@(Model[i].AdditionalComment != null ? Model[i].SortAdditionalComment : "--")</td>
                                        <td class="th-CustomerLeaveComment-id" id="ReadtxtCallAns-@Model[i].Id" data-toggle="tooltip" data-placement="bottom" title="@Model[i].CustomerLeaveComment">@(Model[i].CustomerLeaveComment != null ? Model[i].SortCustomerLeaveComment : "--")</td>

                                        <td class="th-updated" id="ReadtxtCallAns-@Model[i].Id">
                                            @if ((Model[i].Updatedate) == ViewBag.minDate)
                                            {
                                                <p>--</p>
                                            }

                                            else
                                            {
                                                @(Model[i].Updatedate)
                                            }
                                        </td>
                                        <td class="th-action">
                                            @*@if (ViewBag.agentId != null)
                                                {
                                                    @if (@Model[i].AgentId != null && @Model[i].AgentId != "0")
                                                    {
                                                        @if (@Model[i].AgentId != ViewBag.agentId)
                                                        {
                                                            <p>--</p>
                                                        }
                                                        else
                                                        {
                                                            <a href="Javascript:void(0)" onclick="ShowEdit(@Model[i].Id)">
                                                                <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                                            </a>
                                                            <a href="Javascript:void(0)" onclick="ShowModel(@Model[i].Id)">
                                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                    }

                                                    else
                                                    {
                                                        <a href="Javascript:void(0)" onclick="ShowEdit(@Model[i].Id)">
                                                            <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="Javascript:void(0)" onclick="ShowModel(@Model[i].Id)">
                                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                }*@

                                            @if (ViewBag.agentId != null)
                                            {
                                                <a href="Javascript:void(0)" onclick="ShowEdit(@Model[i].Id)">
                                                    <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                                </a>
                                                <a href="Javascript:void(0)" onclick="ShowModel(@Model[i].Id)">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            }

                                            else
                                            {
                                                <p>--</p>

                                            }

                                            @*<input type="button" class="btn btn-primary" onclick="ShowModel(@Model[i].Id)" value="Comment" />*@
                                        </td>

                                        <td class="th-insurance" id="ReadtxtCallAns-@Model[i].Id">
                                            @if (Model[i].InsuranceProStatus == false)
                                            {
                                                <p>Not Active</p>
                                            }

                                            else
                                            {
                                                <p>Active</p>
                                            }
                                        </td>
                                    </tr>
                                    <tr style="display:none" id="WriteRow-@Model[i].Id">
                                        <td> @Model[i].Carrier   </td>
                                        <td> @Model[i].PolicyNumber  </td>
                                        <td> @Model[i].Email  </td>
                                        <td> @Model[i].AgencyName </td>
                                        <td>@Model[i].DateTransaction.ToShortDateString()   </td>
                                        <td> @Html.TextBoxFor(m => Model[i].CustomerName, new { @id = "txtCustomerName-" + Model[i].Id, @required = "required" })</td>
                                        <td> @Html.TextBoxFor(m => Model[i].Phone, new { @id = "txtPhone-" + Model[i].Id, @required = "required" })  </td>
                                        <td>@Html.CheckBoxFor(m => Model[i].Quoted, new { @id = "chkQuoted-" + Model[i].Id })   </td>
                                        <td>@Html.CheckBoxFor(m => Model[i].Sold, new { @id = "chkSold-" + Model[i].Id }) </td>
                                        <td>@Html.CheckBoxFor(m => Model[i].CallAnswered, new { @id = "chkCallAnswered-" + Model[i].Id })</td>
                                        <td>@Html.DropDownListFor(m => Model[i].LeaveUs, ViewBag.LeaveUs as IEnumerable<SelectListItem>, new { @id = "drpLeaveUs-" + Model[i].Id, @class = "form-control" })  </td>
                                        <td>@Html.CheckBoxFor(m => Model[i].NoAnswerCallback, new { @id = "chkNoAnswerCallback-" + Model[i].Id })</td>
                                        <td align="center">
                                            <input class="mb-2" id="AgentId-@Model[i].Id" maxlength="5" name="[0].AgentId" placeholder="Agent Id" readonly style="background:#d6d6d6;" required="required" type="text" value="@ViewBag.agentId">
                                            @*@Html.TextBoxFor(m => Model[i].AgentId, new { @id = "AgentId-" + ViewBag.agentId, @Value = ViewBag.agentId, @maxlength = "5", @placeholder = "Agent Id", @required = "required", @class = "mb-2" })*@
                                            <a href="Javascript:void(0)" onclick="Save(@Model[i].Id)">
                                                <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>
                                            </a>
                                            <a href="Javascript:void(0)" onclick="Cancel(@Model[i].Id)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="pagination-container">
            <ul class="pagination">

                @if (ViewBag.selectedpage > 1)
                {
                    <li>
                        <a class="page-link" href="/winback?monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=@ViewBag.Sortkeyword&amp;direction=@ViewBag.direction&amp;start=false&amp;sorting=true">First</a>
                    </li>
                    <li>
                        <a class="page-link" href="/winback?page=@(ViewBag.selectedpage - 1)&amp;monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=@ViewBag.Sortkeyword&amp;direction=@ViewBag.direction&amp;start=false&amp;sorting=true">Previous</a>
                    </li>
                }
                @for (var _page = ViewBag.StartPage; _page <= ViewBag.EndPage; _page++)
                {
                    if (_page == ViewBag.selectedpage)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @_page
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/winback?page=@_page&amp;monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=@ViewBag.Sortkeyword&amp;direction=@ViewBag.direction&amp;sorting=true">@_page</a>
                        </li>

                    }

                }


                @if (ViewBag.selectedpage < ViewBag.TotalPages)
                {
                    <li>
                        <a class="page-link" href="/winback?page=@(ViewBag.selectedpage + 1)&amp;monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=@ViewBag.Sortkeyword&amp;direction=@ViewBag.direction&amp;sorting=true">Next</a>

                    </li>
                    <li>
                        <a class="page-link" href="/winback?page=@(ViewBag.TotalPages)&amp;monthstr=@ViewBag.monthStr&amp;year=@ViewBag.year&amp;search=@ViewBag.search&amp;sortkeyword=@ViewBag.Sortkeyword&amp;direction=@ViewBag.direction&amp;sorting=true&amp;sorting=true">Last</a>
                    </li>
                }



            </ul>
        </div>
        @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ViewBag.type, ViewBag.month }), new X.PagedList.Mvc.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })*@
    </div>
}
<script>
    function ShowModel(id) {
        $('#Error').hide();
        $.get('/Winback/WinbackCommentBox?id=' + id, function (data) {
            $('#dialog').html(data);
            $("#dialog").dialog({
                width: 1250,
                left: 60,
                draggable: false,
                resizable: false,
                modal: true,
            });
        })
    }

    function CloseModel(e) {
        var response = e.responseJSON;
        if (response === 'success') {
            $("#dialog").dialog('close')
        }
        else {
            $('#Error').show();
        }
    }

    function ShowEdit(e) {
        $("#WriteRow-" + e).show();
        $("#readOnlyRow-" + e).hide();
    }

    function Save(e) {
        var CustomerName = $("#txtCustomerName-" + e).val();
        var PhoneNumber = $("#txtPhone-" + e).val();
        var AgentId = $("#AgentId-" + e).val();
        var chkSold = $("#chkSold-" + e).is(':checked');
        var chkCallAnswered = $("#chkCallAnswered-" + e).is(':checked');
        var chkQuoted = $("#chkQuoted-" + e).is(':checked');
        var chkNoAnswerCallback = $("#chkNoAnswerCallback-" + e).is(':checked');
        var drpLeaveUs = $("#drpLeaveUs-" + e).val();
        //alert(CustomerName + " , " + PolicyNumber + " , " + AgentId + " , " + chkSold + " , " + chkCallAnswered + " , " + chkQuoted);
        var errorthere = false;
        if (AgentId == '') {
            $("#AgentId-" + e).focus();
            $("#AgentId-" + e).css("border", "1px solid red")
            errorthere = true;
        }
        else {
            $("#AgentId-" + e).css("border", "")
        }
        if (CustomerName == '') {
            $("#txtCustomerName-" + e).focus();
            $("#txtCustomerName-" + e).css("border", "1px solid red")
            errorthere = true;
        }
        else {
            $("#txtCustomerName-" + e).css("border", "")
        }
        if (PhoneNumber == '') {
            $("#txtPhone-" + e).focus();
            $("#txtPhone-" + e).css("border", "1px solid red")
            errorthere = true;
        }
        else {
            $("#txtPhone-" + e).css("border", "")
        }

        if (errorthere) {
            alert("Please fix the errors");
            return;
        }
        var Mydata = {
            id: e, customerName: CustomerName, phone: PhoneNumber, agentId: AgentId, quoted: chkQuoted,
            sold: chkSold, callAnswered: chkCallAnswered, leaveUs: drpLeaveUs, noAnswerCallback: chkNoAnswerCallback
        }
        $.ajax({
            type: 'POST',
            url: "/Winback/UpdateWinBack",
            data: Mydata,
            dataType: "text",
            success: function (resultData) {
                if (resultData == '"success"') {
                    $(".reportsearchform").submit();
                    alert("Data Updated successfully");
                }
                else {
                    alert("Invalid Agent ID");
                }
                $("#ReadtxtName-" + e).html(Mydata.customerName);
                $("#ReadtxtPhone-" + e).html(Mydata.phone);
                $("#drpLeaveUs-" + e).html(Mydata.drpLeaveUs);
                $("#ReadtxtQuotes-" + e).html(Mydata.quoted ? "Yes" : "No");
                $("#ReadtxtSold-" + e).html(Mydata.sold ? "Yes" : "No");
                $("#ReadtxtCallAns-" + e).html(Mydata.callAnswered ? "Yes" : "No");
                $("#chkNoAnswerCallback-" + e).html(Mydata.noAnswerCallback ? "Yes" : "No");
                $("#readOnlyRow-" + e).show();
                $("#WriteRow-" + e).hide();
            },
            error: function (errorData) {
                alert("Error Occured.");
            }
        });


        $("#WriteRow-" + e).hide();
        $("#readOnlyRow-" + e).show();
    }

    function Cancel(e) {
        $("#readOnlyRow-" + e).show();
        $("#WriteRow-" + e).hide();
    }

</script>

<script type="text/javascript">
    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }
</script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- <script src="~/js/jquery.stickytableheaders.js"></script> -->
<script src="~/js/freeze-table.js"></script>
<script>
    $(".freeze-table").freezeTable({
        'freezeColumn': false,
        'scrollBar': true,
    });
    $('.freeze-table').freezeTable('resize');

    var freezeTable = new FreezeTable('.freeze-table', { 'namespace': 'freeze-table', 'scrollBar': true, });
    var freezeTable = new FreezeTable('.freeze-table', { 'namespace': 'freeze-table', 'scrollBar': true, });
    // Resize Freeze Table while the page container is distorted
    $('#sidebarCollapse').click(function () {
        setTimeout(function () {
            //  alert("Hello");
            freezeTable.update();
        }, 500);
    });


    function fnSaveData() {
        window.localStorage.setItem('CustName', 'Test');
    }

</script>
<script type="text/javascript">
    $(function () {
        $('#month').multiselect({
            includeSelectAllOption: true
        });
    });
</script>
<div id="dialog" title="Enter Comments (Agent ID: @ViewBag.AgentId)" style="display:none;">

</div>
