﻿<style>
.winkback-comment-box .table-responsive {
    height: 200px;
    overflow: auto;
}
</style>
@model AmaxIns.DataContract.Referral.WinbackCommentWrapper
@{
    Layout = null;
}
<div class="winkback-comment-box">
    <form data-ajax="true" data-ajax-complete="CloseModel" asp-action="SaveComment" asp-controller="Winback" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-12">
                    <b>Additional Comment:</b>
                </div>
                <div class="col-sm-12">
                    @Html.TextAreaFor(m => m.AdditionalComment, new { @class = "form-control", @style = "height:150px" })

                    @Html.HiddenFor(m => m.AgencyId)
                    @Html.HiddenFor(m => m.ReferalApp_WinbackId)
                    @Html.HiddenFor(m => m.AgentId)
                </div>
                <div class="col-md-12">
                    <div class="table-responsive mt-3">
                        <table class="table ref-reporttable">
                            <thead>
                                <tr>
                                    <th scope="col" width="10%">Agency</th>
                                    <th scope="col" width="20%">Agent Id</th>
                                    <th scope="col" width="50%">Comment</th>
                                    <th scope="col" width="20%">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.Comments)
                                {

                                <tr>
                                    <td>
                                        @if (x.AgencyId > 0)
                                        {
                                            @x.AgencyName;
                                        }
                                        else
                                        {
                                            @Html.Raw("Admin");
                                        }
                                    </td>
                                    <td>
                                        @if (x.AgentId > 0)
                                        {
                                            @x.AgentId;
                                        }
                                        else
                                        {
                                            @Html.Raw("--");
                                        }
                                    </td>
                                    <td>@x.Comments</td>
                                    <td>@Convert.ToDateTime(x.Date).ToString()</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <b>Why Customer Left:</b>
                    </div>
                    <div class="col-sm-12">
                        @Html.TextAreaFor(m => m.CustomerLeaveComment, new { @class = "form-control", @style = "height:150px" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-12">
                        <b>Your Action</b>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>@Html.CheckBoxFor(m => m.FollowEmail) Is Follow UpEmail Send?</li>
                                    <li>@Html.CheckBoxFor(m => m.Text) Is Text Send?</li>

                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right m-2">
                <div id="Error" class="error" style="display:none;color:red;">
                    Oops..! Unable to save the data, Please contact admin.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right m-2">
                <input type="submit" onclick="SaveMM()" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script>
    function SaveMM() {
        $(".reportsearchform").submit();
    }

</script>

