<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <!--<app-rm-zm-location-dropdown-alpa [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (SdChangeEmitter)="RmChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown-alpa>-->
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div mt-0">
        <div style="color:#fff;font-size:20px;">
          Dashboard Coming soon...
        </div>
      </div>

    </div>
  </div>
</div>
