<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Carrier Mix Policies">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered" *ngIf="carrierMixI.length>0">
                <thead>
                  <tr *ngFor="let item of carrierMixI | keyvalue | slice:0:1;">
                    <ng-container *ngFor="let key of  Object.keys(item.value);let i = index">
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key=='Company'" class="col-id-no fixed-header">{{getcolumnName(key)}}</th>
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key!='Company'">{{getcolumnName(key)}}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of carrierMixI | keyvalue;let i = index">
                    <ng-container *ngFor="let key of  Object.keys(item.value)">
                      <td scope="row" class="col-id-no" *ngIf="key=='Company'">{{item.value[key]}}</td>
                      <td scope="row" *ngIf="key!='Company'">{{item.value[key]}} <span *ngIf="item.value[key]>0">{{GetPercentageSign(key)}}</span></td>
                    </ng-container>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngFor="let item of carrierMixITotal | keyvalue">
                    <td *ngFor="let key of  Object.keys(item.value)" style="background-color: #3d4148!important;">
                      {{item.value[key]}}
                    </td>
                  </tr>
                </tfoot>
              </table>
              <table *ngIf="carrierMixI.length==0" class="table table-bordered">
                <tr>
                  <td colspan="8">
                    <span style="color: red;">Data not found.</span>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Carrier Mix Premium">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered" *ngIf="carrierMixPremium.length>0">
                <thead>
                  <tr *ngFor="let item of carrierMixPremium | keyvalue | slice:0:1;">
                    <ng-container *ngFor="let key of  Object.keys(item.value);let i = index">
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key=='Company'" class="col-id-no fixed-header">{{getcolumnName(key)}}</th>
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key!='Company'">{{getcolumnName(key)}}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of carrierMixPremium | keyvalue;let i = index">
                    <ng-container *ngFor="let key of  Object.keys(item.value)">
                      <td scope="row" class="col-id-no" *ngIf="key=='Company'">{{item.value[key]}}</td>
                      <td scope="row" *ngIf="key!='Company'">{{item.value[key]}} <span *ngIf="item.value[key]>0">{{GetPercentageSign(key)}}</span></td>
                    </ng-container>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngFor="let item of carrierMixPremiumTotal | keyvalue">
                    <td *ngFor="let key of  Object.keys(item.value)" style="background-color: #3d4148!important;">
                      {{item.value[key]}}
                    </td>
                  </tr>
                </tfoot>
              </table>
              <table *ngIf="carrierMixPremium.length==0" class="table table-bordered">
                <tr>
                  <td colspan="8">
                    <span style="color: red;">Data not found.</span>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Carrier Mix AgencyFee">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered" *ngIf="carrierMixAgencyFee.length>0">
                <thead>
                  <tr *ngFor="let item of carrierMixAgencyFee | keyvalue | slice:0:1;">
                    <ng-container *ngFor="let key of  Object.keys(item.value);let i = index">
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key=='Company'" class="col-id-no fixed-header">{{getcolumnName(key)}}</th>
                      <th scope="col" style="min-width: 160px !important;" *ngIf="key!='Company'">{{getcolumnName(key)}}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of carrierMixAgencyFee | keyvalue;let i = index"  >
                    <ng-container *ngFor="let key of  Object.keys(item.value)">
                      <td  scope="row" class="col-id-no" *ngIf="key=='Company'">{{item.value[key]}}</td>
                      <td  scope="row" *ngIf="key!='Company'">{{item.value[key]}} <span *ngIf="item.value[key]>0">{{GetPercentageSign(key)}}</span></td>
                    </ng-container>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngFor="let item of carrierMixAgencyFeeTotal | keyvalue" style="background-color: #3d4148!important;">
                    <td *ngFor="let key of  Object.keys(item.value)" style="background-color: #3d4148!important;">
                      {{item.value[key]}}
                    </td>
                  </tr>
                </tfoot>
              </table>
              <table *ngIf="carrierMixAgencyFee.length==0" class="table table-bordered">
                <tr>
                  <td colspan="8">
                    <span style="color: red;">Data not found.</span>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
