
<li *ngIf="authenticationService.userRole === 'headofdepratment-alpa'">
  <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedSaleDirector" defaultLabel="Sales Director" [options]="saleDirectorSelectItem" (onChange)="onSaleDirectorchange(event)"></p-multiSelect>
</li>
<li *ngIf="authenticationService.userRole === 'headofdepratment-alpa' || authenticationService.userRole === 'directorofsales-alpa'">
  <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedRegionalManager" defaultLabel="Regional Manager" [options]="regionalManagerSelectItem" (onChange)="onRegionalManagerchange(event)"></p-multiSelect>
</li>
<li *ngIf="authenticationService.userRole === 'headofdepratment-alpa'|| authenticationService.userRole === 'regionalsalesmanager-alpa' || authenticationService.userRole === 'directorofsales-alpa'">
  <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedZonalManager" defaultLabel="Distict Manager" [options]="zonalManagerSelectItem" (onChange)="onZonalManagerchange(event)"></p-multiSelect>
</li>
<li>
  <p-multiSelect *ngIf="(authenticationService.userRole === 'headofdepratment-alpa'|| authenticationService.userRole === 'regionalsalesmanager-alpa' || authenticationService.userRole === 'directorofsales-alpa' || authenticationService.userRole === 'districtsalesmanager-alpa'|| authenticationService.userRole === 'bsm') && ShowLocationDropDown===false && ShowLocationMultiMaxFiveSelect ===false" maxSelectedLabels="0" defaultLabel="Location" [options]="locationSelectItem" [(ngModel)]="selectedlocation" (onChange)="onLocationchange(event)"></p-multiSelect>
  <p-multiSelect selectionLimit="10" *ngIf="(authenticationService.userRole === 'headofdepratment-alpa'|| authenticationService.userRole === 'directorofsales-alpa' || authenticationService.userRole === 'regionalsalesmanager-alpa' || authenticationService.userRole === 'districtsalesmanager-alpa'|| authenticationService.userRole === 'bsm') && ShowLocationDropDown===false &&ShowLocationMultiMaxFiveSelect ===true" maxSelectedLabels="0" defaultLabel="Location" [options]="locationSelectItem" [(ngModel)]="selectedlocation" (onChange)="onLocationchange(event)"></p-multiSelect>
  <p-dropdown *ngIf="(authenticationService.userRole === 'headofdepratment-alpa'|| authenticationService.userRole === 'directorofsales-alpa' ||  authenticationService.userRole === 'regionalsalesmanager-alpa' || authenticationService.userRole === 'districtsalesmanager-alpa'|| authenticationService.userRole === 'bsm') && ShowLocationDropDown===true" [(ngModel)]="SinglelocationSelected" [options]="locationSelectItem" (onChange)="onLocationDropDownchange(event)"></p-dropdown>

</li>
<li style="color:#fff;margin-top:3px" *ngIf="authenticationService.userRole === 'storemanager'">
  {{agencyName}}
</li>

