<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenuAlpha></app-navmenuAlpha>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Extentions" [options]="ExtentionsSelectItem" [(ngModel)]="SelectedExtentions" (onChange)="onExtentionchange()"></p-multiSelect>
              </li>
              <li *ngIf="SelectedTab===0||SelectedTab===1||SelectedTab===2">
                <p-dropdown [options]="MonthSelectItem" [(ngModel)]="Selectedmonth" (onChange)="onMonthchange()"></p-dropdown>
              </li>
              <li *ngIf="SelectedTab===2">
                <p-multiSelect defaultLabel="Direction" [options]="DirectionSelectItem" [(ngModel)]="SelectedDirection" (onChange)="onDirectionchange()"></p-multiSelect>
              </li>
              <li *ngIf="SelectedTab===3||SelectedTab===4||SelectedTab===5">
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [options]="dateSelectItem" [(ngModel)]="SelectedDate" (onChange)="onDatechange()"></p-multiSelect>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks" *ngIf="SelectedTab===0||SelectedTab===3">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p *ngIf="SelectedTab===0"> {{MonthlyInBoundCalls| number: '2.'}}</p>
                <p *ngIf="SelectedTab===3"> {{DailyInBoundCalls| number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Inbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p *ngIf="SelectedTab===0"> {{MonthlyOutBoundCalls| number: '2.'}}</p>
                <p *ngIf="SelectedTab===3"> {{DailyOutBoundCalls| number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Outbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p *ngIf="SelectedTab===0"> {{MonthlyTotalTalkTime| number: '2.'}}</p>
                <p *ngIf="SelectedTab===3"> {{DailyTotalTalkTime| number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Total TalkTime</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="ontabchange($event.index)">
          <mat-tab label="Monthly Summary">
            <div class="epr-heading">
              <h3>{{Selectedmonth}}  </h3>
            </div>

            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white">Talk Time In Minutes</div>
                  <p-chart height="200" type="horizontalBar" [data]="MonthytalkTimeChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>



            <div class="content-div margin-top-10">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white">Count of Calls</div>
                  <p-chart height="200" type="horizontalBar" [data]="MonthyCountTimeChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>

          </mat-tab>

          <mat-tab label="Extension wise monthly summary">
            <div class="heading">
              <p>Extension wise monthly summary | {{Selectedmonth}}</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="content-div">
                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">TalkTime in minutes </div>

                    <div *ngFor="let item of ExtentionViseMonthlyTalkTimecallChardata">

                      <div style="margin-top:10px">
                        <div class="chart-heading text-center text-white">{{item.ChatName}} </div>
                        <p-chart height="150" type="horizontalBar" [data]="item" [options]="chartOptions"></p-chart>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">

                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">Count of calls</div>

                    <div *ngFor="let item of ExtentionViseMonthlyCountOfcallChardata">

                      <div style="margin-top:10px">
                        <div class="chart-heading text-center text-white">{{item.ChatName}}</div>
                        <p-chart height="150" type="horizontalBar" [data]="item" [options]="chartOptions"></p-chart>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Monthly Details">
            <div class="heading">
              <p>Monthly Detail | {{Selectedmonth}}</p>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div id="pager">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
                <div>

                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
                      <thead>
                        <tr>
                          <th scope="col">CallID</th>
                          <th scope="col">Extension</th>
                          <th scope="col">Direction</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">From</th>
                          <th scope="col">To</th>
                          <th scope="col">TalkTime</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedItems">
                          <td scope="row">{{item.callId}}</td>
                          <td>{{item.extension}}</td>
                          <td>{{item.direction}}</td>
                          <td>{{item.startTime}}</td>
                          <td>{{item.from}}</td>
                          <td>{{item.to}}</td>
                          <td>{{item.talkTimeMinutes}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                  <div *ngIf="pagedItems && pagedItems.length===0" style="color:white">
                    No record found, Please change your search.
                  </div>

                </div>
                <div id="pager">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Daily Summary">
            <div class="epr-heading">
              <h3>Daily Summary</h3>
            </div>

            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white">Talk Time In Minutes</div>
                  <p-chart height="200" type="horizontalBar" [data]="DailytalkTimeChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>



            <div class="content-div margin-top-10">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white">Count of Calls</div>
                  <p-chart height="200" type="horizontalBar" [data]="DailyCountTimeChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>

          </mat-tab>


          <mat-tab label="Extension wise daily summary">
            <div class="heading">
              <p>Extension wise daily summary</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="content-div">
                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">TalkTime in minutes </div>

                    <div *ngFor="let item of ExtentionViseDailyTalkTimecallChardata">

                      <div style="margin-top:10px">
                        <div class="chart-heading text-center text-white">{{item.ChatName}} </div>
                        <p-chart height="150" type="horizontalBar" [data]="item" [options]="chartOptions"></p-chart>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">

                  <div style="margin-top:10px">
                    <div class="chart-heading text-center text-white">Count of calls</div>

                    <div *ngFor="let item of ExtentionViseDailyCountOfcallChardata">

                      <div style="margin-top:10px">
                        <div class="chart-heading text-center text-white">{{item.ChatName}}</div>
                        <p-chart height="150" type="horizontalBar" [data]="item" [options]="chartOptions"></p-chart>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Daily Details">
            <div class="heading">
              <p>Daily Details</p>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div id="pager">
                  <ul *ngIf="Dailypager.pages && Dailypager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:Dailypager.currentPage === 1}">
                      <a (click)="setDailyPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === 1}">
                      <a (click)="setDailyPage(Dailypager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of Dailypager.pages" [ngClass]="{active:Dailypager.currentPage === page}">
                      <a (click)="setDailyPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === Dailypager.totalPages}">
                      <a (click)="setDailyPage(Dailypager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === Dailypager.totalPages}">
                      <a (click)="setDailyPage(Dailypager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
                <div>

                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="DailypagedItems && DailypagedItems.length>0">
                      <thead>
                        <tr>
                          <th scope="col">CallID</th>
                          <th scope="col">Extension</th>
                          <th scope="col">Direction</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">From</th>
                          <th scope="col">To</th>
                          <th scope="col">TalkTime</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of DailypagedItems">
                          <td scope="row">{{item.callId}}</td>
                          <td>{{item.extension}}</td>
                          <td>{{item.direction}}</td>
                          <td>{{item.startTime}}</td>
                          <td>{{item.from}}</td>
                          <td>{{item.to}}</td>
                          <td>{{item.talkTimeMinutes}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                  <div *ngIf="pagedItems && pagedItems.length===0" style="color:white">
                    No record found, Please change your search.
                  </div>

                </div>
                <div id="pager">
                  <ul *ngIf="Dailypager.pages && Dailypager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:Dailypager.currentPage === 1}">
                      <a (click)="setDailyPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === 1}">
                      <a (click)="setDailyPage(Dailypager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of Dailypager.pages" [ngClass]="{active:Dailypager.currentPage === page}">
                      <a (click)="setDailyPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === Dailypager.totalPages}">
                      <a (click)="setDailyPage(Dailypager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:Dailypager.currentPage === Dailypager.totalPages}">
                      <a (click)="setDailyPage(Dailypager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>


      </div>






    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
