<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel" style="margin-bottom:15px!important;">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:15px!important;">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [SinglelocationSelected]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)"
                                           (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)"
                                           (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"
                                           (singleLocationEmitter)="SetSingleLocation($event)" [ShowLocationDropDown]="singleLocationSelected"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <!--<li>
            <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
          </li>-->
              <li>
                <i class="fa fa-info-circle fa-1x" style="color:#fff; cursor:pointer;" (click)="OpenWarningPopup()" aria-hidden="true"></i>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="onTabChanged($event.index)" #tabGroup>
          <mat-tab label="View Planner">
            <div class="content-div">
              <div class="row">
                <div class="container" style="height:400px" [ngStyle]="{'height': innercontainer}">
                  <div class="tWrap">
                    <div class="tWrap__head">
                      <table class="table-planner">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Activity</th>
                            <th>Planned Hrs</th>
                            <th>Details</th>
                            <th>Budget</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tWrap__body">
                      <table class="table-planner">
                        <tbody>
                          <tr *ngFor="let item of viewLastPlanner;let i=index;let last = last">
                            <td>
                              {{item.plannerDate}}
                            </td>
                            <td>
                              {{item.activity}}
                            </td>
                            <td>
                              {{item.plannedHours}}
                            </td>
                            <td>
                              {{item.plannedDetails}}
                            </td>
                            <td>
                              $ {{item.plannedBudgetAmount|number}}
                            </td>
                            <td class="text-center">
                              <div *ngIf="isEditorAdd && !isROMZM">
                                <!-- <button pButton type="button" label="Edit" class="ui-button-rounded" *ngIf="selectedlocation.length>0" (click)="EditUpdate(i)"></button> -->
                                <a style="margin-right: 10px;"><i class="fas fa-edit" aria-hidden="true" *ngIf="selectedlocation>0" (click)="EditUpdate(i)"></i></a>
                                <a><i class="fas fa-trash" aria-hidden="true" *ngIf="selectedlocation>0" (click)="DeletePlanner(item.plannerBudgetId)"></i></a>
                              </div>
                              <div *ngIf="isEditorAdd && isROMZM && item.activity=='Sales Training'">
                                <!-- <button pButton type="button" label="Edit" class="ui-button-rounded" *ngIf="selectedlocation.length>0" (click)="EditUpdate(i)"></button> -->
                                <a style="margin-right: 10px;"><i class="fas fa-edit" aria-hidden="true" *ngIf="selectedlocation>0" (click)="EditUpdate(i)"></i></a>
                                <a><i class="fas fa-trash" aria-hidden="true" *ngIf="selectedlocation>0" (click)="DeletePlanner(item.plannerBudgetId)"></i></a>
                              </div>
                              <div>
                                <span *ngIf="!isEditorAdd">
                                  <i class="fas fa-lock" title="Locked"></i>
                                </span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--<div class="epr-table table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Date</th>
                  <th>Activity</th>
                  <th>Planned Hrs</th>
                  <th>Details</th>
                  <th>Budget</th>
                  <th>Action</th>
                </tr>
                <tbody>
                  <tr *ngFor="let item of viewLastPlanner;let i=index;let last = last">
                    <td>
                      {{item.plannerDate}}
                    </td>
                    <td>
                      {{item.activity}}
                    </td>
                    <td>
                      {{item.plannedHours}}
                    </td>
                    <td>
                      {{item.plannedDetails}}
                    </td>
                    <td>
                      {{item.plannedBudgetAmount}}
                    </td>
                    <td>
                      <div  *ngIf="isEditorAdd">
                        <button pButton type="button" label="Edit" class="ui-button-rounded" *ngIf="selectedlocation.length>0" (click)="EditUpdate(i)"></button>
                      </div>
                      <div>
                        <span  *ngIf="!isEditorAdd">
                          <i class="fas fa-lock" title="Locked"></i>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>-->
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Create New Planner">
            <div class="content-div">
              <div class="row">
                <div class="container" style="height:400px" [ngStyle]="{'height': innercontainer}">
                  <div class="tWrap">
                    <div class="tWrap__head">
                      <table class="table-planner">
                        <thead>
                          <tr>
                            <th style="width:150px">Date</th>
                            <th>Activity</th>
                            <th>Planned Hrs</th>
                            <th>Details</th>
                            <th>Budget</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tWrap__body">
                      <table class="table-planner">
                        <tbody>
                          <tr *ngFor="let item of filterListPlan;let i=index;let last = last">
                            <td style="width:150px">
                              <select name="choice" class="form-control" [(ngModel)]="item.plannerDate">
                                <option value="" selected>Select Date</option>
                                <option *ngFor="let obj of listDate" [value]="obj.plnDate">{{obj.plnDate}}</option>
                              </select>
                            </td>
                            <td>
                              <select name="choice" class="form-control" [(ngModel)]="item.activity">
                                <option value="" selected>Select Activity</option>
                                <option *ngFor="let obj of listActivity" [value]="obj.activityName">{{obj.activityName}}</option>
                              </select>
                            </td>
                            <td>
                              <select name="choice" class="form-control" [(ngModel)]="item.plannedHours">
                                <option value="0" selected>Select Hours</option>
                                <option *ngFor="let obj of listEventHours" [value]="obj.plannerHours">{{obj.plannerHours}}</option>
                              </select>
                            </td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="item.plannedDetails" />
                            </td>
                            <td>
                              <span style="position: absolute;margin-top: 0.8%;margin-left: 0.2%;">$</span> <input type="number" (keypress)="numberOnly($event,item.plannedBudgetAmount)" class="form-control" [(ngModel)]="item.plannedBudgetAmount" />
                            </td>
                            <td>
                              <div *ngIf="i<=8">
                                <a *ngIf="last" style="cursor:pointer;font-size: 25px;" (click)="AddNewRow()">+</a>
                              </div>
                              <div>
                                <a *ngIf="!last" style="cursor:pointer;font-size: 25px;" (click)="DeleteRow(i)">-</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="6">
                              <button pButton type="button" label="SAVE" style="float:right;" class="ui-button-rounded" *ngIf="selectedlocation>0" (click)="SavePlan()"></button>
                              <span *ngIf="selectedlocation==0" style="color:red;float:right;">Please select a location first.</span>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="epr-table table-responsive">

      </div>
      <p-dialog header="Update Planner" [(visible)]="createPlan" draggable="false" blockScroll="true" position="top"
                autoZIndex="true" minimizable="true" styleClass="viewDetailPopup col-8">
        <table class="table">
          <thead class="text-center">
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Planned Hrs</th>
              <th>Details</th>
              <th>Budget</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:200px;">
                <select name="choice" class="form-control" [(ngModel)]="updatePlanObject.plannerDate">
                  <option value="" selected>Select Date</option>
                  <option *ngFor="let obj of listDate" [value]="obj.plnDate">{{obj.plnDate}}</option>
                </select>
              </td>
              <td style="width:300px;">
                <select name="choice" class="form-control" [(ngModel)]="updatePlanObject.activity">
                  <option value="" selected>Select Activity</option>
                  <option *ngFor="let obj of listActivity" [value]="obj.activityName">{{obj.activityName}}</option>
                </select>
              </td>
              <td style="width:300px;">
                <select name="choice" class="form-control" [(ngModel)]="updatePlanObject.plannedHours">
                  <option value="0" selected>Select Hours</option>
                  <option *ngFor="let obj of listEventHours" [value]="obj.plannerHours">{{obj.plannerHours}}</option>
                </select>
              </td>
              <td style="width:450px;">
                <input type="text" class="form-control" [(ngModel)]="updatePlanObject.plannedDetails" />
              </td>
              <td style="width:200px;">
                <input type="number" (keypress)="numberOnly($event,updatePlanObject.plannedBudgetAmount)" class="form-control" [(ngModel)]="updatePlanObject.plannedBudgetAmount" />
              </td>
            </tr>

          </tbody>
        </table>
        <button pButton type="button" label="UPDATE" class="ui-button-rounded" style="float:right;" (click)="UpdatePlanner()"></button>
        <button pButton type="button" label="CANCEL" class="ui-button-rounded" style="float:right;margin-right:20px;" (click)="CancelPlanner()"></button>
      </p-dialog>


      <p-dialog header="Alert" [(visible)]="warningPopup" draggable="false" blockScroll="true" position="top"
                autoZIndex="true" minimizable="true">

        <div style="color:red;">
          <span>1. You can select only one location at a time.</span><br />
          <span>2. You can not select all location.</span><br />
          <span>3. If you change location after fill the event details then you will lose events</span><br />
          <span>4. You can create event only one month ago.</span><br /><br />
        </div>
        <button pButton type="button" label="Close" class="ui-button-rounded" style="float:right;margin-right:20px;" (click)="ClosewarningPopup()"></button>
      </p-dialog>

    </div>
    </div>
</div>
