@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.goal-percentage-table {
  max-height: 500px;
  overflow-y: auto;

  .sticky-header {
    position: sticky;
    top: 0;
    background: #2A2131;
  }

  th, td {
    color: #fff !important;
  }

  .sr-no {
    width: 70px;
  }

  .address {
    width: 200px;
  }

  .name {
    width: 250px;
  }

  .premium-goal {
    width: 150px;
  }

  .revised-goal {
    width: 150px;
  }

  .percentage{
    width: 100px;
  }
}
@-moz-document url-prefix() {
  .sticky-header {
   
  }
}

  .main-panel {
    transition: $transition-base;

    .panel-content {
      margin: 100px 30px;
      margin-top: 120px;
    }
  }

  @include media-breakpoint-down(lg) {
    .sidebar-panel {
      width: $sidebar-width-lg;
    }

    .main-panel {
      width: calc(100% - #{$sidebar-width-lg});

      .panel-content {
        margin: $navbar-height / 2;
        margin-top: $navbar-height + 20px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .sidebar-panel {
      width: $sidebar-mini-width-md;
    }

    .main-panel {
      width: calc(100% - #{$sidebar-mini-width-md});
    }
  }

  @include media-breakpoint-down(sm) {
    .sidebar-panel {
      width: 0;
    }

    .main-panel {
      width: 100%;
    }
  }



  // 11-03-2020

::ng-deep {  
  full-calendar .fc-toolbar {
    margin-bottom: 15px !important;
    margin-top: 10px;
    .fc-right {
      display: none;
    }
    .fc-left {
      order: 2;
      .fc-button-group {
        .fc-prev-button, .fc-next-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
        .fc-prev-button {
          margin-right: 10px;
        }
      }
      .fc-today-button {
        border-radius: 0 !important;
        margin-right: 0 !important;
        position: relative;
        display: inline-flex;
        align-items: center;
        width: auto !important;
        &:before {
          margin-right: 10px;
          position: static !important;
          line-height: 1;
        }
      }
    }
    .fc-center h2 {
        font-size: 20px;
    }
  }
}

::ng-deep {
  .viewDetailPopup {
    top: 20px !important;
    z-index: 9999 !important;
    max-width: 1500px;
    max-height: 600px;
    overflow-y: auto;

    .ui-dialog-titlebar {
      font-size: 16px;
      font-weight: bold !important;
    }

    .ui-dialog-content h2 {
      font-size: 16px;
      margin: 10px 0 10px 0;
      border-bottom: 1px solid #2a2131;
      padding-bottom: 10px;
    }
  }
}

/*.epr-table .table td {
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #352939;
  color: #fff;
}*/


.table-planner {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  background: white;
  font-family: initial;
}

.table-planner th, td {
  border: 1px solid lightgray;
  padding: 6px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:first-child {
    width: 90px;
  }

  &:last-child {
    text-align: left;
    width: 80px;
  }
}

.table-planner th {
  background: teal;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}

.table-planner tr:first-child td {
  border-top: none;
}

.container {
  background: #312939;
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tWrap {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__head {
    flex: 0 0 29px; // for Safari and IE
    overflow-y: scroll;
    font-size: 10px;
  }

  &__body {
    overflow-y: scroll;
    font-size: 14px;
  }
}
