
<li >
  <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedRegionalManager" defaultLabel="Regional Manager" [options]="regionalManagerSelectItem" (onChange)="onRegionalManagerchange(event)"></p-multiSelect>
</li>
<li >
  <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedzonalManager" defaultLabel="Zone Manager" [options]="zonalManagerSelectItem" (onChange)="onZonalManagerchange(event)"></p-multiSelect>
</li>
<li>
  <p-multiSelect *ngIf="ShowLocationDropDown===false && ShowLocationMultiMaxFiveSelect ===false" maxSelectedLabels="0" defaultLabel="Location" [options]="locationSelectItem" [(ngModel)]="selectedlocation" (onChange)="onLocationchange(event)"></p-multiSelect>
  <p-multiSelect selectionLimit="10" *ngIf="ShowLocationDropDown===false &&ShowLocationMultiMaxFiveSelect ===true" maxSelectedLabels="0" defaultLabel="Location" [options]="locationSelectItem" [(ngModel)]="selectedlocation" (onChange)="onLocationchange(event)"></p-multiSelect>
  <p-dropdown *ngIf="ShowLocationDropDown===true" [(ngModel)]="SinglelocationSelected" [options]="locationSelectItem" (onChange)="onLocationDropDownchange(event)"></p-dropdown>

</li>
