<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenuAlpha></app-navmenuAlpha>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <li>
                <p-multiSelect defaultLabel="Location" maxSelectedLabels="0" [options]="AgencySelectItem" [(ngModel)]="selectedAgency" (onChange)="onAgencyChange()"></p-multiSelect>

              </li>
              <li>
                <p-multiSelect defaultLabel="Year" maxSelectedLabels="0" [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange()"></p-multiSelect>
              </li>
              <li>
                <p-multiSelect defaultLabel="Month" maxSelectedLabels="0" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange()"></p-multiSelect>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="ontabchange($event.index)">
          <mat-tab label="Premium">
            <div class="epr-heading">
              <h3>Top 5 Active Agents by Premium  </h3>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <p-chart height="300" type="horizontalBar" [data]="PremiumChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>
          </mat-tab>

          <mat-tab label="Agency Fee">
            <div class="epr-heading">
              <h3>Top 5 Active Agents by Agency Fee  </h3>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <p-chart height="300" type="horizontalBar" [data]="AgencyChartData" [options]="chartOptions"></p-chart>
                </div>

              </div>
            </div>
          </mat-tab>
          <mat-tab label="Policy Count">
            <div class="epr-heading">
              <h3>Top 5 Active Agents by Policy Count  </h3>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <p-chart height="300" type="horizontalBar" [data]="PolicyCountChartData" [options]="chartOptionsWithouDoller"></p-chart>
                </div>

              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>


    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
