<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenuAlpha></app-navmenuAlpha>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange()"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="AgencySelectItem" [(ngModel)]="selectedAgency" (onChange)="onAgencyChange()"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="policySelectItem" [(ngModel)]="selectedPolicy" (onChange)="onPolicyChange()"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="CitySelectItem" [(ngModel)]="selectedCity" (onChange)="onCityChange()"></p-dropdown>
              </li>
              <li style="color:#fff;vertical-align:middle">
                OR
              </li>
              <li class="custom-autocomplete">
                <p-autoComplete placeholder="Client Name" [(ngModel)]="ClientName" [suggestions]="ClientNameResults" (completeMethod)="searchClient($event)" (onSelect)="ClientNameSelected()"></p-autoComplete>
              </li>
              <li style="color:#fff;vertical-align:middle">
                OR
              </li>
              <li class="custom-autocomplete">
                <p-autoComplete placeholder="Policy Number" [(ngModel)]="PolicyNumber" [suggestions]="PolicyNumberResults" (completeMethod)="searchPolicyNumber($event)" (onSelect)="PolicyNumberSelected()"></p-autoComplete>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="epr-heading">
        <div class="row">
          <div class="col-lg-10"><h3>Customer Information  | {{selectedyear}} </h3></div>
          <div class="col-lg-2"> <h3 style="cursor:pointer;color:#70839A;font-size:14px; text-align:right;" (click)="showLoader=true; ClientName='';PolicyNumber=''; GetAgencyName()">Reset Filter</h3></div>
        </div>
      </div>
      <div id="pager">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
      <div class="epr-table table-responsive">
        <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
          <thead>
            <tr>
              <th scope="col">Agency</th>
              <th scope="col">Client Id</th>
              <th scope="col">Client Name</th>
              <th scope="col">Bussiness Name</th>
              <th scope="col">Pay fee</th>
              <th scope="col">Pay Amount</th>
              <th scope="col">Policy Number</th>
              <th scope="col">Policy Effective date</th>
              <th scope="col">Policy Expiration date</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Zip</th>
              <th scope="col">Home Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Cell Phone</th>
              <th scope="col">Work Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagedItems">
              <td scope="row">{{item.agencyname}}</td>
              <td>{{item.clientId}}</td>
              <td>{{item.clientName}}</td>
              <td>{{item.businessname}}</td>
              <td>${{item.payFee| number:'0.0-0'}}</td>
              <td>${{item.payAmount| number:'0.0-0'}}</td>
              <td>{{item.policyNumber}}</td>
              <td>{{item.policyEffectiveDate}}</td>
              <td>{{item.datePolicyExpirationDate}}</td>
              <td>{{item.address}}</td>
              <td>{{item.city}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.homePhone}}</td>
              <td>{{item.email}}</td>
              <td>{{item.cellPhone}}</td>
              <td>{{item.workPhone}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="pager">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>

      <div *ngIf="pagedItems && pagedItems.length===0" style="color:white">
        No record found, Please change your search.
      </div>








    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
