@import 'assets/style/_mixins.scss';


.Tier-table {
  background: #2A2131;
  text-align: center;

  .table {
    margin-bottom: 0;

    th {
      font-weight: normal;
      font-size: 14px;
      color: #fff;
      border-bottom: none;
      border-top: none;
    }

    td {
      font-size: 14px;
      color: #70839A;
      border-bottom: none;
      border-top: none;
    }
  }
}




.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}
