<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks" >
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p>{{policyCountactualTileData| number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Actual Policies</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class=" block purple-block">
              <div class="count">
                <p>{{policyPacingTile| number: '2.'}} </p>

              </div>
              <div class="title">
                <p>Pacing Policies</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="false">
            <div class="block yellow-block">
              <div class="count">
                <p>Coming Soon</p>
              </div>
              <div class="title">
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="false">
            <div class="block green-block">
              <div class="count">
                <p>Coming soon </p>
              </div>
              <div class="title">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="onTabChanged($event.index)">
          

          <mat-tab label="Tiers Premium">
            <div class="heading">
              <p>Tier Goals Premium | {{selectedmonth}} {{selectedyear}}</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerTier.pages && pagerTier.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerTier.currentPage === 1}">
                        <a (click)="setTierPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTier.currentPage === 1}">
                        <a (click)="setTierPaging(pagerTier.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerTier.pages" [ngClass]="{active:pagerTier.currentPage === page}">
                        <a (click)="setTierPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTier.currentPage === pagerTier.totalPages}">
                        <a (click)="setTierPaging(pagerTier.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTier.currentPage === pagerTier.totalPages}">
                        <a (click)="setTierPaging(pagerTier.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedTier" class="mt-4 col-md-6" style="display: inline-block">
                      <p-chart [width]="400" [height]="400"  type="bar" [data]="item._data" [options]="PolicyCountchartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.agenyName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Total Tiers Premium">
            <div class="heading">
              <p>Tier Goals Premium | {{selectedmonth}} {{selectedyear}}</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-8">
                  <p-chart height="300" type="horizontalBar" [data]="tierChart" [options]="chartOptions"></p-chart>
                </div>

                <div class="col-md-4">
                  <div class="sidebar-content">
                    <div class="Tier-table table-responsive">
                      <table border="0" class="table" *ngIf="tierPercentage && tierPercentage.length>0">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Commission</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of tierPercentage">
                            <td scope="row">{{item.tierName}}</td>
                            <td scope="row">{{item.commission}} %</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
