@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

/*for the color indicators*/


.color {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dddddd;
  border: 1px solid #ffffff;
  vertical-align: middle;
  margin-right: 8px;

  &.color-goal {
    background-color: #FF8373;
  }

  &.color-actual {
    background-color: #A3A0FB;
  }

  &.color-pacing {
    background-color: #FFDA83;
  }
}


.color-title {
  font-size: 12px;
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.color-indicators {
  margin-bottom: 0;
  padding: 10px 0;
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

/*for the color indicators ends*/

/*header css*/

.heading.flex-header.ng-star-inserted {
  display: flex;
  justify-content: space-between;
}


.info-tiles {
  margin: 0;
  padding: 15px 0 10px 0;

  li {
    display: inline-block;
    text-align: center;

    &:not(:last-child) {
      margin-right: 15px;
      border-right: 1px solid #ffffff;
      padding-right: 15px;
    }

    h4 {
      color: #ffffff;
      font-size: 16px;
    }

    p {
      color: #ffffff;
      font-size: 14px !important;
      margin: 0 !important;
    }
  }
}

/*ends*/

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});

    .panel-content {
      margin: $navbar-height / 2;
      margin-top: $navbar-height + 20px;
    }
  }
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}
