<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Spectrum Calls Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">

          <div class="col-md-3 col-sm-12" title="All inbound calls">
            <div class="info-box bg-b-darkGreen">
              <span class="info-box-icon push-bottom">
                <img style="width: 25px;height: 25px;vertical-align: baseline;" src="./assets/images/d-incoming-call.png" />
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Total Inbound Calls</span>
                <span class="info-box-number" *ngIf="state=='TX'">{{totalInboundCall}}</span>
                <span class="info-box-number" *ngIf="state=='CA'">{{catotalInboundCall}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" title="Number of inbound calls answered by agents">
            <div class="info-box bg-b-green">
              <span class="info-box-icon push-bottom">
                <img style="width: 25px;height: 25px;vertical-align: baseline;" src="./assets/images/d-incoming-call.png" />
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Inbound calls handled</span>
                <span class="info-box-number" *ngIf="state=='TX'">{{totalInbound}}</span>
                <span class="info-box-number" *ngIf="state=='CA'">{{catotalInbound}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="info-box bg-b-green">
              <span class="info-box-icon push-bottom">
                <span>%</span>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">% Inbound Calls Handled </span>
                <span class="info-box-number" *ngIf="state=='TX'">
                  <span *ngIf="totalInboundCall>0">{{(totalInbound/totalInboundCall)*100  | number:'1.0-2'}} </span>
                  <span *ngIf="totalInboundCall==0">0</span>
                </span>
                <span class="info-box-number" *ngIf="state=='CA'">
                  <span *ngIf="catotalInboundCall>0">{{(catotalInbound/catotalInboundCall)*100  | number:'1.0-2'}} </span>
                  <span *ngIf="catotalInboundCall==0">0</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" title="Number of outbound call attempts by agents">
            <div class="info-box bg-b-darkGreen-outbound">
              <span class="info-box-icon push-bottom">
                <img style="width: 25px;height: 25px;vertical-align: baseline;" src="./assets/images/d-outgoing-call.png" />
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Total Outbound Calls</span>
                <span class="info-box-number" *ngIf="state=='TX'">{{totalOutboundCall}}</span>
                <span class="info-box-number" *ngIf="state=='CA'">{{catotalOutboundCall}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
          <div class="col-md-3 col-sm-12" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">
            <div class="info-box bg-b-darkGreen-outbound">
              <span class="info-box-icon push-bottom">
                <img style="width: 25px;height: 25px;vertical-align: baseline;" src="./assets/images/d-outgoing-call.png" />
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Total Outbound Calls Answered</span>
                <span class="info-box-number" *ngIf="state=='TX'">{{totalOutbound}}</span>
                <span class="info-box-number" *ngIf="state=='CA'">{{catotalOutbound}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="info-box bg-b-darkGreen-outbound">
              <span class="info-box-icon push-bottom">
                <span>%</span>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">% Outbound Calls Answered </span>
                <span class="info-box-number" *ngIf="state=='TX'">
                  <span *ngIf="totalOutboundCall>0">{{(totalOutbound/totalOutboundCall)*100  | number:'1.0-2'}} </span>
                  <span *ngIf="totalOutboundCall==0">0 </span>
                </span>
                <span class="info-box-number" *ngIf="state=='CA'">
                  <span *ngIf="catotalOutboundCall>0">{{(catotalOutbound/catotalOutboundCall)*100  | number:'1.0-2'}} </span>
                  <span *ngIf="catotalOutboundCall==0">0 </span>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-12">

            <p-dropdown [options]="stateSelectItem" [(ngModel)]="state"></p-dropdown>&nbsp;

            <p-multiSelect *ngIf="(userRole==undefined  || userRole=='headofdepratment' || userRole=='chieffinancialofficer') && state=='TX' " maxSelectedLabels="0"
                           [(ngModel)]="selectedSaleDirector" (onChange)="onSaleDirectorchange($event)" defaultLabel="Sales Director"
                           [options]="saleDirectorSelectItem"></p-multiSelect>&nbsp;

            <p-multiSelect *ngIf="(userRole==undefined || userRole=='saledirector' || userRole=='headofdepratment' || userRole=='chieffinancialofficer') && state=='TX'" maxSelectedLabels="0" [(ngModel)]="selectedRegionalManager" (onChange)="onRegionalManagerSelect($event)" defaultLabel="RSM's"
                           [options]="regionalManagerSelectItem"></p-multiSelect>&nbsp;

            <p-multiSelect *ngIf="(userRole==undefined  || userRole=='saledirector' || userRole=='headofdepratment' || userRole=='chieffinancialofficer' || userRole=='regionalmanager') && state=='TX'" maxSelectedLabels="0" [(ngModel)]="selectedZonalManager" defaultLabel="DSM's"
                           [options]="zonalManagerSelectItem" (onChange)="onZonalManagerSelect($event)"></p-multiSelect>&nbsp;

            <p-multiSelect *ngIf="(userRole==undefined
                           || userRole=='saledirector' || userRole=='headofdepratment'
                           || userRole=='regionalmanager'
                           || userRole=='zonalmanager'
                           || userRole=='storemanager') && state=='TX'" maxSelectedLabels="0" [(ngModel)]="AgencyList" defaultLabel="Locations"
                           [options]="AgencyItem"></p-multiSelect>&nbsp;

            <p-multiSelect *ngIf=" state=='CA'" maxSelectedLabels="0" [(ngModel)]="caAgencyList" defaultLabel="Locations"
                           [options]="caAgencyItem"></p-multiSelect>&nbsp;

            <p-calendar *ngIf="tabindex==3 || tabindex==4" selectionMode="range" [(ngModel)]="date" (onSelect)="onClanderDateSelect(value)"></p-calendar>&nbsp;

            <button class="btn btn-primary" type="button" (click)="SearchData()">Search</button>&nbsp;

            <button class="btn btn-primary" type="button" (click)="Reset()">Reset</button>&nbsp;

            <button *ngIf="tabindex==0 || tabindex==1 || tabindex==2 || tabindex==3 || tabindex==4" class="btn btn-primary" type="button" (click)="exportExcel()">Export</button>
          </div>
        </div>
      </div>
      <div class="new3">

      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-12 tabs-div">
            <mat-tab-group (selectedTabChange)="setActualHeader($event.index)">
              <mat-tab *ngIf="state=='TX'">
                <ng-template mat-tab-label title="Live Inbound and Outbound Call's data are showing Agency(Location) wise.">
                  <div id="blink">Live</div> Location
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Agency Name</th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortData('Incoming')" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total OutBound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortData('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">OutBound Answer calls</th>
                              <th scope="col" style="cursor:pointer"> OutBound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls transfered internally">Transfer Calls</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of filterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>
                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <span *ngIf="item.callTransfer==0"></span>
                                <span *ngIf="item.callTransfer>0"><a style="cursor:pointer;color: blue;" title="Click here and get Transfer call details." (click)="OpenCallTransferPopup(item.location,null,item.agencyid,'TX')">{{item.callTransfer}}</a></span>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Total</th>
                              <th>
                                {{totalInboundCall}}
                              </th>
                              <th>
                                {{totalInbound}}
                              </th>
                              <th>
                                <span *ngIf="totalInboundCall>0">{{(totalInbound/totalInboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="totalInboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{totalOutboundCall}}
                              </th>
                              <th>
                                {{totalOutbound}}
                              </th>
                              <th>
                                <span *ngIf="totalOutboundCall>0">{{(totalOutbound/totalOutboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="totalOutboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{totalmissedCalls}}
                              </th>
                              <th>
                                {{totalTransferCalls}}
                              </th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab title="Live Inbound and Outbound Call's data are showing Extension (Agent) wise." *ngIf="state=='TX'">
                <ng-template mat-tab-label>
                  <div id="blink">Live</div> Extension
                </ng-template>

                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:240px;cursor:pointer;" (click)="sortDataAgent('Location')">Agency Name</th>
                              <th scope="col" style="width:180px;">
                                Extension <br /><input type="text" style="width:150px;"
                                                       (change)="Search($event)" (keyup)="Search($event)"
                                                       (paste)="Search($event)" (input)="Search($event)" placeholder="Search by extension" />
                              </th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataAgent('Incoming')" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Call Duration</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total OutBound calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataAgent('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">OutBound Answer calls</th>
                              <th scope="col" style="cursor:pointer">Call Duration</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls transfered internally">Total Call Transfer</th>
                              <th scope="col" style="cursor:pointer">Call Transfer Duration</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of agentWisefilterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenAgentCallPopup(item.location,item.extension)">{{item.extension}}</a></span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td><span>{{item.inBoundHours}}</span></td>
                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td><span>{{item.outBoundHours}}</span></td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <span *ngIf="item.callTransfer==0"></span>
                                <span *ngIf="item.callTransfer>0"><a style="cursor:pointer;color: blue;" title="Click here and get Transfer call details." (click)="OpenCallTransferPopup(item.location,item.extension,item.agencyid,'TX')">{{item.callTransfer}}</a></span>
                              </td>
                              <td><span>{{secondsToHms(item.transferCallDuration)}}</span></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th></th>
                              <th>Total</th>
                              <th>
                                {{agentWisetotalInboundCall}}
                              </th>
                              <th>
                                {{agentWisetotalInbound}}
                              </th>
                              <th>
                                {{secondsToHms(agentwiseInBoundCallDuration)}}
                              </th>
                              <th>
                                {{agentWisetotalOutboundCall}}
                              </th>
                              <th>
                                {{agentWisetotalOutbound}}
                              </th>
                              <th>
                                {{secondsToHms(agentwiseOutBoundCallDuration)}}
                              </th>
                              <th>
                                {{agentWisemissedCall}}
                              </th>
                              <th>
                                {{agentwiseTotalTransferCall}}
                              </th>
                              <th>
                                {{secondsToHms(agentwiseTotalTransferCallDuration)}}
                              </th>

                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab *ngIf="state=='TX'">
                <ng-template mat-tab-label>
                  <div id="blink">Live</div> Agent Log
                </ng-template>

                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      Search By Extension:- <input type="text" style="width:180px;" (change)="SearchAgentLog($event)" (keyup)="SearchAgentLog($event)" (paste)="SearchAgentLog($event)" (input)="SearchAgentLog($event)" placeholder="Search by extension" />
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:140px;cursor:pointer;">Agency Name</th>
                              <th scope="col" style="width:100px;">Extension</th>
                              <th scope="col" style="cursor:pointer">Logins</th>
                              <th scope="col" style="cursor:pointer">Logout</th>
                              <th scope="col" style="cursor:pointer">Meeting</th>
                              <th scope="col" style="cursor:pointer">Breaks</th>
                              <th scope="col" style="cursor:pointer">Lunch</th>
                              <th scope="col" style="cursor:pointer">Other</th>
                              <th scope="col" style="cursor:pointer">Total</th>

                              <!--<th scope="col" style="cursor:pointer">Meeting</th>
                  <th scope="col" style="cursor:pointer">Manual Available</th>
                  <th scope="col" style="cursor:pointer">Logins</th>
                  <th scope="col" style="cursor:pointer">Manual</th>
                  <th scope="col" style="cursor:pointer">Web</th>
                  <th scope="col" style="cursor:pointer">Breaks</th>
                  <th scope="col" style="cursor:pointer">Lunch</th>
                  <th scope="col" style="cursor:pointer">Logout</th>
                  <th scope="col" style="cursor:pointer">Auto</th>
                  <th scope="col" style="cursor:pointer">Other</th>
                  <th scope="col" style="cursor:pointer">Total</th>-->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of filterAgentLogAgencyWiseData">
                              <td scope="row"><span>{{item.agencyName}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenAgentLogCallPopup(item.agencyName,item.extension)">{{item.extension}}</a></span></td>
                              <td><span *ngIf="item.logins<=0"></span><span *ngIf="item.logins>0">{{secondsToHms(item.logins)}}</span></td>
                              <td><span *ngIf="item.logoutsec<=0"></span><span *ngIf="item.logoutsec>0">{{secondsToHms(item.logoutsec)}}</span></td>
                              <td><span *ngIf="item.meeting<=0"></span><span *ngIf="item.meeting>0">{{secondsToHms(item.meeting)}}</span></td>
                              <td><span *ngIf="item.breaks<=0"></span><span *ngIf="item.breaks>0">{{secondsToHms(item.breaks)}}</span></td>
                              <td><span *ngIf="item.lunch<=0"></span><span *ngIf="item.lunch>0">{{secondsToHms(item.lunch)}}</span></td>
                              <td><span *ngIf="item.other<=0"></span><span *ngIf="item.other>0">{{secondsToHms(item.other)}}</span></td>
                              <td><span *ngIf="item.total<=0"></span><span *ngIf="item.total>0">{{secondsToHms(item.logins+item.logoutsec+item.meeting+item.breaks+item.lunch+item.other)}}</span></td>

                              <!--<td><span *ngIf="item.meeting<=0"></span><span *ngIf="item.meeting>0">{{secondsToHms(item.meeting)}}</span></td>
                  <td><span *ngIf="item.manual_avail<=0"></span><span *ngIf="item.manual_avail>0">{{secondsToHms(item.manual_avail)}}</span></td>
                  <td><span *ngIf="item.logins<=0"></span><span *ngIf="item.logins>0">{{secondsToHms(item.logins)}}</span></td>
                  <td><span *ngIf="item.manualsec<=0"></span><span *ngIf="item.manualsec>0">{{secondsToHms(item.manualsec)}}</span></td>
                  <td><span *ngIf="item.web<=0"></span><span *ngIf="item.web>0">{{secondsToHms(item.web)}}</span></td>
                  <td><span *ngIf="item.breaks<=0"></span><span *ngIf="item.breaks>0">{{secondsToHms(item.breaks)}}</span></td>
                  <td><span *ngIf="item.lunch<=0"></span><span *ngIf="item.lunch>0">{{secondsToHms(item.lunch)}}</span></td>
                  <td><span *ngIf="item.logoutsec<=0"></span><span *ngIf="item.logoutsec>0">{{secondsToHms(item.logoutsec)}}</span></td>
                  <td><span *ngIf="item.autosec<=0"></span><span *ngIf="item.autosec>0">{{secondsToHms(item.autosec)}}</span></td>
                  <td><span *ngIf="item.other<=0"></span><span *ngIf="item.other>0">{{secondsToHms(item.other)}}</span></td>
                  <td><span *ngIf="item.total<=0"></span><span *ngIf="item.total>0">{{secondsToHms(item.total)}}</span></td>-->
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <!--<th></th>
                  <th></th>-->
                              <!--<th>
                    {{secondsToHms(TotalMeetingHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalManualAvailHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalLoginHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalManualHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalWebHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalBreaksHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalLunchHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalLogoutHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalAutoHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalOtherHours)}}
                  </th>
                  <th>
                    {{secondsToHms(TotalTotalHours)}}
                  </th>-->
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab *ngIf="state=='TX'">
                <ng-template mat-tab-label>
                  Location/Extension Weekly
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12 Weekly-hearder">
                      <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
                          </span>
                        </div>
                        <div>{{weeklytotalInboundCall}}</div>
                      </div>
                      <div class="col-sm-1 weekly-OrangeCount" title="Total Answer Incoming calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
                          </span>
                        </div>
                        <div>{{weeklytotalInbound}}</div>
                      </div>
                      <div class="col-sm-1 weekly-GreenCount" title="Total Outgoing calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
                          </span>
                        </div>
                        <div>{{weeklytotalOutboundCall}}</div>
                      </div>
                      <div class="col-sm-1 weekly-yellowCount" title="Total Answer Outgoing calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
                          </span>
                        </div>
                        <div>{{weeklytotalOutbound}}</div>
                      </div>
                      <!--<div class="col-sm-2 col-12" style="float:left;">

                    <p-dropdown [(ngModel)]="weekId" defaultLabel="Weeks"
          [options]="listWeek" (onChange)="onWeekSelect(event)"></p-dropdown>
                  </div>-->

                      <div class="col-sm-3 col-12" style="float:left;">
                        <div>
                          <div style="float:left;padding: 5px;">Range: </div>
                          <div style="float:left;" class="weekly-date">{{startDate|date:'MM/dd/yyyy' }}</div> <div style="float:left;padding: 5px;">to</div>
                          <div style="float:left;" class="weekly-date">{{endDate|date:'MM/dd/yyyy' }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Agency Name</th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataWeekly('Incoming')" title="Number of inbound calls answered by agents">Inbound calls handled</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total Outbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataWeekly('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">Total Outbound Calls Answered</th>
                              <th scope="col" style="cursor:pointer">OutBound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="width:100px;">View</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of agentWiseWeeklyfilterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>

                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <div class="weeklyButton" title="Click on the button and see the details" (click)="OpenWarningPopup(item.agencyid,item.location,'TX')">Extension Per Location</div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Total</th>
                              <th>
                                {{weeklytotalInboundCall}}
                              </th>
                              <th>
                                {{weeklytotalInbound}}
                              </th>
                              <th>
                                <span *ngIf="weeklytotalInboundCall>0">{{(weeklytotalInbound/weeklytotalInboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="weeklytotalInboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{weeklytotalOutboundCall}}
                              </th>
                              <th>
                                {{weeklytotalOutbound}}
                              </th>
                              <th>
                                <span *ngIf="weeklytotalOutboundCall>0">{{(weeklytotalOutbound/weeklytotalOutboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="weeklytotalOutboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{weeklytotalMissedCall}}
                              </th>
                              <th></th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>

              </mat-tab>
              <mat-tab *ngIf="state=='TX'">
                <ng-template mat-tab-label>
                  Extension Wise
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:300px;">
                                Agency
                              </th>
                              <th scope="col" style="width:300px;">
                                Extension
                              </th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>

                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total Outbound calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">Outbound Answered calls</th>
                              <th scope="col" style="cursor:pointer">OutBound(%)</th>

                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of agentExtensionWiseData">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenExtensionCallPopup(item.extension,item.date,item.location,'TX')">{{item.extension}}</a></span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>

                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td><span>{{item.date|date:'MM/dd/yyyy'}}</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-tab>

              <mat-tab *ngIf="state=='CA'">
                <ng-template mat-tab-label title="Live Inbound and Outbound Call's data are showing Agency(Location) wise.">
                  <div id="blink">Live</div> Location
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Agency Name</th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortData('Incoming')" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total OutBound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortData('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">OutBound Answer calls</th>
                              <th scope="col" style="cursor:pointer"> OutBound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls transfered internally">Transfer Calls</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of cafilterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>
                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <span *ngIf="item.callTransfer==0"></span>
                                <span *ngIf="item.callTransfer>0"><a style="cursor:pointer;color: blue;" title="Click here and get Transfer call details." (click)="OpenCallTransferPopup(item.location,null,item.agencyid,'CA')">{{item.callTransfer}}</a></span>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Total</th>
                              <th>
                                {{catotalInboundCall}}
                              </th>
                              <th>
                                {{catotalInbound}}
                              </th>
                              <th>
                                <span *ngIf="catotalInboundCall>0">{{(catotalInbound/catotalInboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="catotalInboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{catotalOutboundCall}}
                              </th>
                              <th>
                                {{catotalOutbound}}
                              </th>
                              <th>
                                <span *ngIf="catotalOutboundCall>0">{{(catotalOutbound/catotalOutboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="catotalOutboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{catotalmissedCalls}}
                              </th>
                              <th>
                                {{catotalTransferCalls}}
                              </th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab title="Live Inbound and Outbound Call's data are showing Extension (Agent) wise." *ngIf="state=='CA'">
                <ng-template mat-tab-label>
                  <div id="blink">Live</div> Extension
                </ng-template>

                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:240px;cursor:pointer;" (click)="sortDatacaAgent('Location')">Agency Name</th>
                              <th scope="col" style="width:180px;">
                                Extension <br /><input type="text" style="width:150px;"
                                                       (change)="SearchCAExtension($event)" (keyup)="SearchCAExtension($event)"
                                                       (paste)="SearchCAExtension($event)" (input)="SearchCAExtension($event)" placeholder="Search by extension" />
                              </th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDatacaAgent('Incoming')" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Call Duration</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total OutBound calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDatacaAgent('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">OutBound Answer calls</th>
                              <th scope="col" style="cursor:pointer">Call Duration</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls transfered internally">Total Call Transfer</th>
                              <th scope="col" style="cursor:pointer">Call Transfer Duration</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of caagentWisefilterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenAgentCallPopup(item.location,item.extension)">{{item.extension}}</a></span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td><span>{{item.inBoundHours}}</span></td>
                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td><span>{{item.outBoundHours}}</span></td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <span *ngIf="item.callTransfer==0"></span>
                                <span *ngIf="item.callTransfer>0"><a style="cursor:pointer;color: blue;" title="Click here and get Transfer call details." (click)="OpenCallTransferPopup(item.location,item.extension,item.agencyid,'CA')">{{item.callTransfer}}</a></span>
                              </td>
                              <td><span>{{secondsToHms(item.transferCallDuration)}}</span></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th></th>
                              <th>Total</th>
                              <th>
                                {{caagentWisetotalInboundCall}}
                              </th>
                              <th>
                                {{caagentWisetotalInbound}}
                              </th>
                              <th>
                                {{secondsToHms(caagentwiseInBoundCallDuration)}}
                              </th>
                              <th>
                                {{caagentWisetotalOutboundCall}}
                              </th>
                              <th>
                                {{caagentWisetotalOutbound}}
                              </th>
                              <th>
                                {{secondsToHms(caagentwiseOutBoundCallDuration)}}
                              </th>
                              <th>
                                {{caagentWisemissedCall}}
                              </th>
                              <th>
                                {{caagentwiseTotalTransferCall}}
                              </th>
                              <th>
                                {{secondsToHms(caagentwiseTotalTransferCallDuration)}}
                              </th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab *ngIf="state=='CA'">
                <ng-template mat-tab-label>
                  <div id="blink">Live</div> Agent Log
                </ng-template>

                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      Search By Extension:- <input type="text" style="width:180px;" (change)="SearchAgentLogCA($event)" (keyup)="SearchAgentLogCA($event)" (paste)="SearchAgentLogCA($event)" (input)="SearchAgentLog($event)" placeholder="Search by extension" />
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:140px;cursor:pointer;">Agency Name</th>
                              <th scope="col" style="width:100px;">Extension</th>
                              <th scope="col" style="cursor:pointer">Logins</th>
                              <th scope="col" style="cursor:pointer">Logout</th>
                              <th scope="col" style="cursor:pointer">Meeting</th>
                              <th scope="col" style="cursor:pointer">Breaks</th>
                              <th scope="col" style="cursor:pointer">Lunch</th>
                              <th scope="col" style="cursor:pointer">Other</th>
                              <th scope="col" style="cursor:pointer">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of filterAgentLogAgencyWiseDataCA">
                              <td scope="row"><span>{{item.agencyName}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenAgentLogCallPopup(item.agencyName,item.extension)">{{item.extension}}</a></span></td>
                              <td><span *ngIf="item.logins<=0"></span><span *ngIf="item.logins>0">{{secondsToHms(item.logins)}}</span></td>
                              <td><span *ngIf="item.logoutsec<=0"></span><span *ngIf="item.logoutsec>0">{{secondsToHms(item.logoutsec)}}</span></td>
                              <td><span *ngIf="item.meeting<=0"></span><span *ngIf="item.meeting>0">{{secondsToHms(item.meeting)}}</span></td>
                              <td><span *ngIf="item.breaks<=0"></span><span *ngIf="item.breaks>0">{{secondsToHms(item.breaks)}}</span></td>
                              <td><span *ngIf="item.lunch<=0"></span><span *ngIf="item.lunch>0">{{secondsToHms(item.lunch)}}</span></td>
                              <td><span *ngIf="item.other<=0"></span><span *ngIf="item.other>0">{{secondsToHms(item.other)}}</span></td>
                              <td><span *ngIf="item.total<=0"></span><span *ngIf="item.total>0">{{secondsToHms(item.logins+item.logoutsec+item.meeting+item.breaks+item.lunch+item.other)}}</span></td>
                            </tr>
                          </tbody>

                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab *ngIf="state=='CA'">
                <ng-template mat-tab-label>
                  Location/Extension Weekly
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12 Weekly-hearder">
                      <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
                          </span>
                        </div>
                        <div>{{caweeklytotalInboundCall}}</div>
                      </div>
                      <div class="col-sm-1 weekly-OrangeCount" title="Total Answer Incoming calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
                          </span>
                        </div>
                        <div>{{caweeklytotalInbound}}</div>
                      </div>
                      <div class="col-sm-1 weekly-GreenCount" title="Total Outgoing calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
                          </span>
                        </div>
                        <div>{{caweeklytotalOutboundCall}}</div>
                      </div>
                      <div class="col-sm-1 weekly-yellowCount" title="Total Answer Outgoing calls">
                        <div style="float: left;">
                          <span class="info-box-icon-small push-bottom">
                            <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
                          </span>
                        </div>
                        <div>{{caweeklytotalOutbound}}</div>
                      </div>
                      <div class="col-sm-3 col-12" style="float:left;">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Agency Name</th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataWeekly('Incoming')" title="Number of inbound calls answered by agents">Inbound calls handled</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total Outbound Calls</th>
                              <th scope="col" style="cursor:pointer" (click)="sortDataWeekly('Outgoing')" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">Total Outbound Calls Answered</th>
                              <th scope="col" style="cursor:pointer">OutBound(%)</th>
                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="width:100px;">View</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of caagentWiseWeeklyfilterdata">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>

                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100 | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td>
                                <div class="weeklyButton" title="Click on the button and see the details" (click)="OpenWarningPopup(item.agencyid,item.location,'CA')">Extension Per Location</div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Total</th>
                              <th>
                                {{caweeklytotalInboundCall}}
                              </th>
                              <th>
                                {{caweeklytotalInbound}}
                              </th>
                              <th>
                                <span *ngIf="weeklytotalInboundCall>0">{{(caweeklytotalInbound/caweeklytotalInboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="weeklytotalInboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{caweeklytotalOutboundCall}}
                              </th>
                              <th>
                                {{caweeklytotalOutbound}}
                              </th>
                              <th>
                                <span *ngIf="weeklytotalOutboundCall>0">{{(caweeklytotalOutbound/caweeklytotalOutboundCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="weeklytotalOutboundCall==0">0 %</span>
                              </th>
                              <th>
                                {{caweeklytotalMissedCall}}
                              </th>
                              <th></th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>

              </mat-tab>

              <mat-tab *ngIf="state=='CA'">
                <ng-template mat-tab-label>
                  Extension Wise
                </ng-template>
                <div class="agency-table-container mt-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" style="width:300px;">
                                Agency
                              </th>
                              <th scope="col" style="width:300px;">
                                Extension
                              </th>
                              <th scope="col" style="cursor:pointer" title="All inbound calls">Total Inbound Calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of inbound calls answered by agents">Inbound Answer Calls</th>
                              <th scope="col" style="cursor:pointer">Inbound(%)</th>

                              <th scope="col" style="cursor:pointer" title="Number of outbound call attempts by agents">Total Outbound calls</th>
                              <th scope="col" style="cursor:pointer" title="Number of outbound calls by agent answered by remote party. Includes calls answered by voicemail.">Outbound Answered calls</th>
                              <th scope="col" style="cursor:pointer">OutBound(%)</th>

                              <th scope="col" style="cursor:pointer" title="Number of calls offered to an available agent that was not answered">Missed Calls</th>
                              <th scope="col" style="cursor:pointer">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of caagentExtensionWiseData">
                              <td scope="row"><span>{{item.location}}</span></td>
                              <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenExtensionCallPopup(item.extension,item.date,item.location,'CA')">{{item.extension}}</a></span></td>
                              <td><span>{{item.totalInBoundsCalls}}</span></td>
                              <td><span>{{item.inBoundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                              </td>

                              <td><span>{{item.totalOutBoundsCall}}</span></td>
                              <td><span>{{item.outboundCalls}}</span></td>
                              <td>
                                <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100  | number:'1.0-2'}} %</span>
                                <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                              </td>
                              <td><span>{{item.missedCalls}}</span></td>
                              <td><span>{{item.date|date:'MM/dd/yyyy'}}</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Location: {{agencyName}}" [(visible)]="warningPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
        <div class="col-sm-12 Weekly-hearder" style="border-radius: 0px!important;padding-top: 8px!important;">
          <div class="col-sm-1 weekly-OrangeCount" title="Total Answer Incoming calls">
            <div style="float: left;">
              <span class="info-box-icon-small push-bottom">
                <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
              </span>
            </div>
            <div>{{weeklytotallocationWiseInbound}}</div>
          </div>
          <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
            <div style="float: left;">
              <span class="info-box-icon-small push-bottom">
                <img style="width: 20px;height: 20px;" src="./assets/images/d-incoming-call.png" />
              </span>
            </div>
            <div>{{weeklytotallocationWiseInboundCall}}</div>
          </div>

          <div class="col-sm-1 weekly-yellowCount" title="Total Answer Outgoing calls">
            <div style="float: left;">
              <span class="info-box-icon-small push-bottom">
                <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
              </span>
            </div>
            <div>{{weeklytotallocationWiseOutbound}}</div>
          </div>
          <div class="col-sm-1 weekly-GreenCount" title="Total Outgoing calls">
            <div style="float: left;">
              <span class="info-box-icon-small push-bottom">
                <img style="width: 20px;height: 20px;" src="./assets/images/d-outgoing-call.png" />
              </span>
            </div>
            <div>{{weeklytotallocationWiseOutboundCall}}</div>
          </div>
          <div class="col-sm-3 col-12" style="float:left;">
            <div>
              <div style="float:left;padding: 5px;">Range: </div>
              <div style="float:left;min-width: 90px!important;" class="weekly-date">{{startDate|date:'MM/dd/yyyy' }}</div> <div style="float:left;padding: 5px;">to</div>
              <div style="float:left;min-width: 90px!important;" class="weekly-date">{{endDate|date:'MM/dd/yyyy' }}</div>
            </div>
          </div>
          <div class="col-sm-1 col-12" style="float:left;">
            <p-dropdown [(ngModel)]="dateId" defaultLabel="All Date"
                        [options]="listDate" (onChange)="onDateSelect(event)"></p-dropdown>
          </div>
          <div class="col-sm-2 col-12" style="float:right;padding: 5px;padding-left: 15px;">
            <div>
              <input type="text" style="width:150px;"
                     (change)="SearchAgencyAgent($event)" (keyup)="SearchAgencyAgent($event)"
                     (paste)="SearchAgencyAgent($event)" (input)="SearchAgencyAgent($event)" placeholder="Search by Extension" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>

                  <th scope="col" style="width:300px;">
                    Extension
                  </th>
                  <th scope="col" style="cursor:pointer">Total Inbound Calls</th>
                  <th scope="col" style="cursor:pointer">Inbound Answer Calls</th>
                  <th scope="col" style="cursor:pointer">Inbound(%)</th>

                  <th scope="col" style="cursor:pointer">Total OutBound calls</th>
                  <th scope="col" style="cursor:pointer">OutBound Answer calls</th>
                  <th scope="col" style="cursor:pointer">OutBound(%)</th>

                  <th scope="col" style="cursor:pointer">Missed calls</th>
                  <th scope="col" style="cursor:pointer">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of singleAgencyfilterData">
                  <td scope="row"><span>{{item.extension}}</span></td>
                  <td><span>{{item.totalInBoundsCalls}}</span></td>
                  <td><span>{{item.inBoundCalls}}</span></td>
                  <td>
                    <span *ngIf="item.totalInBoundsCalls>0">{{(item.inBoundCalls/item.totalInBoundsCalls)*100  | number:'1.0-2'}} %</span>
                    <span *ngIf="item.totalInBoundsCalls==0">0 %</span>
                  </td>

                  <td><span>{{item.totalOutBoundsCall}}</span></td>
                  <td><span>{{item.outboundCalls}}</span></td>
                  <td>
                    <span *ngIf="item.totalOutBoundsCall>0">{{(item.outboundCalls/item.totalOutBoundsCall)*100  | number:'1.0-2'}} %</span>
                    <span *ngIf="item.totalOutBoundsCall==0">0 %</span>
                  </td>
                  <td><span>{{item.missedCalls}}</span></td>
                  <td><span>{{item.date|date:'MM/dd/yyyy'}}</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th>
                    {{weeklytotallocationWiseInboundCall}}
                  </th>
                  <th>
                    {{weeklytotallocationWiseInbound}}
                  </th>
                  <th>
                    <span *ngIf="weeklytotallocationWiseInboundCall>0">{{(weeklytotallocationWiseInbound/weeklytotallocationWiseInboundCall)*100  | number:'1.0-2'}} %</span>
                    <span *ngIf="weeklytotallocationWiseInboundCall==0">0 %</span>
                  </th>
                  <th>
                    {{weeklytotallocationWiseOutboundCall}}
                  </th>
                  <th>
                    {{weeklytotallocationWiseOutbound}}
                  </th>
                  <th>
                    <span *ngIf="weeklytotallocationWiseOutboundCall>0">{{(weeklytotallocationWiseOutbound/weeklytotallocationWiseOutboundCall)*100  | number:'1.0-2'}} %</span>
                    <span *ngIf="weeklytotallocationWiseOutboundCall==0">0 %</span>
                  </th>
                  <th>
                    {{weeklytotallocationWiseMissedCall}}
                  </th>
                  <th></th>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Location/Extension: {{agencyName}}/{{extension}}" [(visible)]="AgentCallPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
        <!--<div class="col-sm-12 Weekly-hearder" style="border-radius: 0px!important;padding-top: 8px!important;">
          <div class="col-sm-1 col-12" style="float:left;">
            <p-dropdown [(ngModel)]="dateId" defaultLabel="All Date"
                        [options]="listDate" (onChange)="onDateSelect(event)"></p-dropdown>
          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="cursor:pointer">Call Type</th>
                  <th scope="col" style="cursor:pointer">Start Time</th>
                  <th scope="col" style="cursor:pointer">Answer Time</th>
                  <th scope="col" style="cursor:pointer">Release Time</th>
                  <th scope="col" style="cursor:pointer">Duration</th>
                  <th scope="col" style="cursor:pointer">Number</th>
                  <th scope="col" style="cursor:pointer">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of spectrumLiveAgentCallDetailsfilterData">
                  <td scope="row">
                    <span *ngIf="item.type==0">InBound</span>
                    <span *ngIf="item.type==1">OutBound</span>
                    <span *ngIf="item.type==2">Missed</span>
                  </td>
                  <td><span>{{item.time_start|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_answer|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_release|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.duration_human}}</span></td>
                  <td><span>{{item.number}}</span></td>
                  <td><span>{{item.name}}</span></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Location/Extension: {{agencyName}}/{{extension}}" [(visible)]="AgentLogLiveCallPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="cursor:pointer">Date Time</th>
                  <th scope="col" style="cursor:pointer">Action</th>
                  <th scope="col" style="cursor:pointer">Loggedin</th>
                  <th scope="col" style="cursor:pointer">Available</th>
                  <th scope="col" style="cursor:pointer">Unavailable</th>
                  <th scope="col" style="cursor:pointer">Break</th>
                  <th scope="col" style="cursor:pointer">Lunch</th>
                  <th scope="col" style="cursor:pointer">Meeting</th>
                  <th scope="col" style="cursor:pointer">Other</th>
                  <th scope="col" style="cursor:pointer">acw</th>
                  <th scope="col" style="cursor:pointer">Web</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of SpectrumAgentExtensionLogData">
                  <td><span>{{item.timestamp|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td scope="row">{{item.action}}</td>
                  <td><span>{{secondsToHms(item.loggedin_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.available_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.unavailable_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.break_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.lunch_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.meeting_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.other_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.acw_sec)}}</span></td>
                  <td><span>{{secondsToHms(item.web_sec)}}</span></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Call Transfer : {{agencyName}}/{{extension}}" [(visible)]="AgentCallsTranserPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="cursor:pointer">Agency Name</th>
                  <th scope="col" style="cursor:pointer">Extension</th>
                  <th scope="col" style="cursor:pointer">Call Type</th>
                  <th scope="col" style="cursor:pointer">Start Time</th>
                  <th scope="col" style="cursor:pointer">Answer Time</th>
                  <th scope="col" style="cursor:pointer">Release Time</th>
                  <th scope="col" style="cursor:pointer">Call Duration</th>
                  <th scope="col" style="cursor:pointer">Orig to Uri</th>
                  <th scope="col" style="cursor:pointer">From Extension</th>
                  <th scope="col" style="cursor:pointer">From Agency</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of agentCallTransferData">
                  <td>{{item.agencyName}}</td>
                  <td>{{item.extension}}</td>
                  <td>{{item.callType}}</td>
                  <td><span>{{item.time_start|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_answer|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_release|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td>{{secondsToHms(item.duration)}}</td>
                  <td>{{item.orig_to_uri}}</td>
                  <td>{{item.callTransferExtension}}</td>
                  <td>{{item.callTransferLocation}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<style>
  @keyframes blinking {
    0% {
      background-color: #fff;
      color: #ff6a00;
      padding: 2px;
      border-radius: 10px;
      font-size: 14px;
      padding: 0px 3px 0px 3px;
      margin-right: 9px;
    }

    100% {
      background-color: red;
      color: #fff;
      padding: 2px;
      border-radius: 10px;
      font-size: 14px;
      padding: 0px 3px 0px 3px;
      margin-right: 9px;
    }
  }

  #blink {
    padding: 2px;
    border-radius: 10px;
    font-size: 14px;
    padding: 0px 3px 0px 3px;
    margin-right: 9px;
    animation: blinking 1s infinite;
  }

  .Weekly-hearder {
    background-color: #ddd9d9;
    padding: 5px;
    border-radius: 100px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .weekly-OrangeCount {
    float: left;
    text-align: center;
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    color: #fff;
    min-height: 32px;
    border-radius: 10px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .weekly-RedCount {
    background: linear-gradient(45deg, #4c2727, #f41818);
    float: left;
    text-align: center;
    color: #fff;
    min-height: 32px;
    border-radius: 10px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .weekly-yellowCount {
    float: left;
    text-align: center;
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
    color: #fff;
    min-height: 32px;
    border-radius: 10px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .weekly-GreenCount {
    float: left;
    text-align: center;
    background: linear-gradient(45deg, #182a0d, #74ca62);
    color: #fff;
    min-height: 32px;
    border-radius: 10px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .info-box-icon-small {
    float: left;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 17px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    padding-left: 0px;
  }

  .weekly-date {
    float: left;
    background-color: #f1eded;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    border: 1px solid #9c958a;
    border-radius: 10px;
  }

  .weeklyButton {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
    min-width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
  }


  .info-box {
    min-height: 88px;
    background: #fff;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .bg-b-green {
    background: linear-gradient(45deg, #008080, #008080);
  }

  .bg-b-darkGreen {
    /*background: linear-gradient(45deg, #37625a, #59e0c5);*/
    background: linear-gradient(45deg, #008080, #008080);
  }

  .bg-b-yellow {
    background: linear-gradient(45deg, #008080, #008080);
  }

  .bg-b-green-outbound {
    background: linear-gradient(45deg, #FFBF00, #FFBF00);
  }

  .bg-b-darkGreen-outbound {
    /*background: linear-gradient(45deg, #37625a, #59e0c5);*/
    background: linear-gradient(45deg, #FFBF00, #FFBF00);
  }

  .bg-b-yellow-outbound {
    background: linear-gradient(45deg, #FFBF00, #FFBF00);
  }

  .bg-b-darkYellow {
    /*background: linear-gradient(45deg, #935b0b, #ffcb80);*/
    background: linear-gradient(45deg, #182a0d, #74ca62);
  }

  .info-box-icon.push-bottom {
    margin-top: 8px;
  }

  .info-box-icon {
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
  }

  audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
  }

  .info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 55px;
  }

  .info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }

  .info-box-number {
    font-weight: 300;
    font-size: 21px;
  }

  .new3 {
    border-top: 3px solid #2ed8b6;
  }

  ::ng-deep {
    .viewDetailPopup

  {
    top: 20px !important;
    z-index: 9999 !important;
    max-width: 1500px;
    max-height: 600px;
    overflow-y: auto;
    .ui-dialog-titlebar

  {
    font-size: 16px;
    font-weight: bold !important;
  }

  .ui-dialog-content h2 {
    font-size: 16px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #2a2131;
    padding-bottom: 10px;
  }

  }
  }
</style>

