<div class="main-wrapper">

    <header>
        <h1>Budget Variance Report</h1>
        <div class="col-sm-5 action">
            <button class="btn btn-default " (click)="Navigate('dashboardone')">Home</button>
            <!-- <button class="btn btn-default" (click)="Navigate('dashboardtwo')">Account Detail</button> -->
            <button class="btn btn-default" (click)="Navigate('dashboardthree')">Transactions</button>
        </div>
        <div style="width: 20px;float: right;margin-top: 0px;margin-right: 15px;margin-left: 10px;position: inherit;">
            <img (click)="LogOut()" title="Log Out" style="width:25px;cursor:pointer;"
                src="../../../assets/2529524.png" />
        </div>

    </header>
    <div class="budget-top-filter">
        <div class="d-flex header-filters flex-wrap ">

            <div class="d-flex align-items-center">
                <div class="text-lable">Year</div>
                <div>
                    <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" optionLabel="value"
                        (onChange)="onYearchange($event)" [filter]="true" filterBy="value" [showClear]="true"
                        placeholder="Select a Year">
                        <ng-template pTemplate="selectedItem" *ngIf="selectedyear">
                            {{selectedyear.value}}
                        </ng-template>
                        <ng-template let-year pTemplate="item">
                            {{year.value}}
                        </ng-template>
                    </p-dropdown>

                </div>
            </div>

            <div class="d-flex align-items-center">
            <div class="text-lable">Month</div>
            <div>
              <p-multiSelect [options]="monthSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedmonth"
                defaultLabel="Month" (onChange)="onMonthchange()" optionLabel="label"></p-multiSelect>
            </div>
          </div>

            <div class="d-flex align-items-center" *ngIf="isAdmin">
                <div class="text-lable">Department</div>
                <div>
                    <p-dropdown [options]="deptSelectItem" [(ngModel)]="selectedDepartment" optionLabel="value"
                        (onChange)="onDeptchange($event)" [filter]="true" filterBy="value" [showClear]="true"
                        placeholder="Select a Deparment">
                        <ng-template pTemplate="selectedItem" *ngIf="selectedDepartment">
                            {{selectedDepartment.value}}
                        </ng-template>
                        <ng-template let-deparment pTemplate="item">
                            {{deparment.value}}
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>



            <div class="d-flex align-items-center">
                <div class="text-lable">Category Name</div>
                <div>
                    <p-multiSelect [options]="catSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedCat"
                        defaultLabel="Category" (onChange)="onCatChange($event)" optionLabel="label">
                    </p-multiSelect>

                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="text-lable">Budget Name</div>
                <div>
                    <p-multiSelect [options]="BudgetSelectItem" maxSelectedLabels="1" [(ngModel)]="selectedBudget"
                        defaultLabel="Budget" (onChange)="onBudgetChange($event)" optionLabel="label">
                    </p-multiSelect>
                </div>
            </div>




        </div>

    </div>


    <div class="budget-chart-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex flex-column flex-md-row cart-wrap">
                    <div class="chart-container">
                        <div class="chart-container" *ngIf="isExistDepartment">
                            <div class="chart-title">Filtered Month</div>
                            <p-chart type="doughnut" [data]="Chartdata" [options]="donughtoptions" [responsive]="true"></p-chart>
                        </div>
                    </div>
                    <div class="chart-container">
                        <div class="tag-container">
                            <div class="chart-container" *ngIf="isExistDepartment">
                                <angular-tag-cloud (clicked)="onCatChange($event)" [zoomOnHover]="options.zoomOnHover"
                                    [data]="data"></angular-tag-cloud>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 line-char-container">
                    <div class="spending-title">Spending Trend</div>
                    <p-chart type="line" [data]="linedata" [options]= "options" height="200px" [responsive]="true"></p-chart>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="table-data table-responsive">
                    <table>
                        <tbody *ngFor="let obj of listOfDistinctCategory">
                            <tr *ngFor="let item of SpendingModel | customFilter:{categoryName: obj };  index as i;">
                                <td class="table-title"
                                    [rowSpan]="(SpendingModel | customFilter:{categoryName: obj }).length" *ngIf="i==0">
                                    {{obj}}
                                </td>
                                <td class="budget-code"></td>
                                <td class="budget-name">{{item.budgetName}}</td>
                                <td class="spending d-flex align-items-center">
                                    <div class="sum-bar" *ngIf="item.budget==0" style="left:3%;">
                                        <ng-template #sum1>
                                            <div class="tootip-wrap">
                                                Sum Budget Amount = {{item.budget}}
                                            </div>
                                        </ng-template>
                                        <span [tooltip]="sum1" [options]="myOptions" content-type="template"></span>
                                    </div>

                                    <div class="sum-bar" *ngIf="item.budget!=0" style="left:33.33%;">
                                        <ng-template #sum1>
                                            <div class="tootip-wrap">
                                                Sum Budget Amount = {{item.budget}}
                                            </div>
                                        </ng-template>
                                        <span [tooltip]="sum1" [options]="myOptions" content-type="template"></span>
                                    </div>
                                    <div *ngIf="item.spending=='Safe'" [tooltip]="sample" [options]="myOptions"
                                        content-type="template" class="progress bar-safe"
                                        style="width:{{item.actualPer/3}}%"></div>
                                    <div *ngIf="item.spending=='Good'" [tooltip]="sample" [options]="myOptions"
                                        content-type="template" class="progress bar-good"
                                        style="width:{{item.actualPer/3}}%"></div>
                                    <div *ngIf="item.spending=='Overspending'" [tooltip]="sample" [options]="myOptions"
                                        content-type="template" class="progress bar-overspending"
                                        style="width:{{item.actualPer/3}}%"></div>

                                    <ng-template #sample>
                                        <div class="tootip-wrap">
                                            <div class="d-flex">
                                                <div class="tooltip-title">Budget Name </div>
                                                <div class="tooltip-content">{{item.budgetName}}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Category Name </div>
                                                <div class="tooltip-content">{{obj}}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Budget Code </div>
                                                <div class="tooltip-content">{{item.frontBudgetCode}}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Budget Amount </div>
                                                <div class="tooltip-content">{{item.budget | number:'1.0-0'}}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Actual</div>
                                                <div class="tooltip-content">{{item.actual| number:'1.0-0'}}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Variance </div>
                                                <div class="tooltip-content">({{item.variance| number:'1.0-0'}})</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="tooltip-title">Status </div>
                                                <div class="tooltip-content">{{item.spending}}</div>
                                            </div>
                                        </div>

                                    </ng-template>
                                    <span [tooltip]="sample" [options]="myOptions"
                                        content-type="template">${{item.variance | number:'1.0-0'}}</span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3">
                        <span class="text-center" *ngIf="(SpendingModel.length == 0)" style="color: #4e79a7;">No record found</span>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="spending-trend">
        <div class="table-data table-responsive">
            <table class="table-grey">
         <thead>
                <tr style="cursor: pointer;">
                    <th style="width: 8%;" class="trxDate">TRX <i class="fa fa-lg fa-arrow-up"
                            (click)="sortData($event)" data-order="desc" data-name="trxDate" aria-hidden="true"></i>
                    </th>
                    <th class="category-name">Category Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="categoryDescription" aria-hidden="true"></i></th>
                    <th class="budget-code">Budget Code <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="frontBudgetCode" aria-hidden="true"></i></th>
                    <th class="description">Description <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="transactionDescription" aria-hidden="true"></i></th>
                    <th class="vendor-name">Vendor Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="vendorName" aria-hidden="true"></i></th>
                    <th class="location-name">Location Name <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="locationID" aria-hidden="true"></i></th>
                    <th class="source">Source <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="source" aria-hidden="true"></i></th>
                    <th class="user">User <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)" data-order="desc"
                            data-name="userName" aria-hidden="true"></i></th>
                    <th class="user-posted">User Posted</th>
                    <th class="actual">Actual <i class="fa fa-lg fa-arrow-up" (click)="sortData($event)"
                            data-order="desc" data-name="trxAmount" aria-hidden="true"></i></th>
                </tr>
            </thead>
                <tbody>

                <tr *ngFor="let trx of trxList">
                    <td class="trxDate">{{trx.trxDate}}</td>
                    <td class="category-name">{{trx.categoryDescription}}</td>
                    <td class="budget-code">{{trx.frontBudgetCode}}</td>
                    <td class="description">{{trx.transactionDescription}}</td>
                    <td class="vendor-name">{{trx.vendorName}}</td>
                    <td class="location-name">Nul{{trx.locationID}}l</td>
                    <td class="source">{{trx.source}}</td>
                    <td class="user">{{trx.userName}}</td>
                    <td class="user-posted">NULL</td>
                    <td class="actual">$ {{trx.trxAmount | number:'1.0-0'}}</td>

                </tr>


                </tbody>
            </table>
            <div class="text-center mt-3">
                <span class="text-center" *ngIf="(trxList.length == 0)" style="color: #4e79a7;">No record found</span>
            </div>
        </div>
    </div>


</div>


<div class="loading" *ngIf="showLoader">Loading&#8230;</div>