<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="tabs-div mt-0">
        <mat-tab-group (selectedTabChange)="onTabChanged($event.index)" #tabGroup>
          <mat-tab label="Created Quotes Projection">
            <div class="content-div">

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">CR Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">CR Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Difference</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerNewQuotesProjCount.pages && pagerNewQuotesProjCount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerNewQuotesProjCount.currentPage === 1}">
                        <a (click)="setPolicyCountPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesProjCount.currentPage === 1}">
                        <a (click)="setPolicyCountPaging(pagerNewQuotesProjCount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerNewQuotesProjCount.pages" [ngClass]="{active:pagerNewQuotesProjCount.currentPage === page}">
                        <a (click)="setPolicyCountPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesProjCount.currentPage === pagerNewQuotesProjCount.totalPages}">
                        <a (click)="setPolicyCountPaging(pagerNewQuotesProjCount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesProjCount.currentPage === pagerNewQuotesProjCount.totalPages}">
                        <a (click)="setPolicyCountPaging(pagerNewQuotesProjCount.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedNewQuotesProjCount" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Modified Quotes Projection">
            <div class="content-div">

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">CR Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">CR Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Difference</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerModifiedQuotesProj.pages && pagerModifiedQuotesProj.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerModifiedQuotesProj.currentPage === 1}">
                        <a (click)="setAfeePaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesProj.currentPage === 1}">
                        <a (click)="setAfeePaging(pagerModifiedQuotesProj.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerModifiedQuotesProj.pages" [ngClass]="{active:pagerModifiedQuotesProj.currentPage === page}">
                        <a (click)="setAfeePaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesProj.currentPage === pagerModifiedQuotesProj.totalPages}">
                        <a (click)="setAfeePaging(pagerModifiedQuotesProj.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesProj.currentPage === pagerModifiedQuotesProj.totalPages}">
                        <a (click)="setAfeePaging(pagerModifiedQuotesProj.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedModifiedQuotesProj" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Created Quotes CR">
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Created Quotes</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Sold Policy Quotes</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Closing Ratio New Quotes(%)</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerCreatedQuotes.pages && pagerCreatedQuotes.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerCreatedQuotes.currentPage === 1}">
                        <a (click)="setCreatedPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCreatedQuotes.currentPage === 1}">
                        <a (click)="setCreatedPaging(pagerCreatedQuotes.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerCreatedQuotes.pages" [ngClass]="{active:pagerCreatedQuotes.currentPage === page}">
                        <a (click)="setCreatedPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCreatedQuotes.currentPage === pagerCreatedQuotes.totalPages}">
                        <a (click)="setCreatedPaging(pagerCreatedQuotes.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCreatedQuotes.currentPage === pagerCreatedQuotes.totalPages}">
                        <a (click)="setCreatedPaging(pagerCreatedQuotes.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedCreatedQuotes" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartQuotesOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Modified Quotes CR">
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Modified Quotes</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Sold Policy Quotes</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Closing Ratio Modified Quotes(%)</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerModifiedQuotes.pages && pagerModifiedQuotes.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                        <a (click)="setModifiedPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === 1}">
                        <a (click)="setModifiedPaging(pagerModifiedQuotes.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerModifiedQuotes.pages" [ngClass]="{active:pagerModifiedQuotes.currentPage === page}">
                        <a (click)="setModifiedPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                        <a (click)="setModifiedPaging(pagerModifiedQuotes.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotes.currentPage === pagerModifiedQuotes.totalPages}">
                        <a (click)="setModifiedPaging(pagerModifiedQuotes.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedModifiedQuotes" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartQuotesOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="New Goal Vs Actual">
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Difference</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerNewQuotesPoliciesProjCount.pages && pagerNewQuotesPoliciesProjCount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerNewQuotesPoliciesProjCount.currentPage === 1}">
                        <a (click)="setPolicyGoalCountPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesPoliciesProjCount.currentPage === 1}">
                        <a (click)="setPolicyGoalCountPaging(pagerNewQuotesPoliciesProjCount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerNewQuotesPoliciesProjCount.pages" [ngClass]="{active:pagerNewQuotesPoliciesProjCount.currentPage === page}">
                        <a (click)="setPolicyGoalCountPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesPoliciesProjCount.currentPage === pagerNewQuotesPoliciesProjCount.totalPages}">
                        <a (click)="setPolicyGoalCountPaging(pagerNewQuotesPoliciesProjCount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerNewQuotesPoliciesProjCount.currentPage === pagerNewQuotesPoliciesProjCount.totalPages}">
                        <a (click)="setPolicyGoalCountPaging(pagerCreatedQuotes.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedNewQuotesPoliciesProjCount" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartQuotesOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Modified Goal Vs Actual">
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Difference</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerModifiedQuotesPoliciesProj.pages && pagerModifiedQuotesPoliciesProj.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerModifiedQuotesPoliciesProj.currentPage === 1}">
                        <a (click)="setModifiedSoldPoliciesPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesPoliciesProj.currentPage === 1}">
                        <a (click)="setModifiedSoldPoliciesPaging(pagerModifiedQuotesPoliciesProj.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerModifiedQuotesPoliciesProj.pages" [ngClass]="{active:pagerModifiedQuotesPoliciesProj.currentPage === page}">
                        <a (click)="setModifiedSoldPoliciesPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesPoliciesProj.currentPage === pagerModifiedQuotesPoliciesProj.totalPages}">
                        <a (click)="setModifiedSoldPoliciesPaging(pagerModifiedQuotesPoliciesProj.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerModifiedQuotesPoliciesProj.currentPage === pagerModifiedQuotesPoliciesProj.totalPages}">
                        <a (click)="setModifiedSoldPoliciesPaging(pagerModifiedQuotesPoliciesProj.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedModifiedQuotesPoliciesProj" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartQuotesOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.activityName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>





      </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
