<div class="loading" *ngIf="showLoader">Loading&#8230;</div>

<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>VS Team</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">

        </div>
      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-12 tabs-div">
            <div class="agency-table-container mt-3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="agency-table table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" style="width:240px;cursor:pointer;" (click)="sortDataAgent('Location')">Agency Name</th>
                          <th scope="col" style="width:180px;">
                            Extension <br /><!--<input type="text" style="width:150px;"
                                                   (change)="Search($event)" (keyup)="Search($event)"
                                                   (paste)="Search($event)" (input)="Search($event)" placeholder="Search by extension" />-->
                          </th>
                          <th scope="col" style="cursor:pointer">Total Inbound Calls</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataAgent('Incoming')">Inbound Answer Calls</th>
                          <th scope="col" style="cursor:pointer">Call Duration</th>
                          <th scope="col" style="cursor:pointer">Total OutBound calls</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataAgent('Outgoing')">OutBound Answer calls</th>
                          <th scope="col" style="cursor:pointer">Call Duration</th>
                          <th scope="col" style="cursor:pointer">Missed Calls</th>
                          <th scope="col" style="cursor:pointer">Total Call Transfer</th>
                          <th scope="col" style="cursor:pointer">Call Transfer Duration</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of agentWisefilterdata">
                          <td scope="row"><span>{{item.location}}</span></td>
                          <td scope="row"><span><a style="cursor:pointer;color: blue;" title="Click here and get call details." (click)="OpenAgentCallPopup(item.location,item.extension)">{{item.extension}}</a></span></td>
                          <td><span>{{item.totalInBoundsCalls}}</span></td>
                          <td><span>{{item.inBoundCalls}}</span></td>
                          <td><span>{{item.inBoundHours}}</span></td>
                          <td><span>{{item.totalOutBoundsCall}}</span></td>
                          <td><span>{{item.outboundCalls}}</span></td>
                          <td><span>{{item.outBoundHours}}</span></td>
                          <td><span>{{item.missedCalls}}</span></td>
                          <td>
                            <span *ngIf="item.callTransfer==0"></span>
                            <span *ngIf="item.callTransfer>0"><a style="cursor:pointer;color: blue;" title="Click here and get Transfer call details." (click)="OpenCallTransferPopup(item.location,item.extension,item.agencyid)">{{item.callTransfer}}</a></span>
                          </td>
                          <td><span>{{secondsToHms(item.transferCallDuration)}}</span></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th>Total</th>
                          <th>
                            {{agentWisetotalInboundCall}}
                          </th>
                          <th>
                            {{agentWisetotalInbound}}
                          </th>
                          <th>
                            {{secondsToHms(agentwiseInBoundCallDuration)}}
                          </th>
                          <th>
                            {{agentWisetotalOutboundCall}}
                          </th>
                          <th>
                            {{agentWisetotalOutbound}}
                          </th>
                          <th>
                            {{secondsToHms(agentwiseOutBoundCallDuration)}}
                          </th>
                          <th>
                            {{agentWisemissedCall}}
                          </th>
                          <th>
                            {{agentwiseTotalTransferCall}}
                          </th>
                          <th>
                            {{secondsToHms(agentwiseTotalTransferCallDuration)}}
                          </th>

                        </tr>
                      </tfoot>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Location/Extension: {{agencyName}}/{{extension}}" [(visible)]="AgentCallPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
        <!--<div class="col-sm-12 Weekly-hearder" style="border-radius: 0px!important;padding-top: 8px!important;">
          <div class="col-sm-1 col-12" style="float:left;">
            <p-dropdown [(ngModel)]="dateId" defaultLabel="All Date"
                        [options]="listDate" (onChange)="onDateSelect(event)"></p-dropdown>
          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="cursor:pointer">Call Type</th>
                  <th scope="col" style="cursor:pointer">Start Time</th>
                  <th scope="col" style="cursor:pointer">Answer Time</th>
                  <th scope="col" style="cursor:pointer">Release Time</th>
                  <th scope="col" style="cursor:pointer">Duration</th>
                  <th scope="col" style="cursor:pointer">Number</th>
                  <th scope="col" style="cursor:pointer">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of spectrumLiveAgentCallDetailsfilterData">
                  <td scope="row">
                    <span *ngIf="item.type==0">InBound</span>
                    <span *ngIf="item.type==1">OutBound</span>
                    <span *ngIf="item.type==2">Missed</span>
                  </td>
                  <td><span>{{item.time_start|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_answer|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_release|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.duration_human}}</span></td>
                  <td><span>{{item.number}}</span></td>
                  <td><span>{{item.name}}</span></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog header="Call Transfer : {{agencyName}}/{{extension}}" [(visible)]="AgentCallsTranserPopup" draggable="false" blockScroll="true" position="top"
          autoZIndex="true" minimizable="true" width="1200">
  <div>
    <div class="agency-table-container mt-3">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="agency-table table-responsive" style="max-height: 600px;min-height: 600px;overflow: scroll;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="cursor:pointer">Agency Name</th>
                  <th scope="col" style="cursor:pointer">Extension</th>
                  <th scope="col" style="cursor:pointer">Call Type</th>
                  <th scope="col" style="cursor:pointer">Start Time</th>
                  <th scope="col" style="cursor:pointer">Answer Time</th>
                  <th scope="col" style="cursor:pointer">Release Time</th>
                  <th scope="col" style="cursor:pointer">Call Duration</th>
                  <th scope="col" style="cursor:pointer">Orig to Uri</th>
                  <th scope="col" style="cursor:pointer">From Extension</th>
                  <th scope="col" style="cursor:pointer">From Agency</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of agentCallTransferData">
                  <td>{{item.agencyName}}</td>
                  <td>{{item.extension}}</td>
                  <td>{{item.callType}}</td>
                  <td><span>{{item.time_start|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_answer|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td><span>{{item.time_release|date:'MM/dd/yyyy h:mm:ss a':'UTC'}}</span></td>
                  <td>{{secondsToHms(item.duration)}}</td>
                  <td>{{item.orig_to_uri}}</td>
                  <td>{{item.callTransferExtension}}</td>
                  <td>{{item.callTransferLocation}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
