<table class="inner-table">
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <tr>
    <td>
      Payroll(Budget)
    </td>
    <td class="text-white">${{dashboardPayrollData.payrollBudget | number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      Payroll(Actual)
    </td>
    <td class="text-white">${{dashboardPayrollData.payrollActual | number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      OT(Budget)
    </td>
    <td class="text-white">${{dashboardPayrollData.otBudget | number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      OT(Actual)
    </td>
    <td class="text-white">${{dashboardPayrollData.otActual| number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      OT/Policy
    </td>
    <td class="text-white">${{dashboardPayrollData.otPerPolicy| number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      OT HRS/Policy
    </td>
    <td class="text-white">{{dashboardPayrollData.otHoursPerPolicy| number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      Payroll/Policy
    </td>
    <td class="text-white">${{dashboardPayrollData.payrollPerPolicy| number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      Payroll/Transaction
    </td>
    <td class="text-white">${{dashboardPayrollData.payrollPerTransaction| number: '2.'}}</td>
  </tr>
</table>
