<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--<div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" style="float:right;" (click)="reload()">Reload</button>
          </div>
        </div>
      </div>-->

        <div class="tabs-div">
          <div class="content-div">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" style="padding:1px!important;" (click)="reload()">Reload</button>
              <div *ngIf="pageName=='financial-dashboard'">
                <iframe title="Financial_Dashboard_v8.4.2" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=c56770b7-ce38-422d-b739-a94e335de850&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
              <div *ngIf="pageName=='bol-retention'">
                <iframe title="Financial_Dashboard_v8.4.1" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=39d72b2b-a283-4dde-857c-c0c279b6623e&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
              <div *ngIf="pageName=='cfd-retention'">
                <iframe title="Financial_Dashboard_v8.4.1" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=98e26a8f-d370-4572-b905-e69039abacb8&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
              <div *ngIf="pageName=='production-tracker'">
                <iframe title="Financial_Dashboard_v8.4.1" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=3a48a1bf-3366-492c-a9a6-7930008d213e&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
              <div *ngIf="pageName=='revenue-prediction'">
                <iframe title="Financial_Dashboard_v8.4.1" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=9443eae6-963d-428c-8961-9b227289d9c7&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
              <div *ngIf="pageName=='top-bottom'">
                <iframe title="Financial_Dashboard_v8.4.1" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=e704bc90-e059-4ce3-8e4d-73cec28eb77c&autoAuth=true&ctid=d7401adc-cd72-4c8b-9911-89cc1844162b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>
            </div>
        </div>
     
    </div>
  </div>
</div>
