<div class="loading" *ngIf="cmnSrv.showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="cmnSrv.pageHeader"></app-header>
    <div class="panel-content">

      <div class="agency-table-container">
        <div class="row mb-2">
          <div class="col-md-3">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <i class="fas fa-chart-pie"></i>
                <h5 class="card-title">Payroll</h5>
                <div class="text-right">
                  <a [routerLink]="['/AgentPayroll']" class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Hourly Production</h5>
                <div class="text-right">
                  <a [routerLink]="['/HourlyProduction']" class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <i class="fas fa-chart-bar"></i>
                <h5 class="card-title">Career Agent</h5>
                <div class="text-right">
                  <a [routerLink]="['/CarrierAgent']" class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Agency Fee / Policy</h5>
                <div class="text-right">
                  <a [routerLink]="['/AgencyFeePolicy']" class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-2">

          <div class="col-md-3">
            <div class="card bg-success text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Premium / Policy</h5>
                <div class="text-right">
                  <a [routerLink]="['/PremiumPolicy']" class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-danger text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Created Closing Ratios</h5>
                <div class="text-right">
                  <a [routerLink]="['/NewModifiedQuotesClosingRatios']" [queryParams]="{ qt:quoteTypeN}"
                    class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-warning text-dark">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Modified Closing Ratios</h5>
                <div class="text-right">
                  <a [routerLink]="['/NewModifiedQuotesClosingRatios']" [queryParams]="{ qt:quoteTypeM}"
                    class="card-link text-dark">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-info text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Created Quotes</h5>
                <div class="text-right">
                  <a [routerLink]="['/NewModifiedQuotes']" [queryParams]="{ qt:quoteTypeN}"
                    class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-2">

          <div class="col-md-3">
            <div class="card bg-light text-dark">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Modified Quotes</h5>
                <div class="text-right">
                  <a [routerLink]="['/NewModifiedQuotes']" [queryParams]="{ qt:quoteTypeM}"
                    class="card-link text-dark">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Inbound Calls</h5>
                <div class="text-right">
                  <a [routerLink]="['/InboundOutboundCalls']" [queryParams]="{ ct:callTypeIN}"
                    class="card-link text-white">View</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="card bg-white text-dark">
              <div class="card-body">
                <i class="fas fa-chart-line"></i>
                <h5 class="card-title">Outbound Calls</h5>
                <div class="text-right">
                  <a [routerLink]="['/InboundOutboundCalls']" [queryParams]="{ ct:callTypeOUT}"
                    class="card-link text-dark">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>