<div class="sidebar" [class.hide]="cmnSrv.dashboardState.sidebarToggle">
  <!--[class.hide]="cmnSrv.dashboardState.sidebarToggle"-->
  <div class="sidebar-header align-middle">
    <!--<h1 class="d-none logo-name">Amax</h1>
    <img class="main-logo" src="assets/images/amax-logo.png" alt="logo" />-->
  </div>
  <hr class="underline">
  <div class="sidebar-body">
    <ul class="side-bar-menus">
      <li [ngClass]="PBXclass" (click)="Navigate('PBX')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>PBX</span></li>
      <li [ngClass]="CustomerInfoclass" (click)="Navigate('CustomerInfo')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>CustomerInfo</span></li>
      <li [ngClass]="TopAgentclass" (click)="Navigate('TopAgent')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Top 5 Agent</span></li>
      
    </ul>
  </div>
</div>
<div *ngIf="!cmnSrv.dashboardState.sidebarToggle" class="sidebarOutside" (click)="cmnSrv.sidebarToggle()"></div>
