<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [SinglelocationSelected]="singleLocation" [ShowLocationDropDown]="singleLocationSelected" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (singleLocationEmitter)="SetSingleLocation($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>

              <li>
                <p-dropdown [options]="dateSelectItem" [(ngModel)]="selecteddate" (onChange)="onDatechange(event)"></p-dropdown>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p>Coming Soon</p>
              </div>
              <div class="title">
                <p>Total Policy</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p>Coming Soon</p>
              </div>
              <div class="title">
                <p>Total Agency Fee</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p>Coming Soon</p>
              </div>
              <div class="title">
                <p>Total Premium</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block">
              <div class="count">
                <p>Coming Soon</p>
              </div>
              <div class="title">
                <p>Total Transactions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="epr-heading">
        <h3>Hourly work load</h3>
      </div>

      <div class="tabs-div">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Hourly work load">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="hourlyData.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Transactions</th>
                      <th scope="col">Premium</th>
                      <th scope="col">Policies</th>
                      <th scope="col">agencyfee</th>
                      <th scope="col">Intervel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hourlyData">

                      <td>{{item.transactions}}</td>
                      <td>${{item.premium | number:'0.0-0'}}</td>
                      <td>{{item.policies| number:'0.0-0'}}</td>
                      <td>${{item.agencyfee| number:'0.0-0'}}</td>
                      <td>{{item.hourIntervel}}</td>

                    </tr>
                  </tbody>
                </table>
                <div *ngIf="hourlyData.length==0">
                  No record Found, please refine search
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Hourly Quote Data">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="hourlyQuoteData.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Modified Quotes</th>
                      <th scope="col">New Quotes</th>
                      <th scope="col">Intervel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hourlyQuoteData">
                      <td>{{item.modifiedQuotes}}</td>
                      <td>{{item.newQuotes}}</td>
                      <td>{{item.hourIntervel}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="hourlyQuoteData.length==0">
                  No record Found, please refine search
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
