<table class="inner-table">
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <tr>
    <td>
      Created Quotes

    </td>
    <td class="text-white">{{dashboardQuotesData.newQuotes | number: '2.'}}</td>
  </tr>
  <tr>

    <td>
      Closing Ratio (Created)
    </td>
    <td class="text-white">{{dashboardQuotesData.closingRatioNewQuotes | number: '2.'}}%</td>
  </tr>
  <tr>
    <td>
      Closing Ratio Modified

    </td>
    <td class="text-white">{{dashboardQuotesData.closingRatioModQuotes| number: '2.'}}%</td>
  </tr>
</table>
