<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel"  style="margin-bottom:15px!important;">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:15px!important;">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [SinglelocationSelected]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)"
                                           (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)"
                                           (LocationChangeEmitter)="LocationChanged($event)" [ShowLocationDropDown]="singleLocationSelected"
                                           (AllLocationEmitter)="GetAllLocations($event)" (singleLocationEmitter)="SetSingleLocation($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
              <li>
                <i class="fa fa-info-circle fa-1x" style="color:#fff; cursor:pointer;" title="You can select only one store at a time. Can not select all agency." aria-hidden="true"></i>

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
          <div id="pager" class="right-aligned" style="width:100%;text-align:right">
            <ul *ngIf="pagerPolicyCount.pages && pagerPolicyCount.pages.length" class="pagination">
              <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                <a (click)="setPolicyCountPaging(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pagerPolicyCount.pages" [ngClass]="{active:pagerPolicyCount.currentPage === page}">
                <a (click)="setPolicyCountPaging(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                <a (click)="setPolicyCountPaging(pagerPolicyCount.totalPages)">Last</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    

      <div class="container" style="height:400px" [ngStyle]="{'height': innercontainer}">
        <div class="tWrap">
          <div class="tWrap__head">
            <table class="table-planner">
              <thead>
                <tr>
                  <th rowspan="2">Date</th>
                  <th rowspan="2" style="width:150px">Activity</th>
                  <th rowspan="2" style="width:65px">Planned <br />Hrs</th>
                  <th rowspan="2">Details</th>
                  <th rowspan="2">Budget</th>
                  <th rowspan="2" style="width:65px">Actual <br />Hrs</th>
                  <th rowspan="2" style="width:50px">Went</th>
                  <th rowspan="2">Actual</th>
                  <th rowspan="2">Detail</th>
                  <th rowspan="2">Variance</th>
                  <th colspan="3">Policy Details</th>
                  <th rowspan="2">Action</th>
                </tr>
                <tr>
                  <th>Policy No.</th>
                  <th>Agency Fee</th>
                  <th>Premium</th>
                </tr>
              </thead>
            </table>
          </div> <!--/.tWrap__head-->
          <div class="tWrap__body">
            <table class="table-planner">
              <tbody>
                <tr *ngFor="let obj of pagedPolicyCount">
                  <td>
                    {{obj.plannerDate}}
                  </td>
                  <td style="width:150px" title="{{obj.activity}}">
                    {{obj.activity}}
                  </td>
                  <td style="width:65px">
                    {{obj.plannedHours}}
                  </td>
                  <td title="{{obj.plannedDetails}}">
                    {{obj.plannedDetails}}
                  </td>
                  <td>
                    $ {{obj.plannedBudgetAmount| number:'0.0-0'}}
                  </td>
                  <td style="width:65px">
                    <span *ngIf="obj.plannerActualId==0"></span>
                    <span *ngIf="obj.plannerActualId>0">{{obj.actualHours}}</span>

                  </td>
                  <td style="width:50px"><span *ngIf="obj.isWent">Yes</span> <span *ngIf="!obj.isWent">No</span></td>
                  <td>
                    <span *ngIf="obj.plannerActualId==0"></span>
                    <span *ngIf="obj.plannerActualId>0">  $ {{obj.actualAmount| number:'0.0-0'}}</span>

                  </td>
                  <td title="{{obj.actualDetails}}">
                    <span *ngIf="obj.plannerActualId==0"></span>
                    <span *ngIf="obj.plannerActualId>0"> {{obj.actualDetails}}</span>

                  </td>
                  <td>
                    <span *ngIf="obj.plannerActualId==0"></span>
                    <span *ngIf="obj.plannerActualId>0">
                      $
                      <span *ngIf="(obj.plannedBudgetAmount-obj.actualAmount)<0"><span style="color: #fa2a2a;font-weight: bold;">{{obj.plannedBudgetAmount-obj.actualAmount | number:'0.0-0'}}</span></span>
                      <span *ngIf="(obj.plannedBudgetAmount-obj.actualAmount)>0"> {{obj.plannedBudgetAmount-obj.actualAmount | number:'0.0-0'}}</span>
                    </span>
                  </td>
                  <td>
                    <span *ngIf="obj.totalPolicy==0"></span>
                    <span *ngIf="obj.totalPolicy>0">#  {{obj.totalPolicy}}</span>


                  </td>
                  <td>
                    <span *ngIf="obj.totalAgencyFee==0"></span>
                    <span *ngIf="obj.totalAgencyFee>0"> $  {{obj.totalAgencyFee}}</span>

                  </td>
                  <td>
                    <span *ngIf="obj.totalPremiumAmount==0"></span>
                    <span *ngIf="obj.totalPremiumAmount>0"> $  {{obj.totalPremiumAmount| number:'0.0-0'}}</span>

                  </td>
                  
                  <td>
                    <div *ngIf="!obj.isLocked && !obj.isCurrentDay">
                      <span>
                      <i class="fas fa-edit" style="cursor:pointer;" (click)="UpdateActual(obj.plannerBudgetId,obj.isLocked)"></i>
                    </span>
                      <!--<span style="margin-left:10px;">
                        <i class="fas fa-trash" style="cursor:pointer;" aria-hidden="true" (click)="DeletePlanner(obj.plannerBudgetId,obj.isLocked)"></i>
                      </span>-->
                    </div>
                    <div *ngIf="!obj.isLocked">
                      <span style="margin-left:10px;">
                        <i class="fas fa-trash" style="cursor:pointer;" aria-hidden="true" (click)="DeletePlanner(obj.plannerBudgetId,obj.isLocked)"></i>
                      </span>
                    </div>
                    <div *ngIf="obj.isLocked && obj.isCurrentDay">
                      <span>
                        <i class="fas fa-lock" title="Locked"></i>
                      </span>
                      <span style="margin-left:10px;">
                        <i class="fas fa-eye" style="cursor:pointer;" (click)="UpdateActual(obj.plannerBudgetId,obj.isLocked)"></i>
                      </span>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div> <!--/.tWrap__body-->
        </div>
      </div>

      <p-dialog header="Update Planner" [(visible)]="createPlan" draggable="false" blockScroll="true" position="top"
                autoZIndex="true" minimizable="true" styleClass="viewDetailPopup col-6">

        <div><b>Planner Request Details</b></div>
        <table class="styled-table " id="customers">
          <thead class="text-center ">
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Planned Hrs</th>
              <th>Details</th>
              <th>Budget</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{plannerActualDetails.plannerBudget.plannerDate}}
              </td>
              <td>
                {{plannerActualDetails.plannerBudget.activity}}
              </td>
              <td>
                {{plannerActualDetails.plannerBudget.plannedHours}}
              </td>
              <td>
                {{plannerActualDetails.plannerBudget.plannedDetails}}
              </td>
              <td>
                $ {{plannerActualDetails.plannerBudget.plannedBudgetAmount| number:'0.0-0'}}
              </td>
              <td>
                <i class="fas fa-lock" title="Locked"></i>
              </td>
            </tr>

          </tbody>
        </table>

        <div><b>Actual Details</b></div>
        <table class="styled-table" id="customers">
          <thead class="text-center">
            <tr>
              <th style="width:200px">Actual Hrs</th>
              <th>Is Went</th>
              <th>Acutal Details</th>
              <th>Acutal Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:200px">
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId==0">
                  <select name="choice" class="form-control" [(ngModel)]="plannerActualDetails.actualDetail.actualHours" style="height:30px!important;font-size:13px!important;">
                    <option value="0" selected>Select Hours</option>
                    <option value="0.5" selected>0.5</option>
                    <option value="1" selected>1</option>
                    <option value="1.5" selected>1.5</option>
                    <option value="2" selected>2</option>
                    <option value="2.5" selected>2.5</option>
                    <option value="3" selected>3</option>
                    <option value="3.5" selected>3.5</option>
                    <option value="4" selected>4</option>
                    <option value="4.5" selected>4.5</option>
                    <option value="5" selected>5</option>
                    <option value="5.5" selected>5.5</option>
                    <option value="6" selected>6</option>
                    <option value="6.5" selected>6.5</option>
                    <option value="7" selected>7</option>
                    <option value="7.5" selected>7.5</option>
                    <option value="8" selected>8</option>
                    <!--<option *ngFor="let obj of listEventHours" [value]="obj.plannerHours">{{obj.plannerHours}}</option>-->
                  </select>
                </div>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId>0">
                  {{plannerActualDetails.actualDetail.actualHours}}
                </div>
              </td>
              <td>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId==0">
                  <input type="checkbox"
                         [(ngModel)]="plannerActualDetails.actualDetail.isWent"
                         [ngModelOptions]="{standalone: true}" /> `
                </div>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId>0">
                  <span *ngIf="plannerActualDetails.actualDetail.isWent">
                    Yes
                  </span>
                  <span *ngIf="!plannerActualDetails.actualDetail.isWent">
                    No
                  </span>
                </div>

              </td>
              <td>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId==0">
                  <input type="text" class="form-control" style="height:30px!important;font-size:13px!important;" [(ngModel)]="plannerActualDetails.actualDetail.actualDetails" />
                </div>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId>0">
                  {{plannerActualDetails.actualDetail.actualDetails}}
                </div>
              </td>
              <td>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId==0">
                  <input type="number" (keypress)="numberOnly($event,plannerActualDetails.actualDetail.actualAmount)" class="form-control" [(ngModel)]="plannerActualDetails.actualDetail.actualAmount" style="height:30px!important;font-size:13px!important;width:300px!important" />
                </div>
                <div *ngIf="plannerActualDetails.actualDetail.plannerActualId>0">
                  $ {{plannerActualDetails.actualDetail.actualAmount| number:'0.0-0'}}
                </div>
              </td>
              <td>
                <i *ngIf="plannerActualDetails.actualDetail.plannerActualId>0" class="fas fa-lock" title="Locked"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <div><b>Policy Details</b></div>
        <table class="styled-table" id="customers">
          <thead class="text-center">
            <tr>
              <th style="width:170px">Policy Number</th>
              <th>Agency Fee</th>
              <th>Premium</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of plannerActualDetails.listActualPolicyDetails;let last = last">
              <td style="width:170px">
                <div *ngIf="!isLocked">
                  <input type="text" class="form-control" [(ngModel)]="obj.policyNumber" style="height:30px!important;font-size:13px!important;width:200px!important" />
                </div>
                <div *ngIf="isLocked">
                  {{obj.policyNumber}}
                </div>
              </td>
              <td>
                <div *ngIf="!isLocked">
                  <input type="number" (keypress)="numberOnly($event,obj.agencyFee)" class="form-control" [(ngModel)]="obj.agencyFee" style="height:30px!important;font-size:13px!important;width:300px!important" />
                </div>
                <div *ngIf="isLocked">
                  $ {{obj.agencyFee| number:'0.0-0'}}
                </div>
              </td>
              <td>
                <div *ngIf="!isLocked">
                  <input type="number" (keypress)="numberOnly($event,obj.premiumAmoun)" class="form-control" [(ngModel)]="obj.premiumAmount" style="height:30px!important;font-size:13px!important;width:300px!important" />
                </div>
                <div *ngIf="isLocked">
                  $ {{obj.premiumAmount| number:'0.0-0'}}
                </div>
              </td>
              <td>
                <div *ngIf="!isLocked">
                  <div *ngIf="last"><i class="fas fa-plus" (click)="AddRow()"></i></div>
                  <div *ngIf="!last"><i class="fas fa-trash-alt" (click)="Delete(obj)"></i></div>
                </div>
                <div *ngIf="isLocked">
                  <i class="fas fa-lock" title="Locked"></i>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
        <button pButton type="button" *ngIf="!isLocked" label="UPDATE" class="ui-button-rounded" style="float:right;" (click)="SaveUpdateActual()"></button>
        <button pButton type="button" label="CANCEL" class="ui-button-rounded" style="float:right;margin-right:20px;" (click)="CancelActual()"></button>
      </p-dialog>
    </div>
  </div>
</div>
