
  <li>
    <!-- <label for="ddlLocation" class="p-col-12 text-white">Location
      <span class="max-allowed-sublabel" *ngIf="ShowLocationMultiMaxFiveSelect">(max 5 locations are allowed)</span>
    </label> -->
    <p-multiSelect class="p-col-12" *ngIf="ShowLocationDropDown===false && ShowLocationMultiMaxFiveSelect ===false"
      inputId="ddlLocation" maxSelectedLabels="0" [(ngModel)]="selectedlocation" defaultLabel="Location"
      [options]="locationSelectItem" [style]="{'width':'100% !important!'}"
      (onChange)="onLocationchange(event)"></p-multiSelect>

    <p-dropdown class="p-col-12" *ngIf="ShowLocationDropDown===true" [style]="{'width':'100% !important!'}"
      inputId="ddlLocation" maxSelectedLabels="0" [(ngModel)]="SinglelocationSelected" [filter]="true" filterBy="name"
      defaultLabel="Location" [options]="locationSelectItem" (onChange)="onLocationDropDownchange(event)">
    </p-dropdown>
  </li>

 <!--  <li *ngIf="ManualExtension">
    <label for="ddlAgents" class="p-col-12 text-white">{{AgentLabel}}
      <span class="max-allowed-sublabel">(max 10 agents selection allowed)</span>
    </label> -->
    <p-multiSelect *ngIf="authenticationService.userRole != 'agent' || ManualExtension==true" class="p-col-12"
      inputId="ddlAgents" maxSelectedLabels="0" defaultLabel="{{AgentLabel}}" [options]="agentsSelectItem"
      (onChange)="onAgentChange($event)" [style]="{'width':'100% !important!'}">
    </p-multiSelect>
  <!-- </li> -->

  <li *ngIf="showPayType">
    <!-- <label for="ddlPayType" class="p-col-12 text-white">Pay Type</label> -->
    <p-multiSelect class="p-col-12" maxSelectedLabels="0" inputId="ddlPayType" defaultLabel="Pay Type"
      [options]="payTypeSelectItem" [style]="{'width':'100% !important!'}"
      (onChange)="onPayTypeChange($event)"></p-multiSelect>
  </li>

  <li *ngIf="showDateRange">
    <!-- <label for="dateRange" class="p-col-12 text-white">Date Range</label> -->
    <p-calendar class="p-col-12" [(ngModel)]="InputRangeDates" view="date" selectionMode="range"
      [style]="{'width':'100% !important!'}" [readonlyInput]="true" inputId="dateRange" [numberOfMonths]="2"
      (onSelect)="onCheckDates($event)" (onClose)="onDateRangeSelected($event)" inputStyleClass="w100P">
    </p-calendar>
  </li>

  <li *ngIf="showMonth">
    <!-- <label for="calMonth" class="p-col-12 text-white">Month</label> -->
    <p-calendar class="p-col-12" [(ngModel)]="InputMonth" view="month" [maxDate]="currentDate" dateFormat="M, yy"
      [readonlyInput]="true" inputId="calMonth" [style]="{'width':'100% !important!'}"
      (onSelect)="onMonthSelected($event)" inputStyleClass="w100P">
    </p-calendar>
  </li>

  <li *ngIf="showMonthDates">
    <p-multiSelect class="p-col-12" maxSelectedLabels="0" inputId="multipleDates" [(ngModel)]="multiDatesSelected"
      defaultLabel="Dates" [options]="multiDatesSelectItem" [style]="{'width':'100% !important!'}"
      (onChange)="onMultiDatesSelected($event)"></p-multiSelect>
  </li>
