@import 'assets/style/_mixins.scss';

@mixin active-arrow($bdr-color) {
  span.arrow {
    display: inline-block;
    border-right-color: $bdr-color;
  }
}

/**** sidebar ****/
.sidebar {
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  height: $sidebar-height;
  color: $sidebar-color;
  z-index: $sidebar-zindex;
  // box-shadow: $sidebar-box-shadow;
  background-color: $sidebar-bg-color;
  /** header **/
  &-header

{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  height: $sidebar-header-height;
  white-space: nowrap;
  overflow: hidden;
}

/** body **/
&-body {
  @include scroll-style(rgba($white,.7),transparent,.3rem);
  // height: calc(100% - #{$sidebar-header-height});
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  ul

{
  padding: 0 0 2rem 0;
  list-style: none;
  li

{
  position: relative;
}

}
}

/** items **/
&-item {
  a

{
  color: #70839A;
  display: block;
  margin: $sidebar-item-margin;
  border-radius: $sidebar-item-bdr;
  padding: $sidebar-item-padding;
  white-space: nowrap;
  overflow: hidden;
  .mini-hide

{
  padding-left: 1.2rem;
  font-weight: 300;
  font-size: 16px;
  // color: #70839A;
}

}

span.arrow {
  border: 1.3rem solid transparent;
}

}


/** hover and active **/
&-item, &-sub-item, &-sub-item-2 {
  &:hover:not(.active) > a

{
  @include active-arrow(rgba($white,.3));
  background-color: none;
}

&.active > a {
  @include active-arrow(rgba($white,.6));
  background-color: none;
  color: #fff;
  font-weight: normal;
  &:not([data-toggle = collapse])

{
  background-color: none;
  box-shadow: none;
}

}
/* collapse icon anim */
& > a[data-toggle=collapse] {
  i .toggle-icon

{
  position: absolute;
  right: .5rem;
  top: .5rem;
  transition: $transition-base;
}

&.collapsed i.toggle-icon {
  transform: rotate(180deg);
  transition: $transition-base;
}

}
}

/** arrow **/
span.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  border-right: 0;
}

.mini-hide {
  display: inline-block;
}

}

/*sidebar outside div (onclick close)*/
.sidebarOutside {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 50%;
  z-index: $sidebar-zindex - 1;
  background-color: rgba($black,.3);
}

.sidebar-header {
  padding: 75px 0;
  img

{
  width: 148px;
}

}
/**** media break points ****/

@include media-breakpoint-down(lg) {
  .sidebar {
    width: $sidebar-width-lg;
  }
}

@include media-breakpoint-down(md) {
  .sidebar {
    width: $sidebar-width-md;
    &.hide

{
  width: $sidebar-mini-width-md;
}

}

.sidebarOutside {
  display: block;
}

}

@include media-breakpoint-down(sm) {
  .sidebar {
    width: $sidebar-width-sm;
    &.hide

{
  width: 0;
  left: -5%;
}

}

.sidebar-header {
  height: $navbar-height - 1px;
}
}

.parent-list {
  cursor: pointer;
  position: relative;

  .child-list {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #312939;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    @media only screen and (max-width: 991px){
      width: auto;
    }
  }
}
.parent-list:hover .child-list{
  display:block;
}
.parent-list .child-list:last-child {
  margin-bottom:0;
  padding-bottom:0;
}
.side-bar-menus li{
  margin-bottom:20px;
  padding:10px;
}
