<div class="sidebar" [class.hide]="cmnSrv.dashboardState.sidebarToggle">
  <!--[class.hide]="cmnSrv.dashboardState.sidebarToggle"-->
  <!--<div class="sidebar-header align-middle">
      <h1 class="d-none logo-name">Amax</h1>
      <img class="main-logo" src="assets/images/amax-logo.png" alt="logo" />
  </div>-->
  <hr class="underline">
  <div class="sidebar-body">
    <ul class="side-bar-menus">
      <li [ngClass]="HourlyLoadclass" style="cursor:pointer" (click)="Navigate('HourlyLoad')">
        <i class="icon-revenue-icon"></i><span>Hourly Load</span>
      </li>
      <li [ngClass]="NewModifiedQuotesclass" style="cursor:pointer" (click)="Navigate('NewModifiedQuotes')">
        <i class="icon-revenue-icon"></i><span>NewModifiedQuotes</span>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!cmnSrv.dashboardState.sidebarToggle" class="sidebarOutside" (click)="cmnSrv.sidebarToggle()"></div>
