<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form class="login100-form validate-form flex-sb flex-w" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-51">
          Login
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
          <input class="input100" formControlName="username" type="email" pInputText placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required.</div>
            <div *ngIf="f.username.errors.email">Invalid email address.</div>
          </div>
        </div>


        <div class="wrap-input100 validate-input m-b-16 p-t-3 p-b-24" data-validate="Password is required">
          <input class="input100" formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.invalid }" pInputText placeholder="Password">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required.</div>
          </div>
        </div>


        <div class="container-login100-form-btn m-t-17">
          <div *ngIf="error" class="invalid-login" style="color:#dc3545;">
            {{error}}
          </div>
        </div>
        
          <div class="login-button text-center">
            <button class="login100-form-btn">Login</button>
          </div>
     
         
        

      </form>
    </div>
  </div>
</div>
