.main-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;    
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #031b4e;
    text-align: left;
    background-color: #ecf0fa;
}

/* Bootstrap override */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff !important;
    background-clip: border-box;
    border-radius: 5px;
    border: 1px solid #deebfd;
    margin-bottom: 1.3rem;
    box-shadow:-8px 12px 18px 0 #dadee8
}

/* Common */

/* Sidebar */
.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    color: #14112d;
    width: 240px;
    max-height: 100%;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0px 8px 14.72px 1.28px rgba(229, 228, 230, 0.5);
    box-shadow: 0px 8px 14.72px 1.28px rgba(229, 228, 230, 0.5);
    border-right: 1px solid #e3e3e3;
    -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-header {
    background: #fff;
    z-index: 9;
    flex-shrink: 0;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 240px;
    background: #fff;
    border-bottom: 1px solid #eae8f1;
    position: fixed;
    border-right: 1px solid #eae8f1;
    white-space: nowrap;
    visibility: visible;
    -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    transform: translate3d(0, 0, 0);
}

.desktop-logo {
    height: 2rem;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.main-logo {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.sidebar-nav {
    margin-top: 95px;
}

.sidebar-nav li {
    margin-bottom: 7px;
}

.sidebar-nav li a {
    color: #5b6e88;
    position: relative;

}

.sidebar-nav li a.active {
    color: #d0112b;
    background: rgba(208, 17, 43,0.02);
}

.sidebar-nav li a:hover {
    color: #d0112b;
}

.sidebar-nav li a.active:after {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    top: 0;
    background: #d0112b;
}

/* Header */
.main-header {
    background: #fff;
    height: 64px;
    border-bottom: 1px solid #dee4ec;
    box-shadow:5px 7px 26px -5px #cdd4e7;
    z-index: 1025 !important;
    top: 0;
    position: fixed !important;
}

/* Main Content */

.main-content {
    padding-top:60px;
}

.breadcrumb-header {
margin-bottom:25px
}

.breadcrumb-header p {
    color: #78829a;
}
.breadcrumb-header h1 {
    font-size: 24px;
    margin-bottom: 0;
}

/* Tab Content */

.tab-content .table-outer-wrap {
border:1px solid #dee2e6;
}

.tabbed-content .nav-link {
    padding: 20px 40px;
    color: #000;
}

.tabbed-content .nav-pills .nav-link.active {
    background-color: #d0112b;
    box-shadow: -8px 12px 18px 0 #dadee8;
}

/* Pagination */

.pagination-custom .page-link {
    color: #5b6e88;
    border:0;
    border-radius: 4px;
    margin: 0 3px;
}
.page-item.active .page-link {
    background: #5b6e88;
}

/* Media Queries */

@media (min-width: 992px) {
    .main-sidebar-header {
        width: 240px;
        z-index: 999;
    }
    .main-content {
        margin-left: 245px;
    }

}

@media (min-width: 768px) {  

    .main-header {
        z-index: 975 !important;
        width: 100% !important;
        left: 0;
        padding-left: 240px
    }
}