﻿@model ReferralModel
@{
    List<AmaxIns.DataContract.Referral.Language.ResourceValueModel> resources = ViewBag.Resourses as List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>;
    List<AmaxIns.DataContract.Referral.Language.ResourceValueModel> TermAndCondition = ViewBag.TermAndCondition as List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>;


}

<div class="banner">
    @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
    {
        <div class="banner-section banner-section-rw">
            <div class="banner-content-holder d-flex">
                <div class="banner-img">
                    <img class="img-fluid" src="~/images/banner-lft-img.png" alt="banner-img" />                    
                </div>
                <div class="banner-content spanish">
                   
                        <div class="borderright">
                            <h2>PROGRAMA DE REFERENCIA DE MAX REWARDS</h2>
                            <h1>REFERIR A UNA AMIGA POR<br>UNA OPORTUNIDAD DE GANAR</h1>
                        </div>
                        <h3 class="bg">CÓMO ENTRAR</h3>
                        <ol>
                            <li>Refiera a un amigo o familiar con el formulario a continuación.</li>
                            <li>
                                Los referidos elegibles deben recibir una cotización automática de A-MAX.
                            </li>
                            <li>Síguenos en Facebook <a href="https://www.facebook.com/amaxinsurance" >@@amaxinsurance</a> y revise su correo electrónico para ver si gana.</li>

                        </ol>
                        <p>
                            Cada semana, A-MAX seleccionará ganadores al azar. Los ganadores elegibles serán contactados por teléfono o correo electrónico y se les proporcionará
                            instrucciones sobre cómo reclamar su premio.
                        </p>

                        <div class="banner-btn-rw d-flex flex-wrap">
                            <button class="btn banner-btn" onclick="ScrollToReferal()"> Refiere un Amigo</button>

                            <a href="https://www.amaxinsurance.com/online-quote.html" class="btn banner-btn">Solicita una cotización</a>

                        </div>
                    </div>
                </div>
        </div>
        @*<img src="~/images/RefBannerSpanish.jpg" alt="banner-img" />*@
    }
    else
    {
        <div class="banner-section banner-section-rw">
            <div class="banner-content-holder  d-flex">
                <div class="banner-img">
                    <img class="img-fluid" src="~/images/banner-lft-img.png" alt="banner-img" />
                </div>

                <div class="banner-content">
                    <div class="borderright">
                        <h2>MAX REWARDS REFERRAL PROGRAM</h2>
                        <h1>REFER A FRIEND FOR <br> A CHANCE TO WIN</h1>
                    </div>
                    <h3 class="bg">HOW TO ENTER</h3>
                    <ol>
                        <li>Refer a friend or family member with the form below.</li>
                        <li>
                            Eligible referrals must receive an auto quote from A-MAX.
                        </li>
                        <li>Follow us on Facebook <a href="https://www.facebook.com/amaxinsurance">@@amaxinsurance</a> and check your email to see if you win.</li>

                    </ol>
                    <p>
                        Each week, A-MAX will randomly select winners. Eligible winners will be contacted by phone or email and provided
                        instructions on claiming their prize.
                    </p>

                    <div class="banner-btn-rw d-flex flex-wrap">
                        <button class="btn banner-btn" onclick="ScrollToReferal()">Refer a Friend</button>
                        <a href="https://www.amaxinsurance.com/online-quote.html" class="btn banner-btn">Request a Quote</a>
                    </div>
                </div>
            </div>
        </div>
        @*<img src="~/images/RefBannerEnglish.jpg" alt="banner-img" />*@
    }
  
</div>
<div class="container mt-4" id="ReferalForm">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center text-uppercase refer-friend-form-heading">
                <h3>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.RefferAfriendPageTitle.ToString()).FirstOrDefault().ResourceText)</h3>
            </div>
            @using (Html.BeginForm("SaveReferral", "Customer", FormMethod.Post, new { @class = "custom-form padding-bottom-80", @id = "form" }))
            {
                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                        <h3>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.SelfDetails.ToString()).FirstOrDefault().ResourceText)</h3>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.CustomerName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.CustomerEmail, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.CustomerEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.CustomerPhone, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText, @maxlength = "10" })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.CustomerPhone)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Zip.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.ZipCode, new { @id = "Zip", @class = "form-control" })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.ZipCode)
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralsDetails.ToString()).FirstOrDefault().ResourceText)</h3>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.RefName, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Name.ToString()).FirstOrDefault().ResourceText })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.RefName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.RefEmail, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.Email.ToString()).FirstOrDefault().ResourceText })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.RefEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText)</label>
                            @Html.TextBoxFor(m => m.RefPhone, new { @class = "form-control", @placeholder = resources.Where(m => m.ResourceKey == Resource.PhoneNumber.ToString()).FirstOrDefault().ResourceText, @maxlength = "10" })
                            <div class="error">
                                @Html.ValidationMessageFor(m => m.RefPhone)
                                @*<span id="ErrorPhoneOrEmailValidation" style="display:none;">
                                        @Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneOrEmailValidation.ToString()).FirstOrDefault().ResourceText)
                                    </span>*@
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        @if (this.Context.Request.Query != null && this.Context.Request.Query["message"].ToString() == "success")
                        {
                            <div class="alert alert-success" role="alert">
                                @Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralSavedSuccessfull.ToString()).FirstOrDefault().ResourceText)
                            </div>
                        }
                        else if (this.Context.Request.Query != null && this.Context.Request.Query["message"].ToString() == "error")
                        {
                            <div class="alert alert-danger" role="alert">
                                @Html.Raw(resources.Where(m => m.ResourceKey == Resource.ErrorSavingReferral.ToString()).FirstOrDefault().ResourceText)
                            </div>
                        }

                    </div>

                    <div class="col-sm-12 text-center">
                        @*<button type="submit" value="Save" name="ValidatePhoneOrEmail" class="btn btn-danger">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Submit.ToString()).FirstOrDefault().ResourceText)</button>*@
                        <button type="submit" value="@Submit.Add" name="type" class="btn btn-danger">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.Submit.ToString()).FirstOrDefault().ResourceText)</button>

                        <button type="submit" value="@Submit.AddMore" name="type" class="btn btn-danger">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.SubmitAndMore.ToString()).FirstOrDefault().ResourceText)</button>

                    </div>
                </div>
            }
            @*<div class="row mt-3">
                <div class="col-sm-12 text-center">
                    <p class="learn-more-text">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.WeRespectPrivacy.ToString()).FirstOrDefault().ResourceText) <a href="javascript:void(0);" onclick="ScrollToTermAndCondition();">@Html.Raw(resources.Where(m => m.ResourceKey == Resource.LearnMore.ToString()).FirstOrDefault().ResourceText)</a></p>
                </div>
            </div>*@
        </div>

    </div>



</div>
@*<div class="mt-3">
    <div class="car-image">
        <img src="~/images/shutterstock.png" alt="image" />
    </div>
</div>
<div class="container mt-4">
    <div id="termCondotion">
        @Html.Raw(TermAndCondition.Where(m => m.ResourceKey == Resource.TermsAndConditionContent.ToString()).FirstOrDefault().ResourceText)
    </div>
</div>*@






<script type="text/javascript">


    $(document).ready(function () {
        SetValidationMessage();
        GetLocation();
        //$("#termCondotion").find("h3").each(function (e) {
        //    if (e === 1) {
        //        $(this).css("color", "red");
        //    }
        //})
    });

    function ScrollToReferal() {
        var elmnt = document.getElementById("ReferalForm");
        var x = $(elmnt).offset().top;
        $('html,body').animate({ scrollTop: x - 110 }, 1000);
        //elmnt.scrollIntoView();
    }

    //function ScrollToTermAndCondition() {
    //    var tandc = document.getElementById("termCondotion");
    //    var x = $(tandc).offset().top;
    //    $('html,body').animate({ scrollTop: x - 110 }, 1000);
    //}

    function SetValidationMessage()
    {
        $('#CustomerName').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.SelfNameValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefName').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ReferralNameValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerEmail').attr('data-val-email','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerEmail').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-email', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefEmail').attr('data-val-remote','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.EmailUniqueValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerPhone').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#CustomerPhone').attr('data-val-required','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberRequiredValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefPhone').attr('data-val-regex','@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefPhone').attr('data-val-remote', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneUniqueValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#RefPhone').attr('data-val-required', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.PhoneNumberRequiredValidation.ToString()).FirstOrDefault().ResourceText)');

        $('#ZipCode').attr('data-val-regex', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ZipCodeValidation.ToString()).FirstOrDefault().ResourceText)');
        $('#ZipCode').attr('data-val-minlength', '@Html.Raw(resources.Where(m => m.ResourceKey == Resource.ZipCodeValidation.ToString()).FirstOrDefault().ResourceText)');

    }

    function GetLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var apiURL = "https://dev.virtualearth.net/Rest/v1/Locations/" + position.coords.latitude + "," + position.coords.longitude + "?&key=AnI1OpPyH_3_EKopY_399myE_AlOAOK0q-odkxqFk3lg6YzrmCpFpcNObvwauMQ6";
                jQuery.get(apiURL, function (response) {
                    var results = response.resourceSets[0].resources;
                    for (var i = 0; i < results.length; i++) {
                        $('#Zip').val(results[i].address["postalCode"]);

                    }
                });

            });
        }


    }
</script>
