<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="main-wrapper">
  <header>
    <h1>Account Detail</h1>

    <div class="col-sm-5 action">
      <button class="btn btn-default" (click)="Navigate('dashboardone')">
        Home
      </button>
      <button class="btn btn-default" (click)="Navigate('dashboardthree')">
        Transactions
      </button>
      <!--<button class="btn btn-default" (click)="Navigate('dashboardfour')">
        Variance Report
      </button>-->
    </div>
    <div
      style="
        width: 20px;
        float: right;
        margin-top: 0px;
        margin-right: 15px;
        margin-left: 10px;
        position: inherit;
      "
    >
      <img
        (click)="LogOut()"
        title="Log Out"
        style="width: 25px; cursor: pointer"
        src="../../../assets/2529524.png"
      />
    </div>
  </header>

  <div class="budget-top-filter">
    <div class="d-flex header-filters flex-wrap">
      <div class="d-flex align-items-center">
        <div class="text-lable">Year</div>
        <div>
          <p-dropdown [options]="yearsSelectItem"
                      [(ngModel)]="selectedyear"
                      optionLabel="value"
                      (onChange)="onYearchange($event)"
                      [filter]="true"
                      filterBy="value"
                      [showClear]="true"
                      placeholder="Select a Year">
            <ng-template pTemplate="selectedItem" *ngIf="selectedyear">
              {{ selectedyear.value }}
            </ng-template>
            <ng-template let-year pTemplate="item">
              {{ year.value }}
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="text-lable">Month</div>
        <div>
          <p-multiSelect [options]="monthSelectItem"
                         maxSelectedLabels="1"
                         [(ngModel)]="selectedmonth"
                         defaultLabel="Month"
                         (onChange)="onMonthchange()"
                         optionLabel="label"></p-multiSelect>
        </div>
      </div>

      <div class="d-flex align-items-center" *ngIf="isAdmin">
        <div class="text-lable">Department</div>
        <div>
          <p-multiSelect [options]="deptSelectItem"
                         maxSelectedLabels="1"
                         [(ngModel)]="selectedDepartment"
                         defaultLabel="Department"
                         (onChange)="onDeptchange($event)"
                         optionLabel="label"></p-multiSelect>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="text-lable">Category Name</div>
        <div>
          <p-multiSelect [options]="catSelectItem"
                         maxSelectedLabels="1"
                         [(ngModel)]="selectedCat"
                         defaultLabel="Category"
                         (onChange)="onCatChange($event)"
                         optionLabel="label"></p-multiSelect>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="text-lable">Budget Name</div>
        <div>
          <p-multiSelect [options]="BudgetSelectItem"
                         maxSelectedLabels="1"
                         [(ngModel)]="selectedBudget"
                         defaultLabel="Budget"
                         (onChange)="onBudgetChange()"
                         optionLabel="label"></p-multiSelect>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-default" (click)="exportExcel()">
          Export
        </button>
        
      </div>
     
    </div>
  </div>

  <div class="budget-top-filter">
    <div class="row" *ngIf="!isAdmin">
      <div class="col-xl-6 col-lg-12">
        <div class="table-data table-responsive">
          <table>
            <tbody *ngFor="let obj of listOfDistinctCategory">
              <tr
                *ngFor="
                  let item of SpendingModel
                    | customFilter: { categoryName: obj };
                  index as i
                "
              >
                <td
                  class="table-title"
                  [rowSpan]="
                    (SpendingModel | customFilter: { categoryName: obj }).length
                  "
                  *ngIf="i == 0"
                  style="width: 30%"
                >
                  {{ obj }}
                </td>
                <td class="budget-code"></td>
                <td class="budget-name" style="width: 30%">
                  {{ item.budgetName }}
                </td>
                <td class="spending d-flex align-items-center">
                  <div
                    class="sum-bar"
                    *ngIf="item.budget == 0"
                    style="left: 3%"
                  >
                    <ng-template #sum1>
                      <div class="tootip-wrap">
                        Sum Budget Amount = {{ item.budget }}
                      </div>
                    </ng-template>
                    <span
                      [tooltip]="sum1"
                      [options]="myOptions"
                      content-type="template"
                    ></span>
                  </div>

                  <div
                    class="sum-bar"
                    *ngIf="item.budget != 0"
                    style="left: 33.33%"
                  >
                    <ng-template #sum1>
                      <div class="tootip-wrap">
                        Sum Budget Amount = {{ item.budget }}
                      </div>
                    </ng-template>
                    <span
                      [tooltip]="sum1"
                      [options]="myOptions"
                      content-type="template"
                    ></span>
                  </div>
                  <div
                    *ngIf="item.spending == 'Safe'"
                    [tooltip]="sample"
                    [options]="myOptions"
                    content-type="template"
                    class="progress bar-safe"
                    style="width:{{ item.actualPer / 3 }}%"
                  ></div>
                  <div
                    *ngIf="item.spending == 'Good'"
                    [tooltip]="sample"
                    [options]="myOptions"
                    content-type="template"
                    class="progress bar-good"
                    style="width:{{ item.actualPer / 3 }}%"
                  ></div>
                  <div
                    *ngIf="item.spending == 'Overspending'"
                    [tooltip]="sample"
                    [options]="myOptions"
                    content-type="template"
                    class="progress bar-overspending"
                    style="width:{{ item.actualPer / 3 }}%"
                  ></div>

                  <ng-template #sample>
                    <div class="tootip-wrap">
                      <div class="d-flex w-100">
                        <div class="tooltip-title">Budget Name</div>
                        <div class="tooltip-content">{{ item.budgetName }}</div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Category Name</div>
                        <div class="tooltip-content flex-fill">{{ obj }}</div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Budget Code</div>
                        <div class="tooltip-content">
                          {{ item.frontBudgetCode }}
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Budget Amount</div>
                        <div class="tooltip-content">
                        $  {{ item.budget | number: "1.0-0" }}
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Actual</div>
                        <div class="tooltip-content">
                        $  {{ item.actual | number: "1.0-0" }}
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Variance</div>
                        <div class="tooltip-content">
                        $  {{ item.variance | number: "1.0-0" }}
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="tooltip-title">Status</div>
                        <div class="tooltip-content">{{ item.spending }}</div>
                      </div>
                    </div>
                  </ng-template>
                  <span
                    [tooltip]="sample"
                    [options]="myOptions"
                    content-type="template"
                    >${{ item.variance | number: "1.0-0" }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center mt-3">
            <span
              class="text-center"
              *ngIf="SpendingModel.length == 0"
              style="color: #4e79a7"
              >No record found</span
            >
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 account-right">
        <div class="table-data table-responsive">
          <table class="stripted">
            <thead>
              <tr>
                <th>Category name</th>
                <th>Budget Code</th>
                <th class="budget-name">Budget Name</th>
                <th class="budget-budget">Budget</th>
                <th class="budget-actual">Actual</th>
                <th class="budget-variance">Variance</th>
                <th>Variance Rate</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let obj of listOfDistinctCategory">
                <tr
                  *ngFor="
                    let item of SpendingModel
                      | customFilter: { categoryName: obj };
                    index as i;
                    odd as isodd
                  "
                >
                  <td
                    [rowSpan]="
                      (SpendingModel | customFilter: { categoryName: obj })
                        .length
                    "
                    *ngIf="i == 0"
                  >
                    {{ obj }}
                  </td>
                  <td class="budget-code">{{ item.frontBudgetCode }}</td>
                  <td class="budget-name">{{ item.budgetName }}</td>

                  <td
                    [ngClass]="{
                      'budget safe': item.spending === 'Safe',
                      'budget good': item.spending === 'Good',
                      'budget overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplebudget"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.budget | number: "1.0-0" }}</span
                    >
                    <ng-template #samplebudget>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Amount</div>
                          <div class="tooltip-content">
                          $  {{ item.budget | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'actual safe': item.spending === 'Safe',
                      'actual good': item.spending === 'Good',
                      'actual overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="sampleactual"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.actual | number: "1.0-0" }}</span
                    >
                    <ng-template #sampleactual>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Actual</div>
                          <div class="tooltip-content">
                          $  {{ item.actual | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'variance safe': item.spending === 'Safe',
                      'variance good': item.spending === 'Good',
                      'variance overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplevariance"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.variance | number: "1.0-0" }}</span
                    >
                    <ng-template #samplevariance>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Variance</div>
                          <div class="tooltip-content">
                           $ {{ item.variance | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'variance-rate safe': item.spending === 'Safe',
                      'variance-rate good': item.spending === 'Good',
                      'variance-rate overspending':
                        item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplevarianceRate"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >{{
                        item.varianceRate === 0
                          ? ""
                          : (item.varianceRate | number: "1.0-0") +
                            "
                      %"
                      }}</span
                    >
                    <ng-template #samplevarianceRate>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Variance Rate</div>
                          <div class="tooltip-content">
                          {{ item.varianceRate | number: "1.0-0" }} %
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <th></th>
                <th></th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  Total
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ budgetTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ actualTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ varianceTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ variancePercentage | number: "1.0-0" }} %
                </th>
              </tr>
            </tbody>
          </table>
          <div class="text-center mt-3">
            <span
              class="text-center"
              *ngIf="SpendingModel.length == 0"
              style="color: #4e79a7"
              >No record found</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isAdmin">
      <div class="col-xl-12 col-lg-12 account-right">
        <div class="table-data table-responsive">
          <table class="stripted">
            <thead>
              <tr>
                <th>Category name</th>
                <th>Budget Code</th>
                <th class="budget-name">Budget Name</th>
                <th class="budget-budget">Budget</th>
                <th class="budget-actual">Actual</th>
                <th class="budget-variance">Variance</th>
                <th>Variance Rate</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let obj of listOfDistinctCategory">
                <tr
                  *ngFor="
                    let item of SpendingModel
                      | customFilter: { categoryName: obj };
                    index as i;
                    odd as isodd
                  "
                >
                  <td
                    [rowSpan]="
                      (SpendingModel | customFilter: { categoryName: obj })
                        .length
                    "
                    *ngIf="i == 0"
                  >
                    {{ obj }}
                  </td>
                  <td class="budget-code">{{ item.frontBudgetCode }}</td>
                  <td class="budget-name">{{ item.budgetName }}</td>

                  <td
                    [ngClass]="{
                      'budget safe': item.spending === 'Safe',
                      'budget good': item.spending === 'Good',
                      'budget overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplebudget"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.budget | number: "1.0-0" }}</span
                    >
                    <ng-template #samplebudget>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Amount</div>
                          <div class="tooltip-content">
                           $ {{ item.budget | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'actual safe': item.spending === 'Safe',
                      'actual good': item.spending === 'Good',
                      'actual overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="sampleactual"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.actual | number: "1.0-0" }}</span
                    >
                    <ng-template #sampleactual>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Actual</div>
                          <div class="tooltip-content">
                           $ {{ item.actual | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'variance safe': item.spending === 'Safe',
                      'variance good': item.spending === 'Good',
                      'variance overspending': item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplevariance"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >${{ item.variance | number: "1.0-0" }}</span
                    >
                    <ng-template #samplevariance>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Variance</div>
                          <div class="tooltip-content">
                          $  {{ item.variance | number: "1.0-0" }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{
                      'variance-rate safe': item.spending === 'Safe',
                      'variance-rate good': item.spending === 'Good',
                      'variance-rate overspending':
                        item.spending === 'Overspending'
                    }"
                  >
                    <span
                      [tooltip]="samplevarianceRate"
                      [options]="myOptions"
                      style="text-align: left"
                      content-type="template"
                      >{{
                        item.varianceRate === 0
                          ? ""
                          : (item.varianceRate | number: "1.0-0") +
                            "
                      %"
                      }}</span
                    >
                    <ng-template #samplevarianceRate>
                      <div class="tootip-wrap">
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Name</div>
                          <div class="tooltip-content">
                            {{ item.budgetName }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Category Name</div>
                          <div class="tooltip-content flex-fill">{{ obj }}</div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Budget Code</div>
                          <div class="tooltip-content">
                            {{ item.frontBudgetCode }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Variance Rate</div>
                          <div class="tooltip-content">
                            {{ item.varianceRate | number: "1.0-0" }} %
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="tooltip-title">Status</div>
                          <div class="tooltip-content">{{ item.spending }}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <th></th>
                <th></th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  Total
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ budgetTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ actualTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ varianceTotal | number: "1.0-0" }}
                </th>
                <th
                  [ngClass]="{
                    'budget safe': spending === 'Safe',
                    'budget good': spending === 'Good',
                    'budget overspending': spending === 'Overspending'
                  }"
                  style="font-size: 14px"
                >
                  {{ variancePercentage | number: "1.0-0" }} %
                </th>
              </tr>
            </tbody>
          </table>
          <div class="text-center mt-3">
            <span
              class="text-center"
              *ngIf="SpendingModel.length == 0"
              style="color: #4e79a7"
              >No record found</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
