<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown-alpa [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (SdChangeEmitter)="RmChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown-alpa>
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div mt-0">
        <mat-tab-group (selectedTabChange)="setActualHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Policy Count">
            <div class="heading flex-header">
              <p>Revenue | {{selectedyear}}</p>
              <ul class="info-tiles">
                <li>
                  <h4>Refresh Date</h4>
                  <p>{{refreshDate}}</p>
                </li>
                <li>
                  <h4>Working Days</h4>
                  <p> {{workingdays.totalWorkingdays}}</p>
                </li>
                <li>
                  <h4>Working Days Passed</h4>
                  <p>{{ workingdays.workingDaysPassed}}</p>
                </li>
                <li>
                  <h4>Remaining Days</h4>
                  <p>{{ workingdays.remainingDays}}</p>
                </li>
              </ul>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Pacing</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerPolicyCount.pages && pagerPolicyCount.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                        <a (click)="setPolicyCountPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                        <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerPolicyCount.pages" [ngClass]="{active:pagerPolicyCount.currentPage === page}">
                        <a (click)="setPolicyCountPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                        <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                        <a (click)="setPolicyCountPaging(pagerPolicyCount.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedPolicyCount" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="PolicyCountchartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.agenyName}}
                      </div>
                    </li>
                  </ul>


                </div>

              </div>
            </div>
          </mat-tab>
          <mat-tab label="Agency Fee">
            <div class="heading flex-header">
              <p>Agency Fee |{{selectedyear}}</p>
              <ul class="info-tiles">
                <li>
                  <h4>Refresh Date</h4>
                  <p>{{refreshDate}}</p>
                </li>
                <li>
                  <h4>Working Days</h4>
                  <p> {{workingdays.totalWorkingdays}}</p>
                </li>
                <li>
                  <h4>Working Days Passed</h4>
                  <p>{{ workingdays.workingDaysPassed}}</p>
                </li>
                <li>
                  <h4>Remaining Days</h4>
                  <p>{{ workingdays.remainingDays}}</p>
                </li>
              </ul>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Pacing</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerAfee.pages && pagerAfee.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerAfee.currentPage === 1}">
                        <a (click)="setAfeePaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAfee.currentPage === 1}">
                        <a (click)="setAfeePaging(pagerAfee.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerAfee.pages" [ngClass]="{active:pagerAfee.currentPage === page}">
                        <a (click)="setAfeePaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAfee.currentPage === pagerAfee.totalPages}">
                        <a (click)="setAfeePaging(pagerAfee.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerAfee.currentPage === pagerAfee.totalPages}">
                        <a (click)="setAfeePaging(pagerAfee.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedAfee" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.agenyName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Premium">
            <div class="heading flex-header">
              <p>Premium |{{selectedyear}}</p>
              <ul class="info-tiles">
                <li>
                  <h4>Refresh Date</h4>
                  <p>{{refreshDate}}</p>
                </li>
                <li>
                  <h4>Working Days</h4>
                  <p> {{workingdays.totalWorkingdays}}</p>
                </li>
                <li>
                  <h4>Working Days Passed</h4>
                  <p>{{ workingdays.workingDaysPassed}}</p>
                </li>
                <li>
                  <h4>Remaining Days</h4>
                  <p>{{ workingdays.remainingDays}}</p>
                </li>
              </ul>
            </div>

            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Pacing</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                    <ul *ngIf="pagerPremium.pages && pagerPremium.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerPremium.currentPage === 1}">
                        <a (click)="setPremiumPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPremium.currentPage === 1}">
                        <a (click)="setPremiumPaging(pagerPremium.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerPremium.pages" [ngClass]="{active:pagerPremium.currentPage === page}">
                        <a (click)="setPremiumPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPremium.currentPage === pagerPremium.totalPages}">
                        <a (click)="setPremiumPaging(pagerPremium.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerPremium.currentPage === pagerPremium.totalPages}">
                        <a (click)="setPremiumPaging(pagerPremium.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ml-2">
                  <ul>
                    <li *ngFor="let item of pagedPremium" class="mr-3 mt-3" style="display: inline-block">
                      <p-chart height="150" width="150" type="bar" [data]="item._data" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        {{item.agenyName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Total">
            <div class="heading flex-header">
              <p>Premium |{{selectedyear}}</p>
              <ul class="info-tiles">
                <li>
                  <h4>Refresh Date</h4>
                  <p>{{refreshDate}}</p>
                </li>
                <li>
                  <h4>Working Days</h4>
                  <p> {{workingdays.totalWorkingdays}}</p>
                </li>
                <li>
                  <h4>Working Days Passed</h4>
                  <p>{{ workingdays.workingDaysPassed}}</p>
                </li>
                <li>
                  <h4>Remaining Days</h4>
                  <p>{{ workingdays.remainingDays}}</p>
                </li>
              </ul>
            </div>

            <div class="content-div">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul class="color-indicators">
                    <li>
                      <span class="color color-goal"></span>
                      <span class="color-title">Goal</span>
                    </li>
                    <li>
                      <span class="color color-actual"></span>
                      <span class="color-title">Actual</span>
                    </li>
                    <li>
                      <span class="color color-pacing"></span>
                      <span class="color-title">Pacing</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ml-5">
                  <ul>
                    <li class="mr-5" style="display: inline-block">
                      <p-chart height="200" width="200" type="bar" [data]="TotalPolicyChatdata" [options]="PolicyCountchartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        Policy Count
                      </div>
                    </li>

                    <li class="mr-5" style="display: inline-block">
                      <p-chart height="200" width="200" type="bar" [data]="TotalAfeeChatdata" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        Agency Fee
                      </div>
                    </li>

                    <li class="" style="display: inline-block">
                      <p-chart height="200" width="200" type="bar" [data]="TotalPremiumChatdata" [options]="chartOptions"></p-chart>
                      <div class="chart-heading text-center text-white">
                        Premium
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </div>
</div>
