<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect maxSelectedLabels="1" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>
                <!--<p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>-->
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>


      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Agency Fee Breakdown by office">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col">Avg_fee</th>
                    <th scope="col" class="min-width-col">Fee Per Policy</th>
                    <th scope="col">Afee<$1</th>
                    <th scope="col">%Afee<$1 </th>
                    <th scope="col" class="min-width-col">Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">%Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">%Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">%Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">%Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">%Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">%Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">%Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">Afee<(>500)</th>
                    <th scope="col" class="min-width-col">%Afee<(>500)</th>
                    <th scope="col" style="min-width:170px;">Sum Of All Buckets</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row" *ngFor="let item of filteredAgentPerformaceI"  [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : rowbgColor(item.zmId) }">
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }" class="col-id-no">
                      <span *ngIf="item.rom=='ZZ_Total'">Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'">{{item.rom}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }" class="col-first-name">
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm=='ZZ_Total' && item.rom=='ZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom!='ZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZ_Total'">{{item.zm}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }" class="col-agency-name">
                      
                      <span *ngIf="item.agencyName!='ZZ_Total' && item.zm=='ZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm!='ZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td >{{item.avg_fee}}</td>
                    <td >{{item.fee_Per_Policy}}</td>
                    <td >{{item.afeeLessThan1}}</td>
                    <td >{{item.percentageAfeeLessThan1}} %</td>
                    <td >{{item.afeeLessThan1_10}}</td>
                    <td >{{item.percentageAfeeLessThan1_10}} %</td>
                    <td >{{item.afeeLessThan10_25}}</td>
                    <td >{{item.percentageAfeeLessThan10_25}} %</td>
                    <td >{{item.afeeLessThan25_50}}</td>
                    <td >{{item.percentageAfeeLessThan25_50}} %</td>
                    <td >{{item.afeeLessThan50_100}}</td>
                    <td >{{item.percentageAfeeLessThan50_100}} %</td>
                    <td >{{item.afeeLessThan100_150}}</td>
                    <td >{{item.percentageAfeeLessThan100_150}} %</td>
                    <td >{{item.afeeLessThan150_200}}</td>
                    <td >{{item.percentageAfeeLessThan150_200}} %</td>
                    <td >{{item.afeeLessThan200_500}}</td>
                    <td >{{item.percentageAfeeLessThan200_500}} %</td>
                    <td >{{item.afeeGreaterThan500}}</td>
                    <td >{{item.percentageAfeeGreaterThan500}} %</td>
                    <td >{{item.sumOfAllBuckets}}</td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Agency Fee Breakdown DSM">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col">Avg_fee</th>
                    <th scope="col">Fee_Per_Policy</th>
                    <th scope="col" class="min-width-col">Afee<$1</th>
                    <th scope="col" class="min-width-col">%Afee<$1 </th>
                    <th scope="col" class="min-width-col">Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">%Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">%Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">%Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">%Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">%Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">%Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">%Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">Afee<(>500)</th>
                    <th scope="col" class="min-width-col">%Afee<(>500)</th>
                    <th scope="col" style="min-width:170px;">Sum Of All Buckets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAgentPerformaceII" [ngStyle]="{'background-color':(item.zm === 'ZZ_Total') ? 'black' : rowbgColorForZM(item.zmId) }">
                    <td scope="row" [ngStyle]="{'background-color':(item.zm === 'ZZ_Total') ? 'black' : zmBGColor }" class="col-id-no">
                      <span *ngIf="item.rom=='ZZ_Total'">Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'">{{item.rom}}</span>
                    </td>
                    <td scope="row" [ngStyle]="{'background-color':(item.zm === 'ZZ_Total') ? 'black' : zmBGColor }" class="col-first-name">
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm=='ZZ_Total' && item.rom=='ZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom!='ZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZ_Total'">{{item.zm}}</span>
                    </td>
                    <td scope="row">{{item.avg_fee}}</td>
                    <td scope="row">{{item.fee_Per_Policy}}</td>
                    <td scope="row">{{item.afeeLessThan1}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan1}} %</td>
                    <td scope="row">{{item.afeeLessThan1_10}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan1_10}} %</td>
                    <td scope="row">{{item.afeeLessThan10_25}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan10_25}} %</td>
                    <td scope="row">{{item.afeeLessThan25_50}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan25_50}} %</td>
                    <td scope="row">{{item.afeeLessThan50_100}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan50_100}} %</td>
                    <td scope="row">{{item.afeeLessThan100_150}}</td> 
                    <td scope="row">{{item.percentageAfeeLessThan100_150}} %</td>
                    <td scope="row">{{item.afeeLessThan150_200}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan150_200}} %</td>
                    <td scope="row">{{item.afeeLessThan200_500}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan200_500}} %</td>
                    <td scope="row">{{item.afeeGreaterThan500}}</td>
                    <td scope="row">{{item.percentageAfeeGreaterThan500}} %</td>
                    <td scope="row">{{item.sumOfAllBuckets}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Agency Fee Breakdown RSM">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col">Avg_fee</th>
                    <th scope="col">Fee_Per_Policy</th>
                    <th scope="col" class="min-width-col">Afee<$1</th>
                    <th scope="col" class="min-width-col">%Afee<$1 </th>
                    <th scope="col" class="min-width-col">Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">%Afee<(1-10)</th>
                    <th scope="col" class="min-width-col">Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">%Afee<(10-25)</th>
                    <th scope="col" class="min-width-col">Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">%Afee<(25-50)</th>
                    <th scope="col" class="min-width-col">Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">%Afee<(50-100)</th>
                    <th scope="col" class="min-width-col">Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">%Afee<(100-150)</th>
                    <th scope="col" class="min-width-col">Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">%Afee<(150-200)</th>
                    <th scope="col" class="min-width-col">Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">%Afee<(200-500)</th>
                    <th scope="col" class="min-width-col">Afee<(>500)</th>
                    <th scope="col" class="min-width-col">%Afee<(>500)</th>
                    <th scope="col" style="min-width:170px;">Sum Of All Buckets</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredAgentPerformaceIII" [ngStyle]="{'background-color':(item.rom === 'ZZ_total') ? '#323b4e' : rowbgColor(item.rmId) }">
                    <td scope="row" class="col-id-no">
                      <span *ngIf="item.rom=='ZZ_Total'">Total</span>
                      <span *ngIf="item.rom!='ZZ_Total'">{{item.rom}}</span>
                    </td>
                    <td scope="row">{{item.avg_fee}}</td>
                    <td scope="row">{{item.fee_Per_Policy}}</td>
                    <td scope="row">{{item.afeeLessThan1}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan1}} %</td>
                    <td scope="row">{{item.afeeLessThan1_10}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan1_10}} %</td>
                    <td scope="row">{{item.afeeLessThan10_25}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan10_25}} %</td>
                    <td scope="row">{{item.afeeLessThan25_50}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan25_50}} %</td>
                    <td scope="row">{{item.afeeLessThan50_100}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan50_100}} %</td>
                    <td scope="row">{{item.afeeLessThan100_150}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan100_150}} %</td>
                    <td scope="row">{{item.afeeLessThan150_200}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan150_200}} %</td>
                    <td scope="row">{{item.afeeLessThan200_500}}</td>
                    <td scope="row">{{item.percentageAfeeLessThan200_500}} %</td>
                    <td scope="row">{{item.afeeGreaterThan500}}</td>
                    <td scope="row">{{item.percentageAfeeGreaterThan500}} %</td>
                    <td scope="row">{{item.sumOfAllBuckets}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        
      </div>
      </div>
    </div>
</div>
