<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [SinglelocationSelected]="singleLocation" [ShowLocationDropDown]="singleLocationSelected" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (singleLocationEmitter)="SetSingleLocation($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="dateSelectItem" [(ngModel)]="selecteddate" (onChange)="onDatechange(event)"></p-dropdown>
              </li>
              <li *ngIf='seletedIndex===0||seletedIndex===6'>
                <p-dropdown [options]="dateSelectItem" [(ngModel)]="selectedNextdate" (onChange)="onDatechange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="Search()">Search</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p>{{totalPolicy |  number: '1.0-0'}}</p>
              </div>
              <div class="title">
                <p>Total Policy</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p>${{totalAgencyFee |  number: '1.0-0'}}</p>
              </div>
              <div class="title">
                <p>Total Agency Fee</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p>${{totalPremium |  number: '1.0-0'}}</p>
              </div>
              <div class="title">
                <p>Total Premium</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block">
              <div class="count">
                <p>{{totalTransactions |  number: '1.0-0'}}</p>
              </div>
              <div class="title">
                <p>Total Transactions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="epr-heading">
        <h3>Hourly work load</h3>
      </div>-->


      <div class="tabs-div">
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="TabChange($event.index)">
          <mat-tab label="Peak Hour Data">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <button *ngIf="pagedItemsPeakHour && pagedItemsPeakHour.length>0" (click)="DownloadCSV()" class="download-csv-button">Download CSV</button>
              <div id="pager">
                <ul *ngIf="pagerPeakHour.pages && pagerPeakHour.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === 1}">
                    <a (click)="setPageForPeakHour(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === 1}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerPeakHour.pages" [ngClass]="{active:pagerPeakHour.currentPage === page}">
                    <a (click)="setPageForPeakHour(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === pagerPeakHour.totalPages}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === pagerPeakHour.totalPages}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="pagedItemsPeakHour && pagedItemsPeakHour.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Location</th>
                      <th scope="col">Peak Hour Premium</th>
                      <th scope="col">Premium</th>
                      <th scope="col">Peak Hour Agency Fee</th>
                      <th scope="col">Agency Fee</th>
                      <th scope="col">Peak Hour Policies</th>
                      <th scope="col">Policies</th>
                      <th scope="col">Peak Hour Transactions</th>
                      <th scope="col">Transactions</th>
                      <th scope="col">Peak Hour Modified Quotes</th>
                      <th scope="col">Modified Quotes</th>
                      <th scope="col">Peak Hour New Quotes</th>
                      <th scope="col">New Quotes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pagedItemsPeakHour">
                      <td>{{item.location}}</td>
                      <td>{{item.peakhourpremium}}</td>
                      <td>${{item.premium}}</td>
                      <td>{{item.peakhourafee}}</td>
                      <td>${{item.agencyfee}}</td>
                      <td>{{item.peakhourpolicies}}</td>
                      <td>{{item.policies}}</td>
                      <td>{{item.peakhourtransactions}}</td>
                      <td>{{item.transactions}}</td>
                      <td>{{item.peakhourmodifiedquotes}}</td>
                      <td>{{item.modifiedquotes}}</td>
                      <td>{{item.peakhournewquotes}}</td>
                      <td>{{item.newquotes}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="pagedItemsPeakHour.length==0">
                  No record Found, please refine search
                </div>
              </div>
              <div id="pager">
                <ul *ngIf="pagerPeakHour.pages && pagerPeakHour.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === 1}">
                    <a (click)="setPageForPeakHour(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === 1}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerPeakHour.pages" [ngClass]="{active:pagerPeakHour.currentPage === page}">
                    <a (click)="setPageForPeakHour(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === pagerPeakHour.totalPages}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPeakHour.currentPage === pagerPeakHour.totalPages}">
                    <a (click)="setPageForPeakHour(pagerPeakHour.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Hourly Data">
            <div class="heading">
              <p></p>
            </div>
            <div *ngFor="let item of ChartData">
              <div class="content-div">
                <div class="chart-heading text-center"><b><u>{{item.ChatName}}</u></b></div>
                <p-chart height="300" type="horizontalBar" [data]="item" [options]="chartOptions"></p-chart>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Hourly Work Load">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="hourlyData.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Intervel</th>
                      <th scope="col">Agents</th>
                      <th scope="col">Agent Name</th>
                      <th scope="col">Transactions</th>
                      <th scope="col">Premium</th>
                      <th scope="col">Policies</th>
                      <th scope="col">Agency Fee</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hourlyData">
                      <td>{{item.hourIntervel}}</td>
                      <td>{{item.agentCount}} </td>
                      <td><span style="color:blue;cursor:pointer;" [escape]="false" pTooltip="{{ShowAgentNameToolTip(item.agentNames)}}"  tooltipPosition="right">{{ShowAgentName(item.agentNames)}}</span></td>

                      
                      <td>{{item.transactions}}</td>
                      <td>${{item.premium | number:'0.0-0'}}</td>
                      <td>{{item.policies| number:'0.0-0'}}</td>
                      <td>${{item.agencyfee| number:'0.0-0'}}</td>

                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col">Total</th>
                      <th scope="col">{{totalAgents}}</th>
                      <th scope="col"></th>
                      <th scope="col">{{totalTransactions| number:'0.0-0'}}</th>
                      <th scope="col">{{totalPremium| number:'0.0-0'}}</th>
                      <th scope="col">{{totalPolicy| number:'0.0-0'}}</th>
                      <th scope="col">{{totalAgencyFee| number:'0.0-0'}} </th>
                    </tr>
                  </tfoot>
                </table>
                <div *ngIf="hourlyData.length==0">
                  No record Found, please refine search

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Consolidated View">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="graph-chart-div">
                <p-chart width="400" height="400" type="line" [data]="ConsolatedChartData" [options]="chartOptions"></p-chart>
                <h5 class="d-flex justify-content-center font-weight-bold">Hourly Data</h5>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Hourly Quote Data">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="hourlyQuoteData.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Modified Quotes</th>
                      <th scope="col">New Quotes</th>
                      <th scope="col">Intervel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hourlyQuoteData">
                      <td>{{item.modifiedQuotes}}</td>
                      <td>{{item.newQuotes}}</td>
                      <td>{{item.hourIntervel}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="hourlyQuoteData.length==0">
                  No record Found, please refine search
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Consolidated View (Quotes)">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <div class="graph-chart-div">
                <p-chart width="400" height="400" type="line" [data]="QuoteChart" [options]="chartOptions"></p-chart>
                <h5 class="d-flex justify-content-center font-weight-bold">Quote Data</h5>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Hourly Data Report">
            <div class="heading">
              <p></p>
            </div>
            <div class="content-div">
              <button *ngIf="pagedItems && pagedItems.length>0" (click)="DownloadExcel()" class="download-csv-button">Download CSV</button>
              <div id="pager">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Location</th>
                      <th scope="col">Hour Interval</th>
                      <th scope="col">Date</th>
                      <!--<th scope="col">Modified Quotes</th>
                      <th scope="col">New Quotes</th>-->
                      <th scope="col">Policies</th>
                      <th scope="col">Premium</th>
                      <th scope="col">Transaction</th>
                      <th scope="col">Agency Fee</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pagedItems">
                      <td>{{item.location}}</td>
                      <td>{{item.hourIntervel}}</td>
                      <td>{{getDateStringBybackslash(item.date)}}</td>
                      <!--<td>{{item.modifiedQuotes}}</td>
                      <td>{{item.newQuotes}}</td>-->
                      <td>{{item.policies}}</td>
                      <td>${{item.premium}}</td>
                      <td>{{item.transactions}}</td>
                      <td>${{item.agencyfee}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="pagedItems.length==0">
                  No record Found, please refine search
                </div>
              </div>
              <div id="pager">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
