﻿@model List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <p>@Html.Raw(Model.Where(m => m.ResourceKey == Resource.CopyRight.ToString()).FirstOrDefault().ResourceText)</p>
            </div>
            <div class="col-md-5 col-sm-12">
                <p>
                <a href="/Home/Privacy">@Html.Raw(Model.Where(m => m.ResourceKey == Resource.PrivacyPolicy.ToString()).FirstOrDefault().ResourceText)</a>
               | 
                <a href="/Home/TermAndCondition">@Html.Raw(Model.Where(m => m.ResourceKey == Resource.TermsAndConditions.ToString()).FirstOrDefault().ResourceText)</a>
                </p>
            </div>
        </div>
    </div>
</div>