﻿@model List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

                    <a class="navbar-brand" href="https://www.amaxinsurance.com/">
                        <img src="~/images/amax-logo.png" alt="logo" />
                    </a>
                    <!-- <span class="phone-number"><a href="tel:8009212629">800-921-AMAX</a></span> -->

                    <div class="button-select-hold-box">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        @Html.DropDownList("Language", ViewBag.Language as List<SelectListItem>, new { @class = "form-control", @onchange = "SetLanguage()", @id = "Languagedd" })


                    </div>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "home")
                                {
                                    <a class="nav-link active" href="https://www.amaxinsurance.com/"><span> @Html.Raw(Model.Where(m => m.ResourceKey == Resource.Home.ToString()).FirstOrDefault().ResourceText)</span></a>
                                }
                                else
                                {
                                    <a class="nav-link" href="https://www.amaxinsurance.com/"><span> @Html.Raw(Model.Where(m => m.ResourceKey == Resource.Home.ToString()).FirstOrDefault().ResourceText)</span></a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "customer")
                                {
                                    <a class="nav-link active" href="/customer/index"><span>@Html.Raw(Model.Where(m => m.ResourceKey == Resource.Customer.ToString()).FirstOrDefault().ResourceText) </span></a>
                                }
                                else
                                {
                                    <a class="nav-link" href="/customer/index"><span>@Html.Raw(Model.Where(m => m.ResourceKey == Resource.Customer.ToString()).FirstOrDefault().ResourceText) </span></a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "agent")
                                {
                                    <a class="nav-link active" href="/agent/index"><span>@Html.Raw(Model.Where(m => m.ResourceKey == Resource.Agent.ToString()).FirstOrDefault().ResourceText) </span></a>
                                }
                                else
                                {
                                    <a class="nav-link" href="/agent/index"><span>@Html.Raw(Model.Where(m => m.ResourceKey == Resource.Agent.ToString()).FirstOrDefault().ResourceText) </span></a>
                                }
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    function SetLanguage() {
        var langid = $('#Languagedd').val();
        if (window.location.href.indexOf('?') > -1) {
            var reloadUrl = window.location.href.split('?')[0];
            if (langid === '1') {
                var reloadUrl = reloadUrl +'?lang=en'
            }
            else if (langid === '2') {
                var reloadUrl = reloadUrl + '?lang=es'
            }
           
            var url = "/home/SetLanguage/" + langid;
            jQuery.get(url, function (response) {
                window.location.href = reloadUrl;
            });
        }
        else {
            var url = "/home/SetLanguage/" + langid;
            jQuery.get(url, function (response) {
                if (response === "ok") {
                    window.location.reload();
                }
            });
        }
    }

</script>