﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amax Insurance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div id="main" class="main">
        <nav id="sidebar" class="sidebar">
            <ul class="list-unstyled">
                <li>
                    @{ if (Context.Request.Path.Value.Contains("ReferenceReport"))
                        {
                            <a class="active" href="/ReferenceReport">Quotes</a>

                        }
                        else
                        {
                            <a  href="/ReferenceReport">Quotes</a>
                        }
                    }
                </li>
                <li>
                    @{ if (Context.Request.Path.Value.Contains("Turborator"))
                        {
                    <a class="active" href="/Turborator">Sis Company Quotes</a>

                        }
                        else
                        {
                    <a href="/Turborator">Sis Company Quotes</a>
                        }
                    }
                </li>
                <li>

                    @{ if (Context.Request.Path.Value.Contains("winback"))
                        {
                    <a class="active" href="/winback">Win Back</a>

                        }
                        else
                        {
                            <a href="/winback">Win Back</a>
                        }
                    }
                </li>
            </ul>
            <button type="button" id="sidebarCollapse" class="nav-collapse"><i class="fa fa-bars"></i></button>
        </nav>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.sidebar').toggleClass('active');
                $('#main').toggleClass('sidebar-active');
            });
        });
    </script>
</body>
</html>
