<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="main-wrapper">
  <header>
    <h1>Account Detail</h1>

    <div class="col-sm-5 action">
      <button class="btn btn-default" (click)="Navigate('dashboardone')">
        Home
      </button>
      <button class="btn btn-default" (click)="Navigate('dashboardthree')">
        Transactions
      </button>
      <button class="btn btn-default" (click)="Navigate('dashboardfour')">
        Variance Report
      </button>
    </div>
    <div
      style="width: 20px;
      float: right;
      margin-top: 0px;
      margin-right: 15px;
      margin-left: 10px;
      position: inherit;">
      <img
        (click)="LogOut()"
        title="Log Out"
        style="width: 25px; cursor: pointer"
        src="../../../assets/2529524.png"
        />
    </div>
  </header>

  <div class="budget-top-filter">
    <div class="d-flex header-filters flex-wrap">

          <div class="d-flex align-items-center">
            <div class="text-lable">Year</div>
            <div>
              <p-dropdown
                [options]="yearsSelectItem"
                [(ngModel)]="selectedyear"
                optionLabel="value"
                (onChange)="onYearchange($event)"
                [filter]="true"
                filterBy="value"
                [showClear]="true"
                placeholder="Select a Year"
              >
                <ng-template pTemplate="selectedItem" *ngIf="selectedyear">
                  {{ selectedyear }}
                </ng-template>
                <ng-template let-year pTemplate="item">
                  {{ year.value }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
      <div class="d-flex align-items-center">
        <div class="text-lable">Month</div>
        <div>
          <p-multiSelect
            [options]="monthSelectItem"
            maxSelectedLabels="1"
            [(ngModel)]="selectedmonth"
            defaultLabel="Month"
            (onChange)="onMonthchange()"
            optionLabel="label"></p-multiSelect>
        </div>
      </div>
    </div>
  </div>

  <div class="budget-top-filter">
    <div class="row" *ngIf="isAdmin">
      <div class="col-xl-12 col-lg-12 account-right">
        <div class="table-data table-responsive">
          <table class="stripted">
            <thead>
              <tr>
                <th class="col-id-no gb-color" style="min-width: 180px;" rowspan="2">Budget Variance Report</th>
                <th *ngFor="let m of distinctMonth"
                    colspan="4"
                    style="text-align: center" class="gb-color">
                  {{ m.month }}
                </th>
                <th colspan="4" style="text-align: center" class="gb-color">Grand Total</th>
              </tr>
              <tr>
                
                <th *ngFor="let m of listofHeader"
                    style="min-width: 105px !important" class="gb-color">
                  {{ m }}
                </th>
                <th style="min-width: 105px !important" class="gb-color"><span>Budget</span></th>
                <th style="min-width: 105px !important" class="gb-color"><span>Actual</span></th>
                <th style="min-width: 105px !important" class="gb-color"><span>Variance</span></th>
                <th style="min-width: 105px !important" class="gb-color">Variance Rate %</th>
              </tr>
              <tr>
                <th class="col-id-no">Revenue</th>
                <ng-container *ngFor="let m of distinctMonth">
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                    {{
                                      (SpendingModel
                                      | customFilter
                                      : { month: m.month, department: "Revenue" })[0].budget
                                      | number: "1.0-0"
                    }}
                  </span>
                  </th>
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: m.month, department: "Revenue" })[0].actual
                                        | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'Revenue' })[0].variance)>0">
                      <span style="margin-right: 10px;">$</span><span>
                        {{(SpendingModel | customFilter : { month: m.month, department: "Revenue" })[0].variance | number: "1.0-0"}}
                      </span>
                    </span>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'Revenue' })[0].variance)<0">
                      <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                      ({{(((SpendingModel | customFilter : { month: m.month, department: "Revenue" })[0].variance)*-1 | number: "1.0-0")}})
                      </span>
                    </span>
                  </th>
                  <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: m.month, department: 'Revenue' })[0].varianceRate<0) ? '#dcb387' : '#ffffff'}">
                    {{
                    (SpendingModel
                    | customFilter
                    : { month: m.month, department: "Revenue" })[0]
                    .varianceRate | number: "1.0-0"
                    }}
                    %
                  </th>
                </ng-container>
                <ng-container>
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: "Grand Total", department: "Revenue" })[0]
                                        .budget | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                    {{
                                      (SpendingModel
                                      | customFilter
                                      : { month: "Grand Total", department: "Revenue" })[0]
                                      .actual | number: "1.0-0"
                    }}
                  </span>
                  </th>
                  <th>
                    <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'Revenue' })[0].variance)>0">
                      <span style="margin-right: 10px;">$</span><span>
                        {{
                                      (SpendingModel
                                      | customFilter
                                      : { month: 'Grand Total', department: "Revenue" })[0]
                                      .variance | number: "1.0-0"
                        }}
                      </span>
                    </span>
                    <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'Revenue' })[0].variance)<0">
                      <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                        ({{
                                        (((SpendingModel
                                        | customFilter
                                        : { month: 'Grand Total', department: "Revenue" })[0]
                                        .variance)*-1 | number: "1.0-0")
                        }})
                      </span>
                    </span>
                  </th>
                  <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: 'Grand Total', department: 'Revenue' })[0].varianceRate<0) ? '#dcb387' : '#ffffff'}">
                    {{
                    (SpendingModel
                    | customFilter
                    : { month: "Grand Total", department: "Revenue" })[0]
                    .varianceRate | number: "1.0-0"
                    }}
                    %
                  </th>
                </ng-container>
              </tr>

              <tr *ngFor="let dep of distinctDepartment">
                <th style="font-weight: inherit" class="col-id-no">{{ dep }}</th>
                <ng-container *ngFor="let m of distinctMonth">
                  <th style="font-weight: inherit">
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter: { month: m.month, department: dep })[0]
                                        .budget | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th style="font-weight: inherit">
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter: { month: m.month, department: dep })[0]
                                        .actual | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th style="font-weight: inherit">
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: dep })[0].variance)>0">
                      <span style="margin-right: 10px;">$</span><span>
                        {{(SpendingModel | customFilter : { month: m.month, department: dep })[0].variance | number: "1.0-0"}}
                      </span>
                    </span>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: dep })[0].variance)<0">
                      <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                        ({{(SpendingModel | customFilter : { month: m.month, department: dep })[0].variance | number: "1.0-0"}})
                      </span>
                    </span>
                  </th>
                  <th style="border-right: solid 1px gray; font-weight: inherit" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: m.month, department: dep })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                    {{
                    (SpendingModel
                    | customFilter: { month: m.month, department: dep })[0]
                    .varianceRate | number: "1.0-0"
                    }}
                    %
                  </th>
                </ng-container>
                <th style="font-weight: inherit">
                  <span style="margin-right: 10px;">$</span><span>
                    {{
                                    (SpendingModel
                                    | customFilter
                                    : { month: "LGrand Total", department: dep })[0].budget
                                    | number: "1.0-0"
                    }}
                  </span>
                </th>
                <th style="font-weight: inherit">
                  <span style="margin-right: 10px;">$</span><span>
                    {{
                                    (SpendingModel
                                    | customFilter
                                    : { month: "LGrand Total", department: dep })[0].actual
                                    | number: "1.0-0"
                    }}
                  </span>
                </th>
                <th style="font-weight: inherit">
                  <span *ngIf="((SpendingModel | customFilter : { month: 'LGrand Total', department: dep })[0].variance)>0">
                    <span style="margin-right: 10px;">$</span><span>
                      {{(SpendingModel | customFilter : { month: 'LGrand Total', department: dep })[0].variance | number: "1.0-0"}}
                    </span>
                  </span>
                  <span *ngIf="((SpendingModel | customFilter : { month: 'LGrand Total', department: dep })[0].variance)<0">
                    <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                      ({{(SpendingModel | customFilter : { month: 'LGrand Total', department: dep })[0].variance | number: "1.0-0"}})
                    </span>
                  </span>
                </th>
                <th style="border-right: solid 1px gray; font-weight: inherit" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: 'LGrand Total', department: dep })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                  {{
                  (SpendingModel
                  | customFilter
                  : { month: "LGrand Total", department: dep })[0]
                  .varianceRate | number: "1.0-0"
                  }}
                  %
                </th>
              </tr>
              <tr>
                <th colspan="100" style="height: 15px"></th>
              </tr>
              <tr>
                <th class="col-id-no">Grand Total</th>
                <ng-container *ngFor="let m of distinctMonth">
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: m.month, department: "BTotal" })[0].budget
                                        | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: m.month, department: "BTotal" })[0].actual
                                        | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'BTotal' })[0].variance)>0">
                      <span style="margin-right: 10px;">$</span><span>
                        {{(SpendingModel | customFilter : { month: m.month, department: 'BTotal' })[0].variance | number: "1.0-0"}}
                      </span>
                    </span>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'BTotal' })[0].variance)<0">
                      <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                        ({{(SpendingModel | customFilter : { month: m.month, department: 'BTotal' })[0].variance | number: "1.0-0"}})
                      </span>
                    </span>

                  </th>
                  <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: m.month, department: 'BTotal' })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                    {{
                    (SpendingModel
                    | customFilter
                    : { month: m.month, department: "BTotal" })[0]
                    .varianceRate | number: "1.0-0"
                    }}
                    %
                  </th>
                </ng-container>
                <th>
                  <span style="margin-right: 10px;">$</span><span>
                    {{
                                    (SpendingModel
                                    | customFilter
                                    : { month: "Grand Total", department: "BGTotal" })[0]
                                    .budget | number: "1.0-0"
                    }}
                  </span>
                </th>
                <th>
                  <span style="margin-right: 10px;">$</span><span>
                      {{
                                      (SpendingModel
                                      | customFilter
                                      : { month: "Grand Total", department: "BGTotal" })[0]
                                      .actual | number: "1.0-0"
                      }}
                    </span>
                </th>
                <th>
                  <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'BGTotal' })[0].variance)>0">
                    <span style="margin-right: 10px;">$</span><span>
                      {{(SpendingModel | customFilter : { month: 'Grand Total', department: 'BGTotal' })[0].variance | number: "1.0-0"}}
                    </span>
                  </span>
                  <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'BGTotal' })[0].variance)<0">
                    <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                      ({{(SpendingModel | customFilter : { month: 'Grand Total', department: 'BGTotal' })[0].variance | number: "1.0-0"}})
                    </span>
                  </span>
                </th>
                <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: 'Grand Total', department: 'BGTotal' })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                  {{
                  (SpendingModel
                  | customFilter
                  : { month: "Grand Total", department: "BGTotal" })[0]
                  .varianceRate | number: "1.0-0"
                  }}
                  %
                </th>
              </tr>
              <tr>
                <th colspan="100" style="height: 15px"></th>
              </tr>
              <tr>
                <th class="col-id-no">EBITDA</th>
                <ng-container *ngFor="let m of distinctMonth">
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: m.month, department: "EBITDA" })[0].budget
                                        | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span style="margin-right: 10px;">$</span><span>
                      {{
                                        (SpendingModel
                                        | customFilter
                                        : { month: m.month, department: "EBITDA" })[0].actual
                                        | number: "1.0-0"
                      }}
                    </span>
                  </th>
                  <th>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'EBITDA' })[0].variance)>0">
                      <span style="margin-right: 10px;">$</span><span>
                        {{(SpendingModel | customFilter : { month: m.month, department: 'EBITDA' })[0].variance | number: "1.0-0"}}
                      </span>
                    </span>
                    <span *ngIf="((SpendingModel | customFilter : { month: m.month, department: 'EBITDA' })[0].variance)<0">
                      <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                      ({{(SpendingModel | customFilter : { month: m.month, department: 'EBITDA' })[0].variance | number: "1.0-0"}})
                    </span>
                    </span>
                  </th>
                  <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: m.month, department: 'EBITDA' })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                    {{
                    (SpendingModel
                    | customFilter
                    : { month: m.month, department: "EBITDA" })[0]
                    .varianceRate | number: "1.0-0"
                    }}
                    %
                  </th>
                </ng-container>
                <th>
                  <span style="margin-right: 10px;">$</span><span>
                    {{
                                    (SpendingModel
                                    | customFilter
                                    : { month: "Grand Total", department: "EBITDA" })[0]
                                    .budget | number: "1.0-0"
                    }}
                  </span>
                </th>
                <th>
                  <span style="margin-right: 10px;">$</span><span>
                    {{
                                    (SpendingModel
                                    | customFilter
                                    : { month: "Grand Total", department: "EBITDA" })[0]
                                    .actual | number: "1.0-0"
                    }}
                  </span>
                </th>
                <th>
                  <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'EBITDA' })[0].variance)>0">
                    <span style="margin-right: 10px;">$</span><span>
                      {{(SpendingModel | customFilter : { month: 'Grand Total', department: 'EBITDA' })[0].variance | number: "1.0-0"}}
                    </span>
                  </span>
                  <span *ngIf="((SpendingModel | customFilter : { month: 'Grand Total', department: 'EBITDA' })[0].variance)<0">
                    <span style="margin-right: 10px;color:red;">$</span><span style="color:red;">
                      ({{(SpendingModel | customFilter : { month: 'Grand Total', department: 'EBITDA' })[0].variance | number: "1.0-0"}})
                    </span>
                  </span>
                </th>
                <th style="border-right: solid 1px gray" [ngStyle]="{'background-color': ((SpendingModel | customFilter : { month: 'Grand Total', department: 'EBITDA' })[0].varianceRate<0) ? '#dcb387' : '#96ccd5'}">
                  {{
                  (SpendingModel
                  | customFilter
                  : { month: "Grand Total", department: "EBITDA" })[0]
                  .varianceRate | number: "1.0-0"
                  }}
                  %
                </th>
              </tr>
            </thead>
          </table>

          <div class="text-center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
