.main-wrapper{ width:100%; height:auto; border:3px solid #000; padding:3px}
.budget-top-filter{ width:100%; margin-top:5px}
.budget-top-filter > .row{ margin-left:-3px; margin-right: -3px; }
.budget-top-filter > .row > div{padding: 0 3px;}
.budget-chart-content > .row{ margin-left:-3px; margin-right: -3px; }
.budget-chart-content > .row > div{padding: 0 3px;}
.budget-chart-content{ margin-top: 10px;}
.budget-chart-content .chart-container{ border:1px solid #000}
.budget-chart-content .btn{ width:100%; display: block; border-radius: 0px; padding:0 .75rem !important; margin: 0;text-align: center;line-height: 25px;}
.budget-chart-content  .btn-title{font-size:1.25rem;font-family: 'Lato', sans-serif; font-weight:500; color:#000}
.budget-chart-content .btn-price{font-size:1.25rem;font-family: 'Lato', sans-serif; font-weight:500; color:#4e79a7}
.budget-chart-content .btn-price:hover{ border:1px solid #4e79a7}
.bc-top{ min-height: 90px;}
.chart-container{ padding:8px}
.chart-title{ text-align: center;}
.spending-trend{ width:100%; height: auto; margin-top:10px}
.spending-title{ text-align:center; width:100%; padding:1rem 0;font-family: 'Lato', sans-serif; font-weight:300; color:#000; font-size:1.25rem}
.header-btn-wrap {margin: 0 -5px !important;}

.table-title{ max-width:100px; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-break:break-all;}
.budget-code{max-width:60px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.budget-name{max-width:200px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.spending{ width:100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative;}
.budget-actual{max-width: 210px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.budget-variance{max-width: 210px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media(max-width:1199px){
    .table-data{ height: auto;}
    .account-right{margin-top: 1rem;}
}

@media(max-width:991px){
    .spending{ width:150px}
}
.col-id-no {
  left: 0;
  position: sticky;
  background-color: #fbf9f9;
}

.gb-color {
  background-color: #51a8dc;
  color:#fff;
}
