.ui-table .ui-table-thead>tr>th {
    border: 1px solid #352939;
    font-weight: normal;
    color: #fff;
    background-color: unset;
    font-size: 14px;
}

.ui-inputtext {
    background: #2A2131 !important;
    border: none !important;
    border-radius: 20px !important;
    color: #fff !important;
    width: 100% !important;
}

.ui-multiselect {
    width: 100% !important;
}