<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--<div>
        <div style="margin-bottom:10px;">
          <span style="color:#fff;">Dashboard View</span>
          <span style="color:#fff;margin-left:10px;margin-right:10px;">|</span>
          <span style="color:#fff;cursor:pointer;text-decoration: underline;" (click)="Navigate('DailyView')">Daily View</span>
          <span style="color:#fff;margin-left:10px;margin-right:10px;">|</span>
          <span style="color:#fff;cursor:pointer;text-decoration: underline;" (click)="Navigate('MonthlyView')">Monthly View</span>
        </div>
      </div>-->
      <div class="tabs-div mt-0">
        <div class="content-div">
        
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <ul class="color-indicators">
                <li>
                  <span class="color color-goal"></span>
                  <span class="color-title">Budget</span>
                </li>
                <li>
                  <span class="color color-actual"></span>
                  <span class="color-title">Actual</span>
                </li>
                <li>
                  <span class="color color-pacing"></span>
                  <span class="color-title">Variance</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <div id="pager" class="right-aligned" style="width:100%;text-align:right">
                <ul *ngIf="pagerPolicyCount.pages && pagerPolicyCount.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                    <a (click)="setPolicyCountPaging(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerPolicyCount.pages" [ngClass]="{active:pagerPolicyCount.currentPage === page}">
                    <a (click)="setPolicyCountPaging(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ml-2">
              <ul>
                <li *ngFor="let item of pagedPolicyCount" class="mr-3 mt-3" style="display: inline-block">
                  <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="PolicyCountchartOptions"></p-chart>
                  <div class="chart-heading text-center text-white">
                    {{item.agenyName}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</div>
