<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div
  class="wrapper"
  [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle"
>
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown
                (ShowLoaderEmitter)="loaderStatusChanged($event)"
                (RmChangeEmitter)="RmChanged($event)"
                (ZmChangeEmitter)="ZmChanged($event)"
                (LocationChangeEmitter)="LocationChanged($event)"
                (AllLocationEmitter)="GetAllLocations($event)"
              ></app-rm-zm-location-dropdown>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-dropdown
                  [options]="yearsSelectItem"
                  [(ngModel)]="selectedyear"
                  (onChange)="onYearchange(event)"
                ></p-dropdown>
              </li>
              <li>
                <p-dropdown
                  [options]="monthSelectItem"
                  [(ngModel)]="selectedmonth"
                  (onChange)="onMonthchange($event)"
                ></p-dropdown>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>



      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Active Customer">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                  
                    <th scope="col" class="min-width-col">Active Customer</th>
                    <th scope="col" class="min-width-col">Active Customers Goals</th>
                    <th scope="col" class="min-width-col">Active Customer vs Goal%</th>
                    <th scope="col" class="min-width-col">Prior Year Active Customer</th>
                    <th scope="col" class="min-width-col">Active Customer vs Prior Year%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredActiveCustomers" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : rowbgColor(item.zmid) }">
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }" class="col-id-no">
                      <span *ngIf="item.rm=='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.rm!='ZZZZ_Total'">{{item.rm}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }" class="col-first-name">
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.zm=='ZZZZ_Total' && item.rm=='ZZZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZZZ_Total' && item.rm!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZZZ_Total'">{{item.zm}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }" class="col-agency-name">
                      <span *ngIf="item.agencyName!='ZZZZ_Total' && item.zm=='ZZZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.zm!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZZZ_Total'">{{item.agencyName}}</span>
                    </td>
                   
                    <td >{{ item.activeCustomer | number: "2." }}</td>
                    <td>{{ item.active_Customers_Goals | number: "2." }}</td>
                    <td>
                      <span *ngIf="item.activeCustomersVsGoals>0 || item.activeCustomersVsGoals<0">{{item.activeCustomersVsGoals}}%</span>
                      <span *ngIf="item.activeCustomersVsGoals==0">0</span>
                    </td>
                    <td >{{ item.priorYearActiveCustomer | number: "2." }}</td>
                    <td >
                      <span *ngIf="item.activeCustomersvsPriorYear>0 || item.activeCustomersvsPriorYear<0">{{item.activeCustomersvsPriorYear}}%</span>
                      <span *ngIf="item.activeCustomersvsPriorYear==0">0</span>
                    </td>
                   
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        
      </div>
    </div>
  </div>
</div>
