<div>
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <div style="position: relative"></div>
  <p-chart height="175" type="doughnut" [data]="Chartdata" [options]="DoNutchartOptions"></p-chart>
  <p class="text-center mr-3 mt-1">{{_ChartName}}</p>
</div>
<span style="font-size:smaller; position: absolute; top: 34%; left: 44%; display: block;">{{BudgetData.percentage}}%</span>
