﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<AmaxIns.DataContract.Referral.ReferralReportModel>
@{
    Layout = "_LayoutSales";
}

<meta http-equiv="refresh" content="900" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
@using (Html.BeginForm("Index", "ReferenceReport", FormMethod.Post, new { @class = "reportsearchform" }))
{
    <div class="container-fluid">
        <div class="row searchbar">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-12">
                        <span>Year:</span>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        @Html.DropDownList("year", ViewBag.Years as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-12">
                        <span>Month:</span>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        @Html.DropDownList("month", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary" value="Search" />
                        @if (Convert.ToBoolean(ViewBag.IsAdmin))
                        {
                            <a href="/ReferenceReport/ExportToCSV?month=@ViewBag.month&year=@ViewBag.year" class="btn btn-primary">Export to CSV</a>
                        }

                        @if (ViewBag.ShowTouchReport == "1" && Convert.ToBoolean(ViewBag.IsAdmin))
                        {
                            <a href="/ReferenceReport/ExportUntouchedOrTouchedToCSV?month=@ViewBag.month&year=@ViewBag.year&type=touched" class="btn btn-primary">Touched Quotes</a>
                        }

                        @if (ViewBag.ShowTouchReport == "1" && Convert.ToBoolean(ViewBag.IsAdmin))
                        {
                            <a href="/ReferenceReport/ExportUntouchedOrTouchedToCSV?month=@ViewBag.month&year=@ViewBag.year&type=untouched" class="btn btn-primary">Untouched Quotes</a>
                        }
                    </div>

                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12">

                <a class="btn btn-Logout" value="" style="float:right;" href="/Authentication/Logout">Log out</a>
            </div>
        </div>
        <div class="row " style="color:green;">
            <div class="col-sm-12">
                <h3 class="text-center">Records in green are referred by agent</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <div class="table-head-only table-sicky scrollable-area  freeze-table" style="overflow-x: scroll; height: 100%; min-height: 100%; max-height: 100%;">
                        <table class="table ref-reporttable">
                            <thead>
                                <tr>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Customer Email</th>
                                    <th scope="col">Customer Phone</th>
                                    <th scope="col">Agent Id</th>
                                    <th scope="col">Referral Name</th>
                                    <th scope="col">Referral Email</th>
                                    <th scope="col">Referral Phone</th>
                                    <th scope="col">Zip</th>
                                    <th scope="col">Date</th>

                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {

                                    <tr style="@(Convert.ToInt32(Model[i].AgentId)>0?"color:green":"")">
                                        <td>@Model[i].UserName</td>
                                        <td style="word-wrap: anywhere">@Model[i].UserEmail</td>
                                        <td>@Model[i].UserPhone</td>
                                        <td>@Model[i].AgentId</td>
                                        <td>@Model[i].ReferralName</td>
                                        <td style="word-wrap: anywhere">@Model[i].ReferralEmail</td>
                                        <td>@Model[i].ReferralPhone</td>
                                        <td>@Model[i].ZipCode</td>
                                        <td>@Model[i].CreatedDate.ToShortDateString()</td>
                                        <td> <input type="button" class="btn btn-primary" onclick="ShowModel(@Model[i].referrelId)" value="Comment" /> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ViewBag.type, ViewBag.month, ViewBag.year }), new X.PagedList.Mvc.Common.PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    });
}

<script>
    function ShowModel(id) {
        $('#Error').hide();
        $.get('/ReferenceReport/CommentBox?refid=' + id, function (data) {
            $('#dialog').html(data);
            $("#dialog").dialog({
                height: 550,
                width: 950,
                resizable: false,
                modal: true,
                draggable: false,
            });
        })
    }

    function CloseModel(e) {
        var response = e.responseJSON;
        if (response === 'success') {
            $("#dialog").dialog('close')
        }
        else {
            $('#Error').show();
        }
    }

    function ExportToexcel() {
        var month = $('#month').val();
        var year = $('#year').val();
        $.get("/ReferenceReport/ExportToCSV?month=" + month + "&year" + year, function (e) {
            alert(e);
            console.log(e);
        });
    }
</script>

@*<script src="~/js/jquery.stickytableheaders.js"></script>
    <script>
        // adding filler rows
        for (var i = 0; i < 3; i++) {
            $('tbody tr').clone().appendTo('table');
        }
        var offset = $('.navbar').height();
        $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: offset });
    </script>*@


<script src="~/js/freeze-table.js"></script>
<script>
    $(".freeze-table").freezeTable({
        'freezeColumn': false,
        'scrollBar': false,
    });
    $('.freeze-table').freezeTable('resize');

    var freezeTable = new FreezeTable('.freeze-table', { 'namespace': 'freeze-table', 'scrollBar': true, });
    var freezeTable = new FreezeTable('.freeze-table', { 'namespace': 'freeze-table', 'scrollBar': true, });
    // Resize Freeze Table while the page container is distorted
    $('#sidebarCollapse').click(function () {
        setTimeout(function () {
            //  alert("Hello");
            freezeTable.update();
        }, 500);
    });
</script>

<div id="dialog" title="Enter Comments" style="display:none;">

</div>
