<div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="Filter-Uls">
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="deptSelectItem" [(ngModel)]="selectedDepartment" (onChange)="onDeptchange(event)"></p-dropdown>
              </li>
              <li>
                <!--<p- [options]="catSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p->-->
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Category" [(ngModel)]="selectedCat" [options]="catSelectItem" (onChange)="onCatChange()"></p-multiSelect>

              </li>

              <li>
                <!--<p- [options]="catSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p->-->
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Budget" [(ngModel)]="selectedBudget" [options]="BudgetSelectItem" (onChange)="onBudgetChange()"></p-multiSelect>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs-div text-white">
        <mat-tab-group (selectedTabChange)="tabChanged($event.index)">
          <mat-tab label="Budget Summary">
            <div class="heading">
              <div class="row">
                <div class="col-4">
                  Spending VS Budget
                </div>
                <div class="col-4">
                  <ul class="info-tiles">
                    <li>
                      <h4>Remaning</h4>
                      <p>${{BudgetSeletedMonth.budget}}</p>
                    </li>
                    <li>
                      <h4>Actual</h4>
                      <p>${{BudgetSeletedMonth.actual}}</p>
                    </li>
                    <li>
                      <h4>Budget</h4>
                      <p>${{BudgetSeletedMonth.budget}}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-4 text-right">
                  <ul style="">
                    <li style="display:inline;background-color:#FF6384;padding:5px">Actual</li>
                    <li style="display:inline;padding:5px">&nbsp;</li>
                    <li style="display:inline;background-color:#36A2EB;padding:5px">Remaining Budget</li>
                    <li style="display:inline;padding:5px">&nbsp;</li>
                    <li style="display:inline;background-color:#ffd800;padding:5px">Budget</li>
                  </ul>
                </div>

              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-4">
                <DonutChart-component (SelectMonthBudgetOut)="SelectMonthBudgetEmitter($event)" [search]="SelectedMonthsearch" [ChartName]="selectmonthName"></DonutChart-component>

              </div>

              <div class="col-md-4">
                <DonutChart-component [search]="LatestMonthsearch" ChartName="Latest Month"></DonutChart-component>

              </div>

              <div class="col-md-4">
                <DonutChart-component [search]="YTMsearch" ChartName="YTM"></DonutChart-component>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                Spending Trend (Year of {{selectedyear}})
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <p-chart height="200" type="line" [data]="AnualLinedata" [options]="LinechartOptions" (onDataSelect)="selectAnualData($event)"></p-chart>
              </div>
            </div>


          </mat-tab>
          <mat-tab label="Transaction Detail">
            <div class="heading">
              <div class="row">
                <div class="col-4">
                  Transaction Detail
                </div>
                <!--<div class="col-4">
                 <button (click)="GetBudgetTrxCSV()">Download CSV</button>
                </div>-->
              </div>
            </div>
            <div id="pager">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
            <div class="epr-table table-responsive">
              <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Budget Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">VendorName</th>
                    <th scope="col">Location</th>
                    <th scope="col">Source</th>
                    <th scope="col">User</th>
                    <th scope="col">User Posted</th>
                    <th scope="col">Actual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pagedItems">
                    <td scope="row">{{item.trxDate}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>{{item.budgetNumber}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.vendorName}}</td>
                    <td>${{item.locationName}}</td>
                    <td>{{item.source}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.userPosted}}</td>
                    <td>${{item.actual| number:'0.0-0'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="pager">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>

            <div *ngIf="pagedItems && pagedItems.length===0" style="color:white">
              No record found, Please change your search.
            </div>


          </mat-tab>
          <mat-tab label="Spending Detail">
            <div class="heading">
              <div class="row">
                <div class="col-4">
                 Account Detail
                </div>

              </div>
            </div>
            <div id="pager">
              <ul *ngIf="Spendingpager.pages && Spendingpager.pages.length" class="pagination">
                <li [ngClass]="{disabled:Spendingpager.currentPage === 1}">
                  <a (click)="setSpendingPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === 1}">
                  <a (click)="setSpendingPage(Spendingpager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of Spendingpager.pages" [ngClass]="{active:Spendingpager.currentPage === page}">
                  <a (click)="setSpendingPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === Spendingpager.totalPages}">
                  <a (click)="setSpendingPage(Spendingpager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === Spendingpager.totalPages}">
                  <a (click)="setSpendingPage(Spendingpager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
            <div class="epr-table table-responsive">
              <table class="table table-bordered" *ngIf="SpendingpagedItems && SpendingpagedItems.length>0">
                <thead>
                  <tr>
                    <th scope="col">Budget Name</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Remaning Budget</th>
                    <th scope="col">Variance</th>
                    <th scope="col">Variance Rate</th>
                    <th scope="col">Spending</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of SpendingpagedItems" [ngStyle]="{'background-color':item.spending=='Overspending'? 'red' : '' }">
                    <td scope="row">{{item.budgetName}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>${{item.budget}}</td>
                    <td>${{item.actual}}</td>
                    <td>${{item.remaningBudget}}</td>
                    <td>{{item.variance}}</td>
                    <td>{{item.varianceRate}}</td>
                    <td>{{item.spending}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="pager">
              <ul *ngIf="Spendingpager.pages && Spendingpager.pages.length" class="pagination">
                <li [ngClass]="{disabled:Spendingpager.currentPage === 1}">
                  <a (click)="setSpendingPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === 1}">
                  <a (click)="setSpendingPage(Spendingpager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of Spendingpager.pages" [ngClass]="{active:Spendingpager.currentPage === page}">
                  <a (click)="setSpendingPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === Spendingpager.totalPages}">
                  <a (click)="setSpendingPage(Spendingpager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:Spendingpager.currentPage === Spendingpager.totalPages}">
                  <a (click)="setSpendingPage(Spendingpager.totalPages)">Last</a>
                </li>
              </ul>
            </div>

            <div *ngIf="SpendingpagedItems && SpendingpagedItems.length===0" style="color:white">
              No record found, Please change your search.
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
