@import 'assets/style/_mixins.scss';

.tabs-div {
  margin-top: 0px!important;
}
.Filter-Uls {
  margin-bottom: 0rem!important;
}

.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}


.info-tiles {
  margin: 0;
 

  li {
    display: inline-block;
    text-align: center;

    &:not(:last-child) {
      margin-right: 15px;
      border-right: 1px solid #ffffff;
      padding-right: 15px;
    }

    h4 {
      color: #ffffff;
      font-size: 16px;
    }

    p {
      color: #ffffff;
      font-size: 14px !important;
      margin: 0 !important;
    }
  }
}
