<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>

          <div class="page-heading mt-3">
            <h3>DID Report</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">

          Powered By Amax Information & Technology Team
        </div>

      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-md-4">
            Select Date: - <p-calendar selectionMode="range" [(ngModel)]="dates" (onSelect)="onDateSelect(value)"></p-calendar>
          </div>
        </div>
      </div>
      <div *ngIf="allDigital==='0' && dfwEnglishTv==='0' && dfwSpanishTv=='0' && radioEnglish==='0' && radioSpanish==='0' && tvEnglish=='0' && tvSpanish=='0'"
           class="col-md-4 alert alert-info mt-3">Please choose date range</div>

      <div class="count-blocks vanity-number mt-3">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>All Digital</p>
                <p>18006000038</p>
                <p><b>{{allDigital}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>DFW English TV</p>
                <p>18009000068</p>
                <p><b>{{dfwEnglishTv}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block green-block">
              <div class="count">
                <p>DFW Spanish TV</p>
                <p>18009000078</p>
                <p><b>{{dfwSpanishTv}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block green-block">
              <div class="count">
                <p>Radio English</p>
                <p>18005000027</p>
                <p><b>{{radioEnglish}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block purple-block">
              <div class="count">
                <p>Radio Spanish</p>
                <p>18005000042</p>
                <p><b>{{radioSpanish}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block purple-block">
              <div class="count">
                <p>TV English</p>
                <p>18003000075</p>
                <p><b>{{tvEnglish}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>TV Spanish</p>
                <p>18003000078</p>
                <p><b>{{tvSpanish}}</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="agency-table table-responsive">
              <table class="table table-bordered" *ngIf="FilterData && FilterData.length>0">
                <thead>
                  <tr>
                    <th scope="col">Did</th>
                    <th scope="col">Calls Offered</th>
                    <th scope="col">Calls Answered</th>
                    <th scope="col">% Answered</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of FilterData">
                    <td scope="row"><span>{{item.did}}</span></td>
                    <td><span>{{item.callsoffered}}</span></td>
                    <td><span>{{item.callsanswered}}</span></td>
                    <td><span>{{item.percentageAns}}</span></td>
                    <td><span>{{item.duration}}</span></td>

                  </tr>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
