﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<AmaxIns.DataContract.Referral.Turborator.TurboratorModel>
@{
    Layout = "_LayoutSales";
}

    <meta http-equiv="refresh" content="900" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
@using (Html.BeginForm("Index", "Turborator", FormMethod.Post, new { @class = "reportsearchform" }))
{
    <div class="container-fluid">
        <div class="row searchbar mt-3">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-12">
                        <span>Year:</span>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        @Html.DropDownList("year", ViewBag.Years as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-12">
                        <span>Month:</span>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        @Html.DropDownList("month", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary" value="Search" />
                        @if (Convert.ToBoolean(ViewBag.IsAdmin))
                        {
                            <a href="/Turborator/ExportToCSV?month=@ViewBag.month&year=@ViewBag.year" class="btn btn-primary">Export to CSV</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <a class="btn btn-Logout" value="" style="float:right;" href="/Authentication/Logout">Log out</a>
            </div>
        </div>
        <div class="row " style="color:green;">
            <div class="col-sm-12">
                <h3 class="text-center">Records in green are sold records</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table ref-reporttable">
                        <thead>
                            <tr>
                                <th scope="col">Location </th>
                                <th scope="col">Customer Name </th>
                                <th scope="col">Email </th>
                                <th scope="col">Phone </th>
                                <th scope="col">Zip Code </th>
                                <th scope="col">Quote Url</th>
                                <th scope="col">Tr Quote Url</th>
                                <th scope="col">Is Sold</th>
                                <th scope="col">Date</th>
                                <th scope="col">Comment</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                string isSold = "No";
                                if (Model[i].ConvertedToCustomer)
                                {
                                    isSold = "Yes";
                                }
                                else
                                {
                                    isSold = "No";
                                }
                                <tr style="@(Model[i].ConvertedToCustomer?"color:green":"")">
                                    <td>@Model[i].AgencyName</td>
                                    <td> @Model[i].Name @Model[i].Surname</td>
                                    <td> @Model[i].Email</td>
                                    <td> @Model[i].PhoneNumber</td>
                                    <td> @Model[i].ZipCode</td>
                                    <td><a target="_blank" href="@Model[i].QuoteUrl">Quote Site</a></td>
                                    <td> <a target="_blank" href="@Model[i].TrQuoteUrl">Turborator</a></td>
                                    <td>@isSold</td>
                                    <td>@Model[i].CreatedDate.ToShortDateString()</td>
                                    <td> <input type="button" class="btn btn-primary" onclick="ShowModel(@Model[i].TurboratorID)" value="Comment" /> </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ViewBag.type, ViewBag.month, ViewBag.year }), new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>
}

<script>
    function ShowModel(id) {
        $('#Error').hide();
        $.get('/Turborator/TurboraterCommentBox?id=' + id, function (data) {
            $('#dialog').html(data);
            $("#dialog").dialog({
                height: 550,
                width: 950,
                draggable: false,
                resizable: false,
                modal: true,
            });
        })
    }

    function CloseModel(e) {
        var response = e.responseJSON;
        if (response === 'success') {
            $("#dialog").dialog('close')
        }
        else {
            $('#Error').show();
        }
    }

    //function ExportToexcel() {
    //    var month = $('#month').val();
    //    $.get("/ReferenceReport/ExportToCSV?month=" + month, function (e) {
    //        alert(e);
    //        console.log(e);
    //    });
    //}
</script>
<script src="~/js/jquery.stickytableheaders.js"></script>
<script>
    // adding filler rows
    for (var i = 0; i < 3; i++) {
        $('tbody tr').clone().appendTo('table');
    }
    var offset = $('.navbar').height();
    $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: offset });
</script>

<div id="dialog" title="Enter Comments" style="display:none;">

</div>