﻿@model AmaxIns.DataContract.Referral.CommentsModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-8">
        <div class="table-responsive">
            <table class="table ref-reporttable">
                <thead>
                    <tr>
                        <th scope="col" width="20%">Agency</th>
                        <th scope="col" width="60%">Comment</th>
                        <th scope="col" width="20%">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.CommentList as List<AmaxIns.DataContract.Referral.CommentsModel>)
                    {

                        <tr>
                            <td>
                                @if (x.AgencyId > 0)
                                {
                                    @x.AgencyName;
                                }
                                else
                                {
                                    @Html.Raw("Admin");
                                }
                            </td>
                            <td>@x.Comments</td>
                            <td>@Convert.ToDateTime(x.Date).ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-4">
        <form data-ajax="true" data-ajax-complete="CloseModel" asp-action="SaveComment" asp-controller="Turborator" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-sm-12">
                    Enter Comment:
                </div>
                <div class="col-sm-12">
                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @style = "height:300px" })
                    <div id="Error" class="error" style="display:none;color:red;">
                       Please enter comment.
                    </div>
                    @Html.HiddenFor(m => m.AgencyId)
                    @Html.HiddenFor(m => m.ReferenceId)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right m-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
@*<form data-ajax="true" data-ajax-success="CloseModel()" asp-action="SaveComment" asp-controller="ReferenceReport" method="post" enctype="multipart/form-data">
        <div class="row m-5">
            <div class="col-sm-3">
                Comment
            </div>
            <div class="col-sm-9">
                @Html.TextAreaFor(m => m.Comments)
                @Html.HiddenFor(m => m.AgencyId)
                @Html.HiddenFor(m => m.ReferenceId)
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" />
        </div>
    </form>*@
