<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          
          <div class="page-heading mt-3">
            <h3>IVR Call forwarding</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
         
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 alert alert-info text-center">This Data is 3 days old!</div>
      </div>
      <div class="row">
          <div class="count-blocks vanity-number">
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="block orange-block">
                  <div class="count">
                    <p>All Digital</p>
                    <p>18006000038</p>
                    <p><b>{{allDigital}}</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block orange-block">
                  <div class="count">
                    <p>DFW English TV</p>
                    <p>18009000068</p>
                    <p>{{dfwEnglishTv}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block green-block">
                  <div class="count">
                    <p>DFW Spanish TV</p>
                    <p>18009000078</p>
                    <p>{{dfwSpanishTv}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block green-block">
                  <div class="count">
                    <p>Radio English</p>
                    <p>18005000027</p>
                    <p>{{radioEnglish}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block purple-block">
                  <div class="count">
                    <p>Radio Spanish</p>
                    <p>18005000042</p>
                    <p>{{radioSpanish}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block purple-block">
                  <div class="count">
                    <p>TV English</p>
                    <p>18003000075</p>
                    <p>{{tvEnglish}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block orange-block">
                  <div class="count">
                    <p>TV Spanish</p>
                    <p>18003000078</p>
                    <p>{{tvSpanish}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="block orange-block">
                  <div class="count">
                    <p>Call Center</p>
                    <p></p>
                    <p>{{callcenterCount}}</p>
                  </div>
                </div>
              </div>
              <!--<div class="col-md-4 col-sm-12 mt-3"  >
        <div class="block green-block">
          <div class="count">
            <p>Quotes</p>
          </div>
          <div class="title">
            <p>{{quote}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mt-3">
        <div class="block purple-block">
          <div class="count">
            <p>Sold</p>
          </div>
          <div class="title">
            <p>{{sold}}</p>
          </div>
        </div>
      </div>-->
            </div>
          </div>
      </div>
      <div class="row">
        <div class="multiselect-container mt-3">
          <div class="row">
            <!--<div class="col-sm-12">-->
            <div class="col-md-4">
              Select Vanity : - <p-multiSelect maxSelectedLabels="0" [(ngModel)]="selectedVanityNumber"
                                               [options]="vanityNumber" (onChange)="onSelect(event)"></p-multiSelect>
            </div>
            <div class="col-md-4">
              Select Date: - <p-calendar selectionMode="range" [(ngModel)]="dates" (onSelect)="onDateSelect(value)"></p-calendar>
            </div>
          </div>
        </div>
      </div>
     <div class="row">
      <div class="agency-table-container mt-3 w-100">
        <div class="row ml-0">
          <div class="main-table table-responsive">
              <table class="table">
                  <tr>
                    <td>
                        <div *ngIf="filterdata.allDigital && filterdata.allDigital.length" class="all-digital-div agency-block">
                            <div class="button">
                                <p class="btn-primary btn">All Digital</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.allDigital">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.dfwEnglishTv && filterdata.dfwEnglishTv.length" class="dfw-english-div agency-block">
                            <div class="button">
                                <p class="btn-secondary btn">Dfw EnglishTv</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.dfwEnglishTv">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.dfwSpanishTv && filterdata.dfwSpanishTv.length" class="dfw-spanish-div agency-block">
                            <div class="button">
                                <p class="btn-success btn">Dfw SpanishTv</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.dfwSpanishTv">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.tvSpanishHouston && filterdata.tvSpanishHouston.length" class="spanishtv-div agency-block">
                            <div class="button">
                                <p class="btn-danger btn">SpanishTv</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.tvSpanishHouston">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.tvEnglishHouston && filterdata.tvEnglishHouston.length" class="tvenglish-div agency-block">
                            <div class="button">
                                <p class="btn-warning btn">TV English</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody *ngFor="let items of filterdata.tvEnglishHouston">
                                <tr>
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.radioEnglishRgv && filterdata.radioEnglishRgv.length" class="radio-english-div agency-block">
                            <div class="button">
                                <p class="btn-info btn">Radio English</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.radioEnglishRgv">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                    <td>
                        <div *ngIf="filterdata.radioSpanisRrgv && filterdata.radioSpanisRrgv.length" class="radio-spanish-div agency-block">
                            <div class="button">
                                <p class="btn-dark btn">Radio Spanish</p>
                            </div>
                            
                            <table class="table table-responsive table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <td><strong>Agency Name</strong></td>
                                  <td><strong>Count</strong></td>
                                  <!--<td>Quote</td>
                  <td>Sold</td>-->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let items of filterdata.radioSpanisRrgv">
                                  <td>{{items.agencyName}}</td>
                                  <td>{{items.count}}</td>
                                  <!--<td>{{items.quote}}</td>
                                  <td>{{items.sold}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </td>
                  </tr>
              </table>
          </div>
          
          
       
         
          
         
         
        </div>
        <div *ngIf="(filterdata.allDigital.length===0 && filterdata.dfwEnglishTv.length==0 && filterdata.dfwSpanishTv.length===0 && filterdata.tvSpanishHouston.length===0 && filterdata.tvEnglishHouston.length===0 && filterdata.radioEnglishRgv.length===0 && filterdata.radioSpanisRrgv.length===0)"
       class="alert alert-info">
    Please select a date

  </div>

      </div>
     </div>
      
    </div>
  </div>
</div>
