<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Spectrum Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>Total Inbound calls</p>
              </div>
              <div class="title">
                <p>{{totalInbound}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>Total Outbound calls</p>
              </div>
              <div class="title">
                <p>{{totalOutbound}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <p-multiSelect maxSelectedLabels="0" [(ngModel)]="AgencyList" defaultLabel="Locations"
                           [options]="AgencyItem" (onChange)="onSelect(event)"></p-multiSelect>
          </div>
        </div>
      </div>
      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="agency-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Agency Name</th>
                    <th  scope="col" style="cursor:pointer" (click)="sortData('Incoming')">Inbound Calls</th>
                    <th  scope="col" style="cursor:pointer" (click)="sortData('Outgoing')">OutBound calls</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filterdata">
                    <td scope="row"><span>{{item.location}}</span></td>
                    <td><span>{{item.inBoundCalls}}</span></td>
                    <td><span>{{item.outboundCalls}}</span></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Total</th>
                    <th>
                      {{totalInbound}}
                    </th>
                    <th>
                      {{totalOutbound}}
                    </th>
                    
                  </tr>
                </tfoot>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
