<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange(event)"></p-multiSelect>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div>
        <div style="margin-bottom:10px;">
          <span style="color:#fff;cursor:pointer;text-decoration: underline;" (click)="Navigate('Dashboard')">Dashboard View</span>
          <span style="color:#fff;margin-left:10px;margin-right:10px;">|</span>
          <span style="color:#fff;" >Daily View</span>
          <span style="color:#fff;margin-left:10px;margin-right:10px;">|</span>
          <span style="color:#fff;cursor:pointer;text-decoration: underline;" (click)="Navigate('MonthlyView')">Monthly View</span>
        </div>
      </div>

      <div >

        <table id="customers">
          <thead>
            <tr>
              <th rowspan="2">Date</th>
              <th rowspan="2">Activity</th>
              <th rowspan="2">Planned Hrs</th>
              <th rowspan="2">Details</th>
              <th rowspan="2">Actual Hrs</th>
              <th rowspan="2">Went</th>
              <th rowspan="2">Budget</th>
              <th rowspan="2">Actual</th>
              <th rowspan="2">Variance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of filterDailyView">
              <td>
                {{obj.plannerDate}}
              </td>
              <td>
                {{obj.activity}}
              </td>
              <td>
                {{obj.plannedHours}}
              </td>
              <td>
                {{obj.plannedDetails}}
              </td>
              <td>
                <span *ngIf="obj.plannerActualId==0"></span>
                <span *ngIf="obj.plannerActualId>0">{{obj.actualHours}}</span>

              </td>
              <td><span *ngIf="obj.isWent">Yes</span> <span *ngIf="!obj.isWent">No</span></td>
              <td>
                $ {{obj.totalPlannedBudgetAmount| number:'0.0-0'}}
              </td>
              <td>
                <span *ngIf="obj.plannerActualId==0"></span>
                <span *ngIf="obj.plannerActualId>0">  $ {{obj.totalActualAmount| number:'0.0-0'}}</span>

              </td>
              <td>
                $
                <span *ngIf="(obj.totalPlannedBudgetAmount-obj.totalActualAmount)<0"><span style="color: #fa2a2a;font-weight: bold;">{{obj.totalPlannedBudgetAmount-obj.totalActualAmount | number:'0.0-0'}}</span></span>
                <span *ngIf="(obj.totalPlannedBudgetAmount-obj.totalActualAmount)>0">$ {{obj.totalPlannedBudgetAmount-obj.totalActualAmount | number:'0.0-0'}}</span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" style="text-align:right;">
                Total
              </td>
              <td>$ {{totalBudget}}</td>
              <td>
                $ {{totalActual}}
              </td>
              <td>
                $
                <span *ngIf="(totalBudget-totalActual)<0"><span style="color: #fa2a2a;font-weight: bold;">{{totalBudget-totalActual | number:'0.0-0'}}</span></span>
                <span *ngIf="(totalBudget-totalActual)>0">{{totalBudget-totalActual | number:'0.0-0'}}</span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
