<div class="loading" *ngIf="cmnSrv.showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
    <div class="sidebar-panel">
        <app-navmenu></app-navmenu>
    </div>
    <div class="main-panel">
        <app-header [PageName]="cmnSrv.pageHeader"></app-header>
        <div class="panel-content agent-panel select-boxes">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3">
                    <!-- <label for="reportDate" class="p-col-12 text-white">Date</label> -->
                    <p-calendar class="p-col-12" [(ngModel)]="selectedDate" view="date" selectionMode="single"
                        [style]="{'width':'100% !important!'}" [readonlyInput]="true" inputId="reportDate"
                        [maxDate]="currentDate" inputStyleClass="w100P"
                        (onSelect)="onDateSeleted($event)">
                    </p-calendar>
                </div>
            </div>

            <div class="content-div">
                <div *ngIf="reportData.length == 0" class="row">
                    <div class="col-md-12 text-center text-white">
                        <h4>No Record Found</h4>
                    </div>
                </div>
                <div *ngIf="reportData.length > 0" class="row">
                    <div class="col-md-12">
                        <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>