/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand');

@import 'assets/style/_mixins.scss';
@import 'assets/style/_bootstrap-override';
@import 'assets/style/third-party-overrides';
@import 'assets/style/_variables';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

html, body * {
  @include scroll-style(rgba($black,.4),rgba($white,.4),.4rem);
}

.fc-day-number {
  color: white !important;
}
.fc-toolbar .fc-center h2 {
  color: white !important;
}

body {
  background-color: #312939;
}
/**** preload to hide transition animation effect on website load ****/
.preload * {
  transition: none !important;
}

@font-face {
  font-family: 'fontello';
  src: url('assets/font/fontello.eot?96230730');
  src: url('assets/font/fontello.eot?96230730#iefix') format('embedded-opentype'), url('assets/font/fontello.woff2?96230730') format('woff2'), url('assets/font/fontello.woff?96230730') format('woff'), url('assets/font/fontello.ttf?96230730') format('truetype'), url('assets/font/fontello.svg?96230730#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-epr-icon:before {
  content: '\e800';
}
/* '' */
.icon-ais-icon:before {
  content: '\e801';
}
/* '' */
.icon-call-icon:before {
  content: '\e802';
}
/* '' */
.icon-payroll-icon:before {
  content: '\e803';
}
/* '' */
.icon-spec-icon:before {
  content: '\e804';
}
/* '' */
.icon-revenue-icon:before {
  content: '\e805';
}
/* '' */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10{
  margin-top: 10px;
}

.sidebar-panel {
  box-shadow: 2px 0px 7px #2A2131;
}

.side-bar-menus {
  padding: 30px 20px !important;

  li {
    margin-bottom: 30px;

    i {
      font-size: 20px;
      color: #70839A;
    }

    span {
      color: #70839A;
      font-size: 16px;
      margin-left: 16px;

      &:hover {
        color: #70839A;
      }

      span {
        margin-left: 20px;
      }
    }

    &.active {
      span {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }
}

.sidebar-mini {
  .side-bar-menus {
    span {
      display: none;
    }
  }

  .main-logo {
    display: none;
  }

  h1.logo-name {
    display: block !important;
    font-size: 18px;
  }
}

/**** heading font ****/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/**** heading with shadow effect ****/
h2.heading {
  text-shadow: 2px 2px 3px rgba($black,.3);
}


hr.underline {
  width: 90%;
  left: 5%;
  margin: 0;
  position: relative;
  border-top: 1px solid #312939;
}


hr.udr-head {
  border: none;
  height: 1px;
  background-color: $secondary;
}

/**** nav bar ****/
.navigation-bar {
  left: $sidebar-width;
  transition: $transition-base;
}

/***** sidebar *****/
.sidebar, .sidebar-panel {
  width: $sidebar-width;
  transition: $transition-base;
}

/***** main panel ****/
.main-panel {
  width: calc(100% - #{$sidebar-width});
}

.select-boxes ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    /*&:last-child {
      margin-right: 0;
    }*/
  }
}

.ui-multiselect {
  background: #2A2131 !important;
  border: none !important;
  border-radius: 20px !important;
  color: #fff !important;
  width: auto !important;

  .ui-multiselect-trigger {
    background: none !important;
  }

  .ui-multiselect-label {
    color: #fff !important;
    padding-left: 20px !important;
    font-weight: 300;
    width: 165px !important;
  }

  .ui-multiselect-trigger-icon {
    font-size: 10px !important;
    color: #fff !important;
  }

  .ui-multiselect-panel {
    min-width: 100px !important;
    z-index: 9999999 !important;
  }
}

.orange-block {
  background: #FF8373;
}

.count-blocks {
  .orange-block {
    background: #FF8373;
  }

  .yellow-block {
    background: #F3C953;
  }

  .purple-block {
    background: #A3A0FB;
  }

  .green-block {
    background: #44B980;
  }

  green-block {
    background: #44B980;
  }

  .block {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    border-radius: 4px;

    .count {
      p {
        font-size: 28px;
        color: #fff;
        margin: 0;
        line-height: 28px;
      }
    }

    .title {
      p {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        // margin: 0;
      }
    }
  }
}

.tabs-div {
  margin-top: 25px;

  .heading p {
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
  }

  .mat-tab-group {
    .mat-tab-label {
      min-width: auto;
      margin: 0 25px 0 0;
      padding: 0;
    }

    .mat-tab-body-content {
      overflow-x: hidden;
    }

    .mat-tab-header-pagination-chevron {
      color: #70839A;
    }

    .mat-tab-labels {
      color: #70839A;
      font-size: 18px;
    }

    .mat-tab-label-active {
      color: #fff;
      opacity: 1 !important;
      position: relative;

      &:before {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        width: 100%;
        content: "";
        background: green;
        height: 2px;
      }
    }
  }

  .mat-ripple-element {
    width: auto !important;
    left: auto !important;
    top: auto !important;
    height: auto !important;
  }

  .content-div {
    height: auto;
    background: #2A2131 !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px;
   
    .sidebar-content {
      margin-top: 30px;
      padding: 0 30px;
      border-left: 1px solid rgba(255, 255, 255, 0.09);

      .days {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        .number {
          font-size: 36px;
          line-height: 36px;
          color: #fff;
          margin-bottom: 0;
        }

        .title {
          font-size: 13px;
          color: #fff;
          opacity: .5;
        }
      }
    }
  }
}
// .ui-multiselect-panel{
//   background: #2A2131 !important;
// }
// .ui-chkbox .ui-chkbox-box{
//   border: 1px solid #fff !important;
// }
// body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item{
//   color: #fff !important;
// }
/**** sidebar minimize ****/

@mixin sidebar-mini-mixin() {
  .mini-hide {
    display: none !important;
  }

  .sidebar-item {
    margin: 0;

    a {
      margin: .5rem 0 0 .5rem;

      i.toggle-icon {
        right: 0 !important;
        font-size: 1rem;
        top: .8rem !important;
      }
    }
  }
}

.sidebar-mini {
  .sidebar-panel, .sidebar {
    width: $sidebar-mini-width !important;
  }

  .sidebar {
    @include sidebar-mini-mixin();
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width}) !important;
  }

  .navigation-bar {
    left: $sidebar-mini-width !important;
  }

  @include media-breakpoint-down(md) {
    .sidebar-panel, .sidebar {
      width: $sidebar-width-md !important;
    }

    .sidebar {
      &.hide {
        width: $sidebar-mini-width-md !important;
      }

      .sidebar-item a strong {
        display: inline-block !important;
      }
    }

    .navigation-bar {
      left: $sidebar-mini-width-md !important;

      &:not(.sidebar-hidden) {
        left: 0 !important;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .sidebar-panel {
      width: 0 !important;
    }

    .sidebar {
      width: $sidebar-width-sm !important;

      &.hide {
        width: 0 !important;
        left: -5% !important;
      }
    }

    .main-panel {
      width: 100% !important;
    }

    .navigation-bar {
      left: 0 !important;
    }
  }
}

/**** sidebar for md devices ****/
@include media-breakpoint-between(sm,md) {
  .sidebar.hide {
    @include sidebar-mini-mixin();
  }
}

/**** material icons position fix ****/
i.material-icons {
  vertical-align: middle;
}

/**** btn ****/
.btn-just-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;

  i, i.material-icons {
    font-size: 1.2rem;
  }
}

/* round button */
.btn.btn-round {
  border-radius: $btn-round-br;
}

/* round button group */
.btn-group-round {
  @extend .btn-group;
  border-radius: $btn-round-br;

  & > .btn:last-child:not(.dropdown-toggle) {
    border-radius: 0 $btn-round-br $btn-round-br 0;
  }

  & > .btn:first-child {
    border-radius: $btn-round-br 0 0 $btn-round-br;
  }

  &.btn-group-vertical {
    & > .btn:last-child:not(.dropdown-toggle) {
      border-radius: 0 0 $btn-round-br $btn-round-br;
    }

    & > .btn:first-child {
      border-radius: $btn-round-br $btn-round-br 0 0;
    }
  }
}

/***** custom paginatons styles *****/
.pagination-round {
  @extend .pagination;

  .page-item {
    &:first-child .page-link, &:last-child .page-link, .page-link {
      min-width: 2.2rem;
      min-height: 2.2rem;
      border-radius: 50%;
    }
  }
}

.pagination-shwd {
  @extend .pagination;

  .page-link {
    //box-shadow: $box-shadow-sm;
    margin: 0 .2rem;
  }
}

.pagination-round-shwd {
  @extend .pagination-round;

  .page-link {
    //box-shadow: $box-shadow-sm;
    margin: 0 .25rem;
    border-radius: 50%;
  }
}

/**** custom tabs *****/
.custom-tab {
  .tab-content {
    margin-top: -2px;
    background-color: $white;
    border-color: $white;
    padding: 1rem;
  }

  .nav-tabs > li {
    .nav-link {
      padding: 1rem;

      &.active {
        color: $black;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}


/**** form input types ****/
.form-control .no-border, input.no-border {
  border: none;
  box-shadow: none;
  padding-left: 0;
  line-height: 0;
  background-image: linear-gradient(0deg,$black 1px,$white 0);

  &:focus {
    border: none;
    box-shadow: 0 0.4rem 0.2rem -0.2rem lighten($primary,40%);
    background-image: linear-gradient(0deg,lighten($primary,35%) 1px,$white 0);
  }
}

.form-control .rounded-border, input.rounded-border {
  border-radius: $btn-round-br;
}

.input-with-icon {
  position: relative;

  i {
    position: absolute;
    top: .2rem;
    left: 0;
  }

  input {
    padding-left: 2rem;
  }
}

/*.ui-dropdown-label {
  color: #fff !important;
  padding-left: 20px !important;
  font-weight: 300;
  padding: 0.429em;
  padding-right: 2em;
  background: #2A2131 !important;
  border: none !important;
  border-radius: 20px !important;
  color: #fff !important;
  width: auto !important;
  font-size: 14px;

  &:focus {
    border: none;
    outline: none;
  }

  option {
    background: #fff;
    color: #333333;

    &:hover {
      background: #eaeaea;
    }
  }
}*/
.select-boxes .ui-dropdown {
  background: #2A2131 !important;
  border: none !important;
  border-radius: 20px !important;
  color: #fff !important;
  width: auto !important;

  .ui-inputtext {
    background: none;
    color: #fff;
    padding-left: 18px;
    font-weight: 300;
  }

  .ui-dropdown-trigger {
    background: none;
    font-size: 9px;
    padding-right: 25px;
    color: #fff;
  }

  .ui-dropdown-item {
    width: 100%;
  }

  .ui-state-highlight {
    background: none !important;
    color: #333 !important;
  }
}
.listing .unique-width .ui-multiselect .ui-multiselect-label-container .ui-multiselect-label {
  width: 247px !important;
}

.dropdown-width .ui-dropdown {
  width: 130px !important;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}




/* Absolute Center Spinner */
.loading-section {
  position: absolute;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: visible;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Transparent Overlay */
.loading-section:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* :not(:required) hides these rules from IE9 and below */
.loading-section:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-section:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.custom-autocomplete input.ui-inputtext {
  background: #2A2131 !important;
  border: none !important;
  border-radius: 20px !important;
  color: #fff !important;
  width: auto !important;
  padding-left: 15px !important;
}
.custom-autocomplete input.ui-inputtext::placeholder{
  color: #aaa !important;
}
/*responsive starts here*/
.epr-heading {
  margin-top: 30px;

  h3 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
  }
}

.epr-table {
  background: #2A2131;
  border-radius: 5px;
  text-align: center;

  .table {
    margin-bottom: 0;

    th {
      font-weight: normal;
      font-size: 14px;
      border: 1px solid #352939;
      color: #fff;
    }

    td {
      border: 1px solid #352939;
      font-size: 14px;
      color: #70839A;
      border-bottom: none;
      border-top: none;
    }
  }
}

#pager {
  color: #70839A;
  float:right;

}

#pager .disabled {
  cursor: auto;
  color: #70839A;
  color: #CCC;
}

#pager .active {
  cursor: auto;
  color: #CCC;
}

#pager ul li {
  text-align: center;
  padding: 10px;
  cursor:pointer;
}
.right-aligned {
  ul {
    float: right;
  }
}
.dashboard-all-table {
  text-align: left;
  position: relative;

  tr {
    &:nth-child(2n) {
      background: #37313C;

      .inner-table {
        tr {
          &:nth-child(2n) {
            background: #2A2131;
          }
        }
      }
    }
  }

  td {
    white-space: nowrap !important;
  }

  th {
    background: #2A2131;
    position: sticky;
    top: -1px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  td.address {
    vertical-align: middle;
  }

  td.name, td.premium-goal, td.revised-goal, td.percentage, td.Payroll {
    padding-left: 0;
    padding-right: 0;
  }
}


.inner-table {
  width: 100%;
  position: relative;
  tr {
    &:nth-child(2n) {
      background: #37313C;
    }
  }
  td{
    border: none !important;
  }
}



@media only screen and (max-width: 1290px) {
  .listing {
    width: 100%;
  }
} 
@media only screen and (max-width: 991px) {
  .sidebar.hide .sidebar-body li span {
    display: none;
  }

  .sidebar.hide .sidebar-header img {
    display: none;
  }

  .sidebar.hide h1.logo-name {
    display: block !important;
    font-size: 18px;
  }

  .nav-toggle-btn span {
    background: #fff !important;
  }

  .sidebar.hide {
    margin-top: 0;
  }

  .sidebar {
    margin-top: 65px;
  }

  .panel-content {
    margin: 125px 20px 50px 20px !important;
  }

  .sidebar-header {
    padding: 75px 0 43px 0 !important;
  }

  .navigation-bar {
    padding-left: 25px;
  }

  .breadcrumb {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .count-blocks .block {
    margin-bottom: 20px;
  }

  /*.breadcrumb-div {
    margin-top: 50px;
  }*/
  .ui-multiselect, .select-boxes ul li, .select-boxes .ui-dropdown {
    width: 100% !important;
  }
  .select-boxes ul li {
    margin-bottom: 5px;
  }
  #pager{
    display: inline-block;
    float: none;
    width: 100%;
    overflow: auto;
  }
  .resp-tab{
    width: 100%;
  }
  .tabs-div{
    margin-top: 0;
  }
}

.form-control-feedback {
  color: #D8000C;
}

@media only screen and (max-width: 575px) {
  .select-boxes ul li {
    margin-right: 0;
    width: 50%;
  }

  .ui-multiselect .ui-multiselect-label {
    font-size: 13px;
  }
}
/*Repsonsive end here*/


@media only screen and (max-width: 767px) {
  .count-blocks .block {
    margin-bottom: 20px;
  }
}


// 11-march-2020
.pointer {
  cursor: pointer;
}
table.table.dashboard-all-table tr {
  th, td {
    border: 1px solid rgba(112, 131, 154, 0.7098039216);
  }
}
.pagination {
    margin: 10px 0 10px 0;
    li {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      line-height: 1;
  }
}
.agent-tabs-div {
  margin-top: 10px !important;
}
