<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown-alpa [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (SdChangeEmitter)="RmChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown-alpa>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div mt-0">
        <div class="content-div">
          <div class="row">
            <div class="col-md-12">
              <div id="pager">
                <ul *ngIf="pagerdailyPaymentCount.pages && pagerdailyPaymentCount.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === 1}">
                    <a (click)="setdailyPaymentCountPaging(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === 1}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerdailyPaymentCount.pages" [ngClass]="{active:pagerdailyPaymentCount.currentPage === page}">
                    <a (click)="setdailyPaymentCountPaging(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === pagerdailyPaymentCount.totalPages}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === pagerdailyPaymentCount.totalPages}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
              <div class="epr-table table-responsive">
                <table class="table table-bordered" *ngIf="pageddailyPaymentCount && pageddailyPaymentCount?.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Date </th>
                      <th scope="col">Receipt # </th>
                      <th scope="col">Bank Account </th>
                      <th scope="col">Policy Number</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col"> Payment For</th>
                      <th scope="col"> PaymentMethod</th>
                      <th scope="col"> Company</th>
                      <th scope="col"> Amount</th>
                      <th scope="col"> Received by</th>
                      <th scope="col"> Agency Name</th>
                      <th scope="col"> Location</th>
                      <th scope="col"> Fee Type</th>
                      <th scope="col"> Sent to</th>
                      <th scope="col"> Fee</th>
                      <th scope="col"> Total</th>
                      <th scope="col"> Balance</th>
                      <th scope="col"> Policy Type</th>
                      <th scope="col"> Referral Source</th>
                      <th scope="col"> Payment Notes</th>
                      <th scope="col"> Policy Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pageddailyPaymentCount">
                      <td scope="row">{{item.datePayDate| date: 'MM/dd/yyyy'}}</td>
                      <td>{{item.paymentId}}</td>
                      <td>{{item.bankAccount}}</td>
                      <td>{{item.policyNumber}}</td>
                      <td>{{item.applicantName}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.payType}}</td>
                      <td>{{item.payMethod}}</td>
                      <td>{{item.coName}}</td>
                      <td>{{item.moneyPayAmount}}</td>
                      <td>{{item.agentName}}</td>
                      <td>{{item.agencyName}}</td>
                      <td>{{item.location}}</td>
                      <td>{{item.feeType}}</td>
                      <td>{{item.sentToCompany}}</td>
                      <td>{{item.moneyPayFee}}</td>
                      <td>{{item.moneypayTotal}}</td>
                      <td>{{item.moneyPayBalance}}</td>
                      <td>{{item.policyType}}</td>
                      <td>{{item.referralSource}}</td>
                      <td>{{item.payNotes}}</td>
                      <td>{{item.policyStatus}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="pageddailyPaymentCount?.length==0">
                  <span style="color:red;">Daily Transaction Payment date are not available for selected date or month.</span>
                </div>
              </div>
              <div id="pager">
                <ul *ngIf="pagerdailyPaymentCount.pages && pagerdailyPaymentCount.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === 1}">
                    <a (click)="setdailyPaymentCountPaging(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === 1}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerdailyPaymentCount.pages" [ngClass]="{active:pagerdailyPaymentCount.currentPage === page}">
                    <a (click)="setdailyPaymentCountPaging(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === pagerdailyPaymentCount.totalPages}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerdailyPaymentCount.currentPage === pagerdailyPaymentCount.totalPages}">
                    <a (click)="setdailyPaymentCountPaging(pagerdailyPaymentCount.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>


          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
