<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="login-bg">
  <div class="home-page">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12">
          <div class="logo-content">
            <div class="home-content" [ngStyle]="{'display':homeSectionDisplay}">
              <div class="heading text-center mb-5">
                <h1>Welcome </h1><!--to the <br>Amax Operations-->
                <h5 style="text-decoration: underline;">Use Power BI Login Credentials</h5>
              </div>
              <div class="logins mt-5">
                <div class="row">
                  <!--<div class="col-sm-4 text-center">
                    <div class="hod-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('chiefexecutiveofficer')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>CEO</h5>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-sm-4 text-center" title="Use Power BI Login Credentials">
                    <div class="hod-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('headofdepratment')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>HOD</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center" title="Sale of Director">
                    <div class="hod-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('saledirector')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>Sale of Director</h5>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-sm-4 text-center" title="Use Power BI Login Credentials">
                    <div class="hod-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('chieffinancialofficer')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>Admin</h5>
                      </div>
                    </div>
                  </div>-->
                  <!--<div class="col-sm-4 text-center">
                    <div class="hod-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('chiefOperatingofficer')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>COO</h5>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-sm-4 text-center" title="Use Power BI Login Credentials">
                    <div class="region-manager-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('regionalmanager')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                      </div>
                      <div class="title text-center">
                        <h5>Regional Manager</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center" title="Use Power BI Login Credentials">
                    <div class="zonal-manager-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('zonalmanager')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                        <!--<img src="assets/images/zonal-manager-icon.png" alt="" (click)="showLoginSection('zonalmanager')" />-->
                      </div>
                      <div class="title text-center">
                        <h5>District Manager</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center" title="Use Power BI Login Credentials">
                    <div class="alpa-workspace-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('storemanager')">
                      <div class="image">
                        <i class="fas fa-user-tie mr-2"></i>
                        <!--<img src="assets/images/zonal-manager-icon.png" alt="" (click)="showLoginSection('zonalmanager')" />-->
                      </div>
                      <div class="title text-center">
                        <h5>Store Manager</h5>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-sm-4 text-center">
                    <div class="alpa-workspace-login login-div d-flex align-content-center justify-content-md-center justify-content-sm-start mb-3" (click)="showLoginSection('marketing')">
                      <div class="image">
                        <img src="assets/images/region-manager-icon.png" alt="" />
                      </div>
                      <div class="title text-center">
                        <h5>Marketing</h5>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>

            <div class="login-content" [ngStyle]="{'display':loginSectionDisplay}">

              <div class="heading text-center mb-4">
                <h2>Welcome</h2>
              </div>
              <div class="login-form">
                <div class="cross-btn float-right">
                  <i class="fas fa-times" (click)="showHomeSection()"></i>
                  <!--<img src="assets/images/cross-icon.png" alt="" (click)="showHomeSection()" />-->
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <div class="icon-block">
                      <input formControlName="username" class="form-control" type="email" pInputText placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                      <div class="icon">
                        <i class="zmdi zmdi-email"></i>
                      </div>
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required.</div>
                      <div *ngIf="f.username.errors.email">Invalid email address.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="icon-block">
                      <input formControlName="password" class="form-control" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.invalid }" pInputText placeholder="Password">
                      <div class="icon">
                        <i class="zmdi zmdi-lock"></i>
                      </div>
                    </div>
                    <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required.</div>
                    </div>
                  </div>
                  <div *ngIf="error" class="invalid-login">
                    {{error}}
                  </div>
                  <div class="login-button text-center">
                    <button class="login-btn">Login</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>





</div>

