<!--<div class="loading" *ngIf="showLoader">Loading&#8230;</div>-->
<div class="main-wrapper">
  <header>
    <div class="col-sm-4">
      <h1>Budget Summary</h1>
    </div>
    <div class="col-sm-8 action">
      <button class="btn btn-default" (click)="Navigate('dashboardtwo')">
        Account Detail
      </button>
      <button class="btn btn-default" *ngIf="isAdmin" (click)="Navigate('BudgetSummary')">
        Budget Summary
      </button>
      <button class="btn btn-default" (click)="Navigate('dashboardthree')">
        Transactions
      </button>
      <button class="btn btn-default" (click)="Navigate('dashboardfour')">
        Variance Report
      </button>
      <button class="btn btn-default" (click)="Navigate('excelimport')">
        Excel Import
      </button>



      <div style="
          width: 20px;
          float: right;
          margin-top: 0px;
          margin-right: 15px;
          margin-left: 10px;
          position: inherit;
        ">
        <img (click)="LogOut()"
             title="Log Out"
             style="width: 25px; cursor: pointer"
             src="../../../assets/2529524.png" />
      </div>
    </div>
  </header>

  <div class="budget-top-filter">
    <div class="row">
      <div class="col-sm-2">
        <ul class="tablegend">
          <li class="d-flex align-items-center">
            <div class="legend-blue"><span></span></div>
            <div class="">Actual</div>
          </li>
          <li class="d-flex align-items-center">
            <div class="legend-red"><span></span></div>
            <div class="">Overspending</div>
          </li>
          <li class="d-flex align-items-center">
            <div class="legend-grey"><span></span></div>
            <div class="">Remaining Budget</div>
          </li>
        </ul>
      </div>
      <div class="col-sm-10">
        <div class="d-flex header-filters flex-wrap">
          <div class="d-flex align-items-center">
            <div class="text-lable">Year</div>
            <div>
              <p-dropdown
                [options]="yearsSelectItem"
                [(ngModel)]="selectedyear"
                optionLabel="value"
                (onChange)="onYearchange($event)"
                [filter]="true"
                filterBy="value"
                [showClear]="true"
                placeholder="Select a Year"
              >
                <ng-template pTemplate="selectedItem" *ngIf="selectedyear">
                  {{ selectedyear.value }}
                </ng-template>
                <ng-template let-year pTemplate="item">
                  {{ year.value }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div class="text-lable">Month</div>
            <div>
              <p-multiSelect  id="EventTypeSelection"
                [options]="monthSelectItem"
                maxSelectedLabels="1"
                [(ngModel)]="selectedmonth"
                defaultLabel="Month"
                (onChange)="onMonthchange()"
                optionLabel="label"
              ></p-multiSelect>
            </div>
          </div>

          <div class="d-flex align-items-center" *ngIf="isAdmin">
            <div class="text-lable">Department</div>
            <div>
              <p-dropdown
                [options]="deptSelectItem"
                [(ngModel)]="selectedDepartment"
                optionLabel="value"
                (onChange)="onDeptchange($event)"
                [filter]="true"
                filterBy="value"
                [showClear]="true"
                placeholder="Select a Deparment"
              >
                <ng-template
                  pTemplate="selectedItem"
                  *ngIf="selectedDepartment"
                >
                  {{ selectedDepartment.value }}
                </ng-template>
                <ng-template let-deparment pTemplate="item">
                  {{ deparment.value }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="text-lable">Category Name</div>
            <div>
              <p-multiSelect
                [options]="catSelectItem"
                maxSelectedLabels="1"
                [(ngModel)]="selectedCat"
                defaultLabel="Category"
                (onChange)="onCatChange($event)"
                optionLabel="label"
              ></p-multiSelect>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="text-lable">Budget Name</div>
            <div>
              <p-multiSelect
                [options]="BudgetSelectItem"
                maxSelectedLabels="1"
                [(ngModel)]="selectedBudget"
                defaultLabel="Budget"
                (onChange)="onBudgetChange()"
                optionLabel="label"
              ></p-multiSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="budget-chart-content">
    <div class="row">
      <div class="col-md-4">
        <div class="bc-top">
          <button class="btn btn-title">Budget</button>
          <button class="btn btn-price">
            ${{ BudgetSeletedMonth.budget | number: "1.0-0" }}
          </button>
        </div>
        <div class="chart-container" *ngIf="isExistDepartment">
          <app-dountchart
            (SelectMonthBudgetOut)="SelectMonthBudgetEmitter($event)"
            [search]="SelectedMonthsearch"
            ChartName="Filtered Month"
          ></app-dountchart>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bc-top">
          <button class="btn btn-title">Actual</button>
          <button class="btn btn-price">
            ${{ BudgetSeletedMonth.actual | number: "1.0-0" }}
          </button>
          <div class="text-center">Spending vs Budget</div>
        </div>

        <div class="chart-container" *ngIf="isExistDepartment">
          <app-dountchart
            [search]="LatestMonthsearch"
            ChartName="Last Month"
          ></app-dountchart>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bc-top">
          <button class="btn btn-title">Remaning</button>
          <button class="btn btn-price">
            ${{ BudgetSeletedMonth.remaningBudget | number: "1.0-0" }}
          </button>
        </div>
        <div class="chart-container" *ngIf="isExistDepartment">
          <app-dountchart [search]="YTMsearch" ChartName="YTM"></app-dountchart>
        </div>
      </div>
    </div>
  </div>

  <div class="spending-trend">
    <div class="spending-title">Spending Trend</div>
    <p-chart
      type="line"
      [data]="linedata"
      [options]="options"
      height="200px"
      [responsive]="true"
    ></p-chart>
  </div>
</div>
