.main-wrapper{ width:100%; height:auto; border:3px solid #000; padding:3px}
.budget-top-filter{ width:100%; margin-top:5px}
.budget-top-filter > .row{ margin-left:-3px; margin-right: -3px; }
.budget-top-filter > .row > div{padding: 0 3px;}
.budget-chart-content > .row{ margin-left:-3px; margin-right: -3px; }
.budget-chart-content > .row > div{padding: 0 3px;}
.budget-chart-content{ margin-top: 10px;}
.budget-chart-content .chart-container{ border:1px solid #000}
.budget-chart-content .btn{ width:100%; display: block; border-radius: 0px; padding:0 .75rem !important; margin: 0;text-align: center;line-height: 25px;}
.budget-chart-content  .btn-title{font-size:1.25rem;font-family: 'Lato', sans-serif; font-weight:500; color:#000}
.budget-chart-content .btn-price{font-size:1.25rem;font-family: 'Lato', sans-serif; font-weight:500; color:#4e79a7}
.budget-chart-content .btn-price:hover{ border:1px solid #4e79a7}
.bc-top{ min-height: 90px;}
.chart-container{ padding:8px}
.chart-title{ text-align: center;}
.spending-trend{ width:100%; height: auto; margin-top:10px}
.spending-title{ text-align:center; width:100%; padding:1rem 0;font-family: 'Lato', sans-serif; font-weight:300; color:#000; font-size:1.25rem}

@media(max-width:991px){
    .budget-chart-content .btn-title, .budget-chart-content .btn-price{font-size:1.1rem}
}

@media(max-width:785px){
    .action > .btn { min-width:140px; margin-top: 5px;}
}
@media(max-width:575px){
    .action {text-align: left;}
    .bc-top{margin-top: 1rem; min-height: auto; padding-bottom: 1rem;}
    .budget-top-filter > .row > div{ padding-bottom: 0.5rem;}
}
