<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <p-toast [baseZIndex]="1200" [autoZIndex]="true" [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-9">
            <ul>
              <li>
                <button type="button" pButton class="ui-button" style="margin-bottom: 3px;" (click)="Search()" label="Search"></button>
              </li>
            </ul>
          </div>
          <div class="col-sm-3" style="text-align: right;">
            <button *ngIf="showSwitchButtonToZoneManagerView" type="button" pButton class="ui-button switchButton" style="margin-bottom: 3px; color:black; background-color: white; border: 1px solid white; font-weight: bold; " (click)="switchToZoneManagerView()" label="Switch to Zone Manager View"></button>
            <button *ngIf="showSwitchButtonToSummarizedView" type="button" pButton class="ui-button switchButton" style="margin-bottom: 3px; color:black; background-color: white; border: 1px solid white; font-weight: bold; " (click)="switchToSummarizedView()" label="Summarized View"></button>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <span style="font-weight: bold; font-size: 16px; color:white;">Location - </span>
              <span style="color:orange;">{{ agencyName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span style="font-weight: bold; font-size: 16px; color:white;">Payment - </span>
              <span style="color:orange;">Due {{ selectedDueDate | date:'MM/dd/yyyy' }}</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button type="button" pButton class="ui-button" style="margin-bottom: 3px;" (click)="exportToExcel(1)" label="Export"></button>
            </div>
          </div>          
        </div>

        <div class="col-md-12">
          
          <p-panel [showHeader]="false" [style]="{'margin-bottom':'20px'}">

            <p-table #dt [columns]="ColumnList" [value]="CustomerRetentionList"
                     [lazy]="true" (onLazyLoad)="loadCustomerRetentionList($event)"
                     [resetPageOnSort]="false"
                     [paginator]="true" [rows]="10" [totalRecords]="totalRecordCount" [loading]="loadingTable"
                     [rowsPerPageOptions]="[10,20,50]" pageLinks="3"
                     sortField="policyNumber" [sortOrder]="1"
                     dataKey="policyNumber"
                     [rowHover]="true"
                     [scrollable]="true"
                     tableStyleClass="custom-table1" >
              <ng-template pTemplate="header" let-columns>
                <tr>                  
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width" >
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <!-- <th *ngFor="let col of columns" [style.width]="col.width" >
                    {{col.header}}
                  </th> -->
                </tr>                
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">                  
                  <td *ngFor="let col of columns" [style.width]="col.width" [ngStyle]="{'color': col.field == 'calledStatusName' && rowData[col.field] == 'Yes' ? 'orange' : '' }">
                    {{ col.isDate ? (rowData[col.field] | date: 'MM/dd/yyyy':'UTC' ) : rowData[col.field] }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="(columns.length)">No record found.</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                <span style="display:inline-block; padding-top:5px; padding-left:3px;">Total Records: {{state.totalRecords}}</span>
              </ng-template>
            </p-table>

          </p-panel>

        </div>

        <div class="col-md-12">                
          <div class="row">
            <div class="col-md-6">
              <span style="font-weight: bold; font-size: 16px; color:white;">Payment - </span>
              <span style="color:orange;">Due Next 7 Days</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button type="button" pButton class="ui-button" style="margin-bottom: 3px;" (click)="exportToExcel(2)" label="Export"></button>
            </div>
          </div>    
        </div>

        <div class="col-md-12">
          
          <p-panel [showHeader]="false" [style]="{'margin-bottom':'20px'}">

            <p-table #dt2 [columns]="ColumnList" [value]="CustomerRetentionList2"
                     [lazy]="true" (onLazyLoad)="loadCustomerRetentionList2($event)"
                     [resetPageOnSort]="false"
                     [paginator]="true" [rows]="10" [totalRecords]="totalRecordCount2" [loading]="loadingTable2"
                     [rowsPerPageOptions]="[10,20,50]" pageLinks="3"
                     sortField="policyNumber" [sortOrder]="1"
                     dataKey="policyNumber"
                     [rowHover]="true"
                     [scrollable]="true" >
              <ng-template pTemplate="header" let-columns>
                <tr>                  
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width" >
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>                
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">                  
                  <td *ngFor="let col of columns" [style.width]="col.width">
                    {{ col.isDate ? (rowData[col.field] | date: 'MM/dd/yyyy':'UTC') : rowData[col.field] }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="(columns.length)">No record found.</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                <span style="display:inline-block; padding-top:5px; padding-left:3px;">Total Records: {{state.totalRecords}}</span>
              </ng-template>
            </p-table>

          </p-panel>

        </div>

        <div class="col-md-12">          
          <div class="row">
            <div class="col-md-6">
              <span style="font-weight: bold; font-size: 16px; color:white;">Payment - </span>
              <span style="color:orange;">Past Due</span> <i style="color: orange; margin-left: 10px;cursor: pointer;" title="By default data showing last 10 days from today">&#9432;</i>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button type="button" pButton class="ui-button" style="margin-bottom: 3px;" (click)="exportToExcel(3)" label="Export"></button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          
          <p-panel [showHeader]="false" [style]="{'margin-bottom':'20px'}">

            <p-table #dt3 [columns]="ColumnList" [value]="CustomerRetentionList3"
                     [lazy]="true" (onLazyLoad)="loadCustomerRetentionList3($event)"
                     [resetPageOnSort]="false"
                     [paginator]="true" [rows]="10" [totalRecords]="totalRecordCount3" [loading]="loadingTable3"
                     [rowsPerPageOptions]="[10,20,50]" pageLinks="3"
                     sortField="policyNumber" [sortOrder]="1"
                     dataKey="policyNumber"
                     [rowHover]="true"
                     [scrollable]="true" >
              <ng-template pTemplate="header" let-columns>
                <tr>                  
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>                
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">                  
                  <td *ngFor="let col of columns" [style.width]="col.width">
                    {{ col.isDate ? (rowData[col.field] | date: 'MM/dd/yyyy':'UTC') : rowData[col.field] }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="(columns.length)">No record found.</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                <span style="display:inline-block; padding-top:5px; padding-left:3px;">Total Records: {{state.totalRecords}}</span>
              </ng-template>
            </p-table>

          </p-panel>

        </div>


      </div>


    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
