@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}

::ng-deep p-table {
  .ui-paginator {
    p-dropdown {
      .ui-dropdown-label {
        padding: 0.4em 2em 0 0.4em;
      }
    }
  }
}



:host ::ng-deep .ui-panel .ui-panel-content {
  background-color: transparent;
  color: #ffffff;
  border: 0px;
  border-top: 1px solid #c8c8c8;  
}

:host ::ng-deep .ui-table table {  
  border: 1px solid rgba(112, 131, 154, 0.709804);
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  color: inherit;
  /*background-color: #1C1C2A;*/
  background-color: #2A2131;
  padding: 0.3em;
  border: 0px;
  border-right: 1px solid rgba(112, 131, 154, 0.709804);
}

:host ::ng-deep .ui-table .ui-table-tbody > tr {
  color: inherit;
  background-color: inherit;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr:nth-child(even) {
  /*background-color: #393A47;*/
  background-color: #37313C;
  color: #70839A;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
  padding: 0.3em;
  border:0px;
  /*border-right: 1px solid #c8c8c8;*/
  border-right: 1px solid rgba(112, 131, 154, 0.709804);
}

:host ::ng-deep .ui-paginator .ui-paginator-left-content {
  color:#333;
}

:host ::ng-deep .switchButton span.ui-button-text {
  padding: 0.4em 0.4em;
}