<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Amax Hourly Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>Policy Count</p>
              </div>
              <div class="title">
                <p>{{TotalNewCount}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block purple-block">
              <div class="count">
                <p>Premium</p>
              </div>
              <div class="title">
                <p>${{Totalprem| number: '2.'}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block green-block">
              <div class="count">
                <p>Agency Fee</p>
              </div>
              <div class="title">
                <p>${{TotalFee| number: '2.'}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="block green-block">
              <div class="count">
                <p>	Transactions</p>
              </div>
              <div class="title">
                <p>{{TotalTrans}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="count-blocks">
        <div class="row">
          <div class="col-sm-12">
  <button type="button" class="btn btn-primary" style="cursor:pointer;float:right;margin-top: 10px;" (click)="exportExcel()">Export</button>
</div>
        </div>
        </div>

          <div>
            <mat-tab-group animationDuration="0ms" (selectedTabChange)="TabChange($event.index)">

              <mat-tab label="Hourly Live Data">
                <div class="agency-table-container mt-3">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="agency-table table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Hour Interval</th>
                              <th scope="col">Policy Count</th>
                              <th scope="col">Premium</th>
                              <th scope="col">Agency Fee</th>
                              <th scope="col">Transactions</th>
                              <th scope="col">Agents</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of data">
                              <td scope="row"><span>{{item.hourIntervel}}</span></td>
                              <td><span>{{item.policies}}</span></td>
                              <td><span>${{item.premium| number: '2.'}}</span></td>
                              <td><span>${{item.agencyfee| number: '2.'}}</span></td>
                              <td>{{item.transactions}}</td>
                              <td>{{item.agentCount}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Total</th>
                              <th>{{TotalNewCount}}</th>
                              <th>${{Totalprem| number: '2.'}}</th>
                              <th>${{TotalFee| number: '2.'}}</th>
                              <th>{{TotalTrans}}</th>
                              <th></th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Hourly Livedate Graph">
                <p-chart width="400" height="400" type="line" [data]="ConsolatedChartData" [options]="chartOptions"></p-chart>
                <h5 class="d-flex justify-content-center font-weight-bold">Hourly Data</h5>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
      </div>
    </div>

