/* You can add global styles to this file, and also import other style files */

html, body, .login-bg{
  height: 100%;
}
a:hover {
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.login-bg {
  background: #7386D5;
  color: #fff;
}
#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
}

  #sidebar.active {
    margin-left: -200px;
  }

  #sidebar ul {
    padding: 30px 15px;
  }

    #sidebar ul li {
      margin-bottom: 15px;
    }

      #sidebar ul li a {
        color: #fff;
      }

        #sidebar ul li a i {
          margin-right: 10px;
        }

#page-content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.toogle-button i {
  font-size: 20px;
}

.toogle-button button:focus {
  box-shadow: none;
}

.count-blocks .block {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  border-radius: 4px;
}

.left-right-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.count-blocks .orange-block {
  background: #FF8373;
}
.count-blocks .blue-block {
  background: #7382FF;
}
.count-blocks .purple-block {
  background: #A3A0FB;
}

.count-blocks .green-block {
  background: #44B980;
}
.count-blocks .dark-block {
  background: #75748D;
}

.count-blocks .delayed-block {
  background: #4E3C26;
}

.count-blocks .closing-block {
  background: #26384E;
}

.count-blocks .premium-block {
  background: #A68C65;
}

.count-blocks .agencyfee-block {
  background: #31772F;
}

.count-blocks .block .count p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
  line-height: 28px;
}

.count-blocks .block .title p {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

.multiselect-container .ui-multiselect-label-container {
  width: 150px;
}

.table th{
  font-weight: normal;
  background: #7386D5;
  color: #fff;
}
.table td{
  vertical-align: middle;
}

.mat-tab-group .mat-tab-label {
  min-width: auto;
  margin: 0 25px 0 0;
  padding: 0;
}

.mat-tab-group .mat-tab-body-content {
  overflow-x: hidden;
}

.mat-tab-group .mat-tab-header-pagination-chevron {
  color: #70839A;
}

.mat-tab-group .mat-tab-labels {
  color: #70839A;
  font-size: 18px;
}

.mat-tab-group .mat-tab-label-active {
  color: #232323;
  opacity: 1 !important;
  position: relative;
}
.mat-tab-group .mat-tab-label-active:before{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 100%;
  content: "";
  background: #209f85;
  height: 2px;
}

.mat-ripple-element {
  width: auto !important;
  left: auto !important;
  top: auto !important;
  height: auto !important;
}

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -200px;
    }

      #sidebar.active {
        margin-left: 0;
      }

    .count-blocks .block {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 576px) {
    .pdf-download-button {
      margin-top: 15px;
    }
  }

  .right-content {
  color: #fff;
  padding: 15px 0;
}

.agency-detail {
  margin-top: 15px;
}

.blue-map-icons {
  display: flex;
}

  .blue-map-icons span {
    display: flex;
    align-items: center;
  }

.blue-bg {
  background: #6991FD;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.green-map-icons {
  display: flex;
  margin-top: 20px;
}

  .green-map-icons span {
    display: flex;
    align-items: center;
  }

.green-bg {
  background: #00E64D;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.top-five-agency {
  margin-top: 20px;
}

.agency-list {
  list-style: none;
  padding-left: 0;
}

  .agency-list li span:first-child {
    margin-right: 10px;
  }

  .agency-list li {
    padding-left: 15px;
  }

    .agency-list li:first-child {
      padding-left: 0;
    }

.grand-total {
  padding-left: 15px;
}

  .grand-total span {
    font-size: 20px;
  }

    .grand-total span:first-child {
      margin-right: 10px;
    }


.center-title {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

  .center-title p {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
  }
.table-bordered td{
  border: 1px solid #ccc;
}
.blue-bg {
  background: #98CDFF;
  white-space: nowrap;
}
.orange-bg {
  background: #FFC79B;
  white-space: nowrap;
}
.green-bg {
  background: #00FF01;
  white-space: nowrap;
}
.purple-bg {
  background: #7386D5;
  white-space: nowrap;
  color: #fff;
}
.pdf-download-button button {
  background: #FFC79B;
  padding: 5px 15px;
  border: 1px solid #FFC79B;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.vanity-number .block{
  margin-bottom: 20px;
}
.vanity-number .block p{
  font-size: 20px !important;
}
.vanity-number .block p:nth-child(2) {
  font-size: 16px !important;
}
.ui-inputwrapper-filled{
  display: inline-block;
  vertical-align: middle;
}
.agency-table-container .btn{
  padding: 10px;
  width: 90%;
}
.agency-table-container tr:nth-child(even){
  background: #ddd;
}
.agency-block{ 
    border-right: 1px solid #ddd;
}
.agency-table-container .button{ 
  text-align: center;
  padding: 0 5px;
}
.main-table td{
  vertical-align: top;
}


/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

    .loading:not(:required):after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      -webkit-animation: spinner 1500ms infinite linear;
      -moz-animation: spinner 1500ms infinite linear;
      -ms-animation: spinner 1500ms infinite linear;
      -o-animation: spinner 1500ms infinite linear;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
      box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    }

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


