<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div
  class="wrapper"
  [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle"
>
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content" style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)"
                                           (RmChangeEmitter)="RmChanged($event)"
                                           (ZmChangeEmitter)="ZmChanged($event)"
                                           (LocationChangeEmitter)="LocationChanged($event)"
                                           (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-multiSelect maxSelectedLabels="1" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>
                <!--<p-dropdown [options]="yearsSelectItem"
                  [(ngModel)]="selectedyear"
                  (onChange)="onYearchange(event)"></p-dropdown>-->
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
                <!--<p-dropdown [options]="monthSelectItem"
                  [(ngModel)]="selectedmonth"
                  (onChange)="onMonthchange($event)"></p-dropdown>-->
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
        <mat-tab-group
          (selectedTabChange)="setHeader($event.index)"
          animationDuration="0ms"
        >
          <mat-tab label="Renters Tracker">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col">MTD_Policies</th>
                    <th scope="col">MTD_agencyfee</th>
                    <th scope="col">MTD_Premium</th>
                    <th scope="col">EOM_Policies</th>
                    <th scope="col">EOM_agencyfee</th>
                    <th scope="col">EOM_Premium</th>
                    <th scope="col">Goal_Policies</th>
                    <th scope="col">Goal_AgencyFee</th>
                    <th scope="col">Goal_Premium</th>
                    <th scope="col" style="min-width: 200px;">EOM_Policies VS GOAL_Policies +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_AgencyFee VS GOAL_AgencyFee +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_Premium VS GOAL_Premium +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_Policies VS GOAL_Policies +/-%NO</th>
                    <th scope="col" style="min-width: 220px;">EOM_AgencyFee VS GOAL_AgencyFee +/-%NO</th>
                    <th scope="col" style="min-width: 200px;">EOM_Premium VS GOAL_Premium +/-%NO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredRenterTracker"  [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : rowbgColor(item.zonalManagerId) }">
                    <td scope="row" class="col-id-no" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.regionalManager=='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.regionalManager!='ZZZZ_Total'">{{item.regionalManager}}</span>
                    </td>
                    <td scope="row" class="col-first-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.zonalManager=='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.zonalManager=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.zonalManager!='ZZZZ_Total'">{{item.zonalManager}}</span>
                    </td>
                    <td scope="row" class="col-agency-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName!='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td  scope="row">{{ item.mtD_Policies | number: "2." }}</td>
                    <td  scope="row">{{ item.mtD_agencyfee | number: "2." }}</td>
                    <td  scope="row">{{ item.mtD_Premium | number: "2." }}</td>
                    <td  scope="row">{{ item.eoM_Policies | number: "2." }}</td>
                    <td  scope="row">{{ item.eoM_agencyfee | number: "2." }}</td>
                    <td  scope="row">{{ item.eoM_Premium | number: "2." }}</td>
                    <td  scope="row">{{ item.goal_Policies | number: "2." }}</td>
                    <td  scope="row">{{ item.goal_AgencyFee | number: "2." }}</td>
                    <td  scope="row">{{ item.goal_Premium | number: "2." }}</td>
                    <td  scope="row">
                      {{ item.eoM_PoliciesVSGOAL_Policies | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_AgencyFeeVSGOAL_AgencyFee | number: "2." }}%
                    </td>
                    <td scope="row">{{ item.eoM_PremiumVSGOAL_Premium | number: "2." }}%</td>
                    <td scope="row">
                      {{ item.eoM_PoliciesVSGOAL_PoliciesNO | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_AgencyFeeVSGOAL_AgencyFeeNO | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_PremiumVSGOAL_PremiumNO | number: "2." }}%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Production Tracker">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col">MTD_Policies</th>
                    <th scope="col">MTD_agencyfee</th>
                    <th scope="col">MTD_Premium</th>
                    <th scope="col">EOM_Policies</th>
                    <th scope="col">EOM_agencyfee</th>
                    <th scope="col">EOM_Premium</th>
                    <th scope="col">Goal_Policies</th>
                    <th scope="col">Goal_AgencyFee</th>
                    <th scope="col">Goal_Premium</th>
                    <th scope="col" style="min-width: 200px;">EOM_Policies VS GOAL_Policies +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_AgencyFee VS GOAL_AgencyFee +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_Premium VS GOAL_Premium +/-%</th>
                    <th scope="col" style="min-width: 200px;">EOM_Policies VS GOAL_Policies +/-%NO</th>
                    <th scope="col" style="min-width: 230px;">EOM_AgencyFee VS GOAL_AgencyFee +/-%NO</th>
                    <th scope="col" style="min-width: 200px;">EOM_Premium VS GOAL_Premium +/-%NO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredProductionTracker" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : rowbgColor(item.zonalManagerId) }">
                    <td scope="row" class="col-id-no" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.regionalManager=='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.regionalManager!='ZZZZ_Total'">{{item.regionalManager}}</span>
                    <td scope="row" class="col-first-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.zonalManager=='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.zonalManager=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.zonalManager!='ZZZZ_Total'">{{item.zonalManager}}</span>
                    </td>
                    <td scope="row" class="col-agency-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName!='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td scope="row">{{ item.mtD_Policies | number: "2." }}</td>
                    <td scope="row">{{ item.mtD_agencyfee | number: "2." }}</td>
                    <td scope="row">{{ item.mtD_Premium | number: "2." }}</td>
                    <td scope="row">{{ item.eoM_Policies | number: "2." }}</td>
                    <td scope="row">{{ item.eoM_agencyfee | number: "2." }}</td>
                    <td scope="row">{{ item.eoM_Premium | number: "2." }}</td>
                    <td scope="row">{{ item.goal_Policies | number: "2." }}</td>
                    <td scope="row">{{ item.goal_AgencyFee | number: "2." }}</td>
                    <td scope="row">{{ item.goal_Premium | number: "2." }}</td>
                    <td scope="row">
                      {{ item.eoM_PoliciesVSGOAL_Policies | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_AgencyFeeVSGOAL_AgencyFee | number: "2." }}%
                    </td>
                    <td scope="row">{{ item.eoM_PremiumVSGOAL_Premium | number: "2." }}%</td>
                    <td scope="row">
                      {{ item.eoM_PoliciesVSGOAL_PoliciesNO | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_AgencyFeeVSGOAL_AgencyFeeNO | number: "2." }}%
                    </td>
                    <td scope="row">
                      {{ item.eoM_PremiumVSGOAL_PremiumNO | number: "2." }}%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Active Customer Tracker">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency Name</th>
                    <th scope="col" style="min-width: 220px;">Month End Active Customers</th>
                    <th scope="col" style="min-width: 200px;">EOM Pacing Policies</th>
                    <th scope="col">Goals</th>
                    <th scope="col" style="min-width: 220px;">EOM Pacing VS Goal +/-%</th>
                    <th scope="col" style="min-width: 220px;">EOM Pacing VS Goal +/-%No</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of filteredActiveCustomerTracker" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : rowbgColor(item.zonalManagerId) }">
                    <td scope="row" class="col-id-no" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.regionalManager=='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.regionalManager!='ZZZZ_Total'">{{item.regionalManager}}</span>
                    </td>
                    <td scope="row" class="col-first-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.zonalManager=='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.zonalManager=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.zonalManager!='ZZZZ_Total'">{{item.zonalManager}}</span>
                    </td>
                    <td scope="row" class="col-agency-name" [ngStyle]="{'background-color':(item.agencyName === 'ZZZZ_Total') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName!='ZZZZ_Total' && item.regionalManager=='ZZZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZZZ_Total' && item.regionalManager!='ZZZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td scope="row">
                      {{ item.monthEndActiveCustomersPOLICIES | number: "2." }}
                    </td>
                    <td scope="row">{{ item.eomPacingPolicies | number: "2." }}</td>
                    <td scope="row">{{ item.goals | number: "2." }}</td>
                    <td scope="row">{{ item.eomPacingVSGoalPolicies | number: "2." }}</td>
                    <td scope="row">{{ item.eomPacingVSGoalNoPolicies | number: "2." }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
