﻿@model AmaxCarrierInsProUI.Models.ApolloCommissionPagedModel
<div class="content-area">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Apollo Commissions</h5>

            <div class="row searchbar mb-5">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-sm-4">
                            @Html.DropDownList("AgencyId", ViewBag.Locations as IEnumerable<SelectListItem>, htmlAttributes: new { Class = "form-control", id = "loc" })
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <input type="button" class="btn btn-primary" value="Select Location" onclick="Search(0)" />
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="currentPageIndex" value="1" />
            <div class="table-responsive table-outer-wrap">

                <table class="table">
                    <thead class="thead-light">
                        <tr>


                            <th>Location </th>
                            <th>Name         </th>
                            <th>Policy  </th>
                            <th>Premium  </th>
                            <th>Comm Due  </th>
                            <th>Comm Paid </th>
                            <th>Effective </th>
                            <th>Paid Premium   </th>
                            <th>Prem Paid in Month</th>
                            <th>Rate  </th>
                            <th>Type         </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AmaxIns.DataContract.DataScraping.ApolloMGM.ApolloCommissionsModel apollo in Model.apolloCommissionsModels)
                        {

                            <tr>
                                <td>@apollo.Location </td>
                                <td>@apollo.Name         </td>
                                <td>@apollo.Policy  </td>
                                <td>@apollo.Premium  </td>
                                <td>@apollo.CommDue  </td>
                                <td>@apollo.CommPaid </td>
                                <td>@apollo.Effective </td>
                                <td>@apollo.PaidPremium   </td>
                                <td>@apollo.PremPaidinMonth</td>
                                <td>@apollo.Rate  </td>
                                <td>@apollo.Type         </td>
                                
                            </tr>

                        }
                    </tbody>
                </table>
            </div>


            <div class="pagination-custom mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item">
                                @if (i != Model.CurrentPageIndex)
                                {
                                    <a class="page-link" href="javascript:PagerClick(@i,);">
                                        <span aria-hidden="true">@i</span>
                                        <span class="sr-only">@i</span>
                                    </a>
                                }
                                else
                                {
                                    <span aria-hidden="true" class="page-link">@i</span>
                                }
                            </li>
                        }



                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function PagerClick(index, x) {
        var x = $("#loc").val();
        window.location.href = "/Home/ApolloCommissions?currentPageIndex=" + index + "&AgencyId=" + x;
    }


    function Search(currentPageIndex) {
        var x = $("#loc").val();
        //var currentPageIndex = 1;
        window.location.href = "/Home/ApolloCommissions?currentPageIndex=" + currentPageIndex + "&AgencyId=" + x;
    }
</script>
