﻿@model AmaxIns.Models.ApolloMGM.ApollosMgmPagedModel



<div class="content-area">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Policies Expiring in Coming 30 Days</h5>

            <div class="row searchbar mb-5">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-sm-4">
                            @Html.DropDownList("AgencyId", ViewBag.Locations as IEnumerable<SelectListItem>, htmlAttributes: new { Class = "form-control", id = "loc" })
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <input type="button" class="btn btn-primary" value="Select Location" onclick="Search(0)" />
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="currentPageIndex" value="1" />



            <div class="table-responsive table-outer-wrap">

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th> Location</th>
                            <th>Carrier</th>
                            <th> Policy  </th>
                            <th style="background-color:#b8c8e0"> Exp Date</th>
                            <th>Eff Date</th>
                            <th> Applicant</th>
                            <th>Pay Date </th>
                            <th>Pay Method  </th>
                            <th>Pay Amount  </th>
                            <th> Name Insured </th>
                            <th> Email </th>
                            <th> Phone </th>
                            <th>Effective </th>
                            <th>Expiration </th>
                            <th> Payment </th>
                            <th>Posted Date</th>
                            <th>Date of Last Payment</th>
                            <th>Due Date </th>
                            <th> Amount Due  </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (AmaxIns.DataContract.DataScraping.ApolloMGM.ApolloMgmModel apollo in Model.apollosMgmModels)
                        {

                            <tr>
                                <td>@apollo.Location</td>
                                <td>  @apollo.Carrier </td>
                                <td> @apollo.Policy </td>
                                <td>@apollo.PolicyExpDate</td>
                                <td>@apollo.Effective</td>
                                <td>@apollo.Applicant</td>
                                <td>@apollo.Paydate</td>
                                <td> @apollo.PayMethod</td>
                                <td>@apollo.PayAmount</td>
                                <td>  @apollo.NamedInsured </td>
                                <td> @apollo.Email   </td>
                                <td>  @apollo.Phone    </td>
                                <td> @apollo.Effective </td>
                                <td>  @apollo.Expiration </td>
                                <td>  @apollo.Payment </td>
                                <td>   @apollo.PostedDate      </td>
                                <td>    @apollo.DateoflastPayment     </td>
                                <td>@apollo.DueDate.ToShortDateString()</td>

                                <td>  @apollo.AmountDue     </td>
                            </tr>

                        }

                    </tbody>

                </table>

            </div>


            <div class="pagination-custom mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item">
                                @if (i != Model.CurrentPageIndex)
                                {
                                    <a class="page-link" href="javascript:PagerClick(@i,);">
                                        <span aria-hidden="true">@i</span>
                                        <span class="sr-only">@i</span>
                                    </a>
                                }
                                else
                                {
                                    <span aria-hidden="true" class="page-link">@i</span>
                                }
                            </li>
                        }



                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function PagerClick(index, x) {
        var x = $("#loc").val();
        window.location.href = "/Home/ApolloPoliciesExpiring?currentPageIndex=" + index + "&AgencyId=" + x;
    }


    function Search(currentPageIndex) {
        var x = $("#loc").val();
        //var currentPageIndex = 1;
        window.location.href = "/Home/ApolloPoliciesExpiring?currentPageIndex=" + currentPageIndex + "&AgencyId=" + x;
    }
</script>
