﻿@model List<AmaxIns.DataContract.DataScraping.Seaharbor.SeaharborLiveModel>

<div class="table-responsive table-outer-wrap">
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Location</th>
                <TH> Date</TH>
                <TH>Insured Name </TH>
                <TH>Policy </TH>
                <TH>User Name</TH>
                <th>Payment Method         </th>
                <TH>Payment Amount </TH>
                <TH>Pay Type </TH>

            </tr>
        </thead>
        <tbody>
            @foreach (var apollo in Model)
            {
                if (apollo.IsFoundinIP)
                {
            <tr>
                <td>@apollo.Location</td>
                <td>@apollo.Date.ToShortDateString()</td>
                <td>@apollo.Insured </td>
                <td>@apollo.PolicyName </td>
                <td>@apollo.UserName         </td>
                <td>@apollo.PaymentMethod         </td>
                <td>$@apollo.PaymentAmount </td>
                <td>@apollo.PaymentType </td>
            </tr>
                }
                else
                {
                    <tr style="background-color:darkgray">
                        <td>@apollo.Location</td>
                        <td>@apollo.Date.ToShortDateString()</td>
                        <td>@apollo.Insured </td>
                        <td>@apollo.PolicyName </td>
                        <td>@apollo.UserName         </td>
                        <td>@apollo.PaymentMethod         </td>
                        <td>$@apollo.PaymentAmount </td>
                        <td>@apollo.PaymentType </td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

