<table class="inner-table">
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <tr>
    <td>
      Outbound Calls
    </td>
    <td class="text-white">{{dashboardSpectrumData.outboundCalls| number: '2.'}}</td>
  </tr>
  <tr>
    <td>
      Inbound Calls
    </td>
    <td class="text-white">{{dashboardSpectrumData.inboundCalls| number: '2.'}}</td>
  </tr>
</table>
