<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Bind Online Quotes Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <!--Last Refresh at : {{ refreshTime}}-->
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">

          <div class="col left-right-padding">
            <div class="block purple-block">
              <div class="count">
                <p>
                  Visited carrier website
                </p>
              </div>
              <div class="title">
                <p>{{BuyNowClick}}</p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block green-block">
              <div class="count">
                <p>
                  Online Quotes
                </p>
              </div>
              <div class="title">
                <p>{{BuyNowOption}}</p>
              </div>
            </div>
          </div>

          <div class="col left-right-padding">
            <div class="block orange-block">
              <div class="count">
                <p>
                  Total Policy Sold
                </p>
              </div>
              <div class="title">
                <p>{{PolicyCount}}</p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block closing-block">
              <div class="count">
                <p>
                  Closing ratio
                </p>
              </div>
              <div class="title">
                <p>
                  {{(PolicyCount/BuyNowClick)*100| number: '2.'}}%

                </p>
              </div>
            </div>
          </div>

          <!--<div class="col">
            <div class="block delayed-block">
              <div class="count">
                <p>
                  Delayed Policies
                </p>
              </div>
              <div class="title">
                <p>
                  {{delayedPolicy}}
                </p>
              </div>
            </div>
          </div>-->
          <div class="col left-right-padding">
            <div class="block blue-block">
              <div class="count">
                <p>
                  TX/AZ/IL/CA State
                </p>
              </div>
              <div class="title">
                <p>
                  {{txState}}/{{azState}}/{{ilState}}/{{cAState}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block premium-block">
              <div class="count">
                <p>
                  Written Premium
                </p>
              </div>
              <div class="title">
                <p>
                  ${{(totalpremium-totalAfee)| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block dark-block">
              <div class="count">
                <p>
                  Collected Premium
                </p>
              </div>
              <div class="title">
                <p>
                  ${{totalCollectedPremium| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
          <div class="col left-right-padding">
            <div class="block agencyfee-block">
              <div class="count">
                <p>
                  Agency Fee
                </p>
              </div>
              <div class="title">
                <p>
                  ${{totalAfee| number: '2.'}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-2">
            <p-multiSelect [maxSelectedLabels]="0" [(ngModel)]="Carriers" defaultLabel="Carrier"
                           [options]="CarriersItem" (onChange)="onSelect(event)"></p-multiSelect>
          </div>
          <div class="col-sm-2">
            <p-multiSelect [maxSelectedLabels]="0" [(ngModel)]="States" defaultLabel="State"
                           [options]="StateItem" (onChange)="onStateSelect(event)"></p-multiSelect>
          </div>
          <div class="col-md-4">
            Select Date: - <p-calendar selectionMode="range" [(ngModel)]="date" (onSelect)="onDateSelect(value)"></p-calendar>
          </div>
          <div class="col-md-4" *ngIf="ShowExportButton">
            <button class="btn btn-primary" type="button" (click)="exportExcel()">Export</button>
          </div>
        </div>
      </div>

      <div class="count-blocks">
        <div class="row">
          <div class="col-sm-12 Weekly-hearder" *ngIf="FilerData.length>0">
            <div class="col-sm-2 weekly-RedCount" title="Total Incoming calls">
              <div style="float: left;">
                Online Quotes
              </div>
            </div>
            <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  TX
                </span>
              </div>
              <div>{{txQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  AZ
                </span>
              </div>
              <div>{{azQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  IL
                </span>
              </div>
              <div>{{ilQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-RedCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  CA
                </span>
              </div>
              <div>{{cAQuotes}}</div>
            </div>
          </div>
          <div class="col-sm-12 Weekly-hearder" *ngIf="FilerData.length>0">
            <div class="col-sm-2 weekly-GreenCount" title="Total Incoming calls">
              <div style="float: left;">
                Visited carrier website
              </div>
            </div>
            <div class="col-sm-1 weekly-GreenCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  TX
                </span>
              </div>
              <div>{{txvisitedQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-GreenCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  AZ
                </span>
              </div>
              <div>{{azvisitedQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-GreenCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  IL
                </span>
              </div>
              <div>{{ilvisitedQuotes}}</div>
            </div>
            <div class="col-sm-1 weekly-GreenCount" title="Total Incoming calls">
              <div style="float: left;">
                <span class="info-box-icon-small push-bottom">
                  CA
                </span>
              </div>
              <div>{{cAvisitedQuotes}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-12 mt-2 alert alert-info text-center">
        Details of the customers, who clicked on <b>Buy Now</b>
      </div>-->

      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">

            <div class="agency-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Quote Url</th>
                    <th scope="col">State</th>
                    <th scope="col">Carrier Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Afee</th>
                    <th scope="col">Policy Sold</th>
                    <th scope="col">Written Premium</th>
                    <th scope="col">Collected Premium</th>

                  </tr>
                </thead>
                <tbody>
                  <!--<tr *ngFor="let item of FilerData" [ngStyle]="{'background-color':item.isdelayed? 'green' : '' }">-->
                  <tr *ngFor="let item of FilerData" [ngStyle]="{'background-color':SelectBackGround(item)}">


                    <td><span>{{item.name}} {{item.surname}}</span></td>
                    <td><span><a target="_blank" *ngIf="item.quoteUrl" href="{{item.quoteUrl}}">Quote Link</a></span></td>
                    <td><span>{{item.state}}</span></td>
                    <td><span>{{item.carrierName}}</span></td>
                    <td><span>{{item.time}}</span></td>
                    <td>
                      <span *ngIf="item.agencyFee>0">${{(item.agencyFee)| number: '2.'}}</span>
                      <span *ngIf="item.agencyFee==0"></span>
                    </td>
                    <td><span>{{item.policyNumber}}</span></td>
                    <td>
                      <span *ngIf="item.premiumAmount>0">${{(item.premiumAmount-item.agencyFee)| number: '2.'}}</span>
                      <span *ngIf="item.premiumAmount==0"></span>
                    </td>
                    <td>
                      <span *ngIf="item.collectedPremium>0">${{item.collectedPremium| number: '2.'}}</span>
                      <span *ngIf="item.collectedPremium==0"></span>
                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="FilerData && FilerData.length">
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">${{totalAfee}}</th>
                    <th scope="col"></th>
                    <th scope="col">${{(totalpremium-totalAfee)| number: '2.'}}</th>
                    <th scope="col">${{totalCollectedPremium| number: '2.'}}</th>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .Weekly-hearder {
    background-color: #ddd9d9;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .weekly-RedCount {
    background: linear-gradient(45deg, #4c2727, #f41818);
    float: left;
    text-align: center;
    color: #fff;
    min-height: 32px;
    border-radius: 5px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .weekly-GreenCount {
    float: left;
    text-align: center;
    background: linear-gradient(45deg, #182a0d, #74ca62);
    color: #fff;
    min-height: 32px;
    border-radius: 5px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .weekly-yellowCount {
    float: left;
    text-align: center;
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
    color: #fff;
    min-height: 32px;
    border-radius: 5px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-top: 2px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
  }

  .buttonload {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    margin: 25px;
  }

  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  section.loaders .loader {
    display: inline-block;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .colors2 {
    border-bottom: 16px solid blue;
  }

  .colors3 {
    border-bottom: 16px solid red;
    border-right: 16px solid green;
  }

  .colors4 {
    border-bottom: 16px solid red;
    border-right: 16px solid green;
    border-left: 16px solid pink;
  }



  /* Dropdown */

  .dropdown {
    display: inline-block;
    position: relative;
    z-index: 99999;
  }

  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    background-color: #007bff;
    color: #fff;
  }

    .dd-button:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
    }

    .dd-button:hover {
      background-color: #007bff;
    }


  .dd-input {
    display: none;
  }

  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }

  .dd-input + .dd-menu {
    display: none;
  }

  .dd-input:checked + .dd-menu {
    display: block;
  }

  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

    .dd-menu li:hover {
      background-color: #f6f6f6;
    }

    .dd-menu li a {
      display: block;
      margin: -10px -20px;
      padding: 10px 20px;
    }

    .dd-menu li.divider {
      padding: 0;
      border-bottom: 1px solid #cccccc;
    }
</style>
