.error-message {
  background: #eee;
  padding: 1rem;
  font-family: monospace;
  word-break: break-all;
}

.mat-dialog-actions {
  float: right;
}

::ng-deep.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none
}

::ng-deep.cdk-global-overlay-wrapper,
::ng-deep.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

::ng-deep.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

::ng-deep.cdk-overlay-container:empty {
  display: none
}

::ng-deep.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000
}

::ng-deep.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%
}

::ng-deep.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

::ng-deep.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

@media screen and (-ms-high-contrast:active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .6
  }
}

::ng-deep.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32)
}

::ng-deep.cdk-overlay-transparent-backdrop,
::ng-deep.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0
}

::ng-deep.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px
}

::ng-deep.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll
}

::ng-deep.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: #fff;
  color: rgba(0, 0, 0, .87)
}

::ng-deep.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
}

::ng-deep.mat-button,
::ng-deep.mat-flat-button,
::ng-deep.mat-icon-button,
::ng-deep.mat-raised-button,
::ng-deep.mat-stroked-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500
}

::ng-deep.mat-button-toggle {
  font-family: Roboto, "Helvetica Neue", sans-serif
}

::ng-deep.mat-button,
::ng-deep.mat-icon-button,
::ng-deep.mat-stroked-button {
  color: inherit;
  background: 0 0
}

::ng-deep.mat-button.mat-primary,
::ng-deep.mat-icon-button.mat-primary,
::ng-deep.mat-stroked-button.mat-primary {
  color: #3f51b5
}

::ng-deep.mat-button.mat-accent,
::ng-deep.mat-icon-button.mat-accent,
::ng-deep.mat-stroked-button.mat-accent {
  color: #ff4081
}

::ng-deep.mat-button.mat-warn,
::ng-deep.mat-icon-button.mat-warn,
::ng-deep.mat-stroked-button.mat-warn {
  color: #f44336
}

::ng-deep.mat-button.mat-accent[disabled],
::ng-deep.mat-button.mat-primary[disabled],
::ng-deep.mat-button.mat-warn[disabled],
::ng-deep.mat-button[disabled][disabled],
::ng-deep.mat-icon-button.mat-accent[disabled],
::ng-deep.mat-icon-button.mat-primary[disabled],
::ng-deep.mat-icon-button.mat-warn[disabled],
::ng-deep.mat-icon-button[disabled][disabled],
::ng-deep.mat-stroked-button.mat-accent[disabled],
::ng-deep.mat-stroked-button.mat-primary[disabled],
::ng-deep.mat-stroked-button.mat-warn[disabled],
::ng-deep.mat-stroked-button[disabled][disabled] {
  color: rgba(0, 0, 0, .26)
}

::ng-deep.mat-button.mat-primary .mat-button-focus-overlay,
::ng-deep.mat-icon-button.mat-primary .mat-button-focus-overlay,
::ng-deep.mat-stroked-button.mat-primary .mat-button-focus-overlay {
  background-color: #3f51b5
}

::ng-deep.mat-button.mat-accent .mat-button-focus-overlay,
::ng-deep.mat-icon-button.mat-accent .mat-button-focus-overlay,
::ng-deep.mat-stroked-button.mat-accent .mat-button-focus-overlay {
  background-color: #ff4081
}

::ng-deep.mat-button.mat-warn .mat-button-focus-overlay,
::ng-deep.mat-icon-button.mat-warn .mat-button-focus-overlay,
::ng-deep.mat-stroked-button.mat-warn .mat-button-focus-overlay {
  background-color: #f44336
}

::ng-deep.mat-button[disabled] .mat-button-focus-overlay,
::ng-deep.mat-icon-button[disabled] .mat-button-focus-overlay,
::ng-deep.mat-stroked-button[disabled] .mat-button-focus-overlay {
  background-color: transparent
}

::ng-deep.mat-button .mat-ripple-element,
::ng-deep.mat-icon-button .mat-ripple-element,
::ng-deep.mat-stroked-button .mat-ripple-element {
  opacity: .1;
  background-color: currentColor
}

::ng-deep.mat-button-focus-overlay {
  background: #000
}

::ng-deep.mat-stroked-button:not([disabled]) {
  border-color: rgba(0, 0, 0, .12)
}

::ng-deep.mat-flat-button,
::ng-deep.mat-raised-button {
  color: rgba(0, 0, 0, .87);
  background-color: #fff
}

::ng-deep.mat-flat-button.mat-primary,
::ng-deep.mat-raised-button.mat-primary {
  color: #fff
}

::ng-deep.mat-flat-button.mat-accent,
::ng-deep.mat-raised-button.mat-accent {
  color: #fff
}

::ng-deep.mat-flat-button.mat-warn,
::ng-deep.mat-raised-button.mat-warn {
  color: #fff
}

::ng-deep.mat-flat-button.mat-accent[disabled],
::ng-deep.mat-flat-button.mat-primary[disabled],
::ng-deep.mat-flat-button.mat-warn[disabled],
::ng-deep.mat-flat-button[disabled][disabled],
::ng-deep.mat-raised-button.mat-accent[disabled],
::ng-deep.mat-raised-button.mat-primary[disabled],
::ng-deep.mat-raised-button.mat-warn[disabled],
::ng-deep.mat-raised-button[disabled][disabled] {
  color: rgba(0, 0, 0, .26)
}

::ng-deep.mat-flat-button.mat-primary,
::ng-deep.mat-raised-button.mat-primary {
  background-color: #3f51b5
}

::ng-deep.mat-flat-button.mat-accent,
::ng-deep.mat-raised-button.mat-accent {
  background-color: #ff4081
}

::ng-deep.mat-flat-button.mat-warn,
::ng-deep.mat-raised-button.mat-warn {
  background-color: #f44336
}