<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
    <app-sidebar></app-sidebar>
  <div class="clearfix"></div>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <div style="float:left;">
              <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <div style="float:left;">
              <h3>Customer Journey Info</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Powered By Amax Information & Technology Team
        </div>
      </div>

      <div class="multiselect-container mt-3">
        <div class="row">
          <!--<div class="col-sm-2">
    <p-multiSelect maxSelectedLabels="0" [(ngModel)]="AgencyList" defaultLabel="Select Agency"
                   [options]="AgencyItem" (onChange)="onSelect(event)"></p-multiSelect>
  </div>-->
          <div class="col-md-3">
            Date Range-<p-calendar selectionMode="range" [(ngModel)]="date" (onSelect)="onDateSelect(value)"></p-calendar>
          </div>
          <div class="col-md-2">
           <p-dropdown [(ngModel)]="IsSoldPolicy" defaultLabel="Is Sold"
                        [options]="PolicySold" ></p-dropdown>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="SearchData()">Serach</button>
            <button type="button" style="margin-left:10px;" class="btn btn-primary" (click)="exportExcel()">Export</button>
          </div>
        </div>
      </div>



      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="agency-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered" style="font-size: 14px; font-family: 'Font Awesome 5 Free';">
                <thead>
                  <tr>
                    <th scope="col">CustomerId</th>
                    <th scope="col">Policy Number</th>
                    <th scope="col">IsSold</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">License No</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Address</th>
                    <th scope="col">Visited Date</th>
                    <th scope="col">Quotes URL</th>
                    <th scope="col">Quotes Number</th>
                    <th scope="col">Carrier Name</th>
                    <th scope="col">CallCenterSent</th>
                    <th scope="col">BuyNowOption</th>
                    <th scope="col">BuyNowClick</th>
                    <th scope="col">PayPlanDescription</th>
                    <th scope="col">PayPlanNoofPayments</th>
                    <th scope="col">PayPlanPercentDown</th>
                    <th scope="col">PayPlanDownPayment</th>
                    <th scope="col">PayPlanPaymentAmount</th>
                    <th scope="col">PayPlanServiceFee</th>
                    <th scope="col">PayPlanPaymentTotal</th>
                    <th scope="col">Term</th>
                    <th scope="col">TotalPremium</th>
                    <th scope="col">CarDetails</th>
                    <th scope="col" style="min-width:250px;max-width:250px;">Car Coverage Details</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of pagedPolicyCount">
                  <tr [ngStyle]="{'background-color': (item.isSold==true) ? '#4CAF50' : '#ffffff'}">
                    <td>{{item.customerId}}</td>
                    <td>{{item.policyNumber}}</td>
                    <td>
                      <span *ngIf="item.isSold==true">Yes</span>
                      <span *ngIf="item.isSold==false">No</span>
                    </td>
                    <td>{{item.name}} {{item.surname}}</td>
                    <td>{{item.birthDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{item.driverLicenseNumber}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.address1}},{{item.city}},{{item.state}},{{item.zipCode}}</td>
                    <td>{{item.date}}</td>
                    <td><span><a target="_blank" *ngIf="item.quoteUrl" href="{{item.quoteUrl}}">Quote Link</a></span></td>
                    <td>{{item.quoteNumber}}</td>
                    <td>{{item.carrierName}}</td>
                    <td><span *ngIf="item.callCenterSent==true">Yes</span> <span *ngIf="item.callCenterSent==false">No</span></td>
                    <td><span *ngIf="item.buyNowOption==true">Yes</span> <span *ngIf="item.buyNowOption==false">No</span></td>
                    <td><span *ngIf="item.buyNowClick==true">Yes</span> <span *ngIf="item.buyNowClick==false">No</span></td>
                    <td>{{item.payPlanDescription}}</td>
                    <td>{{item.payPlanNumOfPayments}}</td>
                    <td>{{item.payPlanPercentDown}}%</td>
                    <td>${{item.payPlanDownPayment}}</td>
                    <td>${{item.payPlanPaymentAmount}}</td>
                    <td>${{item.payPlanServiceFees}}</td>
                    <td>${{item.payPlanPaymentTotal}}</td>
                    <td>{{item.term}}</td>
                    <td>${{item.totalPremium}}</td>
                    <td><div style="min-height:100px;overflow:auto;max-height:90px;" [innerHTML]="item.carDetails"></div></td>
                    <td><div style="min-height: 90px;overflow: auto;max-height:90px;" [innerHTML]="item.carCoverageDetails"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 col-sm-12" style="float:right;">
              <div class="right-aligned" style="width:100%;text-align:right">
                <ul *ngIf="pagerPolicyCount.pages && pagerPolicyCount.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                    <a (click)="setPolicyCountPaging(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === 1}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerPolicyCount.pages" [ngClass]="{active:pagerPolicyCount.currentPage === page}">
                    <a (click)="setPolicyCountPaging(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPolicyCount.currentPage === pagerPolicyCount.totalPages}">
                    <a (click)="setPolicyCountPaging(pagerPolicyCount.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
