<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Live Data</h3>
          </div>
        </div>
        <div class="col-md-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="block orange-block">
              <div class="count">
                <p>Policy Count</p>
              </div>
              <div class="title">
                <p>{{TotalpolicyCount}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="block purple-block">
              <div class="count">
                <p>Premium</p>
              </div>
              <div class="title">
                <p>${{Totalpremium| number: '2.'}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="block green-block">
              <div class="count">
                <p>Agency Fee</p>
              </div>
              <div class="title">
                <p>${{TotalagencyFee| number: '2.'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <p-multiSelect maxSelectedLabels="0" [(ngModel)]="AgencyList" defaultLabel="Locations"
                           [options]="AgencyItem" (onChange)="onSelect(event)"></p-multiSelect>
          </div>
        </div>
      </div>
      <div class="agency-table-container mt-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="agency-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Agency Name</th>
                    <th scope="col" (click)="sortData('Policies')">Policy Count</th>
                    <th scope="col" (click)="sortData('Premium')">Premium</th>
                    <th scope="col" (click)="sortData('AgencyFee')">Agency Fee</th>
                    <th scope="col" (click)="sortData('ModifiesQuotes')">ModifiedQuotes</th>
                    <th scope="col" (click)="sortData('NewQuotes')">NewQuotes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filterdata">
                    <td scope="row"><span>{{item.agencyName}}</span></td>
                    <td><span>{{item.policyCount}}</span></td>
                    <td><span>${{item.premium| number: '2.'}}</span></td>
                    <td><span>${{item.agencyFee| number: '2.'}}</span></td>
                    <td>{{item.modifiedQuotes}}</td>
                    <td>{{item.newQuotes}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Total</th>
                    <th>{{TotalNewCount}}</th>
                    <th>${{Totalprem| number: '2.'}}</th>
                    <th>${{TotalFee| number: '2.'}}</th>
                    <th>{{TotalModifiedQuotes}}</th>
                    <th>{{TotalNewQuotes}}</th>
                  </tr>
                </tfoot>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
