﻿@{ 
    List<AmaxIns.DataContract.Referral.Language.ResourceValueModel> resources = ViewBag.Resourses as List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>;

}
<div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
                {
                <img class="d-block w-100" src="~/images/Slide1Sp.png" alt="First slide">
                }
                else
                {
                    <img class="d-block w-100" src="~/images/slider1.png" alt="First slide">
                }
            </div>
            <div class="carousel-item">
                @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
                {
                    <img class="d-block w-100" src="~/images/Slide2Sp.png" alt="Second slide">
                }
                else
                {
                    <img class="d-block w-100" src="~/images/slider2.jpg" alt="Second slide">
                }
            </div>
            <div class="carousel-item">
                @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
                {
                    <img class="d-block w-100" src="~/images/Slide3Sp.png" alt="Third slide">
                }
                else
                {
                    <img class="d-block w-100" src="~/images/slider3.jpg" alt="Third slide">
                }

            </div>
            <div class="carousel-item">
                @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
                {
                    <img class="d-block w-100" src="~/images/Slide4Sp.png" alt="Fourth slide">
                }
                else
                {
                    <img class="d-block w-100" src="~/images/slider4.jpg" alt="Fourth slide">
                }

            </div>
            <div class="carousel-item">
                @if ((int)Language.Spanish == Convert.ToInt32(ViewBag.selectedLangage))
                {
                    <img class="d-block w-100" src="~/images/Slide5Sp.png" alt="fifth slide">
                }
                else
                {
                    <img class="d-block w-100" src="~/images/slider5.png" alt="fifth slide">}

            </div>
        </div>
    </div>
</div>

<div class="welcome-message-div text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>@Html.Raw(resources.Where(m=>m.ResourceKey== Resource.WelcomeHeading.ToString()).FirstOrDefault().ResourceText)</p>
            </div>
        </div>
    </div>
</div>

<div class="after-welcome-div">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @*<h>Refer a friend, be a better customer.</h>*@
                <p class="text-center"> @Html.Raw(resources.Where(m => m.ResourceKey == Resource.WelcomeMessage.ToString()).FirstOrDefault().ResourceText)</p>
            </div>
        </div>
    </div>
</div>