﻿@{
    List<AmaxIns.DataContract.Referral.Language.ResourceValueModel> resources = ViewBag.Resourses as List<AmaxIns.DataContract.Referral.Language.ResourceValueModel>;
}

<div class="strip"></div>

<!-- Privacy policy -->
<section class="privacy-policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="privacy-policy-box">
                    <h1 class="ty-mainbox-title text-left m-tb-30">
                        @Html.Raw(resources.Where(m => m.ResourceKey == Resource.PrivacyPolicyContentTitle.ToString()).FirstOrDefault().ResourceText)
                    </h1>
                    <div>
                        @Html.Raw(resources.Where(m => m.ResourceKey == Resource.PrivacyPolicyContent.ToString()).FirstOrDefault().ResourceText)

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Privacy policy /. -->

<div class="strip margin-bottom-70"></div>