<table class="inner-table">
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <tr>
    <td>
      Policy Count Vs. Goal
    </td>
    <td class="text-white">{{dashboardSaleData.perDiffPolicies| number: '2.'}}%</td>
  </tr>
  <tr>

    <td> Agency Fee Vs. Goal</td>
    <td class="text-white">{{dashboardSaleData.perDiffAFee| number: '2.'}}%</td>
  </tr>
  <tr>
    <td>
      Premium Vs. Goal
    </td>
    <td class="text-white">{{dashboardSaleData.perDiffPremium| number: '2.'}}%</td>
  </tr>
</table>
