<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="listing">
              <app-rm-zm-location-dropdown [SinglelocationSelected]="singleLocation" [ShowLocationDropDown]="singleLocationSelected" [selectedlocation]="SetLocations" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (singleLocationEmitter)="SetSingleLocation($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect *ngIf="selectedTabIndex===0 " maxSelectedLabels="0" defaultLabel="Month" [(ngModel)]="selectedmonthList" [options]="monthSelectItem" (onChange)="onMonthSummryChange()"></p-multiSelect>
                <p-dropdown class="unique-width" *ngIf="selectedTabIndex===1||selectedTabIndex===2" [(ngModel)]="MonthlydetailMonth" [options]="monthSelectItem" (onChange)="onMonthDetailChange()"></p-dropdown>

              </li>
              <!--<li>
                <p-multiSelect defaultLabel="January" [options]="cities1"></p-multiSelect>
              </li>-->
              <li>
                <p-multiSelect *ngIf="selectedTabIndex===0 " maxSelectedLabels="0" defaultLabel="Extention" [(ngModel)]="selectedextention" [options]="extentionSelectItem" (onChange)="onExtentionChange()"></p-multiSelect>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks call-center-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1">
              <div class="count">
                <!--<p *ngIf="selectedTabIndex===0">{{totalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{DetailtotalInbound| number: '2.'}}</p>-->
                <p *ngIf="selectedTabIndex===0">{{MonthlytotalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{MonthlyDetailtotalInbound| number: '2.'}}</p>
                <!--<p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>-->

              </div>
              <div class="title">
                <p>Inbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1">
              <div class="count">
                <!--<p *ngIf="selectedTabIndex===0">{{totalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{DetailtotalOutbound| number: '2.'}}</p>-->
                <p *ngIf="selectedTabIndex===0">{{MonthlytotalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{MonthlyDetailtotalOutbound| number: '2.'}}</p>
                <!--<p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>-->
              </div>
              <div class="title">
                <p>Outbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1">
              <div class="count">
                <!--<p *ngIf="selectedTabIndex===0 ">{{totaltalktime| number: '2.'}}</p>-->
                <!--<p *ngIf="selectedTabIndex===1">{{Detailtotaltalktime| number: '2.'}}</p>-->
                <p *ngIf="selectedTabIndex===0">{{Monthlytotaltalktime| number: '2.'}}</p>
                <p *ngIf=" selectedTabIndex===1">{{MonthlyDetailtotaltalktime| number: '2.'}}</p>
                <!--<p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>-->
              </div>
              <div class="title">
                <p>Total Talktime</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1">
              <div class="count">
                <!--<p *ngIf="selectedTabIndex===0">{{sumAverageTalkTime| number: '2.'}} </p>
                <p *ngIf="selectedTabIndex===1">{{DetailOutBoundMints| number: '2.'}} </p>-->
                <p *ngIf="selectedTabIndex===0">{{MonthlyAvarageTalkTime| number: '2.'}} </p>
                <p *ngIf="selectedTabIndex===1">{{MonthlyDetailOutboundMints| number: '2.'}} </p>
              </div>
              <div class="title">
                <!--<p *ngIf="selectedTabIndex===0">Average Talktime</p>-->
                <p *ngIf="selectedTabIndex===0">Average Talktime</p>
                <p *ngIf="selectedTabIndex===1">Outbound Minutes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="OntabSelectionChange($event.index)" animationDuration="0ms">


          <mat-tab label="Monthly Spectrum Summary">
            <div class="heading">
              <p>Monthly Spectrum Summary </p>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="content-div">
                  <div class="chart-heading text-center text-white">Talktime in minutes</div>
                  <div *ngFor="let item of SpectrumMonthlySummary">

                    <div class="margin-top-10">
                      <div class="chart-heading text-center text-white">{{item.month}}</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="ChartOptions"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="content-div">
                  <div class="chart-heading text-center text-white">Number of calls</div>
                  <div *ngFor="let item of SpectrumMonthlyCallDetailSummary">
                    <div class="margin-top-10">
                      <div class="chart-heading text-center text-white">{{item.month}}</div>
                      <p-chart height="chartheight" type="horizontalBar" [data]="item" [options]="ChartOptions"></p-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>

          <mat-tab label="Monthly Spectrum Details">
            <div class="heading">
              <p>Spectrum | {{MonthlydetailMonth}}</p>
            </div>
            <div id="pager">
              <ul *ngIf="MonthlyPager.pages && MonthlyPager.pages.length" class="pagination">
                <li [ngClass]="{disabled:MonthlyPager.currentPage === 1}">
                  <a (click)="setMonthlyPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === 1}">
                  <a (click)="setMonthlyPage(MonthlyPager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of MonthlyPager.pages" [ngClass]="{active:MonthlyPager.currentPage === page}">
                  <a (click)="setMonthlyPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === MonthlyPager.totalPages}">
                  <a (click)="setMonthlyPage(MonthlyPager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === MonthlyPager.totalPages}">
                  <a (click)="setMonthlyPage(MonthlyPager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
            <div class="epr-table table-responsive">

              <table *ngIf="MonthlyPagedItems && MonthlyPagedItems.length>0" class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Start Time</th>
                    <th scope="col">Agency</th>
                    <th scope="col">Call Start</th>
                    <th scope="col">Call End</th>
                    <th scope="col">Talktime</th>
                    <th scope="col">Callerid External</th>
                    <th scope="col">Callerid internal</th>
                    <th scope="col">Callername External</th>
                    <th scope="col">Callername Internal</th>
                    <th scope="col">Call Id</th>
                    <th scope="col">DCustomer</th>
                    <th scope="col">DNumber</th>
                    <th scope="col">DType</th>
                    <th scope="col">SName</th>
                    <th scope="col">SNumber</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of MonthlyPagedItems">
                    <td scope="row">{{item.start_Time}}</td>
                    <td>{{item.agencyName}}</td>
                    <td>{{item.call_Start}}</td>
                    <td>{{item.call_End}}</td>
                    <td>{{item.talktime}}</td>
                    <td>{{item.callerid_External}}</td>
                    <td>{{item.callerid_Internal}}</td>
                    <td>{{item.callername_External}}</td>
                    <td>{{item.callername_Internal}}</td>
                    <td>{{item.callid}}</td>
                    <td>{{item.dcustomer}}</td>
                    <td>{{item.dnumber}}</td>
                    <td>{{item.dtype}}</td>
                    <td>{{item.sname}}</td>
                    <td>{{item.snumber}}</td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="MonthlyPagedItems && MonthlyPagedItems.length===0" style="color:white;text-align:left;">
                No record found, Please change your search.
              </div>
            </div>

            <div id="pager">
              <ul *ngIf="MonthlyPager.pages && MonthlyPager.pages.length" class="pagination">
                <li [ngClass]="{disabled:MonthlyPager.currentPage === 1}">
                  <a (click)="setMonthlyPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === 1}">
                  <a (click)="setMonthlyPage(MonthlyPager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of MonthlyPager.pages" [ngClass]="{active:MonthlyPager.currentPage === page}">
                  <a (click)="setMonthlyPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === MonthlyPager.totalPages}">
                  <a (click)="setMonthlyPage(MonthlyPager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:MonthlyPager.currentPage === MonthlyPager.totalPages}">
                  <a (click)="setMonthlyPage(MonthlyPager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </mat-tab>

          <mat-tab label="Monthly Spectrum Calls">
            <div class="heading">
              <p>Spectrum | Call Volume</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white"> Total talktime  by day(In Minutes)</div>
                  <p-chart height="300" type="horizontalBar" [data]="SpectrumMonthlyCallVolumeTalkTime" [options]="ChartOptions"></p-chart>
                </div>
              </div>
            </div>
            <div class="content-div margin-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white"> Number of calls by day</div>
                  <p-chart height="300" type="horizontalBar" [data]="SpectrumMonthlyCallVolumeTotalCalls" [options]="ChartOptions"></p-chart>

                </div>
              </div>
            </div>
            <div class="content-div margin-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white"> Number of calls by status</div>
                  <p-chart height="300" type="horizontalBar" [data]="SpectrumMonthlyCallVolumeStatus" [options]="ChartOptions"></p-chart>

                </div>
              </div>
            </div>

          </mat-tab>

   

        </mat-tab-group>
      </div>





    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
