<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content"  style="margin-bottom:5px!important;">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect maxSelectedLabels="1" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="1" [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-multiSelect>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>


      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Overtime by Office">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="min-width-col-160 col-rom fixed-header">RSM</th>
                    <th scope="col" class="min-width-col-160 col-zm fixed-header">DSM</th>
                    <th scope="col" class="min-width-col-160 col-agency-name fixed-header">Agency Name</th>
                    <th scope="col" class="min-width-col-160 col-agent-name fixed-header">Agent Name</th>
                    <th scope="col">Total</th>
                    <th scope="col">Regular</th>
                    <th scope="col">OT</th>
                    <th scope="col">Policies</th>
                    <th scope="col">Transactions</th>
                    <th scope="col" class="min-width-col-160">OT Per Policies</th>
                    <th scope="col" class="min-width-col-160">OT Per Transaction</th>
                    <th scope="col" class="min-width-col-160">Policies In OT</th>
                    <th scope="col" class="min-width-col-160">Transactions In OT</th>
                    <th scope="col" class="min-width-col-160">Total hrs per Policy</th>
                    <th scope="col" class="min-width-col-200">Total Hrs per Transaction</th>
                    <th scope="col" class="min-width-col-160">Months Till Today</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredOvertimeI" [ngStyle]="{'background-color':(item.agentName === 'ZZZZZZ') ? '#323b4e' : rowbgColor(item.agencyNameID) }">
                    <td scope="row" class="col-rom" [ngStyle]="{'background-color':(item.agentName === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.regionalManagersId=='ZZZZZZ'">Grand Total</span>
                      <span *ngIf="item.regionalManagersId!='ZZZZZZ'">{{item.regionalManagers}}</span>
                    </td>
                    <td scope="row" class="col-zm" [ngStyle]="{'background-color':(item.agentName === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.zonalManagers=='ZZZZZZ' && item.regionalManagersId!='ZZZZZZ'">Total</span>
                      <span *ngIf="item.zonalManagers!='ZZZZZZ'">{{item.zonalManagers}} </span>
                    </td>
                    <td scope="row" class="col-agency-name" [ngStyle]="{'background-color':(item.agentName === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agencyName=='ZZZZZZ' && item.agentName=='ZZZZZZ' && item.zonalManagers!='ZZZZZZ'">Total</span>
                      <span *ngIf="item.agencyName=='ZZZZZZ' && item.zonalManagers=='ZZZZZZ'"></span>
                      <span *ngIf="item.agencyName=='ZZZZZZ' && item.zonalManagers=='ZZZZZZ' && item.agentName=='ZZZZZZ'"></span>
                      <span *ngIf="item.agencyName!='ZZZZZZ'">{{item.agencyName}}</span>
                    </td>
                    <td scope="row" class="col-agent-name" [ngStyle]="{'background-color':(item.agentName === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.agentName=='ZZZZZZ' && item.agencyName!='ZZZZZZ'">Total</span>
                      <span *ngIf="item.agentName=='ZZZZZZ' && item.agencyName!='ZZZZZZ' && item.zonalManagers!='ZZZZZZ'"></span>
                      <span *ngIf="item.agentName!='ZZZZZZ'">{{item.agentName}}</span>
                    </td>
                    <td scope="row">{{item.total}}</td>
                    <td scope="row">{{item.regular}}</td>
                    <td scope="row">{{item.ot}}</td>
                    <td scope="row">{{item.policies}}</td>
                    <td scope="row">{{item.transactions}}</td>
                    <td scope="row">{{item.otPerPolicies | number: '2.'}}</td>
                    <td scope="row">{{item.otPerTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.policiesInOT | number: '2.'}}</td>
                    <td scope="row">{{item.transactionsInOT | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperPolicy | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.monthsTillToday | number: '2.'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Overtime DSM">
            <div class="epr-table table-responsive"  style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="min-width-col-160 col-rom fixed-header">RSM</th>
                    <th scope="col" class="min-width-col-160 col-zm fixed-header">DSM</th>
                    <th scope="col">Total</th>
                    <th scope="col">Regular</th>
                    <th scope="col">OT</th>
                    <th scope="col">Policies</th>
                    <th scope="col">Transactions</th>
                    <th scope="col" class="min-width-col-160">OT Per Policies</th>
                    <th scope="col" class="min-width-col-160">OT Per Transaction</th>
                    <th scope="col" class="min-width-col-160">Policies In OT</th>
                    <th scope="col" class="min-width-col-160">Transactions In OT</th>
                    <th scope="col" class="min-width-col-160">Total hrs per Policy</th>
                    <th scope="col" class="min-width-col-200">Total Hrs per Transaction</th>
                    <th scope="col" class="min-width-col-160">Months Till Today</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredOvertimeII" [ngStyle]="{'background-color':(item.zonalManagers === 'ZZZZZZ') ? '#323b4e' : rowbgColor(item.zonalManagersId) }">
                    <td scope="row" class="col-rom" [ngStyle]="{'background-color':(item.zonalManagers === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.regionalManagersId=='ZZZZZZ'">Grand Total</span>
                      <span *ngIf="item.regionalManagersId!='ZZZZZZ'">{{item.regionalManagers}}</span>
                    </td>
                    <td scope="row" class="col-zm" [ngStyle]="{'background-color':(item.zonalManagers === 'ZZZZZZ') ? '#323b4e' : bgcolor }">
                      <span *ngIf="item.zonalManagers=='ZZZZZZ' && item.regionalManagersId!='ZZZZZZ'">Total</span>
                      <span *ngIf="item.zonalManagers!='ZZZZZZ'">{{item.zonalManagers}} </span>
                    </td>
                    <td scope="row">{{item.total}}</td>
                    <td scope="row">{{item.regular}}</td>
                    <td scope="row">{{item.ot}}</td>
                    <td scope="row">{{item.policies}}</td>
                    <td scope="row">{{item.transactions}}</td>
                    <td scope="row">{{item.otPerPolicies | number: '2.'}}</td>
                    <td scope="row">{{item.otPerTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.policiesInOT | number: '2.'}}</td>
                    <td scope="row">{{item.transactionsInOT | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperPolicy | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.monthsTillToday | number: '2.'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Overtime RSM">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="min-width-col-160 col-rom fixed-header">RSM</th>
                    <th scope="col">Total</th>
                    <th scope="col">Regular</th>
                    <th scope="col">OT</th>
                    <th scope="col">Policies</th>
                    <th scope="col">Transactions</th>
                    <th scope="col" class="min-width-col-160">OT Per Policies</th>
                    <th scope="col" class="min-width-col-160">OT Per Transaction</th>
                    <th scope="col" class="min-width-col-160">Policies In OT</th>
                    <th scope="col" class="min-width-col-160">Transactions In OT</th>
                    <th scope="col" class="min-width-col-160">Total hrs per Policy</th>
                    <th scope="col" class="min-width-col-200">Total Hrs per Transaction</th>
                    <th scope="col" class="min-width-col-160">Months Till Today</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredOvertimeIII" [ngStyle]="{'background-color':(item.regionalManagersId === 'ZZ_total') ? '#323b4e' : rowbgColor(item.regionalManagersId) }">
                    <td scope="row" class="col-rom">
                      <span *ngIf="item.regionalManagersId=='ZZZZZZ'">Grand Total</span>
                      <span *ngIf="item.regionalManagersId!='ZZZZZZ'">{{item.regionalManagers}}</span>
                    </td>
                    <td scope="row">{{item.total}}</td>
                    <td scope="row">{{item.regular}}</td>
                    <td scope="row">{{item.ot}}</td>
                    <td scope="row">{{item.policies}}</td>
                    <td scope="row">{{item.transactions}}</td>
                    <td scope="row">{{item.otPerPolicies | number: '2.'}}</td>
                    <td scope="row">{{item.otPerTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.policiesInOT | number: '2.'}}</td>
                    <td scope="row">{{item.transactionsInOT | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperPolicy | number: '2.'}}</td>
                    <td scope="row">{{item.totalhrsperTransaction | number: '2.'}}</td>
                    <td scope="row">{{item.monthsTillToday | number: '2.'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        
      </div>
      </div>
    </div>
</div>
