<div class="sidebar" [class.hide]="cmnSrv.dashboardState.sidebarToggle">
  <!--[class.hide]="cmnSrv.dashboardState.sidebarToggle"-->
  <!--<div class="sidebar-header align-middle">
      <h1 class="d-none logo-name">Amax</h1>
      <img class="main-logo" src="assets/images/amax-logo.png" alt="logo" />
  </div>-->
  <hr class="underline">
  <div class="sidebar-body">
    <ul class="side-bar-menus" *ngIf="(applicationType=='' || applicationType==undefined) && authenticationService.userRole != 'agent' && authenticationService.userRole != 'FD'">
      <li style="cursor:pointer"><span (click)="Navigate('LiveDataApp')">Live Data App </span></li>
      <li [ngClass]="Dashboardclass" (click)="Navigate('Dashboard')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Dashboard</span></li>

      <li class="parent-list position-relative" *ngIf="authenticationService.userRole == 'storemanager'">
        <i class="icon-revenue-icon"></i><span>Agent Reports</span>
        <ul class="child-list">
          <li [ngClass]="{'active': currentMenu==='AgentPayroll'}" (click)="NavigateAgent('AgentPayroll')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Payroll</span></li>
          <li [ngClass]="{'active': currentMenu==='HourlyProduction'}" (click)="NavigateAgent('HourlyProduction')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Hourly Production</span></li>

          <li [ngClass]="{'active': currentMenu==='CarrierAgent'}" (click)="NavigateAgent('CarrierAgent')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Carrier Agent</span></li>
          <li [ngClass]="{'active': currentMenu==='AgencyFeePolicy'}" (click)="NavigateAgent('AgencyFeePolicy')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Agency Fee / Policy</span></li>
          <li [ngClass]="{'active': currentMenu==='PremiumPolicy'}" (click)="NavigateAgent('PremiumPolicy')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Premium / Policy</span></li>

          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesClosingRatiosAg_new'}" (click)="NavigateAgent('NewModifiedQuotesClosingRatiosAg', { qt: 'new' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Created Closing Ratios</span></li>
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesClosingRatiosAg_modified'}" (click)="NavigateAgent('NewModifiedQuotesClosingRatiosAg', { qt: 'modified' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Modified Closing Ratios</span></li>

          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesAg_new'}" (click)="NavigateAgent('NewModifiedQuotesAg', { qt: 'new' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Created Quotes</span></li>
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesAg_modified'}" (click)="NavigateAgent('NewModifiedQuotesAg', { qt: 'modified' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Modified Quotes</span></li>

          <li [ngClass]="{'active': currentMenu==='InboundOutboundCalls_IN'}" (click)="NavigateAgent('InboundOutboundCalls', { ct: 'IN' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Inbound Calls</span></li>
          <li [ngClass]="{'active': currentMenu==='InboundOutboundCalls_OUT'}" (click)="NavigateAgent('InboundOutboundCalls', { ct: 'OUT' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Outbound Calls</span></li>
        </ul>
      </li>

      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Revenue</span>
        <ul class="child-list">
          <li [ngClass]="revenueclass" (click)="Navigate('Revenue')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Monthly</span></li>
          <li [ngClass]="RevenueDaily" (click)="Navigate('RevenueDaily')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Daily</span></li>
        </ul>
      </li>

      <li [ngClass]="Tierclass" (click)="Navigate('Tier')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Tier Goals</span></li>
      <li [ngClass]="payrollclass" (click)="Navigate('Payroll')" style="cursor:pointer"><i class="icon-payroll-icon"></i><span>Payroll</span></li>
      <li [ngClass]="eprclass" (click)="Navigate('EPR')" style="cursor:pointer"><i class="icon-epr-icon"></i><span>EPR</span></li>
      <!--<li class="parent-list position-relative">
      <i class="icon-revenue-icon"></i><span>Spectrum</span>
      <ul class="child-list">
        <li [ngClass]="spectrumclass" (click)="Navigate('Spectrum')" style="cursor:pointer"><i class="icon-spec-icon"></i><span>Daily</span></li>
        <li [ngClass]="spectrumMonthlyclass" (click)="Navigate('SpectrumMonthly')" style="cursor:pointer"><i class="icon-spec-icon"></i><span>Monthly</span></li>
        <li [ngClass]="spectrumRepeatedCallclass" (click)="Navigate('SpectrumRepeatedCall')" style="cursor:pointer"><i class="icon-spec-icon"></i><span>Repeated Calls</span></li>
      </ul>
    </li>-->
      <li [ngClass]="YearOnYearRevenueClass" (click)="Navigate('YearOnYearRevenue')" style="cursor:pointer"><i class="icon-ais-icon"></i><span>AIS Production</span></li>
      <li [ngClass]="CarrierMixClass" (click)="Navigate('CarrierMix')" style="cursor:pointer"><i class="icon-ais-icon"></i><span>Carrier Mix</span></li>
      <!--<li [ngClass]="BoundQuotesClass" (click)="Navigate('NewModifiedQuotes')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Quotes</span></li>-->
      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Quotes</span>
        <ul class="child-list">
          <li [ngClass]="BoundQuotesClass" (click)="Navigate('NewModifiedQuotes')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span style="font-size:14px;margin-left: 5px;">New and Modified</span></li>
          <li [ngClass]="BoundQuotesClass" (click)="Navigate('QuotesProjection')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span style="font-size:14px;margin-left: 5px;">Quotes Projection</span></li>
        </ul>
      </li>
      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Planner</span>
        <ul class="child-list" style="margin-top: 10px;margin-left: 8px;margin-bottom:-45px;">
          <li [ngClass]="PlannerClass" (click)="Navigate('activity-dashboard')" style="cursor:pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-revenue-icon"></i><span style="margin-left: 0px;font-size: 13px;">Dashboard</span></li>
          <li [ngClass]="PlannerClass" (click)="Navigate('plannerdashboard')" style="cursor:pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-revenue-icon"></i><span style="margin-left: 0px;font-size: 13px;">$Variance</span></li>
          <li *ngIf="idHOD!='headofdepratment'" [ngClass]="PlannerClass" (click)="Navigate('PlannerRequest')" style="cursor:pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-revenue-icon"></i><span style="margin-left: 0px;font-size: 13px;">Request</span></li>
          <li *ngIf="idHOD!='headofdepratment'" [ngClass]="PlannerClass" (click)="Navigate('ActualEntry')" style="cursor:pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-revenue-icon"></i><span style="margin-left: 0px;font-size: 13px;">Actual Entry</span></li>
          <li [ngClass]="PlannerClass" (click)="Navigate('Calendar')" style="cursor:pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-revenue-icon"></i><span style="margin-left: 0px;font-size: 13px;">Calendar</span></li>
        </ul>
      </li>
      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Customer</span>
        <ul class="child-list">
          <li [ngClass]="CustomerRetentionClass" (click)="Navigate('CustomerRetentionList')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Retention</span></li>
        </ul>
      </li>

      <li class="parent-list position-relative">
        <i class="icon-epr-icon"></i><span style="font-size: 14px;margin-left: 5px;">DataLab-Operations Report</span>
        <ul class="child-list" style="margin-top: 10px;margin-left: 8px;margin-bottom:-45px;">
          <li [ngClass]="eprclass" (click)="Navigate('avgagencyfee')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Avg Agency Fee</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('agencybreakdown')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Agency Fee Breakdown</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('uniquecreatedquotes')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Unique Created Quotes</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('overtime')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Overtime</span></li>
          <!--<li [ngClass]="eprclass" (click)="Navigate('carrier-mix')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Carrier Mix</span></li>-->
          <li [ngClass]="eprclass" (click)="Navigate('tracker')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Tracker</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('agentperformance')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Agent Performance</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('rentersreport')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Renters Report</span></li>
          <li [ngClass]="eprclass" (click)="Navigate('activecustomers')" style="cursor: pointer;margin-bottom: 3px;padding-bottom: 5px;"><i class="icon-epr-icon"></i><span style="margin-left: 0px;font-size: 13px;">Active Customers</span></li>

        </ul>
      </li>

    </ul>
    <ul class="side-bar-menus" *ngIf="authenticationService.userRole == 'agent'">
      <li [ngClass]="{'active': true}"><a href="https://forms.gle/E5jE5UH2hvFRyEe59" target="_blank" style="cursor:pointer"><span>Agent Portal Feedback</span></a></li>

      <li [ngClass]="{'active': currentMenu==='AgentDashboard'}" (click)="NavigateAgent('Agent-Dashboard')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Dashboard</span></li>

      <li [ngClass]="{'active': currentMenu==='AgentPayroll'}" (click)="NavigateAgent('AgentPayroll')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Payroll</span></li>

      <li [ngClass]="{'active': currentMenu==='HourlyProduction'}" (click)="NavigateAgent('HourlyProduction')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Hourly Production</span></li>

      <li [ngClass]="{'active': currentMenu==='CarrierAgent'}" (click)="NavigateAgent('CarrierAgent')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Carrier Agent</span></li>

      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Per Policy</span>
        <ul class="child-list">
          <li [ngClass]="{'active': currentMenu==='AgencyFeePolicy'}" (click)="NavigateAgent('AgencyFeePolicy')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Agency Fee / Policy</span></li>
          <li [ngClass]="{'active': currentMenu==='PremiumPolicy'}" (click)="NavigateAgent('PremiumPolicy')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Premium / Policy</span></li>
        </ul>
      </li>

      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Closing Ratios</span>
        <ul class="child-list">
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesClosingRatiosAg_new'}" (click)="NavigateAgent('NewModifiedQuotesClosingRatiosAg', { qt: 'new' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Created Closing Ratios</span></li>
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesClosingRatiosAg_modified'}" (click)="NavigateAgent('NewModifiedQuotesClosingRatiosAg', { qt: 'modified' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Modified Closing Ratios</span></li>
        </ul>
      </li>

      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Quotes</span>
        <ul class="child-list">
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesAg_new'}" (click)="NavigateAgent('NewModifiedQuotesAg', { qt: 'new' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Created Quotes</span></li>
          <li [ngClass]="{'active': currentMenu==='NewModifiedQuotesAg_modified'}" (click)="NavigateAgent('NewModifiedQuotesAg', { qt: 'modified' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Modified Quotes</span></li>
        </ul>
      </li>

      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Calls</span>
        <ul class="child-list">
          <li [ngClass]="{'active': currentMenu==='InboundOutboundCalls_IN'}" (click)="NavigateAgent('InboundOutboundCalls', { ct: 'IN' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Inbound Calls</span></li>
          <li [ngClass]="{'active': currentMenu==='InboundOutboundCalls_OUT'}" (click)="NavigateAgent('InboundOutboundCalls', { ct: 'OUT' })" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Outbound Calls</span></li>
        </ul>
      </li>
    </ul>
    <ul class="side-bar-menus" *ngIf="applicationType=='alpa'">
      <li style="cursor:pointer"><span (click)="Navigate('LiveDataApp')">Live Data App </span></li>
      <li style="cursor:pointer"><span (click)="Navigate('BudgetVariance')">Budget and Variance </span></li>
      <li class="parent-list position-relative">
        <i class="icon-revenue-icon"></i><span>Revenue</span>
        <ul class="child-list">
          <li [ngClass]="revenueclass" (click)="AlpaNavigate('AlpaRevenue')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Monthly</span></li>
          <li [ngClass]="RevenueDaily" (click)="AlpaNavigate('AlpaRevenueDaily')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Daily</span></li>
        </ul>
      </li>
      <li [ngClass]="eprclass" (click)="AlpaNavigate('AlpaEPR')" style="cursor:pointer"><i class="icon-epr-icon"></i><span>EPR</span></li>
      <li [ngClass]="YearOnYearRevenueClass" (click)="AlpaNavigate('AlpaAIS')" style="cursor:pointer"><i class="icon-ais-icon"></i><span>AIS Production</span></li>
      <li [ngClass]="Tierclass" (click)="AlpaNavigate('Tier')" style="cursor:pointer"><i class="icon-revenue-icon"></i><span>Tier Goals</span></li>
      <li [ngClass]="dailytransactionpayments" (click)="AlpaNavigate('daily-transaction-payments')" style="cursor:pointer"><i class="icon-ais-icon"></i><span>Daily Transaction Payments</span></li>
    </ul>

    <ul class="side-bar-menus" *ngIf="applicationType=='FD'">
      <li [ngClass]="powerBifinancial" style="cursor:pointer"><span (click)="Navigate('powerBi-financial')">Financial Dashboard</span></li>
      <li [ngClass]="bolretention" style="cursor:pointer"><span (click)="Navigate('bol-retention')">BOL Retention</span></li>
      <li [ngClass]="cfdretention" style="cursor:pointer"><span (click)="Navigate('cfd-retention')">CFD Retention</span></li>
      <li [ngClass]="productiontracker" style="cursor:pointer"><span (click)="Navigate('production-tracker')">Production Tracker</span></li>
      <li [ngClass]="revenueprediction" style="cursor:pointer"><span (click)="Navigate('revenue-prediction')">Revenue Prediction</span></li>
      <li [ngClass]="topbottom" style="cursor:pointer"><span (click)="Navigate('top-bottom')">Top Bottom</span></li>
    </ul>
  </div>
</div>
<div *ngIf="!cmnSrv.dashboardState.sidebarToggle" class="sidebarOutside" (click)="cmnSrv.sidebarToggle()"></div>
