
  <nav id="sidebar" [class.active]="cmnSrv.dashboardState.navbarToggle">
    <!--<div class="profile" *ngIf="authenticationService.userRole!='undefined'" style="margin-bottom: -20px;">
    <img src="./assets/images/img_avatar.png" alt="profile_picture">
    <h5>{{authenticationService.username}}</h5>
    <p>{{getRoleName(authenticationService.userRole)}}</p>
  </div>-->
    <!--<ul class="list-unstyled components" style="font-size:13px!important;">
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
        ||decryptedUserRole==='chieffinancialofficer'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='storemanager' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/Home']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Home</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='chieffinancialofficer' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/BindOnlineQuotes']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Bind Online Quotes</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='chieffinancialofficer' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/alpa-bol-report']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>ALPA Bind Online Quotes</a>
      </li>
      <li *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
        ||decryptedUserRole==='chieffinancialofficer'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='storemanager' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/EODReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Daily Report</a>
      </li>
      <li *ngIf="decryptedUserRole==='marketing'">
        <a [routerLink]="['/ConsolidatedVanityNumberReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>DID Report</a>
      </li>
      <li *ngIf="decryptedUserRole==='marketing'">
        <a [routerLink]="['/VanityNumberReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>IVR Call forwarding</a>
      </li>
      <li *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='chieffinancialofficer'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='headofdepratment' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/Spectrumlive']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Spectrum Live</a>
      </li>
      <li *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='chieffinancialofficer'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='headofdepratment' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/vs-team']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>VS-Team</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='chieffinancialofficer' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/EODLiveReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>EOD</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='chieffinancialofficer' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/AmaxConsolidated']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>AmaxConsolidated</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='zonalmanager'
        ||decryptedUserRole==='regionalmanager'
        ||decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
        ||decryptedUserRole==='chieffinancialofficer' || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/AgencyHourly']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Agency Hourly</a>
      </li>
      <li class="active" *ngIf="decryptedUserRole==='headofdepratment'
         ||decryptedUserRole==='chiefexecutiveofficer'
         ||decryptedUserRole==='chiefOperatingofficer'
         ||decryptedUserRole==='chieffinancialofficer'  || decryptedUserRole==='saledirector'">
        <a [routerLink]="['/CustomerJourneyInfoReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Customer Journey Info</a>
      </li>
      <li (click)="Logout()" style="cursor:pointer;">
        <i class="fas fa-file"></i><span class="ml-2"> Logout</span>
      </li>
    </ul>-->

    <ul class="list-unstyled components" style="font-size:13px!important;">
    <li class="active">
      <a [routerLink]="['/Home']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Home</a>
    </li>
    <li>
      <a [routerLink]="['/BindOnlineQuotes']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Bind Online Quotes</a>
    </li>
    <li>
      <a [routerLink]="['/alpa-bol-report']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>ALPA Bind Online Quotes</a>
    </li>
    <li>
      <a [routerLink]="['/EODReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Daily Report</a>
    </li>
    <li>
      <a [routerLink]="['/VanityNumberReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>IVR Call forwarding</a>
    </li>
    <li>
      <a [routerLink]="['/Spectrumlive']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Spectrum Live</a>
    </li>
      <li>
      <a [routerLink]="['/vs-team']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>VS Team</a>
    </li>
    <li>
      <a [routerLink]="['/AmaxConsolidated']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>AmaxConsolidated</a>
    </li>
    <li>
      <a [routerLink]="['/AgencyHourly']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Agency Hourly</a>
    </li>
    <li>
    <a [routerLink]="['/EODLiveReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>EOD</a>
  </li>
  <li>
    <a [routerLink]="['/CustomerJourneyInfoReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>Customer Journey Info</a>
  </li>
          </ul>
    <!--<li (click)="Logout()" style="cursor:pointer;">
    <i class="fas fa-file"></i><span class="ml-2"> Logout</span>
  </li>-->

  </nav>
<!--<li>
     <a [routerLink]="['/ConsolidatedVanityNumberReport']" [queryParams]="{ userId:userId ,UserRole:userRole}"><i class="fas fa-file"></i>DID Report</a>
   </li>-->
