.profile {
  margin-bottom: 0px;
  text-align: center;
}

 .profile img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }
.profile h5 {
    color: #ffffff;
    margin: 10px 0 5px;
  }

 .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
  }
