<div class="loading" *ngIf="cmnSrv.showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="cmnSrv.pageHeader"></app-header>
    <div class="panel-content agent-panel">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-location-filter [selectedlocation]="setLocation" [ShowLocationDropDown]="false"
                [showMonthDates]="true" [showDateRange]="false" [showMonth]="true" [showPayType]="true"
                (PayTypeChangeEmitter)="onPayTypeChanged($event)" [ShowLocationMultiMaxFiveSelect]="false"
                (AgentChangeEmitter)="onAgentChanged($event)" [catalogInfo]="catalogInfo"
                (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)"
                (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)"
                (AllLocationEmitter)="GetAllLocations($event)" (OutputRangeDates)="OnDateRangeSelected($event)"
                (OutputMonth)="OnMultiDatesSelected($event)">
              </app-location-filter>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div agent-tabs-div">
        <app-maxbi-summary *ngIf="summaryLoad" [hierarchy]="summaryHierarchy" [request]="summaryRequest">
        </app-maxbi-summary>
        <div class="row heading">
          <div class="col-md-12">
            <p class="text-right mr-2">
              <button class="btn btn-white mr-2 border-primary text-white" type="button"
                (click)="cmnSrv.displayModeToggle(2)"
                [ngClass]="{'btn-primary active' : cmnSrv.displayMode === 2, 'btn-dark':cmnSrv.displayMode === 1}">
                <i class="fa fa-chart-line"></i>
              </button>
              <button class="btn btn-white border-primary text-white" type="button"
                (click)="cmnSrv.displayModeToggle(1)"
                [ngClass]="{'btn-primary active' : cmnSrv.displayMode === 1, 'btn-dark':cmnSrv.displayMode === 2}">
                <i class="fa fa-list"></i>
              </button>
            </p>
          </div>
        </div>
        <div class="content-div">
          <div *ngIf="cmnSrv.displayMode === 2" class="row">
            <div *ngIf="pager.totalRecords > 0 && authenticationService.userRole !== 'agent'" class="col-md-12 mb-2">
              <div *ngIf="!chartMainView" class="row justify-content-end mr-2">
                <button type="button" class="btn btn-primary" (click)="resetChart()">Back</button>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p-chart *ngIf="chartMainView" type="line" [data]="chartDataMain" [options]="chartOptionsMain"
                    width="400" height="420"></p-chart>
                  <p-chart id="chartDetail" *ngIf="!chartMainView" type="line" [data]="chartData" [options]="chartOptions" width="400"
                    height="420"></p-chart>
                </div>
              </div>
            </div>
            <div *ngIf="pager.totalRecords > 0 && authenticationService.userRole === 'agent'" class="col-md-12 mb-2">
              <div class="row">
                <div class="col-md-12">
                  <p-chart type="line" [data]="chartData" [options]="chartOptions" width="400"
                    height="420"></p-chart>
                </div>
              </div>
            </div>
            <div *ngIf="pager.totalRecords == 0" class="col-md-12 mb-2">
              <h4 class="text-center text-white">No Record Found</h4>
            </div>
          </div>
          <div *ngIf="cmnSrv.displayMode === 1" class="row">
            <div class="col-md-12">
              <div *ngIf="pager.totalRecords > 0" class="row">
                <div class="col-md-12 text-right">
                  <p-paginator [rows]="pager.rows" [totalRecords]="pager.totalRecords" [rowsPerPageOptions]="[10,20,30]"
                    (onPageChange)="onPageChange($event)"></p-paginator>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p-table [value]="pagedItems" dataKey="recordId" styleClass="p-datatable-striped"
                    responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center" style="width: 10%">
                          <span *ngIf="calendarModel.Dates.length == 0">Month</span>
                          <span *ngIf="calendarModel.Dates.length > 0">Date</span>
                        </th>
                        <th class="text-center">Office</th>
                        <th class="text-center" *ngIf="authenticationService.userRole !== 'agent'">Agent</th>
                        <th class="text-center" style="width: 20%">Pay Type</th>
                        <th class="text-center" style="width: 15%">Premium</th>
                        <th class="text-center" style="width: 10%">Policies</th>
                        <th class="text-center" style="width: 12%">Premium / Policy</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record>
                      <tr>
                        <td class="text-center p-no-pad">
                          <span *ngIf="calendarModel.Dates.length == 0">{{record.monthName}}</span>
                          <span *ngIf="calendarModel.Dates.length > 0">{{record.date | date:'mediumDate'}}</span>
                        </td>
                        <td class="p-no-pad">{{record.agencyName}}</td>
                        <td class="p-no-pad" *ngIf="authenticationService.userRole !== 'agent'">
                          {{record.agentName}}</td>
                        <td class="text-center p-no-pad">{{record.policyType}}</td>
                        <td class="text-center p-no-pad">{{record.premium | currency:'USD'}}</td>
                        <td class="text-center p-no-pad">{{record.policies}}</td>
                        <td class="text-center p-no-pad">{{record.perPolicy | currency:'USD'}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6" class="text-center">
                          <h4>No Record Found</h4>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
              <div *ngIf="pager.totalRecords > 0" class="row">
                <div class="col-md-12 text-right">
                  <p-paginator [rows]="pager.rows" [totalRecords]="pager.totalRecords" [rowsPerPageOptions]="[10,20,30]"
                    (onPageChange)="onPageChange($event)"></p-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>