@import 'assets/style/_mixins.scss';


.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

.spending-trend {
  width: 100%;
  height: auto;
  margin-top: 10px
}

.spending-title {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 1.25rem
}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}

.count-blocks .block .count p {
  font-size: 18px;
  color: #fff;
  margin: 0px;
  line-height: 20px;
  margin-top: 10px;
}

.count-blocks .block .title p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}