<div class="loading" *ngIf="cmnSrv.showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="cmnSrv.pageHeader"></app-header>
    <div class="panel-content agent-panel">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <li>
                <p-dropdown class="p-col-12" [style]="{'width':'100% !important!'}" inputId="ddlYear"
                  maxSelectedLabels="0" [(ngModel)]="SelectedYear" [filter]="true" filterBy="label" defaultLabel="Year"
                  [options]="yearSelectItem" (onChange)="onYearChange($event)">
                </p-dropdown>
              </li>
              <li>
                <p-dropdown class="p-col-12" [style]="{'width':'100% !important!'}" inputId="ddlMonth"
                  maxSelectedLabels="0" [(ngModel)]="SelectedMonth" [filter]="true" filterBy="label"
                  defaultLabel="Month" [options]="monthSelectItem" (onChange)="onMonthChange($event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect class="p-col-12" [style]="{'width':'100% !important!'}" inputId="ddlPayPeriod"
                  maxSelectedLabels="0" [(ngModel)]="SelectedPayPeriod" [filter]="true" filterBy="label"
                  defaultLabel="Pay Period" [options]="payPeriodSelectItem" (onChange)="onPayPeriodChange($event)">
                </p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="LoadReport()">Load</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div agent-tabs-div">
        <div class="row heading">
          <div class="col-md-12">
            <div class="count-blocks">
              <div class="row">
                <div class="col-md-4">
                  <div class="block orange-block">
                    <div class="count">
                      <p>{{payPeriods}}</p>
                    </div>
                    <div class="title">
                      <p>Pay Periods</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="block purple-block">
                    <div class="count">
                      <p>{{tenure}}</p>
                    </div>
                    <div class="title">
                      <p>Tenure</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="block green-block">
                    <div class="count">
                      <p>
                        <span *ngFor="let license of licenseTypes">
                          {{license + ", "}}
                        </span>
                      </p>
                    </div>
                    <div class="title">
                      <p>License Type(s)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <table class="table dashboard-all-table">
              <thead>
                <tr>
                  <th class="text-center text-white" style="width: 50%">Pay Periods</th>
                  <th class="text-center text-white" style="width: 25%">Tenure</th>
                  <th class="text-center text-white" style="width: 25%">License Type(s)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center p-no-pad text-white">
                    {{payPeriods}}
                  </td>
                  <td class="text-center p-no-pad text-white">
                    {{tenure}}
                  </td>
                  <td class="text-center p-no-pad text-white">
                    <h6 *ngFor="let license of licenseTypes">
                      {{license}}
                    </h6>
                  </td>
                </tr>
              </tbody>
            </table> -->
          </div>
        </div>
        <div class="content-div mt-3">
          <div *ngIf="this.reportData.length == 0" class="row">
            <div class="col-md-12 text-center text-white">
              <h4>No Record Found</h4>
            </div>
          </div>
          <div *ngIf="this.reportData.length > 0" class="row mb-2">
            <div class="col-md-8 mb-2 mt-2">
              <p-chart width="400" height="400" type="pie" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
            <div class="col-md-4">
              <table class="table dashboard-all-table">
                <thead>
                  <tr>
                    <th class="text-center text-white" style="width: 70%">Effective Pay Rate</th>
                    <td class="text-center text-white" style="width: 30%">${{effectiveRate}}</td>
                  </tr>
                  <tr>
                    <th class="text-center text-white" style="width: 70%">Regular Pay Rate</th>
                    <td class="text-center text-white" style="width: 30%">${{regularRate}}</td>
                  </tr>
                  <tr>
                    <th class="text-center text-white" style="width: 70%">Total Payroll</th>
                    <td class="text-center text-white" style="width: 30%">${{totalPayroll}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>