<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown-alpa [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (SdChangeEmitter)="RmChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown-alpa>
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Agents" [(ngModel)]="selectedagent" [options]="agentSelectItem" (onChange)="onAgentChange()"></p-multiSelect>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks call-center-blocks">
        <div class="row">
          <div class="col-md-4">
            <div class="block yellow-block">
              <div class="count">
                <p>{{selectedLocationCount}}</p>
              </div>
              <div class="title">
                <p>Selected Locations</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block purple-block">
              <div class="count">
                <p>{{selectedAgentCount}}</p>
              </div>
              <div class="title">
                <p>Selected Agents</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div">
        <div class="content-div">

          <div class="col-md-12">
            <div class="chart-heading text-center text-white"> </div>
            <p-chart height="350" type="line" [data]="LinechartMonthChart" [options]="LinechartOptions"></p-chart>
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col-md-12">
            <div class="content-div">
              <div class="chart-heading text-center text-white">Policy Count By Month  </div>
              <p-chart height="350" type="line" [data]="PolicyCountByMonthChart" [options]="LinechartOptionsForPolicyCount"></p-chart>
            </div>
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col-md-12">
            <div class="content-div">
              <div class="chart-heading text-center text-white">Agency Fee By Month </div>
              <p-chart height="350" type="line" [data]="AgencyFeeByMonthChart" [options]="LinechartOptionsForPolicyCount"></p-chart>
            </div>
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col-md-12">
            <div class="content-div">
              <div class="chart-heading text-center text-white">Premium By Month </div>
              <p-chart height="350" type="line" [data]="PremiumByMonthChart" [options]="LinechartOptionsForPolicyCount"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
