<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mb-0" style="float:left;">
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)"
                (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)"
                (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)">
              </app-rm-zm-location-dropdown>
              <li>
                <!--<p-multiSelect defaultLabel="Year"  [(ngModel)]="selectedyear" (onChange)="onYearchange(event)" [options]="yearsSelectItem"></p-multiSelect>-->
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)">
                </p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange($event)">
                </p-dropdown>
              </li>
            </ul>
            <div style="float:left;">
              <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setHeader($event.index)" animationDuration="0ms">
          <mat-tab label="Renter">
            <div class="epr-table table-responsive" style="height:400px" [ngStyle]="{'height': innercontainer}">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-id-no fixed-header">RSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-first-name fixed-header">DSM</th>
                    <th scope="col" style="min-width: 150px;width: 150px;" class="col-agency-name fixed-header">Agency
                      Name</th>
                    <th scope="col" class="min-width-col">Policies</th>
                    <th scope="col" class="min-width-col">Agency Fee</th>
                    <th scope="col" class="min-width-col">Premium</th>
                    <th scope="col" class="min-width-col">Goal Policies</th>
                    <th scope="col" class="min-width-col">Goal Agency Fee</th>
                    <th scope="col" class="min-width-col">Goal Premium</th>
                    <th scope="col" class="min-width-col">Prior Year Policies</th>
                    <th scope="col" class="min-width-col">Prior Year Agencyfee</th>
                    <th scope="col" class="min-width-col">Prior Year Premium</th>
                    <th scope="col" class="min-width-col">Total Project Policies</th>
                    <th scope="col" class="min-width-col">Policy Goal vs Actual</th>
                    <th scope="col" class="min-width-col">Afee Goal vs Actual</th>
                    <th scope="col" class="min-width-col">Premium Goal vs Actual</th>
                    <th scope="col" class="min-width-col">Policy YoY</th>
                    <th scope="col" class="min-width-col">Afee YoY</th>
                    <th scope="col" class="min-width-col">Premium YoY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredRenterTracker"
                    [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' :  rowbgColor(item.zmid)   }">
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }"
                      class="col-id-no">
                      <span *ngIf="item.rm=='ZZ_Total'">Total</span>
                      <span *ngIf="item.rm!='ZZ_Total'">{{item.rm}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }"
                      class="col-first-name">
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm=='ZZ_Total' && item.rom=='ZZ_Total'"></span>
                      <span *ngIf="item.zm=='ZZ_Total' && item.rom!='ZZ_Total'">Total</span>
                      <span *ngIf="item.zm!='ZZ_Total'">{{item.zm}}</span>
                    </td>
                    <td [ngStyle]="{'background-color':(item.agencyName === 'ZZ_Total') ? '#323b4e' : bgcolor }"
                      class="col-agency-name">
                      <span *ngIf="item.agencyName!='ZZ_Total' && item.zm=='ZZ_Total'"></span>
                      <span *ngIf="item.agencyName=='ZZ_Total' && item.zm!='ZZ_Total'">Total</span>
                      <span *ngIf="item.agencyName!='ZZ_Total'">{{item.agencyName}}</span>
                    </td>
                    <td>{{ item.policies | number: "2." }}</td>
                    <td>{{ item.agencyfee | number: "2." }}</td>
                    <td>{{ item.premium | number: "2." }}</td>
                    <td>{{ item.goal_Policies | number: "2." }}</td>
                    <td>{{ item.goal_AgencyFee | number: "2." }}</td>
                    <td>{{ item.goal_Premium | number: "2." }}</td>
                    <td>{{ item.priorYear_Policies | number: "2." }}</td>
                    <td>{{ item.priorYear_agencyfee | number: "2." }}</td>
                    <td>{{ item.priorYear_Premium | number: "2." }}</td>
                    <td> {{ item.total_Projecte_Policies | number: "2." }}</td>
                    <td> {{ item.policy_Goal_vs_Actual | number: "1.0-0" }}%</td>
                    <td> {{ item.afee_Goal_vs_Actual | number: "1.0-0" }}% </td>
                    <td> {{item.premium_Goal_vs_Actual | number: "1.0-0" }}% </td>
                    <td> {{ item.policy_YoY | number: "1.0-0" }}%</td>
                    <td> {{ item.afee_YoY | number: "1.0-0" }}% </td>
                    <td> {{ item.premium_YoY | number: "1.0-0" }}% </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>

    </div>
  </div>
</div>
