<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
              <!--<li>
    <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
  </li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs-div mt-0">
        <div class="content-div">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <ul class="color-indicators">
                <li>
                  <span class="color color-goal"></span>
                  <span class="color-title">Planned</span>
                </li>
                <li>
                  <span class="color color-actual"></span>
                  <span class="color-title">Complete</span>
                </li>
                <li>
                  <span class="color color-pacing"></span>
                  <span class="color-title">Variance</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div mt-0">
        

         
        
            <mat-tab-group (selectedTabChange)="onTabChanged($event.index)" #tabGroup>
              <mat-tab label="Activity">
                <div class="content-div">
                  <div class="row">
                    <div class="col-md-12 ml-2">
                      <ul>
                        <li *ngFor="let item of plannerActivityCountChardata " class="mr-3 mt-3" style="display: inline-block">
                          <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="ActivityCountchartOptions" *ngIf="item.activityName!='Sales Training'"></p-chart>
                          <div class="chart-heading text-center text-white" *ngIf="item.activityName!='Sales Training'">
                            {{item.activityName}}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Training">
                <div class="content-div">
                  <div class="row">
                    <div class="col-md-12 ml-2">
                      <ul>
                        <li *ngFor="let item of plannerActivityCountChardata " class="mr-3 mt-3" style="display: inline-block">
                          <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="ActivityCountchartOptions" *ngIf="item.activityName=='Sales Training'"></p-chart>
                          <div class="chart-heading text-center text-white" *ngIf="item.activityName=='Sales Training'">
                            {{item.activityName}}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Total">
                <div class="content-div">
                  <div class="row">
                    <div class="col-md-12 ml-2">
                      <ul>
                        <li *ngFor="let item of plannerActivityTotalData " class="mr-3 mt-3" style="display: inline-block">
                          <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="ActivityCountchartOptions"></p-chart>
                          <div class="chart-heading text-center text-white">
                            {{item.activityName}}
                          </div>
                        </li>
                        <li *ngFor="let item of plannerActivityCountChardata " class="mr-3 mt-3" style="display: inline-block">
                          <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="ActivityCountchartOptions" *ngIf="item.activityName=='Sales Training'"></p-chart>
                          <div class="chart-heading text-center text-white" *ngIf="item.activityName=='Sales Training'">
                            {{item.activityName}}
                          </div>
                        </li>
                        <li *ngFor="let item of plannerGrandTotalData " class="mr-3 mt-3" style="display: inline-block">
                          <p-chart height="150" width="200" type="bar" [data]="item._data" [options]="ActivityCountchartOptions"></p-chart>
                          <div class="chart-heading text-center text-white">
                            {{item.activityName}}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>


           
         
        
      </div>


    </div>
  </div>
</div>
