<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-6">
          <div class="toogle-button">
            <button (click)="cmnSrv.navbarToggle()" class="btn" type="button">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="page-heading mt-3">
            <h3>Report</h3>
          </div>
        </div>
        <div class="col-md-6 col-6 text-right">
          Last Refresh at : {{ refreshTime}}
          <br />
          Powered By Amax Information & Technology Team
        </div>
      </div>

      <div class="multiselect-container mt-3">
        <div class="row">
          <div class="col-sm-6 col-12">
            <p-dropdown [(ngModel)]="Agency" defaultLabel="Locations"
                        [options]="AgencyItem" (onChange)="onSelect(event)"></p-dropdown>
          </div>
          <div class="col-sm-6 col-12 pdf-download-button text-sm-right">
            <button *ngIf="Agency!=='Select one'" (click)="captureScreen()" style="display:none;">DownLoad PDF</button>
          </div>
        </div>
      </div>


      <div *ngIf="Agency==='Select one'">
        <div class="alert alert-danger mt-3">
          <strong>Please Choose Agency.</strong>
        </div>
      </div>
      <div id="contentToConvert" *ngIf="Agency!=='Select one'">
        <div class="row mt-3">
          <div class="col-sm-12">
            <div class="table-responsive">
              <!-- Location Table Start -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Location</th>
                    <!--<th scope="col">Prepared by</th>-->
                    <th scope="col">Date</th>
                    <th scope="col"># of Agents</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"><b>{{singleAgencyData.agencyName}}</b></td>
                    <!--<td><b>Emely</b></td>-->
                    <td><span><b>{{singleAgencyData.date}}</b></span></td>
                    <td><b>{{singleAgencyData.agent.length}}</b></td>
                  </tr>
                </tbody>
              </table>
              <!-- Location Table End -->
            </div>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <!-- Business Table Start -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">New Business</th>
                    <th scope="col">Agency Fee</th>
                    <th scope="col">Gross Premium</th>
                    <th scope="col">Endorsements</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"><b>{{singleAgencyData.policyCount}}</b></td>
                    <td><b>${{singleAgencyData.agencyFee| number: '2.'}}</b></td>
                    <td><span><b>${{singleAgencyData.premium| number: '2.'}}</b></span></td>
                    <td><b>{{singleAgencyData.endorsementCount}}</b></td>
                  </tr>
                </tbody>
              </table>
              <!-- Business Table End -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="table-responsive">
              <!--<table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="3">Previous Day Deposit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Am Deposit</td>
                    <td>PM Deposit</td>

                  </tr>
                  <tr>
                    <td>${{singleAgencyData.ampmDeposit.amDeposit| number: '2.'}}</td>
                    <td>${{singleAgencyData.ampmDeposit.pmDeposit| number: '2.'}}</td>
                  </tr>
                </tbody>

              </table>-->
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="3">Logs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of singleAgencyData.paymentMethod">
                    <td scope="row">{{item.name}}</td>
                    <td scope="row">${{item.amount| number: '2.'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="table-responsive">
              <!-- Companies Breakdown Table Start -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="4">Companies Breakdown</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of singleAgencyData.companies">
                    <td scope="row">{{item.companyName}}</td>
                    <td scope="row">{{item.count}}</td>
                  </tr>
                  <tr>
                    <td scope="row"><b>Total</b></td>
                    <td scope="row"><b>{{singleAgencyData.totalCompaniesSale}}</b></td>
                  </tr>
                </tbody>
              </table>
              <!-- Companies Breakdown Table End -->
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="table-responsive">
              <!-- Goal Tracker Table Start -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Goal Tracker</th>
                    <th scope="col" colspan="1">Daily Goal</th>
                    <th scope="col" colspan="3">Difference</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row" class="blue-bg">POLICY GOAL</td>
                    <td scope="row">{{singleAgencyData.policyGoal | number: '2.'}}</td>
                    <td scope="row" rowspan="2">{{singleAgencyData.todayPolicyCount | number: '1.0-0'}}</td>
                    <td scope="row" rowspan="2">
                    <span *ngIf="(singleAgencyData.policyCount-singleAgencyData.todayPolicyCount)<0">
                      {{((singleAgencyData.policyCount-singleAgencyData.todayPolicyCount )*-1) | number: '1.0-0'}}
                    </span>
                    <span  *ngIf="(singleAgencyData.policyCount-singleAgencyData.todayPolicyCount)>0">
                      {{(singleAgencyData.policyCount-singleAgencyData.todayPolicyCount ) | number: '1.0-0'}}
                    </span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row" class="blue-bg">MTD polices</td>
                    <td scope="row">{{singleAgencyData.mtdPolicy + singleAgencyData.policyCount | number: '2.'}}</td>
                  </tr>
                  <tr>
                    <td scope="row" class="orange-bg">Agency Fees Goal</td>
                    <td scope="row">${{singleAgencyData.agencyFeeGoal | number: '2.'}}</td>
                    <td scope="row" rowspan="2">${{singleAgencyData.todayAgencyFee | number: '1.0-0'}}</td>
                    <td scope="row" rowspan="2">
                       <span *ngIf="(singleAgencyData.agencyFee-singleAgencyData.todayAgencyFee)<0">
                       ${{(( singleAgencyData.agencyFee-singleAgencyData.todayAgencyFee)*-1) | number: '1.0-0'}}
                    </span>
                    <span  *ngIf="(singleAgencyData.agencyFee-singleAgencyData.todayAgencyFee)>0">
                      ${{( singleAgencyData.agencyFee-singleAgencyData.todayAgencyFee) | number: '1.0-0'}}
                    </span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row" class="orange-bg">MTD Agency Fees</td>
                    <td scope="row">${{singleAgencyData.mtdAgencyFee + singleAgencyData.agencyFee | number: '2.'}}</td>
                  </tr>

                  <tr>
                    <td scope="row" class="green-bg">Premium Goal</td>
                    <td scope="row">${{singleAgencyData.premiumGoal | number: '2.'}}</td>
                    <td scope="row" rowspan="2">${{singleAgencyData.todayPremium | number: '1.0-0'}}</td>
                    <td scope="row" rowspan="2">
                      <span *ngIf="(singleAgencyData.premium-singleAgencyData.todayPremium)<0">
                        ${{(( singleAgencyData.premium-singleAgencyData.todayPremium)*-1) | number: '1.0-0'}}
                      </span>
                      <span *ngIf="(singleAgencyData.premium-singleAgencyData.todayPremium)>0">
                        ${{( singleAgencyData.premium-singleAgencyData.todayPremium) | number: '1.0-0'}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row" class="green-bg">MTD Premium</td>
                    <td scope="row">${{singleAgencyData.mtdPremium + singleAgencyData.premium | number: '2.'}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Goal Tracker Table End -->
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Agent</th>
                    <th scope="col">POL</th>
                    <th scope="col">TRANS</th>
                    <th scope="col">AFEE</th>
                    <!--<th scope="col">CALLS</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of singleAgencyData.agent">
                    <td scope="row">{{item.name}}</td>
                    <td scope="row">{{item.policyCount}}</td>
                    <td scope="row">{{item.trans}}</td>
                    <td scope="row">${{item.agencyFee | number: '2.'}}</td>
                    <!--<td scope="row">{{item.calls}}</td>-->
                  </tr>
                  <tr>
                    <td scope="row"><b>Total</b></td>
                    <td scope="row"><b>{{singleAgencyData.agentTotalPolicy}}</b></td>
                    <td scope="row"><b>{{singleAgencyData.agentTotalTrans | number: '2.'}}</b></td>
                    <td scope="row"><b>${{singleAgencyData.agentTotalAgencyFee | number: '2.'}}</b></td>
                    <!--<td scope="row"><b>{{singleAgencyData.agentTotalcall}}</b></td>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="table-responsive">
              <!-- Quote Breakdown Table Start -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="4">Quote Breakdown</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td scope="row" class="blue-bg">New Quote</td>
                    <td scope="row">{{singleAgencyData.newQuotes}}</td>
                    <td scope="row" rowspan="2">{{(singleAgencyData.newQuotes>0? (singleAgencyData.policyCount/(singleAgencyData.newQuotes))*100:0) |  number: '1.0-0'}}%</td>
                  </tr>
                  <tr>
                    <td scope="row" class="blue-bg">Sold</td>
                    <td scope="row">{{singleAgencyData.policyCount}}</td>
                  </tr>
                  <tr>
                    <td scope="row" colspan="2" class="purple-bg">Number of Remaning Days</td>
                    <td scope="row">{{singleAgencyData.remainingDays}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Quote Breakdown Table End -->
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Inbound call</th>
                    <th scope="col">Outbound call</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td scope="row">{{SpectrumdataSingleAgency.inBoundCalls}}</td>
                    <td scope="row">{{SpectrumdataSingleAgency.outboundCalls}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="3">Reasons for Walkout Customers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of walkOutReason">
                    <td scope="row">{{item.customer_last_name}}</td>
                    <td scope="row">{{item.note}}</td>
                    <td scope="row">{{item.agent_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
