<div class="loading" *ngIf="cmnSrv.showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="cmnSrv.pageHeader"></app-header>
    <div class="panel-content agent-panel">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-location-filter [selectedlocation]="setLocation" [ShowLocationDropDown]="false"
                [showDateRange]="true" [showPayType]="true" (PayTypeChangeEmitter)="onPayTypeChanged($event)"
                [ShowLocationMultiMaxFiveSelect]="false" (AgentChangeEmitter)="onAgentChanged($event)"
                [catalogInfo]="catalogInfo" (ShowLoaderEmitter)="loaderStatusChanged($event)"
                (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)"
                (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"
                (OutputRangeDates)="OnDateRangeSelected($event)">
              </app-location-filter>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tabs-div agent-tabs-div">
        <mat-tab-group #tabs [selectedIndex]="selectedTab" animationDuration="0ms"
          (selectedTabChange)="tabChange($event.index)">
          <mat-tab label="Records">
            <div class="heading">
              <p>Records</p>
            </div>

            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="text-center m-3 text-white" *ngIf="Records.length == 0">No Record Found
                  </h4>
                  <div id="pager">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPaging(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPaging(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPaging(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
                      <thead>
                        <tr>
                          <th scope="col">Date Transaction</th>
                          <!-- <th scope="col">Agent</th> -->
                          <th scope="col">Pay Type</th>
                          <th scope="col">Carrier</th>
                          <th scope="col">AFee</th>
                          <th scope="col">Premium</th>
                          <th scope="col">Policies</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedItems">
                          <td scope="row">{{item.dateTransaction}}</td>
                          <!-- <td>{{item.agentName}}</td> -->
                          <td>{{item.policyType}}</td>
                          <td>{{item.carrier}}</td>
                          <td>{{item.agencyFee | currency:'USD'}}</td>
                          <td>{{item.premium | currency:'USD'}}</td>
                          <td>{{item.policies}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPaging(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPaging(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPaging(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPaging(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPaging(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Afee Carrier Mix">
            <div class="heading">
              <p>Afee Carrier Mix</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div *ngIf="Records.length == 0" class="col-md-12">
                  <h4 class="text-center text-white">No Record Found</h4>
                </div>
                <div *ngIf="Records.length > 0" class="col-md-12">
                  <p-chart width="400" height="480" type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Premium Carrier Mix">
            <div class="heading">
              <p>Premium Carrier Mix</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div *ngIf="Records.length == 0" class="col-md-12">
                  <h4 class="text-center text-white">No Record Found</h4>
                </div>
                <div *ngIf="Records.length > 0" class="col-md-12">
                  <p-chart width="400" height="480" type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Policies Carrier Mix">
            <div class="heading">
              <p>Policies Carrier Mix</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div *ngIf="Records.length == 0" class="col-md-12">
                  <h4 class="text-center text-white">No Record Found</h4>
                </div>
                <div *ngIf="Records.length > 0" class="col-md-12">
                  <p-chart width="400" height="480" type="bar" [data]="chartData" [options]="chartOptionsPolicies"></p-chart>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>