﻿@model List<AmaxIns.DataContract.DataScraping.InsurancPro.IPModel>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Location</th>
                <TH> Date</TH>
                <TH>Insured Name </TH>
                <th>Payment Method</th>
                <TH>Payment Amount </TH>

            </tr>
        </thead>
        <tbody>
            @foreach (var apollo in Model)
            {
                if (apollo.IsFoundinIP)
                {
                    <tr>
                        <td>@apollo.Agency</td>
                        <td>@apollo.Date.ToShortDateString()</td>
                        <td>@apollo.Applicant </td>
                        <td>@apollo.PayMethod         </td>
                        <td>$@apollo.PayAmount </td>

                    </tr>
                }
                else
                {
                    <tr style="background-color:darkgray">
                        <td>@apollo.Agency</td>
                        <td>@apollo.Date.ToShortDateString()</td>
                        <td>@apollo.Applicant </td>
                        <td>@apollo.PayMethod         </td>
                        <td>$@apollo.PayAmount </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

