﻿@model List<AmaxIns.DataContract.DataScraping.Aspen.AspenLiveModel>
@{
    Layout = "~/Views/Shared/_LayoutCarrier.cshtml";
    var RefreshTime = Model.FirstOrDefault().CreatedDate.ToShortTimeString();
    var IpDate = ViewBag.IPdate as List<AmaxIns.DataContract.DataScraping.InsurancPro.IPModel>;
}
@section RefreshTime {

    Refreshed at : @RefreshTime

}


<div class="content-area">
    <div class="card">
        <div class="card-header"> Aspen VS Insurance Pro</div>
        <div class="card-body">

            <div style="padding: 5px;">
                @if (Model != null && Model.Any())
                {
                    <div class="table-responsive table-outer-wrap" style="background-color:#F3C953">
                        <table class="table">
                            <tr>
                                <th>Total Carrier Payment Amount </th>
                                <th>Total Amount Match IP</th>
                                <th>Total Amount Not Matching IP</th>
                                <th>Total Carrier Records For Aspen</th>
                            </tr>
                            <tr>
                                <td>$@Model.Sum(m => m.PaymentAmount)</td>
                                <td>$@Model.Where(m => m.IsFoundinIP == true).Sum(m => m.PaymentAmount)</td>
                                <td>$@Model.Where(m => m.IsFoundinIP == false).Sum(m => m.PaymentAmount)</td>
                                <td>@Model.Count</td>
                            </tr>
                        </table>
                    </div>
                }
                    <h5 class="card-title mt-1"> <a data-toggle="collapse" href="#AspenData">Aspen Carrier Site Data  </a></h5>
                    <div id="AspenData" class="panel-collapse collapse">
                        @if (Model != null && Model.Any())
                        {
                            @Html.Partial("~/Views/Aspen/_AspenCarrierDataPartial.cshtml", Model);
                        }
                        else
                        {
                            <div class="panel panel-info">
                                <div class="panel-body">No Record Found Please try later</div>
                            </div>
                        }
                    </div>
                </div>
            <div style="padding: 5px;">
                @if (IpDate != null && IpDate.Any())
                {
                    <div class="table-responsive table-outer-wrap" style="background-color:#44B980">
                        <table class="table">
                            <tr>
                                <th>Total IP Payment Amount For Aspen</th>
                                <th>Total Amount Match Carrier Site</th>
                                <th>Total Amount Not Matching Carrier Site</th>
                                <th>Total IP Records For Aspen</th>
                            </tr>
                            <tr>
                                <td>$@IpDate.Sum(m => m.PayAmount)</td>
                                <td>$@IpDate.Where(m => m.IsFoundinIP == true).Sum(m => m.PayAmount)</td>
                                <td>$@IpDate.Where(m => m.IsFoundinIP == false).Sum(m => m.PayAmount)</td>
                                <td>@IpDate.Count</td>

                            </tr>
                        </table>
                    </div>
                }
                <h5 class="card-title mt-1"> <a data-toggle="collapse" href="#IP">Insurance Pro Aspen Data </a></h5>
                <div id="IP" class="panel-collapse collapse">
                    
                    @if (IpDate != null && IpDate.Any())
                    {
                        @Html.Partial("~/Views/Aspen/_IPAspenDataPartial.cshtml", IpDate);

                    }
                    else
                    {
                        <div class="panel panel-info">
                            <div class="panel-body">No Record Found Please try later</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@

