<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul class="listing">
              <app-rm-zm-location-dropdown [SinglelocationSelected]="singleLocation" [ShowLocationDropDown]="singleLocationSelected" [selectedlocation]="SetLocations" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (singleLocationEmitter)="SetSingleLocation($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown class="unique-width dropdown-width" [(ngModel)]="defaultselectedDate" [options]="dateSelectItem" (onChange)="onDropDownDateChange()"></p-dropdown>
              </li>
              <!--<li>
                <p-multiSelect defaultLabel="January" [options]="cities1"></p-multiSelect>
              </li>-->
              <!--<li>
                <p-multiSelect *ngIf="selectedTabIndex===0 || selectedTabIndex===2" maxSelectedLabels="0" defaultLabel="Extention" [(ngModel)]="selectedextention" [options]="extentionSelectItem" (onChange)="onExtentionChange()"></p-multiSelect>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks call-center-blocks">
        <!--<div class="row">
          <div class="col-md-3">
            <div class="block orange-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1||selectedTabIndex===2||selectedTabIndex===3">
              <div class="count">
                <p *ngIf="selectedTabIndex===0">{{totalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{DetailtotalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===2">{{MonthlytotalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===3">{{MonthlyDetailtotalInbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>

              </div>
              <div class="title">
                <p>Inbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1||selectedTabIndex===2||selectedTabIndex===3">
              <div class="count">
                <p *ngIf="selectedTabIndex===0">{{totalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{DetailtotalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===2">{{MonthlytotalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===3">{{MonthlyDetailtotalOutbound| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>
              </div>
              <div class="title">
                <p>Outbound Calls</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1||selectedTabIndex===2||selectedTabIndex===3">
              <div class="count">
                <p *ngIf="selectedTabIndex===0 ">{{totaltalktime| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===1">{{Detailtotaltalktime| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===2">{{Monthlytotaltalktime| number: '2.'}}</p>
                <p *ngIf=" selectedTabIndex===3">{{MonthlyDetailtotaltalktime| number: '2.'}}</p>
                <p *ngIf="selectedTabIndex===4 || selectedTabIndex===5 || selectedTabIndex===6">Coming Soon</p>
              </div>
              <div class="title">
                <p>Total Talktime</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block" *ngIf="selectedTabIndex===0||selectedTabIndex===1||selectedTabIndex===2||selectedTabIndex===3">
              <div class="count">
                <p *ngIf="selectedTabIndex===0">{{sumAverageTalkTime| number: '2.'}} </p>
                <p *ngIf="selectedTabIndex===1">{{DetailOutBoundMints| number: '2.'}} </p>
                <p *ngIf="selectedTabIndex===2">{{MonthlyAvarageTalkTime| number: '2.'}} </p>
                <p *ngIf="selectedTabIndex===3">{{MonthlyDetailOutboundMints| number: '2.'}} </p>
              </div>
              <div class="title">
                <p *ngIf="selectedTabIndex===0">Average Talktime</p>
                <p *ngIf="selectedTabIndex===1||selectedTabIndex===3">Outbound Minutes</p>
                <p *ngIf="selectedTabIndex===2">Average Talktime</p>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="OntabSelectionChange($event.index)" animationDuration="0ms">


          <mat-tab label="Repeated Calls Daily">
            <div class="heading">
              <p>Spectrum | Repeated Calls Daily</p>
            </div>
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white"> Repeated call (Incoming)</div>
                  <p-chart height="300" type="horizontalBar" [data]="RepeatedCallsIncomming" [options]="ChartOptions"></p-chart>
                </div>
              </div>
            </div>

            <div class="content-div margin-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-heading text-center text-white"> Repeated call (Outbound)</div>
                  <p-chart height="300" type="horizontalBar" [data]="RepeatedCallsOutbound" [options]="ChartOptions"></p-chart>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Repeated Caller Number Details(Daily)">
            <div class="row">
              <div class="col-md-6">
                <div class="heading">
                  <p>Spectrum | Repeated Caller Number</p>
                </div>
              </div>
              <div class="col-md-6 margin-top-10">
                <div class="select-boxes resp-tab float-right">
                  <ul>
                    <li>
                      <p-dropdown [(ngModel)]="selectedCallType" [options]="CallTypeSelectItem" (onChange)="onCallTypeChangeChange()"></p-dropdown>
                    </li>
                    <li>
                      <p-multiSelect maxSelectedLabels="0" defaultLabel="Number" [(ngModel)]="SelectedCallNumber" [options]="CallNumberSelectItem" (onChange)="onCallnumberChange()"></p-multiSelect>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="pager">
              <ul *ngIf="RepeatedCallPager.pages && RepeatedCallPager.pages.length" class="pagination">
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === 1}">
                  <a (click)="setRepeatedCallPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === 1}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of RepeatedCallPager.pages" [ngClass]="{active:RepeatedCallPager.currentPage === page}">
                  <a (click)="setRepeatedCallPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === RepeatedCallPager.totalPages}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === RepeatedCallPager.totalPages}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
            <div class="epr-table table-responsive">

              <table class="table table-bordered" *ngIf="RepeatedCallPagedItems && RepeatedCallPagedItems.length>0">
                <thead>
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Caller Id Internal</th>
                    <th scope="col">Caller Id External</th>
                    <th scope="col">Call Type</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of RepeatedCallPagedItems">
                    <td scope="row">{{item.cnumber}}</td>
                    <td>{{item.callerid_Internal}}</td>
                    <td>{{item.callerid_External}}</td>
                    <td>{{item.callType}}</td>
                    <td>{{item.countofcalls}}</td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="RepeatedCallPagedItems && RepeatedCallPagedItems.length===0" style="color:white;">
                No record found, Please change your search.
              </div>
            </div>

            <div id="pager">
              <ul *ngIf="RepeatedCallPager.pages && RepeatedCallPager.pages.length" class="pagination">
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === 1}">
                  <a (click)="setRepeatedCallPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === 1}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of RepeatedCallPager.pages" [ngClass]="{active:RepeatedCallPager.currentPage === page}">
                  <a (click)="setRepeatedCallPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === RepeatedCallPager.totalPages}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:RepeatedCallPager.currentPage === RepeatedCallPager.totalPages}">
                  <a (click)="setRepeatedCallPage(RepeatedCallPager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </mat-tab>


        </mat-tab-group>
      </div>





    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
