.ie-warning{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
