<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>-->
<div class="alert alert-danger ie-warning text-center" *ngIf="showHeader">
  <strong>Warning!</strong> You are using Internet Explorer, For best experince kindly use Google Chrome or Firefox latest version.
</div>
      <router-outlet *ngIf="!this.showHeader"></router-outlet>
    <!--</div>
  </div>
</div>-->
