@import 'assets/style/_mixins.scss';


.BoundQuotes .th-turborator {
  color: #D9B08C
}

.BoundQuotes .th-InsurancePro {
  color: #116466
}

.BoundQuotes .tr-SameAgencyInsurancePro {
  text-align: left;
  background-color: rgb(217, 176, 140);
  color: white;
}

.BoundQuotes .tr-SameAgencyturborator {
  text-align: left;
  background-color: rgb(17, 100, 102);
  color: white;
}

.BoundQuotes .tr-DifferentAgency {
  text-align: left;
  color: rgb(255, 249, 241);
  background-color: rgb(92, 216, 149);
}

.BoundQuotes .table th, .BoundQuotes .table td{
  white-space: nowrap;
}


.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;
  .panel-content

{
  margin: 100px 30px;
  margin-top: 120px;
}

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});
    .panel-content

{
  margin: $navbar-height / 2;
  margin-top: $navbar-height + 20px;
}

}
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}
