<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">

      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <app-rm-zm-location-dropdown [selectedlocation]="setLocation" (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-dropdown [options]="YearSelectItem" [(ngModel)]="year" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Agents" [(ngModel)]="selectedagent" [options]="agentSelectItem" (onChange)="onAgentChange()"></p-multiSelect>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Date" [(ngModel)]="selectedDate" [options]="dateSelectItem" (onChange)="onDateChange()"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="count-blocks">
        <div class="row">
          <div class="col-md-3">
            <div class="block orange-block">
              <div class="count">
                <p> {{PolicyPerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Policies per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block yellow-block">
              <div class="count">
                <p>${{AgenyFeePerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>AgencyFee Per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block purple-block">
              <div class="count">
                <p>${{PremiumPerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Premium Per Agent</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block green-block">
              <div class="count">
                <p>{{TransPerAgent|  number: '2.'}}</p>
              </div>
              <div class="title">
                <p>Transaction Per Agent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="epr-heading">
        <h3>EPR | {{selectedmonth}} {{year}} </h3>
      </div>
      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="onTabChanged($event.index)">
          <mat-tab label="EPR Details">
            <div class="content-div">
              <div class="row">
                <div class="epr-table table-responsive">
                  <div id="pager">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedItems && pagedItems.length>0">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('Policies')">Policies</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('AgencyFee')">Agency Fee</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('Premium')">Premium</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('Transactions')">Transactions</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('AgencyFeePerPolicy')">Agency Fee/Policy</th>
                          <th scope="col" style="cursor:pointer" (click)="sortData('Locations')">Locations</th>
                          <th scope="col">Agent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedItems">
                          <td scope="row">{{item.date}}</td>
                          <td>{{item.policies}}</td>
                          <td>${{item.agencyfee | number:'0.0-0'}}</td>
                          <td>${{item.premium| number:'0.0-0'}}</td>
                          <td>{{item.transactions}}</td>
                          <td>${{item.avgagencyfeebypolicy| number:'0.0-0'}}</td>
                          <td>{{item.location}}</td>
                          <td>{{item.csr}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="EPR Total">
            <div class="content-div">
              <div class="row">
                <div class="epr-table table-responsive">
                  <div id="pager">
                    <ul *ngIf="pagerTotal.pages && pagerTotal.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerTotal.currentPage === 1}">
                        <a (click)="setTotalPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === 1}">
                        <a (click)="setTotalPage(pagerTotal.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerTotal.pages" [ngClass]="{active:pagerTotal.currentPage === page}">
                        <a (click)="setTotalPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === pagerTotal.totalPages}">
                        <a (click)="setTotalPage(pagerTotal.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === pagerTotal.totalPages}">
                        <a (click)="setTotalPage(pagerTotal.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedTotalItems && pagedTotalItems.length>0">
                      <thead>
                        <tr>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('Policies')">Policies</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('AgencyFee')">Agency Fee</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('Premium')">Premium</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('Transactions')">Transactions</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('AgencyFeePerPolicy')">Agency Fee/Policy</th>
                          <th scope="col" style="cursor:pointer" (click)="sortDataTotal('Locations')">Locations</th>
                          <th scope="col">Agent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedTotalItems">
                          <td scope="row">{{item.policies}}</td>
                          <td>${{item.agencyfee | number:'0.0-0'}}</td>
                          <td>${{item.premium| number:'0.0-0'}}</td>
                          <td>{{item.transactions}}</td>
                          <td>${{item.avgagencyfeebypolicy| number:'0.0-0'}}</td>
                          <td>{{item.location}}</td>
                          <td>{{item.csr}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pagerTotal.pages && pagerTotal.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerTotal.currentPage === 1}">
                        <a (click)="setTotalPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === 1}">
                        <a (click)="setTotalPage(pagerTotal.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerTotal.pages" [ngClass]="{active:pagerTotal.currentPage === page}">
                        <a (click)="setTotalPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === pagerTotal.totalPages}">
                        <a (click)="setTotalPage(pagerTotal.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerTotal.currentPage === pagerTotal.totalPages}">
                        <a (click)="setTotalPage(pagerTotal.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Fee Averages">
            <div class="content-div">
              <div class="row">
                <div class="spending-trend">
                  <div class="spending-title"></div>
                  <p-chart width="400" height="400" type="line" [data]="ConsolatedChartData" [options]="chartOptions"></p-chart>
                  <h5 class="d-flex justify-content-center font-weight-bold">EPR Graph</h5>
                </div>
              </div>


            </div>
          </mat-tab>

          <mat-tab label="Quotes CR (New)">
            <div class="content-div">
              <div class="row">
                <div class="epr-table table-responsive">
                  <div id="pager">
                    <ul *ngIf="pagerCRN.pages && pagerCRN.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerCRN.currentPage === 1}">
                        <a (click)="setPageClosingRatio('new', 1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === 1}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerCRN.pages" [ngClass]="{active:pagerCRN.currentPage === page}">
                        <a (click)="setPageClosingRatio('new', page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === pagerCRN.totalPages}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === pagerCRN.totalPages}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedItemsClosingRatioNew && pagedItemsClosingRatioNew.length > 0">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Quotes</th>
                          <th scope="col">Sales</th>
                          <th scope="col">CR %</th>
                          <th scope="col">Location</th>
                          <th scope="col">Agent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedItemsClosingRatioNew">
                          <td scope="row">{{item.date | date:'mediumDate'}}</td>
                          <td>{{item.quotes}}</td>
                          <td>{{item.sales}}</td>
                          <td>{{item.closingRatio}} %</td>
                          <td>{{item.agencyName}}</td>
                          <td>{{item.agentName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pagerCRN.pages && pagerCRN.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerCRN.currentPage === 1}">
                        <a (click)="setPageClosingRatio('new', 1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === 1}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerCRN.pages" [ngClass]="{active:pagerCRN.currentPage === page}">
                        <a (click)="setPageClosingRatio('new', page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === pagerCRN.totalPages}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRN.currentPage === pagerCRN.totalPages}">
                        <a (click)="setPageClosingRatio('new', pagerCRN.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Quotes CR (Modified)">
            <div class="content-div">
              <div class="row">
                <div class="epr-table table-responsive">
                  <div id="pager">
                    <ul *ngIf="pagerCRM.pages && pagerCRM.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerCRM.currentPage === 1}">
                        <a (click)="setPageClosingRatio('modified', 1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === 1}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerCRM.pages" [ngClass]="{active:pagerCRM.currentPage === page}">
                        <a (click)="setPageClosingRatio('modified', page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === pagerCRM.totalPages}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === pagerCRM.totalPages}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                  <div class="epr-table table-responsive">
                    <table class="table table-bordered" *ngIf="pagedItemsClosingRatioModified && pagedItemsClosingRatioModified.length > 0">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Quotes</th>
                          <th scope="col">Sales</th>
                          <th scope="col">CR %</th>
                          <th scope="col">Location</th>
                          <th scope="col">Agent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pagedItemsClosingRatioModified">
                          <td scope="row">{{item.date | date:'mediumDate'}}</td>
                          <td>{{item.quotes}}</td>
                          <td>{{item.sales}}</td>
                          <td>{{item.closingRatio}} %</td>
                          <td>{{item.agencyName}}</td>
                          <td>{{item.agentName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pager">
                    <ul *ngIf="pagerCRM.pages && pagerCRM.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pagerCRM.currentPage === 1}">
                        <a (click)="setPageClosingRatio('modified', 1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === 1}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pagerCRM.pages" [ngClass]="{active:pagerCRM.currentPage === page}">
                        <a (click)="setPageClosingRatio('modified', page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === pagerCRM.totalPages}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pagerCRM.currentPage === pagerCRM.totalPages}">
                        <a (click)="setPageClosingRatio('modified', pagerCRM.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Quotes CR [New] Graph">
            <div class="content-div">
              <div class="row">
                <div class="spending-trend">
                  <div class="spending-title"></div>
                  <p-chart width="400" height="400" type="line" [data]="ConsolatedChartCRNewData" [options]="chartGraphCROptions"></p-chart>
                  <h5 class="d-flex justify-content-center font-weight-bold">Quotes CR [New] Graph</h5>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Quotes CR [Modified] Graph">
            <div class="content-div">
              <div class="row">
                <div class="spending-trend">
                  <div class="spending-title"></div>
                  <p-chart width="400" height="400" type="line" [data]="ConsolatedChartCRModifiedData" [options]="chartGraphCROptions"></p-chart>
                  <h5 class="d-flex justify-content-center font-weight-bold">Quotes CR [Modified] Graph</h5>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    


       

        <div *ngIf="pagedItems && pagedItems.length===0" style="color:white">
          No record found, Please change your search.
        </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
