<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <!--Revenue starts -->
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <!--<app-rm-zm-location-dropdown (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>-->
              <li>
                <p-dropdown [options]="yearsSelectItem" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="monthSelectItem" [(ngModel)]="selectedmonth" (onChange)="onMonthchange(event)"></p-dropdown>
              </li>
              <li>
                <p-dropdown [options]="dateSelectItem" [(ngModel)]="selectedDate" (onChange)="onDatechange(event)"></p-dropdown>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="tabs-div">
        <mat-tab-group (selectedTabChange)="setActualHeader($event.index)">
          <mat-tab label="Bound Quotes">
            <div class="heading">
              <p>Bound Quotes In Insurance Pro To Turborater | {{selectedmonth}} {{selectedyear}}</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="pager">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <p-accordion [multiple]="true" *ngIf="pagedItems && pagedItems.length>0">
                  <p-accordionTab *ngFor="let item of pagedItems" >
                    <p-header>
                      <span style="width:100%">
                        <span style="width:50%"> {{item.agencyName}}</span> <span style="width:50%;text-align:left; float:right"> {{item.count}}</span>
                      </span>
                    </p-header>
                    <div class="BoundQuotes table-responsive">
                      <table class="table table-bordered" *ngIf="item.quotesModels && item.quotesModels.length>0">
                        <thead>
                          <tr>
                            <th scope="col" class="th-InsurancePro">Customer Name</th>
                            <th scope="col" class="th-InsurancePro">Dob</th>
                            <th scope="col" class="th-InsurancePro">Zip</th>
                            <th scope="col" class="th-InsurancePro">Bound Date</th>
                            <th scope="col" class="th-turborator">Customer First Name</th>
                            <th scope="col" class="th-turborator">Customer Last Name</th>
                            <th scope="col" class="th-turborator">Zip</th>
                            <th scope="col" class="th-turborator">Dob</th>
                            <th scope="col" class="th-turborator">Location</th>
                            <th scope="col" class="th-turborator">Location Address</th>
                            <th scope="col" class="th-turborator">Date Created</th>
                            <th scope="col" class="th-turborator">Lead Source</th>
                            <th scope="col" class="th-turborator">Contact Source</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let quoteItem of item.quotesModels">
                            <td [ngClass]="{'tr-SameAgencyInsurancePro':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.i_c_name}}</td>
                            <td [ngClass]="{'tr-SameAgencyInsurancePro':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.i_c_dob}}</td>
                            <td [ngClass]="{'tr-SameAgencyInsurancePro':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.i_c_Zip}}</td>
                            <td [ngClass]="{'tr-SameAgencyInsurancePro':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.i_paydate}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_firstname}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_lastname}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_zip}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_dob}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_agencyName}}</td>

                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_agency_address}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_date_created}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_lead_source}}</td>
                            <td [ngClass]="{'tr-SameAgencyturborator':quoteItem.i_agencyName===quoteItem.t_agencyName,'tr-DifferentAgency':quoteItem.i_agencyName!==quoteItem.t_agencyName}">{{quoteItem.t_c_contact_source}}</td>


                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf="item.quotesModels.length===0">
                        No Data Found
                      </div>
                    </div>

                  </p-accordionTab>

                </p-accordion>


              </div>


            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="pager">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-tab>


        </mat-tab-group>
      </div>

    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>
