<div class="row">
    <div class="col-md-12">
        <div class="count-blocks">
            <div class="row">
                <div class="col-md-3">
                    <div class="block orange-block">
                        <div class="count">
                            <!-- <p class="spinner-border text-light" *ngIf="indicator.Office" role="status">
                                <span class="sr-only">Loading...</span>
                            </p> -->
                            <div *ngIf="indicator.Office" role="status" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <p *ngIf="!indicator.Office">{{record.Office}}</p>
                        </div>
                        <div class="title">
                            <p>Office</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block yellow-block">
                        <div class="count">
                            <!-- <p class="spinner-border text-light" *ngIf="indicator.Zone" role="status">
                                <span class="sr-only">Loading...</span>
                            </p> -->
                            <div *ngIf="indicator.Zone" role="status" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <p *ngIf="!indicator.Zone">{{record.Zone}}</p>
                        </div>
                        <div class="title">
                            <p>District</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block purple-block">
                        <div class="count">
                            <!-- <p class="spinner-border text-light" *ngIf="indicator.Region" role="status">
                                <span class="sr-only">Loading...</span>
                            </p> -->
                            <div *ngIf="indicator.Region" role="status" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <p *ngIf="!indicator.Region">{{record.Region}}</p>
                        </div>
                        <div class="title">
                            <p>Region</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="hasCompany" class="col-md-3">
                    <div class="block green-block">
                        <div class="count">
                            <!-- <p class="spinner-border text-light" *ngIf="indicator.Company" role="status">
                                <span class="sr-only">Loading...</span>
                            </p> -->
                            <div *ngIf="indicator.Company" role="status" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <p *ngIf="!indicator.Company">{{record.Company}}</p>
                        </div>
                        <div class="title">
                            <p>Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <table class="table dashboard-all-table">
            <thead>
                <tr>
                    <th class="text-center text-white" style="width: 25%">Office</th>
                    <th class="text-center text-white" style="width: 25%">District</th>
                    <th class="text-center text-white" style="width: 25%">Region</th>
                    <th *ngIf="hasCompany" class="text-center text-white" style="width: 25%">Company</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center p-no-pad text-white">
                        <div class="spinner-border text-light" *ngIf="indicator.Office" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!indicator.Office">{{record.Office}}</span>
                    </td>
                    <td class="text-center p-no-pad text-white">
                        <div class="spinner-border text-light" *ngIf="indicator.Zone" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!indicator.Zone">{{record.Zone}}</span>
                    </td>
                    <td class="text-center p-no-pad text-white">
                        <div class="spinner-border text-light" *ngIf="indicator.Region" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!indicator.Region">{{record.Region}}</span>
                    </td>
                    <td *ngIf="hasCompany" class="text-center p-no-pad text-white">
                        <div class="spinner-border text-light" *ngIf="indicator.Company" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!indicator.Company">{{record.Company}}</span>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <!-- <p-table [value]="summary" styleClass="p-datatable-striped" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Region</th>
                    <th class="text-center">Zone</th>
                    <th class="text-center">Office</th>
                    <th class="text-center">Company</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr>
                    <td class="text-center p-no-pad">
                        <mat-progress-spinner *ngIf="indicator.Region" diameter="20" mode="determinate" value="100">
                        </mat-progress-spinner>
                        <span *ngIf="!indicator.Region">{{record.Region}}</span>
                    </td>
                    <td class="text-center p-no-pad">
                        <mat-progress-spinner *ngIf="indicator.Zone" diameter="20" mode="determinate" value="100">
                        </mat-progress-spinner>
                        <span *ngIf="!indicator.Zone">{{record.Zone}}</span>
                    </td>
                    <td class="text-center p-no-pad">
                        <mat-progress-spinner *ngIf="indicator.Office" diameter="20" mode="determinate" value="100">
                        </mat-progress-spinner>
                        <span *ngIf="!indicator.Office">{{record.Office}}</span>
                    </td>
                    <td class="text-center p-no-pad">
                        <mat-progress-spinner *ngIf="indicator.Company" diameter="20" mode="determinate" value="100">
                        </mat-progress-spinner>
                        <span *ngIf="!indicator.Company">{{record.Company}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
    </div>
</div>