
<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="wrapper" [class.sidebar-mini]="cmnSrv.dashboardState.sidebarMiniToggle">
  <!---->
  <div class="sidebar-panel">
    <app-navmenu></app-navmenu>
  </div>
  <div class="main-panel">
    <app-header [PageName]="PageName"></app-header>
    <div class="panel-content">
      <div class="select-boxes">
        <div class="row">
          <div class="col-sm-11">
            <ul>
              <app-rm-zm-location-dropdown (ShowLoaderEmitter)="loaderStatusChanged($event)" (RmChangeEmitter)="RmChanged($event)" (ZmChangeEmitter)="ZmChanged($event)" (LocationChangeEmitter)="LocationChanged($event)" (AllLocationEmitter)="GetAllLocations($event)"></app-rm-zm-location-dropdown>
              <li>
                <p-multiSelect selectionLimit="3" [options]="yearsSelectItem" defaultLabel="Year" [(ngModel)]="selectedyear" (onChange)="onYearchange(event)"></p-multiSelect>
              </li>
              <li>
                <p-multiSelect maxSelectedLabels="0" defaultLabel="Agents" [(ngModel)]="selectedagent" [options]="agentSelectItem" (onChange)="onAgentChange()"></p-multiSelect>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="SearchReport()">Search</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" (click)="filterReset()">Reset</button>
              </li>
            </ul>
          </div>
          <div class="col-sm-1" *ngIf="isDisplayExportButton">
            <div class="login-button text-center">
              <button class="buttonExport" (click)="GetAISDataCSV()" title="Export CSV file"> Export </button>
            </div>
          </div>
        </div>
      </div>
      <div class="count-blocks call-center-blocks">
        <div class="row">
          <!--<div class="col-md-4">
            <div class="block orange-block">
              <div class="count">
                <p>6</p>
              </div>
              <div class="title">
                <p>Selected Position</p>
              </div>
            </div>
          </div>-->
          <div class="col-md-4">
            <div class="block yellow-block">
              <div class="count">
                <p>{{selectedLocationCount}}</p>
              </div>
              <div class="title">
                <p>Selected Locations</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block purple-block">
              <div class="count">
                <p>{{selectedAgentCount}}</p>
              </div>
              <div class="title">
                <p>Selected Agents</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-div">

        <div class="content-div margin-top-20">
          <div class="row">
            <div class="col-md-12">
              <div class="content-div">
                <div class="chart-heading text-center text-white">Agency Fee</div>
                <p-chart height="350" type="bar"  [data]="AgencyFeeByMonthChart" [options]="chartOptions"></p-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div  margin-top-20">
          <div class="row">
            <div class="col-md-12">
              <div class="content-div">
                <div class="chart-heading text-center text-white">Premium </div>
                <p-chart height="350"  type="bar" [data]="PremiumByMonthChart" [options]="chartOptions"></p-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div margin-top-20">
          <div class="row">
            <div class="col-md-12">
              <div class="content-div">
                <div class="chart-heading text-center text-white">Policy Count </div>
                <p-chart height="350"  type="bar" [data]="PolicyCountByMonthChart" [options]="chartOptionsNoDollar"></p-chart>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <!--<app-footer></app-footer>-->
</div>

