@import 'assets/style/_mixins.scss';

.wrapper {
  display: flex;
}

.main-panel {
  transition: $transition-base;

  .panel-content {
    margin: 100px 30px;
    margin-top: 120px;
  }

}

@include media-breakpoint-down(lg) {
  .sidebar-panel {
    width: $sidebar-width-lg;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-width-lg});

    .panel-content {
      margin: $navbar-height / 2;
      margin-top: $navbar-height + 20px;
    }

  }
}

@include media-breakpoint-down(md) {
  .sidebar-panel {
    width: $sidebar-mini-width-md;
  }

  .main-panel {
    width: calc(100% - #{$sidebar-mini-width-md});
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-panel {
    width: 0;
  }

  .main-panel {
    width: 100%;
  }
}

::ng-deep .agent-panel {

  // .ui-table {
  //   .ui-table-thead>tr>th {
  //     border: 1px solid #352939;
  //     font-weight: normal;
  //     color: #fff;
  //     background-color: unset;
  //     font-size: 14px;
  //   }
  // }

  .ui-calendar {
    .ui-inputtext {
      background: #2A2131 !important;
      border: none !important;
      border-radius: 20px !important;
      color: #fff !important;
      padding-left: 20px !important;
    }
  }

  .ui-paginator {
    padding: 5px !important;
    background-color: unset;
    border: unset;
  }

  .ui-table {
    background: #2A2131 !important;
    border-radius: 5px !important;
    text-align: center !important;

    table {
      margin-bottom: 0 !important;

      tbody {
        tr {
          background-color: unset !important;
          color: unset !important;
        }
      }

      th {
        font-weight: normal !important;
        font-size: 14px !important;
        border: 1px solid #352939 !important;
        color: #fff !important;
        background-color: unset !important;
        padding: 0.75rem !important;
      }

      td {
        border: 1px solid #352939 !important;
        font-size: 14px !important;
        color: #70839A !important;
        border-bottom: none !important;
        border-top: none !important;
        background-color: unset !important;
        padding: 0.75rem !important;
      }
    }
  }
}

::ng-deep .lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

::ng-deep .lds-ring {
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}