@import 'assets/style/_mixins.scss';



::ng-deep {
    .viewDetailPopup {
        top: 20px !important;
        z-index: 9999 !important;
        max-width: 800px;
        max-height: 600px;
        overflow-y: auto;
        .ui-dialog-titlebar {
            font-size: 16px;
            font-weight: bold !important;
        }
        .ui-dialog-content h2 {
            font-size: 16px;
            margin: 10px 0 10px 0;
            border-bottom: 1px solid #2a2131;
            padding-bottom: 10px;
        }
    }
}