<table class="inner-table">
  <div class="loading-section" *ngIf="showLoader">Loading&#8230;</div>
  <tr>
    <td colspan="2" align="center" (click)="showDialog()">
      <span class="pointer">View Details</span>
    </td>

  </tr>
  <tr>
    <td>
      Average Policies
    </td>
    <td class="text-white">{{dashboardEPRData.averagepolicies| number: '.2-2'}}</td>
  </tr>
  <tr>
    <td>
      Average A Fee
    </td>
    <td class="text-white">${{dashboardEPRData.averageagencyfee| number: '.2-2'}}</td>
  </tr>
  <tr>
    <td>
      Average Premium
    </td>
    <td class="text-white">${{dashboardEPRData.averagepremium| number: '.2-2'}}</td>
  </tr>
  <tr>
    <td>
      Average Transactions
    </td>
    <td class="text-white">{{dashboardEPRData.averagetransactions| number: '.2-2'}}</td>
  </tr>
</table>

<p-dialog header="Epr Details" [(visible)]="display" draggable="false" blockScroll="true" position="top" autoZIndex="true" minimizable="true" styleClass="viewDetailPopup col-12">
  <div class="loading-section" *ngIf="PopUpLoader">Loading&#8230;</div>
  <div class="row">
        <div class="col-6">
          <div><h2>Daily</h2></div>
          <div class="row">
            <div class="col-12 mb-4" *ngFor="let item of dashboardEPRWeeklyDaily.daily">
              <div>Agent Name : - {{item.csr}}</div>
              <div>Average Policies : - {{item.averagepolicies}}</div>
              <div>Average Transactions : - {{item.averagetransactions}}</div>
              <div>Average Premium : - {{item.averagepremium| number: '.2-2'}}</div>
              <div>Average A Fee : - {{item.averageagencyfee| number: '.2-2'}}</div>
              <div>Date : - {{item.date |date: 'MMM d,y'}}</div>
            </div>

          </div>
        </div>
        <div class="col-6">
          <div><h2>Weekly</h2></div>
          <div class="row">
            <div class="col-12 mb-4" *ngFor="let item of dashboardEPRWeeklyDaily.weekly">
              <div>Agent Name : - {{item.csr}}</div>
              <div>Average Policies : - {{item.averagepolicies}}</div>
              <div>Average Transactions : - {{item.averagetransactions}}</div>
              <div>Average Premium : - {{item.averagepremium| number: '.2-2'}}</div>
              <div>Average A Fee : - {{item.averageagencyfee| number: '.2-2'}}</div>
              <div>Days : - {{item.days}}</div>
              <div>Week Start : - {{item.weekStart | date: 'MMM d,y'}}</div>
              <div>Week End : - {{item.weekEnd | date: 'MMM d,y'}}</div>
            </div>
          </div>
        </div>
  </div>
</p-dialog>
