<div class="loading" *ngIf="showLoader">Loading&#8230;</div>
<div class="main-wrapper">
    <header>
        <h1>Import Data</h1>

        <div class="col-sm-5 action">
            <button class="btn btn-default" (click)="Navigate('dashboardone')">
                Home
            </button>
            <button class="btn btn-default"
                (click)="Navigate('dashboardthree')">
                Transactions
            </button>
            <button class="btn btn-default" (click)="Navigate('dashboardfour')">
                Variance Report
            </button>
        </div>
        <div
            style="width: 20px;
            float: right;
            margin-top: 0px;
            margin-right: 15px;
            margin-left: 10px;
            position: inherit;">
            <img
                (click)="LogOut()"
                title="Log Out"
                style="width: 25px; cursor: pointer"
                src="../../../assets/2529524.png"
                />
        </div>
    </header>

    <div class="budget-top-filter">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex header-filters flex-wrap">
                    <div class="d-flex align-items-center">
                        <div class="text-lable">Year</div>
                        <div>
                            <p-dropdown [options]="yearsSelectItem"
                                [(ngModel)]="selectedyear" optionLabel="value"
                                (onChange)="onYearchange($event)"
                                [filter]="true" filterBy="value"
                                [showClear]="true"
                                placeholder="Select a Year">
                                <ng-template pTemplate="selectedItem"
                                    *ngIf="selectedyear">
                                    {{ selectedyear.value }}
                                </ng-template>
                                <ng-template let-year pTemplate="item">
                                    {{ year.value }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="text-lable">Month</div>
                        <div>
                            <p-dropdown
                                [options]="monthSelectItem"
                                [(ngModel)]="selectedmonth"
                                optionLabel="label"
                                (onChange)="onMonthchange()"
                                [filter]="true"
                                filterBy="value"
                                [showClear]="true"
                                placeholder="Select a month">
                                <ng-template pTemplate="selectedItem"
                                    *ngIf="selectedmonth">
                                    {{ selectedmonth }}
                                </ng-template>
                                <ng-template let-month pTemplate="item">
                                    {{ month.label }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="file" #actualFileInput />
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" (click)="uploadActualFile()">
                    Upload Actual File
                </button>
            </div>
        </div>
        <div class="row mt-2 error-message">
            <div class="col-md-6">
                <p [ngStyle]="{ color: textColor }">{{ errorActualMessage }}</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <input class="form-control" type="file" #budgetFileInput />
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" (click)="uploadBudgetFile()">
                    Upload Budget File
                </button>
            </div>
        </div>
        <div class="row mt-2 error-message">
            <div class="col-md-6">
                <p [ngStyle]="{ color: textColor }">{{ errorBudgetMessage }}</p>
            </div>
        </div>
    </div>
</div>
